﻿<%@ Page Language="C#" MasterPageFile="~/cms/cms.master" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_err_Error" Title="Untitled Page" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">

    <h1><asp:Label ID="lbText" runat="server" ></asp:Label></h1>
</asp:Content>

