﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_viewProductAttributeList.ascx.cs" Inherits="_ctrl_module_product_attribute_viewProductAttributeList" %>
<%@ Register TagPrefix="SM" TagName="SliderList" Src="~/_ctrl/module/product/attribute/_viewProductAttributeListSlider.ascx"   %>
<%@ Register TagPrefix="SM" TagName="ColorList" Src="~/_ctrl/module/product/attribute/_viewProductAttributeListColor.ascx"   %>
<%@ Register TagPrefix="SM" TagName="DDLList" Src="~/_ctrl/module/product/attribute/_viewProductAttributeListDDL.ascx"   %>
<%@ Register TagPrefix="SM" TagName="RBLList" Src="~/_ctrl/module/product/attribute/_viewProductAttributeListRBL.ascx"   %>


<SM:ColorList ID="objColorList" runat="server"></SM:ColorList>

<SM:SliderList ID="objSliderList" runat="server"></SM:SliderList>

<SM:DDLList ID="objDDLList" runat="server"></SM:DDLList>

<SM:RBLList ID="objRBLList" runat="server"></SM:RBLList>





<%--<asp:ListView ID="lvList" runat="server" >
    <LayoutTemplate>
        
            <asp:PlaceHolder ID="itemPlaceholder" runat="server"/>

    </LayoutTemplate>
    
    <ItemTemplate>

        <%# RenderItem(Container.DataItem ) %>
        
        <% if (IsModeCMS){%>
            <span><a class="btEditContwthText" href="#" onclick="editProductAttribute('<%# ProductID %>', '<%# Eval("GroupAttID") %>'); return false" ><span>uredi</span></a></span>
        <%} %>
        <br />
    
    </ItemTemplate>
</asp:ListView>--%>