﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_viewProductAttributeItemColor.ascx.cs" Inherits="_ctrl_module_product_attribute_viewProductAttributeItemColor" %>

<script type="text/javascript">

</script>


<div id='<%= ViewID %>' class="cAttrColor">


    <span class="catFront"><%= GroupAttribute.Title.ToUpper()  %></span>
    <a class="catSelect" onclick="openLookup('#<%= ViewID %>', '<%= GroupAttribute.GroupAttID  %>', 17, '<%= ProductID  %>'); return false" href="#"><img alt="<%= GroupAttribute.Message  %>" class="catImg" src="<%= SM.BLL.Common.ResolveUrl("~/_inc/images/gallery/btn_edit_pic.png") %>" /></a>
    <span class="catCode"></span>
    <div class="clearing"></div>
    <input class="hfGrAttr" type="hidden" value='<%= GroupAttribute.GroupAttID  %>' />
    <input id="hf<%= GroupAttribute.GroupAttID %>" class="hfAttr " type="hidden"  />



</div>

<%--


<select  name='<%= GroupAttribute.GroupAttID  %>'>
    <option value="" selected="selected" >- <%= GroupAttribute.Message  %> -</option>

    <asp:ListView ID="lvList" runat="server" >
        <LayoutTemplate>
            
                <asp:PlaceHolder ID="itemPlaceholder" runat="server"/>

        </LayoutTemplate>
        
        <ItemTemplate>
            <option value='<%# Eval("AttributeID")  %>' <%# RenderSelected(Eval("AttributeID")) %>><%# Eval("Title") %></option>
            
        </ItemTemplate>
    </asp:ListView>

</select>--%>

