﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_cmsPermissionEdit.ascx.cs" Inherits="SM.UI.Controls.permission__cmsPermissionEdit " %>



Scope:
<asp:DropDownList id="ddlScope" runat="server" AppendDataBoundItems="true">

</asp:DropDownList>

<br />
Object:
<asp:DropDownList id="ddlObject" runat="server">
</asp:DropDownList>

<br />
Action:
<asp:DropDownList id="ddlAction" runat="server">
</asp:DropDownList>

<br />
Type:

<asp:DropDownList id="ddlType" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ValidationGroup="permiss" ID="rfvType" ControlToValidate="ddlType" runat="server" ErrorMessage="* select type"></asp:RequiredFieldValidator>




<br />
<asp:Button ValidationGroup="permiss" ID="btAdd" runat="server" Text="Add permission" onclick="btAdd_Click" CssClass="btnOrange " />
