﻿.mZavetisceMain ul.AspNet-Menu /* Tier 1 */
{
    font-family:Tahoma;
    font-size:15px;
    text-align:left;
}
.mZavetisceMain ul.AspNet-Menu ul  /* Tier 2 */
{
}
.mZavetisceMain ul.AspNet-Menu ul ul  /* Tier 3+ */
{
}
.mZavetisceMain li /* all list items */
{
    padding-left:5px;
    padding-right:5px;
    padding-top:44px;
}
.mZavetisceMain li:hover, /* list items being hovered over */
.mZavetisceMain li.AspNet-Menu-Hover
{
    z-index:100;
    cursor:pointer;
    background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_1nivo_sapa_hov.png) no-repeat center bottom;
    _background:none;
    _background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_sapa_hov.gif) no-repeat center bottom;
}
.mZavetisceMain a{
outline:none;
padding-left:12px;
display:block;
float:left;
min-height:32px;
height:auto !important;
height: 32px; 

} /* all anchors and spans (nodes with no link) */
.mZavetisceMain span
{
color: #FFF;
padding: 7px 12px 7px 0px;
display:block;
float:left;

}
.mZavetisceMain li.AspNet-Menu-Leaf a, /* leaves */
.mZavetisceMain li.AspNet-Menu-Leaf span
{
}
.mZavetisceMain li:hover a, /* hovered text */
.mZavetisceMain li.AspNet-Menu-Hover a,
.mZavetisceMain li:hover li:hover a,
.mZavetisceMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.mZavetisceMain li:hover li:hover li:hover a,
.mZavetisceMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{}
.mZavetisceMain li:hover span,
.mZavetisceMain li.AspNet-Menu-Hover span,
.mZavetisceMain li:hover li:hover span,
.mZavetisceMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover span,
.mZavetisceMain li:hover li:hover li:hover span,
.mZavetisceMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #FFF;
    cursor:pointer;

}
.mZavetisceMain li:hover li a, /* the tier above this one is hovered */
.mZavetisceMain li:hover li span,
.mZavetisceMain li.AspNet-Menu-Hover li a,
.mZavetisceMain li.AspNet-Menu-Hover li span,
.mZavetisceMain li:hover li:hover li a,
.mZavetisceMain li:hover li:hover li span,
.mZavetisceMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mZavetisceMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
}
.mZavetisceMain .AspNet-Menu-Leaf{
}

.mZavetisceMain li:hover a{
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_left.png) no-repeat left bottom;
_background:none;
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_left.gif) no-repeat left bottom;
}
.mZavetisceMain li a:hover {
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_left.gif) no-repeat left bottom;
}

.mZavetisceMain li:hover a span{
color:#FFF;
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_right.png) no-repeat right bottom;
_background:none;
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_right.gif) no-repeat right bottom;
}
.mZavetisceMain li a:hover span {
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_right.gif) no-repeat right bottom;
}

.mZavetisceMain li.AspNet-Menu-Selected {
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_1nivo_sapa_on.png) no-repeat center top;
_background:none;
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_sapa_on.gif) no-repeat center top;
}
.mZavetisceMain li.AspNet-Menu-Selected a
{
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_left.png) no-repeat left top;
_background:none;
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_left.gif) no-repeat left top !important;
color:#FFF;

}
.mZavetisceMain li.AspNet-Menu-Selected a span
{
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_right.png) no-repeat right top;
_background:none;
_background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_right.gif) no-repeat right top !important;
color:#FFF;
padding: 7px 12px 7px 0px;
font-size:15px;
}
.mZavetisceMain a.AspNet-Menu-Selected  /* a tier below this one is selected */
{
}
.mZavetisceMain li.AspNet-Menu-ChildSelected a 
{
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_left.png) no-repeat left top;
_background:none;
_background-repeat:repeat-x;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_repeat_IE.png',sizingMethod='scale');
color:#FFF;

}
.mZavetisceMain li.AspNet-Menu-ChildSelected a span 
{
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_on_right.png) no-repeat right top;
color:#FFF;
padding: 7px 12px 7px 0px;
font-size:15px;

}

.mZavetisceMain .AspNet-Menu-ParentSelected /* a tier above this one is selected */
{
}
.mZavetisceMain ul li ul {display:none !important;}





























.mZavetisceLeft ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    font-family:Tahoma;
    font-size:13px;
    text-align:left;
}
.mZavetisceLeft ul
{
padding:0;
margin:0;
float:left !important;
width:193px;
margin-left:8px;
_margin-left:4px;

/*
*background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_grey_ie6.jpg) 5px 0px repeat-y;
*zoom:1;
*/
}
.mZavetisceLeft li /* all list items */
{

min-height: 29px;
height:auto !important;
height: 29px; 
margin-bottom:3px;

/*margin-left: 8px;
margin-top:4px;*/
/*
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_red_2ie.png) no-repeat center bottom;
_background:none;
width:202px !important;
float:left !important;
*zoom:1;
*/
}
.mZavetisceLeft li:hover, /* list items being hovered over */
.mZavetisceLeft li.AspNet-Menu-Hover
{
z-index:100;
cursor:pointer;

background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_2nivo_on.png) no-repeat;
/*
background-position:center top;
width:202px !important;
_background:none;
_background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_red_ie6.jpg) no-repeat 2px 2px;
*/
}
.mZavetisceLeft li a{outline:none; width:100%;} /* all anchors and spans (nodes with no link) */
.mZavetisceLeft li span
{
    color: #FFF;
    padding: 6px 12px 6px 12px;

}
.mZavetisceLeft li:hover a,  
.mZavetisceLeft li.AspNet-Menu-Hover a
{}
.mZavetisceLeft li:hover span ,
.mZavetisceLeft li.AspNet-Menu-Hover span
{
    color: #4473FF;
    cursor:pointer;

}

/*
.mZavetisceLeft ul ul{
left:177px;
top:-15px;
padding:0px 0px 0px 0px;
width:210px;
background:none;
}
.mZavetisceLeft ul ul li{
background:none;
min-height:23px;
height:auto !important;
height: 23px; 
}
.mZavetisceLeft ul ul li a{
outline:none;
}

.mZavetisceLeft ul ul li a span{
color:#333;
padding: 4px 25px 4px 25px;

}

.mZavetisceLeft li:hover li a,
.mZavetisceLeft li.AspNet-Menu-Hover li a
{}
.mZavetisceLeft li:hover li span,
.mZavetisceLeft li.AspNet-Menu-Hover li span
{
    color: #666;
    font-size:13px;
    cursor:pointer;
}
.mZavetisceLeft li:hover li:hover,
.mZavetisceLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover
{
background:none;
}

.mZavetisceLeft li:hover li:hover a,
.mZavetisceLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{}
.mZavetisceLeft li:hover li:hover span,
.mZavetisceLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #990000 !important;
    cursor:pointer;
    text-decoration:underline;
}

*/



.mZavetisceLeft li.AspNet-Menu-ChildSelected, .mZavetisceLeft li.AspNet-Menu-Selected
{
background:url(../../_em/templates/_custom/zavetisceljubljana/_inc/images/design/menu_2nivo_on.png) no-repeat;
}
.mZavetisceLeft li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected
{
background:none;
}

.mZavetisceLeft li.AspNet-Menu-Selected a span, .mZavetisceLeft li.AspNet-Menu-ChildSelected a span
{
    color:#4473FF;
}




/*
.mZavetisceLeft li.AspNet-Menu-ChildSelected li a span, .mZavetisceLeft li.AspNet-Menu-Selected li a span
{
    color:#666;
}
.mZavetisceLeft li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected a span
{
    color:#990000 !important;
    text-decoration:underline;
}


.mZavetisceLeft ul li a:hover ul {
}
*/
/*
.mZavetisceLeft ul li ul div.div_NavWrappI {
display:block;
width:210px;
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_left_arrow.jpg) no-repeat 3px 4px;
}
.mZavetisceLeft ul li ul div.div_NavWrapp {
display:block;
padding:5px 0px 5px 0px;
margin:0;
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_mid.png) repeat-y;
_background:none;
_background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_mid_ie.jpg) repeat-y 3px 0px;
width:210px;

}
.mZavetisceLeft ul li ul span.span_NavPrepend {
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_top.png',sizingMethod='crop');
min-height:13px;
height:auto !important;
height:13px !important;
line-height:0px;
font-size:0px;
width:210px;
display:block;
padding:0;
margin:0;

}
.mZavetisceLeft ul li ul span.span_NavAppend {
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_bottom.png',sizingMethod='crop');
min-height:15px;
height:auto !important;
height:15px !important;
line-height:0px;
font-size:0px;
width:210px;
display:block;
padding:0;
margin:0;

}


*/