﻿.mZavetisceFooter ul.AspNet-Menu ul
{
    position: absolute;
    visibility: visible;   
    _display:block;
}
.mZavetisceFooter ul.AspNet-Menu li:hover ul ul,
.mZavetisceFooter ul.AspNet-Menu li.AspNet-Menu-Hover ul ul{visibility: visible;}
.mZavetisceFooter ul.AspNet-Menu{
font-size:11px;
font-family:Tahoma;

}
.mZavetisceFooter ul.AspNet-Menu li{
font-family:Tahoma;
width: 160px;
/*
margin-right:50px;
_width:140px;
*/
}
.mZavetisceFooter li:hover,
.mZavetisceFooter li.AspNet-Menu-Hover
{
    cursor:pointer;
    z-index:100;
}
.mZavetisceFooter ul.AspNet-Menu ul{
width: 160px;
top: 100%;
left: 0;
font-size:13px;
font-family:Tahoma;
}
.mZavetisceFooter ul a:hover span{
color:#000 !important;
text-decoration:underline;
cursor:pointer;
}
.mZavetisceFooter ul li a{outline:none;}
.mZavetisceFooter ul li a span
{
color: #333;
padding:6px 0px 6px 0px;
background: transparent; 
float:left;
font-size:14px;
text-decoration:none;

}
.mZavetisceFooter ul li ul li {}
.mZavetisceFooter ul li ul li a{
outline:none; text-decoration:none !important;
}
.mZavetisceFooter ul li ul li a span{
/*background:url(../../_inc/images/design/1dva3/rsaquo.jpg) no-repeat 0px 8px;*/
color: #666666;
padding:3px 0px 3px 2px;
float:left;
font-size:11px;
text-decoration:none !important;
}
.mZavetisceFooter ul li ul li a:hover span{
color:#333 !important;
text-decoration:underline !important;
}
.mZavetisceFooter ul li ul li ul li {}
.mZavetisceFooter ul li ul li ul li a {}
.mZavetisceFooter ul li ul li ul li a span{
color: #666666;
padding:2px 0px 2px 9px;
float:left;
font-size:11px;
background:url(../../_inc/images/design/1dva3/raquo.jpg) no-repeat 0px 6px;
}
.mZavetisceFooter ul a.AspNet-Menu-Selected span{
color:#000;
text-decoration:underline !important;
}
/*
.mZavetisceFooter ul li ul li a.AspNet-Menu-Selected span{
color:#FF6600 !important;
text-decoration:underline !important;
}
*/
.mZavetisceFooter ul li a.AspNet-Menu-ChildSelected span{
color:#333;
text-decoration:underline !important;
}
