﻿*{
margin:0; 
padding:0; 
}
html, body{ 
margin:0; 
padding:0; 
}
body{
}
a{
color:#FF2E00;
}
a:hover{
color:#FF2E00;
}
#header {
background:#006699 url(../_res/images/design/sandbox_logo_cms.jpg) no-repeat left top;
min-height:53px;
height:auto !important;
height: 53px; 

}
#header_login{
min-height:27px;
height:auto !important;
height: 27px;

}
#topMenuWrapper{
width:100%;
background:#0085B8;
min-height:26px;
height:auto !important;
height: 26px;
/*border-bottom:1px solid #B4CFD8;*/
position:relative;
}
#topMenu{
padding-left:205px;
background:#0085B8 none repeat scroll 0%;
position:relative;

}
#outer_wrapper {
background:#FFFFFF url(background_3.gif) repeat-y scroll left center;
}
#wrapper {
background:transparent url(background_2.gif) repeat-y scroll right center;
}
#container {
background:transparent url(background_2.gif) repeat-y scroll right center;
float:left;
/*margin-right:-200px;*/
width:100%;
}
#content {
background:transparent url(background_3.gif) repeat-y scroll left center;
/*margin-right:200px;*/
}
#main {
/*float:left;*/
margin:10px 10px 2px 205px;
}
#left {
float:left;
width:200px;
min-height:500px;
height:auto !important;
height:500px;
padding:0px 2px 2px 2px;

}
#leftContent{
margin:0px 10px 0px 10px;
background-color:#F0F0F0;    

}
.leftTitle{
background-color:#F0F0F0;    
color:#0095C7;
/*height:20px;*/
padding:5px 0px 0px 5px;
font-family: Candara, Georgia;
width:170px;
}
h3.leftTitle {
background-color:#F0F0F0;    
color:#0095C7;
font-family: Candara, Georgia;
font-weight:normal;
font-size:16px;
height:1%;
line-height:18px;
margin:0;
padding-left:5px;
text-align:left;
}
.leftSep{
background-color:#FFFFFF;
height:5px;
margin-top:5px;
/*line-height:5px;*/
font-size:5px;
}

#sidebar {
float:right;
width:0px;
}
#footer {
/*background:#B4CFD8 url(_res/images/design/footer_bg.jpg) repeat-x scroll 0%;
*/
border-top:1px solid #E6E6E6 !important;
width:100%;
text-align:center;
}
#footer img{
padding:5px;
}
h1 {
margin-top:0pt;
}
.last {
margin-bottom:0pt;
}
.clearing {
clear:both;
height:1px;
font-size:1px;
width:0px;
margin:0pt !important;
padding:0pt !important;
}

div.clear {
clear:both;
font-size:1px;
height:1px;
margin:0pt !important;
padding:0pt !important;
width:1px;
}

.errorMsg{
font-size:14px;
font-weight:bold;
color:Red;
}


/****   *****/
.floatL{
float:left;    
}
.floatR{
float:right;    
}
.lStatus {
background:#0085B8 none repeat scroll 0%;
border:2px solid #0085B8;
color:#FFFFFF;
font-size:16px;
font-weight:bold;
margin:0px 0px 5px;
padding:3px;
text-align:center;
display:block;
height:20px;
font-family:Candara,Georgia;
}

/***  modal popup classes *****/

.modCMSBcg{
background-color:#000000;
filter:alpha(opacity=80);
opacity:0.8;
position:absolute !important;
}

.modCMSPopup{
background-color:#F0F0F0; 
padding:2px;
width:600px;
position:absolute !important; 
height:auto !important;
min-height:400px;
-moz-user-select: none !important;
}
.modCMSPopup a{
color:#006699;
}
.modCMSPopup a:hover{
color:#FF2E00;
}

.modCMSTitle{
display:block;
color:#FFF;    
background:#0085B8 none repeat scroll 0%;
border:2px solid #0085B8;
height:20px;
font-family: Candara, Georgia;
padding:2px;  
text-align:center;
}

/***  modal popup classes *****/
.modBcg{
background-color:#000000;
filter:alpha(opacity=80);
opacity:0.8;
position:absolute !important;
}
.modPopup{
background-color:#F0F0F0; 
padding:2px;
width:700px;
position:absolute !important; 
height:auto !important;
min-height:400px;
-moz-user-select: none !important;
}

/****  CPE classes   **/
.cpeHeader{
cursor:pointer;
background-color:Red;
}
.cpeListHD{
cursor:pointer;
padding: 3px;
line-height: 1.2em;
background: #0085B8;
color: #fff;
font-weight: bold;
text-align: left;
font-family: Candara, Georgia;

}


/* update progress */

.uppBcg{
position: fixed;
top: 0;
left: 0;
background-color:#CCC;
filter:alpha(opacity=70);
opacity:0.7;
height: 100%;
width: 100%;
min-height: 100%;
min-width: 100%
	
}
.uppProgress{
/*background-color:#CCC;*/
color:#000;
text-align: center;
vertical-align: middle;
}

/*   SAND BOX   */

.qContList
{
margin:0px 0px 5px;

}

.qContEdit
{
background:#F0F0F0;
padding:10px;
margin:0px 0px 5px 0px;
color:#333333;
font-family:Tahoma,Arial;
border-top:1px solid #0085B8 !important;
border-bottom:1px solid #0085B8 !important;


}

.qFilter{
background:#F0F0F0;
border-top:1px solid #0085B8 !important;
border-bottom:1px solid #0085B8 !important;
color:#333333;
font-family:Tahoma,Arial;
margin:0px 0px 5px;
padding: 2px 2px 2px 5px;
height:24px;
}

.btnOrange{
background:#FE9900 !important;
color:#FFFFFF;
cursor:pointer;
padding:2px;
font-family:Tahoma,Tahoma,Sans-Serif;
font-weight:bold;

}
.btnOrange:hover{
background:#FF2E00 !important;
}
.btnRed{
background:#FF6811 !important;
color:#FFFFFF;
cursor:pointer;
padding:2px;
font-family:Tahoma,Tahoma,Sans-Serif;
font-weight:bold;

}
.btnRed:hover{
background:#FF2E00 !important;
}

.tvwOrange{
color:#333333;
font-family:Tahoma,Arial;
font-size:12px;
}
.tvwOrange a{
color:#006699;
}
.tvwOrange a:hover{
color:#FF2E00;
}
.tvwOrangeSelected a{
color:#FF2E00;
}
.tvwOrangeSelected a:hover{
color:#FF2E00;
}

.tvExpandCont {
margin-right:10px;
font-size:10px;
height:10px;
float:right;
}
.sortCont ul li{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:3px;    
}
.qSortDragHandle{
background:transparent url(../_res/images/icon/play.png) no-repeat left ;    
height:16px;
width:20px;
cursor:move;
}
.qSortDrag{
color:#FF2E00;
border-top:1px solid #FF2E00;
border-bottom:1px solid #FF2E00;
}
.qSortItem{
color:#006699;
border-top:1px solid #0085B8;
border-bottom:1px solid #0085B8;
}
.qSortCal{
background:#FFF;
}

 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */body {
}

/* login */





/* cms gallery, images */
.imgThumbItem
{
    float:left;
    
    }
.imgThumbItem :hover{
border:solid 1px gray;    
}
.imgSel{
border:solid 1px red;    
}


/* J CROP*/
.jcrop-holder{text-align: left;}

.jcrop-vline, .jcrop-hline{
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
	/*
	opacity: .5;
	*filter:alpha(opacity=50);
	*/
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker {
	*background-color: gray;
	width: 100%; height: 100%;
}

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}






.TABLEmanagesitemap td{
padding:2px;
}

.TABLEmanagesitemap td input.tbx{
margin:3px 0px 3px 0px;
padding:4px 4px 0px 4px;
min-height:20px;
height:auto !important; 
height:20px;
width:330px!important;
color:#333;
vertical-align:middle;
}

/*_____________________DATOTEKE_______________________*/

a.doc, a.xls, a.pdf, a.zip, a.jpg, a.avi, a.file  {
padding-left:30px;
padding-top:8px;
padding-bottom:8px;
/*height:32px;*/
}
a.file{background: url(../_inc/images/file_icons/Text_OTHER.png) no-repeat;}
a.doc{background: url(../_inc/images/file_icons/Office_DOC.png) no-repeat;}
a.xls{background: url(../_inc/images/file_icons/Office_XLS.png) no-repeat;}
a.pdf{background: url(../_inc/images/file_icons/Office_PDF.png) no-repeat;}
a.jpg{background: url(../_inc/images/file_icons/Image_JPG.png) no-repeat;}
a.avi{background: url(../_inc/images/file_icons/Video_AVI.png) no-repeat;}
a.mp3{background: url(../_inc/images/file_icons/Audio_MP3.png) no-repeat;}
a.zip{background: url(../_inc/images/file_icons/Archive_ZIP.png) no-repeat;}