﻿<%@ Page  Language="C#" MasterPageFile="~/CMS/CMS.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="SM.EM.UI.CMS.CMS_Default" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphStatus" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">
Wellcome!

smardt CMS 
</asp:Content>

