﻿<%@ Page Language="C#" MasterPageFile="~/CMS/CMS.master" AutoEventWireup="true" CodeFile="ManageStatus.aspx.cs" Inherits="SM.EM.UI.CMS.CMS_ManageStatus" Title="Untitled Page" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Namespace="SM.UI.Controls" TagPrefix="SM" %>

<asp:Content ID="Content3" ContentPlaceHolderID="cph" Runat="Server">

<h1>Scheduler</h1>
enabled: <%= SM.BLL.Common.AppSettings.EnableSchedule %>
in cache:  <%= SM.BLL.ScheduleTask.IsCacheScheduleInCache() %> 

<asp:LinkButton ID="btRegisterCache" runat="server" OnClick="btRegisterCache_Click">ENABLE</asp:LinkButton>
<asp:LinkButton ID="LinkButton1" runat="server" OnClick="btNewJobLog_Click">insert new LOB LOG (if stopped)</asp:LinkButton>

<h2>Newsletter</h2>
sending: <%= NEWSLETTER.Sending.IsSending  %>
percent: <%= NEWSLETTER.Sending.PercentageCompleted %>



<br />
<br />
<h1>TEST</h1>
    <asp:Button ID="btTest" OnClick="btTest_Click" runat="server" Text="Button" />
    
    <br />
    post
    <div id="divPost" runat="server"></div>
    
<div id="divTest" runat="server"></div>



tbName:<asp:TextBox ID="tbName" runat="server"></asp:TextBox>
tbLastname:<asp:TextBox ID="tbLastname" runat="server"></asp:TextBox>
tbEmail:<asp:TextBox ID="tbEmail" runat="server"></asp:TextBox>
<asp:Button ID="btAddCustomer" OnClick="btCustomer_Click" runat="server" Text="Dodaj" />

</asp:Content>


