﻿* {margin:0; padding:0;}
html, body {margin:0; padding:0; text-align:left;}
body {font-family:Georgia; font-size:12px; color:#CCC; background:#454545 url(../_inc/images/design/1x1_454545.jpg) repeat; /*background: #63B0FF url(../_inc/images/design/bcg_sdperfekt.jpg) no-repeat center top;*/}
body.edit {background:#454545 url(../_inc/images/design/1x1_454545.jpg) repeat; /*background: #63B0FF url(../_inc/images/design/bcg_sdperfekt.jpg) no-repeat center 144px;*/ }

html{overflow-y:scroll;}
h1, h2, h3, h4 {font-family:Georgia; font-weight:normal; line-height:120%;}

h1, .cwp_zone h1 {font-size: 21px; padding:5px 0px 22px 0px; color:#FFF;}
h2, .cwp_zone h2 {font-size: 17px; padding:5px 0px 10px 0px; color:#FFF;}
h3, .cwp_zone h3 {font-size: 15px; padding:5px 0px 10px 0px; color:#FFF;}
p, .cwp_zone p {font-size: 13px; color: #CCC; padding:0px 0px 10px 0px; line-height:150%;}

.mainW a {color:#FFF; text-decoration:underline; outline:none;}
.mainW a:hover {color:#FFF; text-decoration:none;}


.headerW {min-height:156px; height:auto !important; height:156px; width:100%; background:url(../_inc/images/design/header_bcg.png) no-repeat center 12px; _background:url(../_inc/images/design/header_bcg.gif) no-repeat center 12px;}
.header {width:960px; margin-left:auto; margin-right:auto;}

.headerW a {outline:none;}
.headerL {width:19%; float:left;}
.headerL img {border:none;}


.headerLLogo {padding:0px 0px 0px 20px; /*min-height:115px; height:auto !important; height:115px;*/}
/*.headerTopLLogoI {padding:0px 0px 0px 0px; position:absolute; z-index:3; margin-top:2px; margin-left:2px;}
.headerTopLLogo a {outline:none; }
.headerTopLLogo img {border:none;}
.headerTopLLang {min-height:30px; height:auto !important; height:30px;}
.headerTopLLangI {padding:8px 0px 0px 25px;}
.headerTopLLang a {outline:none; color:#999; font-size:11px; text-decoration:none; margin-right:10px;}
.headerTopLLang a:hover, .headerTopLLang a.selLang {color:#FF9900;}
*/
.headerR{width:80.6%; float: right; display:inline; }
/*.headerRI {float:right; min-height:63px; height:auto !important; height:63px;}
.headerRII {float:right; padding-top:9px;}*/

.headerR img {border:none;}

.headerRTopW {min-height:89px; height:auto !important; height:89px; float:right; width:100%;}
.headerRTop {}
.headerRTopL {width:25%; float:left;}

.headerRTopR {width:70%; float: right; display:inline;}
.headerRTopRI {padding:25px 0px 0px 0px;}
.cLang a {min-height:25px; height:auto !important; height:25px; outline:none; color:#999; font-size:17px; line-height:25px; text-decoration:none; padding-right:35px; float:right; text-align:right; font-style:italic;}
.cLang a.lang-sl-si {background:url(../_inc/images/design/flag_si.jpg) no-repeat right 5px;}
.cLang a.lang-en-us {background:url(../_inc/images/design/flag_en.jpg) no-repeat right 5px;}
.cLang a:hover {color:#FFF; text-decoration:underline;}
.cLang a.sel {background-position:right 5px; color:#FFF; font-size:21px; font-style:normal;}
.cLang a.sel:hover {text-decoration:none;}

.headerRNavW {}
.headerRNav {}


.mainW {width:100%; min-height:550px; height:auto !important; height:550px;
/*background:url(../_inc/images/design/redline.png) no-repeat center 250px; _background:url(../_inc/images/design/header_bcg.gif) no-repeat center 12px;*/}
.main {/*width:960px; margin-left:auto; margin-right:auto;*/ padding:230px 0px 15px 0px;}

.mainContW, .mainHomeW {width:100%; min-height:300px; height:auto !important; height:300px;}

.mainContW {background:url(../_inc/images/design/redline_leftmenu_content.png) no-repeat center 9px; _background:none; _background:url(../_inc/images/design/redline_leftmenu_content.gif) no-repeat center 9px;}
.mainHomeW {background:url(../_inc/images/design/redline_home.png) no-repeat center 9px; _background:none; _background:url(../_inc/images/design/redline_home.gif) no-repeat center 9px;}

.mainCont, .mainHome {width:943px; margin-left:auto; margin-right:auto;}

.mainContW_wide {
background:url(../_inc/images/design/redline_content_wide.png) no-repeat center 9px; _background:url(../_inc/images/design/redline_content_wide.gif) no-repeat center 9px;}


/*               CONTENT LEFT MENU                   */

.mainLNav {float:left; width:276px; padding-top:2px;}
.mainRCont {float: right; display:inline; width:658px; padding-top:1px;}
.mainLNavT {
min-height:7px;
height:auto !important;
height:7px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/content_leftmenu_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_leftmenu_top.png',sizingMethod='crop');
}
.mainLNavM {
display:block;
_width:276px;
background:url(../_inc/images/design/content_leftmenu_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_leftmenu_mid.png',sizingMethod='scale');
}
.mainLNavMI {
padding:6px 11px 10px 3px;
min-height:300px; height:auto !important; height:300px;
position:relative;
}
.mainLNavB {
min-height:10px;
height:auto !important;
height:10px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/content_leftmenu_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_leftmenu_bottom.png',sizingMethod='crop');
}
.mainLNavTitle {min-height:50px; height:auto !important; height:50px; line-height:50px; font-size:16px; font-family:Georgia; color:#FFF; padding:0px 25px 0px 19px; white-space:nowrap; overflow-x:hidden;}
.mainRContSpace {min-height:50px; height:auto !important; height:50px; line-height:50px; font-size:16px; font-family:Georgia; color:#FFF; padding:0px 25px 0px 19px; white-space:nowrap; overflow-x:hidden;}


.mainRContT {
min-height:8px;
height:auto !important;
height:8px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/content_right_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_right_top.png',sizingMethod='crop');
}
.mainRContMW {
display: block;
_width: 658px;
background:url(../_inc/images/design/content_right_mid.png) repeat-y left 50px;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_right_mid.png',sizingMethod='scale');
}
.mainRContM {
display: block;
background:url(../_inc/images/design/content_leftmenu_gradient.jpg) no-repeat 3px top;
}
.mainRContMI {
/*padding:8px 14px 10px 8px;*/
padding:0px 0px 10px 0px;
height:700px;
position:relative;
}
.mainRContMIabs {position:absolute; margin-left:14px; margin-top:-43px; width:624px;}
.mainRContB {
min-height:5px;
height:auto !important;
height:5px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/content_right_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_right_bottom.png',sizingMethod='crop');
}

.mainRCont img {border:none;}

.mainRCont_wide {width:943px;}
.mainRCont_wide .mainRContT {
background:none;
background:url(../_inc/images/design/content_rightwide_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_rightwide_top.png',sizingMethod='crop');
}
.mainRCont_wide .mainRContMW {
display:block;
_width:943px;
background:none;
background:url(../_inc/images/design/content_rightwide_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_rightwide_mid.png',sizingMethod='scale');
}
.mainRCont_wide .mainRContMIabs {width:909px;}
.mainRCont_wide .mainRContM {
display: block;
background:url(../_inc/images/design/content_rightwide_gradient.jpg) no-repeat 3px top;
}
/*
.mainRCont_wide .mainRContM {
display: block;
_width: 962px;
background:none;
background:url(../_inc/images/design/content_rightwide_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_rightwide_mid.png',sizingMethod='scale');
}
*/
.mainRCont_wide .mainRContB {
background:none;
background:url(../_inc/images/design/content_rightwide_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_rightwide_bottom.png',sizingMethod='crop');
}



.advertiseW {width:100%; padding:0px 0px 0px 0px;}
.advertise {width:947px; margin-left:auto; margin-right:auto; padding:0px 0px 0px 0px;}
.advertiseI {padding:0px 0px 0px 0px;}
.advertise img {border:none;}

.advertiseL {width:79.6%; float:left;}
.advertiseR{width:20%; float: right; display:inline;}

.advertiseLI {padding:0px 0px 0px 0px;}
.advertiseLW {padding:0px 0px 0px 0px; width:746px; min-height:108px; height:auto !important; height:108px;
background:url(../_inc/images/design/advertise_banner_bcg.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/advertise_banner_bcg.png',sizingMethod='crop');
}
.advertiseLWI {padding:7px 0px 0px 10px;}
.advertiseLWII {padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; width:728px; min-height:90px; height:auto !important; height:90px;}

.advertiseRI {float:right;}
a.advertiseRbtn {width:186px; min-height:106px; height:auto !important; height:106px; display:block; float:right; text-decoration:none;}
.sl-si a.advertiseRbtn {
background:url(../_inc/images/design/advertise_button_si.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/advertise_button_si.png',sizingMethod='crop');
}
.en-us a.advertiseRbtn {
background:url(../_inc/images/design/advertise_button_en.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/advertise_button_en.png',sizingMethod='crop');
}
a.advertiseRbtn span {display:block; color:#FFF; font-size:12px; text-align:center; padding-top:46px; line-height:160%;}
a.advertiseRbtn:hover span {text-decoration:underline;}


.sponsorsW {width:100%; padding:10px 0px 0px 0px;}
.sponsors {width:970px; margin-left:auto; margin-right:auto; padding:0px 0px 0px 0px; background:url(../_inc/images/design/sponsors_bcg.png) no-repeat center top; _background:url(../_inc/images/design/sponsors_bcg.gif) no-repeat center top;}
.sponsorsI {padding:3px 0px 26px 0px;}
.sponsors img {border:none;}



.footerW {min-height:160px; height:auto !important; height:160px; width:100%; background:transparent url(../_inc/images/design/footer_bcg.png) no-repeat center top; _background:transparent url(../_inc/images/design/footer_bcg.gif) no-repeat center top;}
.footer {width:970px; margin-left:auto; margin-right:auto;}
.footerI {padding:25px 5px 40px 5px;}
.footerL, .footerM, .footerR {float:left; line-height:150%;}
.footerL {width:50%;}
.footerM {width:15%;}
.footerR {width:35%;}

.footerLI {overflow: hidden; display: inline-block; padding-left:20px;}
.footerLI {display: block;}

.footerLL {float:left; font-size:12px; color:#CCC; padding-right:3px;}
.footerLR {float:left; font-size:11px; color:#999;}

.footerRI {overflow: hidden; display: inline-block; padding-left:20px;}
.footerRI {display: block;}
.footerRIAd {width:154px; float:right;}
a.Asignature {display: block; float:right; margin-right:3px; text-decoration: none; _height: 1%; text-indent:-9999px; outline:none; width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_smardt.jpg) no-repeat center top;}
a.Asignature:hover {background-position:center bottom !important;}


.footer span.footer_title {font-size:12px; color:#CCC; display:block;}
.footer span.footer_text {font-size:11px; color:#999; display:block; padding-top:4px;}
.footer a {font-size:11px; color:#FFF; text-decoration:underline;}
.footer a:hover {text-decoration:none;}
.footerM span.footer_text, .footerR span.footer_text {padding:4px 0px 0px 8px;}
.footerR span.footer_text a {color:#999; text-decoration:none;}
.footerR span.footer_text a:hover, .footer span.footer_title a:hover {text-decoration:underline;}
.footer span.footer_title a {text-decoration:none; font-size:12px; color:#CCC;}



/* MOTIVNE SLIKE */

/*.motiv_bigWOuter {position:relative; z-index:-102; overflow:hidden; min-height:850px; height:auto !important; height:850px;}
.motiv_bigWInner {position:absolute; top:0; width:200%; left:-50%; z-index:-101;}
.motiv_bigW {width:100%; position:absolute; z-index:-100; background:#333; left:50%;}*/
.motiv_bigW {width:100%; position:absolute; z-index:-100; background:#333;}
.motiv_big {background:url(../_inc/images/design/motivi/motiv_amc_01.jpg) no-repeat center top; min-height:850px; height:auto !important; height:850px; width:100%;}
.motiv_big2 {background:url(../_inc/images/design/motivi/motiv_amc_02.jpg) no-repeat center top; min-height:850px; height:auto !important; height:850px; width:100%;}
.motiv_big3 {background:url(../_inc/images/design/motivi/motiv_amc_03.jpg) no-repeat center top; min-height:850px; height:auto !important; height:850px; width:100%;}

.motivBcg {width:100%; position:absolute; z-index:-120; background:#333;}



/*   HOME   */
.mainHomeT {padding-bottom:15px;}
.mainHomeTL {float:left; width:557px; padding-top:1px;}
.mainHomeTR {float: right; display:inline; width:371px; padding-top:2px;}
.mainHomeTL_T {
min-height:8px;
height:auto !important;
height:8px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/home_left_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/home_left_top.png',sizingMethod='crop');
}
.mainHomeTL_M {
display:block;
_width:557px;
background:url(../_inc/images/design/acontent_leftmenu_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/content_leftmenu_mid.png',sizingMethod='scale');
}
.mainHomeTL_MI {
padding:0px 0px 0px 0px;
min-height:300px; height:auto !important; height:300px;

}
.mainHomeTL_Title {min-height:50px; height:auto !important; height:50px; line-height:50px; font-size:16px; font-family:Georgia; color:#FFF; padding:0px 25px 0px 19px; white-space:nowrap; overflow-x:hidden;}
.mainHomeTR_Space {min-height:50px; height:auto !important; height:50px; line-height:50px; font-size:16px; font-family:Georgia; color:#FFF; padding:0px 25px 0px 19px; white-space:nowrap; overflow-x:hidden;}

.mainHomeTL .itemFirst {min-height:184px; height:auto !important; height:184px;
background:url(../_inc/images/design/home_left_firstnews.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/home_left_firstnews.png',sizingMethod='crop');
}
.mainHomeTL .itemFirstI {padding:1px 19px 0px 10px;}
.mainHomeTL a.AartBox_img img, .mainHomeTL a.AartBox_img:hover img {padding:0px; border:none !important; margin-right:10px;}
.mainHomeTL a.artHTitleAbs {position:absolute; margin-left:11px; margin-top:-38px; width:524px; font-size:21px; text-decoration:none; color:#FFF; white-space:nowrap; overflow:hidden;}
.mainHomeTL a.artHTitleAbs:hover {text-decoration:none;}
.mainHomeTL .itemFirst span.artHDate {color:#FFF; padding:10px 0px 7px 0px; font-size:12px; text-align:right; display:block;}
.mainHomeTL .itemFirst a.artHMore {color:#CC0000; text-align:right; float:right;}
.mainHomeTL .itemFirst a.artHMore:hover {color:#FFF;}
.mainHomeTL .itemFirstI p {padding-left:5px;}


.mainHomeTL .itemRest {min-height:48px; height:auto !important; height:48px; margin-top:2px;
}
/*
.mainHomeTL .itemRestI {padding:0px 19px 0px 21px; line-height:44px;}
.mainHomeTL .itemRest a.artHTitle {color:#FFF; font-size:16px; text-decoration:none; float:left; width:80%; white-space:nowrap; overflow:hidden;}
.mainHomeTL .itemRest a.artHTitle:hover {color:#FF0000; font-size:16px; text-decoration:none;}
.mainHomeTL .itemRest span.artHDate {color:#999; font-size:12px; float:right; width:18%; text-align:right; display:inline;}
*/

.mainHomeTL .itemRestI {/*padding:0px 19px 0px 21px; line-height:44px;*/}
.mainHomeTL .itemRest a.artHTitle {padding:0px 19px 0px 21px; line-height:44px; color:#FFF; font-size:16px; text-decoration:none;
min-height:48px; height:auto !important; height:48px; display:block;
background:url(../_inc/images/design/podnovice.png) no-repeat left top;
_background:url(../_inc/images/design/podnovice.gif) no-repeat left top;
}
.mainHomeTL .itemRest a.artHTitle:hover {color:#FFF; font-size:16px; text-decoration:none; background-position: left bottom;}

.mainHomeTL .itemRest a.artHTitle span.artHTitleSpan {color:#FFF; font-size:16px; line-height:44px; float:left; width:80%; display:block; white-space:nowrap; overflow:hidden;}
.mainHomeTL .itemRest a.artHTitle:hover span.artHTitleSpan {color:#FFF; font-size:16px; text-decoration:none;}
.mainHomeTL .itemRest a.artHTitle:hover span {cursor:pointer;}
.mainHomeTL .itemRest a.artHTitle span.artHDate {color:#999; font-size:12px; line-height:44px; float:right; width:18%; text-align:right; display:inline; display:block;}



.mainHomeTR_T {
min-height:7px;
height:auto !important;
height:7px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/home_right_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/home_right_top.png',sizingMethod='crop');
}
.mainHomeTR_MW {
min-height:158px;
height:auto !important;
height:158px;
display: block;
_width: 371px;
background:#1F1F1F url(../_inc/images/design/home_right_mid.png) no-repeat;
/*background:url(../_inc/images/design/home_right_mid.png) repeat-y left 50px;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/home_right_mid.png',sizingMethod='scale');
*/}
.mainHomeTR_M {
display: block;
/*background:url(../_inc/images/design/acontent_leftmenu_gradient.jpg) no-repeat 3px top;*/
}
.mainHomeTR_MI {
/*padding:8px 14px 10px 8px;*/
padding:0px 0px 10px 0px;
}
.mainHomeTR_MIabs {position:absolute; margin-left:0px; margin-top:-38px; width:371px;}
.mainHomeTR_ img {border:none;}

.mainHomeTR .cyclistH {width: 371px; /*min-height:184px; height:auto !important; height:184px;*/}
.mainHomeTR .cyclistHI {padding:0px 11px 0px 11px;}
.mainHomeTR a.AartBox_img img, .mainHomeTR a.AartBox_img:hover img {padding:0px; border:none !important; margin-right:15px;}
.mainHomeTR a.artHTitleAbs {width:300px; font-size:21px; text-decoration:none; color:#FFF; float:left; white-space:nowrap; overflow:hidden;}
.mainHomeTR a.artHTitleAbs:hover {text-decoration:none;}
.mainHomeTR .cyclistData {padding:14px 0px 0px 0px; min-height:144px; height:auto !important; height:144px;}
.mainHomeTR .cyclistData p {padding:7px 0px 0px 0px;}

.mainHomeTR .cyclistH .cyclistPaging {min-height:8px; height:auto !important; height:8px; width:34px; display:inline; float:right; padding-top:5px;}
.mainHomeTR .cyclistH .cyclistPaging a {min-height:8px; height:auto !important; height:8px; width:10px; display:inline-block;}
.mainHomeTR .cyclistH .cyclistPaging a.cyclistPagingPrev {
background:url(../_inc/images/design/home_cyclist_paging_left.png) no-repeat 3px top;
_background:url(../_inc/images/design/home_cyclist_paging_left.gif) no-repeat 3px top;    
margin-right:8px;
}
.mainHomeTR .cyclistH .cyclistPaging a.cyclistPagingNext {
background:url(../_inc/images/design/home_cyclist_paging_right.png) no-repeat 2px top;
_background:url(../_inc/images/design/home_cyclist_paging_right.gif) no-repeat 2px top;    
}
.mainHomeTR .cyclistH .cyclistPaging a.cyclistPagingPrev:hover {background-position:2px top; cursor:pointer;}
.mainHomeTR .cyclistH .cyclistPaging a.cyclistPagingNext:hover {background-position:3px top; cursor:pointer;}


.mainHomeT a.AartBox_img {text-decoration:none;}


.mainHomeTR_MracesW {
min-height:208px;
height:auto !important;
height:208px;
display: block;
_width: 371px;
background:#1F1F1F url(../_inc/images/design/home_right_races.png) no-repeat;
margin-top:15px;
}
.mainHomeTR_Mraces {
display: block;
/*background:url(../_inc/images/design/acontent_leftmenu_gradient.jpg) no-repeat 3px top;*/
}
.mainHomeTR_MracesI {
/*padding:8px 14px 10px 8px;*/
padding:15px 11px 10px 11px;
}
.homeRaces_title {color:#B80606; font-size:21px; padding:0px 0px 20px 0px;}
.homeRaces_more {padding:25px 20px 0px 0px; text-align:right;}
.homeRaces_more a {color:#CC0000;}
.homeRaces_more a:hover {color:#FFF; text-decoration:none;}

table.homeRaces_table {width:99.9%; font-size:11px; table-layout:fixed; text-align:left;}
table.homeRaces_table td {padding:6px 3px 0px 3px; font-family:Tahoma; /*cursor:pointer;*/ }
table.homeRaces_table td.homeRacesTdL {vertical-align:top;}
table.homeRaces_table td.homeRacesTdM {padding-right:10px; vertical-align:top;}
table.homeRaces_table td.homeRacesTdR {vertical-align:top;}

table.homeRaces_table th {padding:2px 3px 4px 3px; border-bottom:1px solid #333; color:#999; font-size:12px; font-weight:normal; text-align:left;}

table.homeRaces_table .homeRacesCoL {width:90px;}
table.homeRaces_table .homeRacesCoM {width:165px;}
table.homeRaces_table .homeRacesCoR {}



.mainHomeM {}
/*.mainHomeMI {padding:25px 0px 40px 0px;}*/
.mainHomeMI {overflow: hidden; display: inline-block;}
.mainHomeMI {display: block;}
.mainHomeML, .mainHomeMM, .mainHomeMR {float:left;}
.mainHomeML {padding:0px 18px 0px 2px;}
.mainHomeMM {padding:0px 16px 0px 0px;}
.mainHomeMR {}

a.pasicaLbtn {width:268px; min-height:178px; height:auto !important; height:178px; display:block; text-decoration:none;
background:url(../_inc/images/design/pasice/pasica_dres.jpg) no-repeat center top;}

a.pasicaMbtn {width:268px; min-height:178px; height:auto !important; height:178px; display:block; text-decoration:none;
background:url(../_inc/images/design/pasice/videogalerija.jpg) no-repeat center top;}

a.pasicaRbtn {width:370px; min-height:178px; height:auto !important; height:178px; display:block; text-decoration:none;
background:url(../_inc/images/design/pasice/tourdeslovenie_pasica.jpg) no-repeat center top;}

a.pasicaLbtn:hover, a.pasicaMbtn:hover, a.pasicaRbtn:hover {background-position:center bottom;}

a.pasicaLbtn span, a.pasicaMbtn span, a.pasicaRbtn span {display:block; color:#CC0000; font-size:12px; text-align:center; padding-top:154px; text-decoration:underline;}
a.pasicaLbtn:hover span, a.pasicaMbtn:hover span, a.pasicaRbtn:hover span {color:#FFF; text-decoration:none;}



/*   Races   */
table.races_table {width:99.9%; font-size:12px; table-layout:fixed;}
table.races_table td {padding:6px 3px 0px 3px; font-family:Tahoma; vertical-align:top; /*cursor:pointer;*/ }
table.races_table td.racesTdDateFrom {}
table.races_table td.racesTdDateTo {padding-right:30px;}
table.races_table td.racesTdRace {padding-right:10px;}
table.races_table td.racesTdCountry {}
table.races_table td.racesTdCat {}

table.races_table th {padding:2px 3px 4px 3px; border-bottom:1px solid #999; color:#CCC; font-size:12px; font-weight:normal; text-align:left;}

table.races_table .racesCoDateFrom {width:72px;}
table.races_table .racesCoDateTo {width:86px;}
table.races_table .racesCoRace {}
table.races_table .racesCoCountry {width:114px;}
table.races_table .racesCoCat {width:74px;}



/*    MENU    */
/*    Menu MAIN      */
.mACMMain ul.AspNet-Menu {font-family:Georgia; font-size:16px; text-align:center;}
/*.mACMMain ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mACMMain ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}*/
.mACMMain ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mACMMain li {margin-right:10px;}
.mACMMain li:hover, /* list items being hovered over */
.mACMMain li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mACMMain a {outline:none; font-size:16px; padding-left:24px; display:block; float:left; line-height:43px; _line-height:45px; min-height:49px; height:auto !important; height:49px; 
background:url(../_inc/images/design/menumain_left.png) no-repeat left 70px;
_background:url(../_inc/images/design/menumain_left.gif) no-repeat left 70px;
}
.mACMMain span {color: #FFF; font-size:16px; padding:0px 24px 0px 0px; float:left; display:block; line-height:43px; _line-height:45px; min-height:49px; height:auto !important; height:49px; 
background:url(../_inc/images/design/menumain_right.png) no-repeat right 70px;
_background:url(../_inc/images/design/menumain_right.gif) no-repeat right 70px;
}

.mACMMain li.AspNet-Menu-Leaf a,
.mACMMain li.AspNet-Menu-Leaf span
{/*background-image: none !important;*/}

.mACMMain li:hover a, /* hovered text */
.mACMMain li.AspNet-Menu-Hover a
{background-position:left 43px;}

.mACMMain li:hover span,
.mACMMain li.AspNet-Menu-Hover span
.mACMMain li:hover li span,
.mACMMain li.AspNet-Menu-Hover li span,
.mACMMain li:hover li li span,
.mACMMain li.AspNet-Menu-Hover li li span,
.mACMMain li a:hover span
{color: #FF0000; cursor:pointer; background-position:right 43px;}

.mACMMain li:hover li a, /* the tier above this one is hovered */
.mACMMain li:hover li span,
.mACMMain li.AspNet-Menu-Hover li a,
.mACMMain li.AspNet-Menu-Hover li span,
.mACMMain li:hover li:hover li a,
.mACMMain li:hover li:hover li span,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{color: #FFF;}

.mACMMain li:hover li:hover a,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover,
.mACMMain li:hover li:hover a,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover,
.mACMMain li:hover li:hover li:hover a,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover
{}

.mACMMain li:hover li:hover a span,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span,
.mACMMain li:hover li:hover a span,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover span,
.mACMMain li:hover li:hover li:hover a:hover span,
.mACMMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span
{color:#FF0000;}


.mACMMain ul ul {left:0px; top:47px; _top:45px; padding:0px 0px 0px 0px; width:233px; background:none; z-index:1000;}

.mACMMain li li {margin-right:0px; padding:0px 0px 0px 0px; width:233px;
/*min-height:48px; height:auto !important; height:48px;*/ 
/*min-height: 0px; height:auto !important; height:auto; */
}
.mACMMain li li:hover, /* list items being hovered over */
.mACMMain li li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mACMMain li li a {outline:none; padding:1px 0px 1px 0px; display:block; float:left; width:100%; min-height: 0px; height:auto !important; height:auto; 
_filter:none; background:url(../_inc/images/design/1px.gif) transparent no-repeat;
}

.mACMMain li li span {color: #FFF; padding:4px 24px 5px 24px; background:transparent; float:left; display:block; line-height:150%; font-size:14px; min-height: 0px; height:auto !important; height:auto; text-align:left;}

.mACMMain .AspNet-Menu-Leaf {}
.mACMMain .AspNet-Menu-Selected {}
.mACMMain a.AspNet-Menu-Selected, .mACMMain a.AspNet-Menu-Selected:hover
{background-position:left 43px;}

.mACMMain a.AspNet-Menu-Selected span, .mACMMain a.AspNet-Menu-Selected:hover span 
{color: #FF0000; background-position:right 43px;}

.mACMMain a.AspNet-Menu-ChildSelected 
{background-position:left 43px;}

.mACMMain a.AspNet-Menu-ChildSelected span, .mACMMain a.AspNet-Menu-ChildSelected:hover span 
{color: #FF0000; background-position:right 43px;}

.mACMMain .AspNet-Menu-ParentSelected {}
/*
.mACMMain a.AspNet-Menu-Selected:hover li a {background-position:10px 105px;}
.mACMMain a.AspNet-Menu-Selected:hover li a span {color: #FFF;}
*/
.mACMMain li li a.AspNet-Menu-Selected {color:#FF0000;}
.mACMMain li li a.AspNet-Menu-Selected span {color:#FF0000;}
.mACMMain li li a.AspNet-Menu-ChildSelected  {color:#FF0000;}
.mACMMain li li a.AspNet-Menu-ChildSelected span {color:#FF0000;}
.mACMMain .AspNet-Menu-ParentSelected {}

/*
.mACMMain ul li ul li a.AspNet-Menu-Selected span {color:#0066CC;}
.mACMMain ul li ul li a.AspNet-Menu-ChildSelected span {color:#0066CC;}
.mACMMain ul li ul li ul li a.AspNet-Menu-Selected span {color:#FF3300 !important;}
*/

.mACMMain ul li:hover ul,
.mACMMain ul li.AspNet-Menu-Hover ul
{visibility: visible;}

.mACMMain ul li li:hover ul,
.mACMMain ul li li li:hover ul,
.mACMMain ul li li li li:hover ul,
.mACMMain ul li li.AspNet-Menu-Hover ul,
.mACMMain ul li li li.AspNet-Menu-Hover ul,
.mACMMain ul li li li li.AspNet-Menu-Hover ul
{visibility: hidden;}

.mACMMain ul li ul div.div_NavWrappI {display:block; /*width:210px;*/}
.mACMMain ul li ul div.div_NavWrapp {display:block; padding:5px 0px 5px 0px; margin:0; _width:233px; margin-top:6px;_margin-top:0px;
background:url(../_inc/images/design/menumain_ddl_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/cycling/_inc/images/design/menumain_ddl_mid.png',sizingMethod='scale');
}
.mACMMain ul li ul span.span_NavPrepend {min-height:6px; height:auto !important; height:6px !important; line-height:0px; font-size:0px; width:233px; display:block; padding:0; margin:0;
background:url(../_inc/images/design/menumain_ddl_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/menumain_ddl_top.png',sizingMethod='crop');
}
.mACMMain ul li ul span.span_NavAppend {min-height:12px; height:auto !important; height:12px !important; line-height:0px; font-size:0px; width:233px; display:block; padding:0; margin:0;
background:url(../_inc/images/design/menumain_ddl_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cycling/_inc/images/design/menumain_ddl_bottom.png',sizingMethod='crop');
}


/*    Menu LEFT      */

.mACMLeft ul.AspNet-Menu {font-family:Georgia; font-size:14px; text-align:left;}
.mACMLeft ul {padding:0; margin:0; float:left !important; width:100%;}
.mACMLeft li {margin-bottom:4px; /*_background:none; width:202px !important; float:left !important; *zoom:1;*/}


.mACMLeft li:hover,
.mACMLeft li.AspNet-Menu-Hover
{z-index:100; cursor:pointer;}

.mACMLeft li a {outline:none; padding:0px 0px 5px 0px; display:block; float:left; width:100%;
background:url(../_inc/images/design/menuleft_rep.png) repeat-x left -105px;
_background:url(../_inc/images/design/menuleft_rep.gif) repeat-x left -105px;
} 

.mACMLeft li span {color: #FFF; padding:2px 19px 5px 19px; float:left; display:block; line-height:150%;
background: transparent; _cursor:pointer;
/*background:url(../_inc/images/design/childmenu_mid.jpg) repeat-y right top; width:206px;*/
}

.mACMLeft li:hover a,  
.mACMLeft li.AspNet-Menu-Hover a
/*,.mACMLeft li a:hover*/
{background-position:left bottom;}

.mACMLeft li:hover span ,
.mACMLeft li.AspNet-Menu-Hover span
{color: #FFF; cursor:pointer;}

.mACMLeft ul.AspNet-Menu ul {position: relative; visibility: hidden; display:none; float:none; font-size:14px; font-family:Georgia; padding-bottom:10px; padding-top:5px}

.mACMLeft ul.AspNet-Menu ul {/*top: 100%; left: 0; font-size:13px; font-family:Tahoma; z-index:500;*/}

.mACMLeft ul.AspNet-Menu li ul li {background:none;}
.mACMLeft ul li.AspNet-Menu-WithChildren:hover ul, .mACMLeft ul li.AspNet-Menu-WithChildren.AspNet-Menu-Hover ul
{visibility:hidden; display:none;}

.mACMLeft li.AspNet-Menu-Selected ul, .mACMLeft li.AspNet-Menu-ChildSelected ul, 
.mACMLeft li.AspNet-Menu-Selected:hover ul, .mACMLeft li.AspNet-Menu-ChildSelected:hover ul,
.mACMLeft li.AspNet-Menu-Selected.AspNet-Menu-Hover ul, .mACMLeft li.AspNet-Menu-ChildSelected.AspNet-Menu-Hover ul
{position:relative; visibility:visible !important; display:block !important;}

.mACMLeft ul li ul li {margin-bottom:0px; background:none; /*min-height: 31px; height:auto !important; height: 31px; border: none;*/}
.mACMLeft ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px; /*min-height:31px; height:auto !important; height: 31px; line-height:31px;*/ width:100%;} 
.mACMLeft ul li ul li span {color: #999; padding:4px 20px 4px 40px; background:none; font-size:14px;
/*width:202px; padding:0px 10px 0px 35px; background: transparent; float:left; display:block; min-height:31px; height:auto !important; height: 31px; line-height:31px;*/}

.mACMLeft li:hover li a,
.mACMLeft li.AspNet-Menu-Hover li a
{background:none;}

.mACMLeft li:hover li span ,
.mACMLeft li.AspNet-Menu-Hover li span
{color: #999;}

.mACMLeft li li a:hover{}

.mACMLeft li li:hover span ,
.mACMLeft li li.AspNet-Menu-Hover span
{color:#FF0000;}


/*
.mACMLeft ul ul {left:177px; top:-15px; padding:0px 0px 0px 0px; width:210px; background:none;}
.mACMLeft ul ul li {background:none; min-height:23px; height:auto !important; height: 23px;}
.mACMLeft ul ul li a {outline:none;}

.mACMLeft ul ul li a span {color:#333; padding: 4px 25px 4px 25px;}

.mACMLeft li:hover li a,
.mACMLeft li.AspNet-Menu-Hover li a
{}

.mACMLeft li:hover li span,
.mACMLeft li.AspNet-Menu-Hover li span
{color: #666; font-size:13px; cursor:pointer;}

.mACMLeft li:hover li:hover,
.mACMLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover
{background:none;}

.mACMLeft li:hover li:hover a,
.mACMLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{}

.mACMLeft li:hover li:hover span,
.mACMLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{color: #990000 !important; cursor:pointer; text-decoration:underline;}
*/

.mACMLeft ul li.AspNet-Menu-ChildSelected, .mACMLeft ul li.AspNet-Menu-Selected
{/*background-position:left top;border-bottom:none;*/}

.mACMLeft ul li a.AspNet-Menu-ChildSelected, .mACMLeft ul li a.AspNet-Menu-Selected
{background-position:left bottom;}

.mACMLeft ul li a.AspNet-Menu-ChildSelected span, .mACMLeft ul li a.AspNet-Menu-Selected span
{/*background-position:left top;*/ color:#FFF;}

.mACMLeft ul li ul li a.AspNet-Menu-ChildSelected, .mACMLeft ul li ul li a.AspNet-Menu-Selected
{background:none;}

.mACMLeft ul li ul li a.AspNet-Menu-ChildSelected span, .mACMLeft ul li ul li a.AspNet-Menu-Selected span
{color:#FF0000;}

.mACMLeft li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected
{background:none;}

.mACMLeft li.AspNet-Menu-Selected a span, .mACMLeft li.AspNet-Menu-ChildSelected a span
{    /*color:#4473FF;*/}


/*     Sponsors menu     */


.sponsorsList ul {position: relative; _position:static;}
.sponsorsList ul, .sponsorsList ul ul {margin: 0; padding: 0; display: block;}
.sponsorsList ul li {position: relative; list-style: none; float: left; _float: left !important; _height: 1%;}
.sponsorsList ul li a {display: block; text-decoration: none; _height: 1%;}



.sponsorsList li {/*margin-right:24px;*/ margin:7px 7px 0px 0px;}

.sponsorsList a {text-indent:-9999px; outline:none;}

.sponsorsList li.slAdria a {width:190px; height:232px; background: url(../_inc/images/sponsors/sponzor_adriamobil_46let.jpg) no-repeat center top;}
.sponsorsList li.slAdria {margin:7px 22px 200px 15px;}

.sponsorsList li.slAch a {width:238px; height:108px; background: url(../_inc/images/sponsors/sponzor_ach.jpg) no-repeat center top;}
.sponsorsList li.slAch{}
.sponsorsList li.slFiat a {width:238px; height:108px; background: url(../_inc/images/sponsors/sponzor_fiat.jpg) no-repeat center top;}
.sponsorsList li.slFiat {}
.sponsorsList li.slKrka a {width:238px; height:108px; background: url(../_inc/images/sponsors/sponzor_krka.jpg) no-repeat center top;}
.sponsorsList li.slKrka {}

.sponsorsList li.slMonm a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_monm.jpg) no-repeat center top;}
.sponsorsList li.slAtkastelec a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_kastelec.jpg) no-repeat center top;}
.sponsorsList li.slIsostar a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_isostar.jpg) no-repeat center top;}
.sponsorsList li.slTriglav a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_triglav.jpg) no-repeat center top;}
.sponsorsList li.slDnevnik a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_dnevnik.jpg) no-repeat center top;}
.sponsorsList li.slCostella a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_costella.jpg) no-repeat center top;}
.sponsorsList li.slSpecialized a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_specialized.jpg) no-repeat center top;}
.sponsorsList li.slZolna a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_zolna.jpg) no-repeat center top;}
.sponsorsList li.slDebitel a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_debitel.jpg) no-repeat center top;}

.sponsorsList li.slArmic a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_armic.jpg) no-repeat center top;}
.sponsorsList li.slZomi a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_zomi.jpg) no-repeat center top;}
.sponsorsList li.slBme a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_bme.jpg) no-repeat center top;}
.sponsorsList li.slSmajdek a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_smajdek.jpg) no-repeat center top;}
.sponsorsList li.slIvd a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_ivd.jpg) no-repeat center top;}
.sponsorsList li.slTisksepic a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_tisksepic.jpg) no-repeat center top;}
.sponsorsList li.slCamtehnik a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_camtehnik.jpg) no-repeat center top;}
.sponsorsList li.slImp a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_impelektro.jpg) no-repeat center top;}
.sponsorsList li.slPocinkovalnica a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_pocinkovalnica.jpg) no-repeat center top;}
.sponsorsList li.slHutchinson a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_hutchinson.jpg) no-repeat center top;}
.sponsorsList li.slIntertour a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_intertour.jpg) no-repeat center top;}
.sponsorsList li.slCep a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_cep.jpg) no-repeat center top;}
.sponsorsList li.slIblsistemi a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_iblsistemi.jpg) no-repeat center top;}
.sponsorsList li.slEnigma a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_enigma.jpg) no-repeat center top;}
.sponsorsList li.slJbc a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_jbc.jpg) no-repeat center top;}
.sponsorsList li.slPolar a {width:140px; height:64px; background: url(../_inc/images/sponsors/sponzorji_polar.jpg) no-repeat center top;}




.sponsorsList a:hover {background-position:center bottom !important;}
.sponsorsList a.AspNet-Menu-Selected {background-position:center bottom !important;}


.OrdDresW {padding:0px 5px 0px;}
table.tableOrdDres {}
.OrdDresW table.tableOrdDres {line-height:130%; border-width: 0px; border-style: solid; border-color:transparent; border-collapse: collapse;}
.OrdDresW table.tableOrdDres th {padding:2px 4px 2x 4px; border-width: 0px; border-style: solid; border-color:transparent;}
.OrdDresW table.tableOrdDres td {padding:2px 4px 2px 4px; border-width: 0px; border-style: solid; border-color:transparent; border-collapse: collapse;}
.OrdDresW table.tableOrdDres .tableOrdDresColL {width:200px;}

.OrdDresW table.tableOrdDres input {margin:0px 10px 0px 0px; width:200px; color:#333; padding:4px 3px 4px 3px; padding:3px 3px 3px 3px\9; *padding:3px 3px 3px 3px;}
.OrdDresW table.tableOrdDres select {margin:0px 10px 0px 0px; padding:4px 3px 4px 3px; padding:3px 3px 3px 3px\9; *padding:3px 3px 3px 3px; width:208px; outline:none; color:#333;}
.OrdDresW table.tableOrdDres select:hover {cursor:pointer;}

a.btnOrdDresSend {background:#CC0000; color:#FFF !important; border:1px solid #FF0000; text-decoration:none !important; text-align:center; padding:7px 0px; display:block; width:206px; font-size:14px; text-align:center;}
a.btnOrdDresSend:hover {background:#FF0000; border:1px solid #FF0000;}


/*   Paging   */

.pagesortW {width:100%;}
.pagesort {text-align:center; padding:5px 5px 5px 5px;}

a.pagesort_bw, a.pagesort_fwd, a.pagesort_fbw, a.pagesort_ffwd 
{outline:none; display:inline-block; margin:0px 2px 0px 2px; font-size:15px; text-decoration:none; text-align:center; color:#999;}

a.pagesort_bw {}
a.pagesort_fwd {}
a.pagesort_fbw {}
a.pagesort_ffwd {}
a.pagenum {outline:none; display:inline-block; margin:0px 4px 0px 4px; text-decoration:none; color:#CCC; font-size:15px; text-align:center;}
a.pagesort_bw:hover, a.pagesort_fwd:hover, a.pagesort_fbw:hover, a.pagesort_ffwd:hover 
{background-position: center bottom; text-decoration:none; color:#FFF; cursor:pointer;}

a.pagenum:hover {color:#FFF; cursor:pointer; text-decoration:none;}
a.pagenum.pagesel {color:#FFF; font-size:17px;}


/*    TEMPLATE OVERRIDES    */

.moduleNew select {width: 110px;}
a.btsettStatusHelp img {border: none;}

.cwp {margin-bottom: 0; padding: 0 5px 5px;}

.cwpH1 {border:none; background:none; margin:3px 0px 15px 0px; position:relative; /*margin-left:0px; margin-top:-45px;*/}
.cwpH1 h1 {padding:3px 0px 4px 0px; color:#FFF; border:none; margin:0px;}

/*.commAuthor {background: none repeat scroll 0 0 #FFF; border: 1px solid #CCC;}
.comBox {background: none repeat scroll 0 0 #FFF; border: 1px solid #AAA;  margin: 8px 0 0px; padding: 3px 5px 5px 25px;}

.conBody ul {padding:0px 0px 10px 0px; line-height:150%;}
.conBody ul li {padding:0px 2px 0px 2px;}

*/

.cwp .conBody {padding-left:0px; padding-right:0px;}
.cwp .divArchive {padding-left:0px; padding-right:0px;}

.artDate {padding-bottom:0px;}
span.artBox_date {display:block; font-size:12px; padding:0px 0px 7px 0px;}
.art_padding_top {padding-top:0px;}

span.connect_widget_text {color:#CCC;}

.cCont img, .cArt img {padding:5px 10px 5px 0px;}
.cCont img[align=left], .cArt img[align=left] {padding:5px 10px 5px 0px;}
.cCont img[align=right], .cArt img[align=right] {padding:5px 0px 5px 10px;}
.cCont img[align=top], .cArt img[align=top] {padding:5px 10px 5px 10px;}

.wizz_main {width:960px; margin-left:auto; margin-right:auto;}
.wizz_main a, .wizz_main a:hover {color:#333;}

.cArt .artBox {padding-bottom:20px;}

/*
.galOpen a, a.art_more {color:#FF0000;}
.galOpen a:hover, a.art_more:hover {color:#FFF;}
*/

a.divGalImgThumb_thumb:hover, span.galBox a:hover, img.imgMove:hover, a.AartBox_img:hover img {border:1px solid #FF0000 !important;}

a.AvidBox_img:hover img {border:1px solid #FF0000 !important;}




.galEmpty, .galOpen {padding-left:0px;}
.cGal {padding-bottom:20px;} 

.fb_jCarousel .jcarousel-skin-tango a img.fb_selThumb {padding:1px; border: #FF0000 1px solid !important;}
.fb_jCarousel .jcarousel-skin-tango a:hover img {padding:1px; border: #FF0000 1px solid !important;}

.cCont table, .artDetailW .artText table {line-height:130%; border-width: 0px; border-style: solid; border-color: #CCC; border-collapse: collapse;}
.cCont table th, .artDetailW .artText table th {padding:3px 4px 3px 4px; border-width: 1px; border-style: solid; border-color: #CCC;}
.cCont table td, .artDetailW .artText table td {padding:3px 4px 3px 4px; border-width: 1px; border-style: solid; border-color: #CCC; border-collapse: collapse;}

span.pollChoice, span.pollChoiceResult {color:#CCC;}
label.pollChoice_label:hover span {color:#FFF;}
.poll_render h3, .cPollItem h3 {color:#FFF;}

/*
.m_1574 .artAbstract {float:right; text-align:left; width:auto;}
.m_1574 .artAbstract p {}

table.connect_widget_interactive_area td.connect_widget_vertical_center {color:#333;}
*/