﻿* {margin:0; padding:0;}
html, body {margin:0; padding:0; text-align:left;}
body {font-family:"Trebuchet MS"; font-size:13px; color:#333; background:#EFF7FC url(../_inc/images/design/bcg.jpg) no-repeat center top;}
body.edit { background:#EFF7FC url(../_inc/images/design/bcg.jpg) no-repeat center 144px; }
body.edit_sett { background:#EFF7FC url(../_inc/images/design/bcg.jpg) no-repeat center 187px; }

html{overflow-y:scroll;}
h1, h2, h3, h4, h5 {font-family:"Trebuchet MS"; font-weight:normal; line-height:120%;}

h1, .cwp_zone.h1 {font-size:17px; padding:5px 0px 10px 0px; color:#003399;}
h2, .cwp_zone.h2 {font-size:15px; padding:5px 0px 10px 0px; color:#006699;}
h3, .cwp_zone.h3 {font-size:13px; padding:5px 0px 10px 0px; color:#5F9614;}
h4, .cwp_zone.h4 {font-size:13px; padding:5px 0px 5px 0px; color:#66CC00;}
h5, .cwp_zone.h5 {font-size:15px; padding:5px 0px 5px 0px; color:#999;}

p, .cwp_zone.p {font-size:13px; color:#333; padding:0px 0px 20px 0px; line-height:150%;}

.cwp {padding:0px 5px 5px 5px; margin-bottom:0px;}


.mainW a {color:#006699; text-decoration:underline; outline:none;}
.mainW a:hover {color:#006699; text-decoration:none;}


.headerW {min-height:117px; height:auto !important; height:117px; width:100%; background:url(../_inc/images/design/header_bcg.png) no-repeat center 12px; _background:url(../_inc/images/design/header_bcg.gif) no-repeat center 12px;}
.header {width:948px; margin-left:auto; margin-right:auto;}

.headerW a {outline:none;}
.headerL {width:30%; float:left;}
.headerL img {border:none;}


.headerLLogo {padding:11px 0px 0px 50px; /*min-height:115px; height:auto !important; height:115px;*/}
.headerR{width:60%; float: right; display:inline; }
/*.headerRI {float:right; min-height:63px; height:auto !important; height:63px;}
.headerRII {float:right; padding-top:9px;}*/

.headerR img {border:none;}

.headerRTopW {min-height:60px; height:auto !important; height:60px; float:right; width:100%;}
.headerRTop {}
.headerRTopL {width:25%; float:left;}
.headerRTopR {width:70%; float: right; display:inline;}
.headerRTopRI {padding:11px 7px 0px 0px;}


.icons {text-align:right;}
.icons a {text-decoration:none; outline:none; width:23px; cursor:pointer; min-height:24px; height:auto !important; height:24px; display:inline-block; margin:0px 7px 0px 0px;}
.icons a.icon_rss {
background:url(../_inc/images/design/icon_rss.png) no-repeat left 1px;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/icon_rss.png',sizingMethod='crop');
}
.icons a.icon_in {background:url(../_inc/images/design/icon_in.png) no-repeat left 1px;}
.icons a.icon_tw {background:url(../_inc/images/design/icon_tw.png) no-repeat left 1px;}
.icons a.icon_fb {background:url(../_inc/images/design/icon_fb.png) no-repeat left 1px;}
.icons a:hover {background-position:left 0px;}


/*
.cLang a {min-height:25px; height:auto !important; height:25px; outline:none; color:#999; font-size:17px; line-height:25px; text-decoration:none; padding-right:35px; float:right; text-align:right; font-style:italic;}
.cLang a.lang-sl-si {background:url(../_inc/images/design/flag_si.jpg) no-repeat right 5px;}
.cLang a.lang-en-us {background:url(../_inc/images/design/flag_en.jpg) no-repeat right 5px;}
.cLang a:hover {color:#FFF; text-decoration:underline;}
.cLang a.sel {background-position:right 5px; color:#FFF; font-size:21px; font-style:normal;}
.cLang a.sel:hover {text-decoration:none;}
*/

.headerRNavW {}
.headerRNav {padding:15px 0px 0px 0px;}


.motivW {min-height:251px; height:auto !important; height:251px; width:948px; margin-left:auto; margin-right:auto; 
background:url(../_inc/images/design/motiv_all.png) no-repeat center top;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/motiv_all.png',sizingMethod='crop');
}
.motiv {}
.motivMIL {width:0px; float:left;}
.motivMIR {width:936px; float: right; display:inline; padding-top:3px;}
.motivMIL .cwp, .pmodLandingW .cwp {padding:8px 15px 8px 15px;}
.homemotivMIL .homeNewsM .cwp {margin-bottom:0px; padding:0px 17px 1px 17px;}

.motiv-navW {position:absolute; z-index:1005; width:210px; margin-left:708px; margin-top:205px;}
.motiv-navW #motiv-nav {padding-left:15px;}
.motiv-navW #motiv-nav a {width:22px; height:22px; margin:0px 5px 0px 0px; display:inline-block; text-decoration:none; outline:none; /*text-indent:-9999px;*/ cursor:pointer;
background:url(../_inc/images/design/motiv_btn.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/motiv_btn_ie6_off.png',sizingMethod='crop');
}
.motiv-navW #motiv-nav a.sel, .motiv-navW #motiv-nav a:hover, .homeT #motiv-nav a.sel:hover{
background-position: 0 -22px;
text-decoration:none;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/motiv_btn_ie6_on.png',sizingMethod='crop');
}

.home .motivMIL {width:344px; float:left; padding-top:10px;}
.home .motivMIR {width:598px; float: right; display:inline; padding-top:3px;}
.home .motivMIL .cwp, .home .pmodLandingW .cwp {padding:8px 15px 8px 15px;}
.home .homemotivMIL .homeNewsM .cwp {margin-bottom:0px; padding:0px 17px 1px 17px;}

.home .motiv-navW {position:absolute; z-index:1005; width:210px; margin-left:370px; margin-top:205px;}
.home .motiv-navW #motiv-nav {padding-left:15px;}

.home .motivMIL h1 {font-size:27px; color:#00476B; padding:30px 0px 30px 0px; line-height:150%;}
.home .motivMIL p {font-size:15px; color:#999;}


.mainW {min-height:251px; height:auto !important; height:251px; width:956px; margin-left:auto; margin-right:auto;}
.main {padding:0px 3px 0px 1px;}


.mainLNav {padding:10px 0px 1px 3px;}
.mainRCont {padding:12px 0px 0px 0px;}



.footerW {min-height:160px; height:auto !important; height:160px; width:100%;}
.footer {width:948px; margin-left:auto; margin-right:auto;}
.footerI {padding:25px 0px 40px 10px;}
.footerL, .footerM, .footerR {float:left; line-height:150%;}
.footerL {width:78%;}
.footerM {width:0%;}
.footerR {width:21%;}

.footerLI {overflow: hidden; display: inline-block; padding-left:0px; background:url(../_inc/images/design/footer_address_separator.png) repeat-y left top;}
.footerLI {display: block;}

.footerLL {float:left; font-size:12px; color:#666; padding:0px 17px 0px 17px; background:url(../_inc/images/design/footer_address_separator.png) repeat-y right top;}
.footerLR {float:left; font-size:12px; color:#666; padding:0px 17px 0px 15px; background:url(../_inc/images/design/footer_address_separator.png) repeat-y right top;}
.footerLmenu {float:left;padding:0px 0px 0px 15px;}

.footer span.footer_title {font-size:12px; color:#196D92; display:block; font-weight:bold;}
.footer span.footer_text {font-size:12px; color:#666; display:block; padding-top:2px;}
.footer a {font-size:12px; color:#666; text-decoration:none;}
.footer a:hover {text-decoration:underline;}
.footerM span.footer_text {padding:4px 0px 0px 8px;}
.footerR span.footer_text {padding:0px;}
.footerR span.footer_text a {color:#666; text-decoration:none;}
.footerR span.footer_text a:hover, .footer span.footer_title a:hover {text-decoration:underline;}
.footer span.footer_title a {text-decoration:none; font-size:12px; color:#CCC;}




/*    Home    */
.homeT {}
.homeTI {padding:12px 4px 0px 0px;}
.homeTL, .homeTR {}
.homeTR {width:58%; float:right;}
.homeTL {float:left; display:inline; width:41%;}

.homeTL p {padding-top:5px;}
.homeTL h4 {padding-bottom:10px;}
.homeTR .homeNews {padding:10px 12px 20px 12px;}
.homeNews a.AartTitle {font-size:13px; text-decoration:none; line-height:140%;}
.homeNews a.AartTitle:hover {font-size:13px; text-decoration:underline;}
.homeNews span.SartDate {display:block; color:#999; padding-bottom:3px;}
.homeNews .artListSimple p {padding:5px 0px 0px 0px;}
.homeNews span.homeNews_sepa {display:block; min-height:0px; height:auto !important; height:0px; line-height:0px; font-size:0px; border-bottom:1px solid #CCC; margin:10px 0px 10px 0px;}

.homeMW {}
.homeM {}
.homeMI {padding:0px 17px 12px 5px; background: transparent url('../_inc/images/design/home_boxbottom_bcg.jpg') no-repeat center bottom;}
.homeM a {color:#FFF;}
.homeM h1, .homeM h2, .homeM h3, .homeM h5 {color:#000;}
.homeM p {color:#333;}
.homeML, .homeMRL{} 
.homeML {width:308px; float:left;}
.homeML, .homeMRL, .homeMRR {}
.homeMR {width:66.4%; float:right;}
.homeMRR {width:308px; float:right;}
.homeMRL {float: left; display:inline; width:308px;}

.homeM .cwp {padding-bottom:0px;}

.main .cccHomeMLT div.cwpborder-bg, .main .cccHomeMMT div.cwpborder-bg, .main .cccHomeMRT div.cwpborder-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; visibility:hidden; display:none;}
.main .cccHomeMLT .cwp_cusW, .main .cccHomeMMT .cwp_cusW, .main .cccHomeMRT .cwp_cusW {position:relative; background: #FFF; margin:0px 0px 0px 0px; padding-top:0px; height:176px; width:308px;}
.main .cccHomeMLT .cwp_cusW {
background: transparent url('../_inc/images/design/home_boxbottom_blue.png') no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/home_boxbottom_blue.png',sizingMethod='crop');
}
.main .cccHomeMMT .cwp_cusW {
background: transparent url('../_inc/images/design/home_boxbottom_orange.png') no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/home_boxbottom_orange.png',sizingMethod='crop');
}
.main .cccHomeMRT .cwp_cusW {
background: transparent url('../_inc/images/design/home_boxbottom_green.png') no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/home_boxbottom_green.png',sizingMethod='crop');
}
.main .cccHomeMLT .conBody, .main .cccHomeMMT .conBody, .main .cccHomeMRT .conBody {padding:40px 15px 0px 27px;}
.main .cccHomeMLT .conBody p, .main .cccHomeMMT .conBody p, .main .cccHomeMRT .conBody p {text-align:left;}

.main .cccHomeMLB div.cwpborder-bg, .main .cccHomeMMB div.cwpborder-bg, .main .cccHomeMRB div.cwpborder-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; visibility:hidden; display:none;}
.main .cccHomeMLB .cwp_cusW, .main .cccHomeMMB .cwp_cusW, .main .cccHomeMRB .cwp_cusW {position:relative; background: #FFF; margin:0px 0px 0px 0px; padding-top:0px; height:38px; width:308px;}
.main .cccHomeMLB .cwp_cusW {
background: transparent url('../_inc/images/design/home_boxbottom_readmore_blue.png') no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/home_boxbottom_readmore_blue.png',sizingMethod='crop');
}
.main .cccHomeMMB .cwp_cusW {
background: transparent url('../_inc/images/design/home_boxbottom_readmore_orange.png') no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/home_boxbottom_readmore_orange.png',sizingMethod='crop');
}
.main .cccHomeMRB .cwp_cusW {
background: transparent url('../_inc/images/design/home_boxbottom_readmore_green.png') no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/home_boxbottom_readmore_green.png',sizingMethod='crop');
}
.main .cccHomeMLB .conBody, .main .cccHomeMMB .conBody, .main .cccHomeMRB .conBody {padding:7px 0px 0px 0px;}
.main .cccHomeMLB .conBody p, .main .cccHomeMMB .conBody p, .main .cccHomeMRB .conBody p {text-align:center;}
.main .cccHomeMLB .conBody a {color:#00577C;}
.main .cccHomeMMB .conBody a {color:#DB7112;}
.main .cccHomeMRB .conBody a {color:#456B10;}


.home .motivMIL div.cwpborder-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; visibility:hidden; display:none;}
.home .motivMIL .cwp_cusW {position:relative; background: none; margin:0px 0px 0px 0px; padding-top:0px;}


/*    MENU    */
/*    Menu MAIN      */
.mCGMain ul.AspNet-Menu {font-family:"Trebuchet MS"; font-size:16px; text-align:center;}
.mCGMain ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mCGMain ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mCGMain ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mCGMain li {margin-right:10px;}
.mCGMain li.mmLast {margin-right:0px;}
.mCGMain li:hover, /* list items being hovered over */
.mCGMain li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mCGMain a {outline:none; font-size:14px; padding-left:16px; display:block; float:left;}
.mCGMain span {color:#999; font-size:14px; padding:0px 16px 0px 0px; float:left; display:block;}

.mCGMain li.AspNet-Menu-Leaf a,
.mCGMain li.AspNet-Menu-Leaf span
{/*background-image: none !important;*/}

.mCGMain li:hover a, /* hovered text */
.mCGMain li.AspNet-Menu-Hover a
{}

.mCGMain li:hover span,
.mCGMain li.AspNet-Menu-Hover span
.mCGMain li:hover li span,
.mCGMain li.AspNet-Menu-Hover li span,
.mCGMain li:hover li li span,
.mCGMain li.AspNet-Menu-Hover li li span,
.mCGMain li a:hover span
{color: #FF6600; cursor:pointer;}


.mCGMain .AspNet-Menu-Leaf {}
.mCGMain .AspNet-Menu-Selected {}
.mCGMain a.AspNet-Menu-Selected, .mCGMain a.AspNet-Menu-Selected:hover
{}

.mCGMain a.AspNet-Menu-Selected span, .mCGMain a.AspNet-Menu-Selected:hover span 
{color: #FF6600; text-decoration:underline;}

.mCGMain a.AspNet-Menu-ChildSelected 
{}

.mCGMain a.AspNet-Menu-ChildSelected span, .mCGMain a.AspNet-Menu-ChildSelected:hover span 
{color: #FF6600; text-decoration:underline;}

.mCGMain .AspNet-Menu-ParentSelected {}
/*
.mCGMain a.AspNet-Menu-Selected:hover li a {background-position:10px 105px;}
.mCGMain a.AspNet-Menu-Selected:hover li a span {color: #FFF;}
*/
.mCGMain li li a.AspNet-Menu-Selected {color:#FF0000;}
.mCGMain li li a.AspNet-Menu-Selected span {color:#FF0000;}
.mCGMain li li a.AspNet-Menu-ChildSelected  {color:#FF0000;}
.mCGMain li li a.AspNet-Menu-ChildSelected span {color:#FF0000;}
.mCGMain .AspNet-Menu-ParentSelected {}


/*    Menu SUB      */
.mCGLeft ul.AspNet-Menu {font-family:"Trebuchet MS"; font-size:16px; text-align:left;}
.mCGLeft ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mCGLeft ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mCGLeft ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mCGLeft li {margin-right:11px;}
.mCGLeft li.mmGreen {margin-right:0px;}
.mCGLeft li:hover, /* list items being hovered over */
.mCGLeft li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mCGLeft a {outline:none; font-size:16px; display:block; float:left; height:76px !important; width:308px;
background: transparent url('../_inc/images/design/menu_sub_blue.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_blue_ie6_off.png',sizingMethod='crop');                       
}
.mCGLeft li.mmOrange a {
background: transparent url('../_inc/images/design/menu_sub_orange.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_orange_ie6_off.png',sizingMethod='crop');                       
}
.mCGLeft li.mmGreen a {
background: transparent url('../_inc/images/design/menu_sub_green.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_green_ie6_off.png',sizingMethod='crop');                       
}



.mCGLeft span {color:#000; font-size:16px; padding:38px 0px 0px 27px; float:left; display:block;}

.mCGLeft li.AspNet-Menu-Leaf a,
.mCGLeft li.AspNet-Menu-Leaf span
{/*background-image: none !important;*/}

.mCGLeft li:hover a, /* hovered text */
.mCGLeft li.AspNet-Menu-Hover a
{}

.mCGLeft li:hover span,
.mCGLeft li.AspNet-Menu-Hover span
.mCGLeft li:hover li span,
.mCGLeft li.AspNet-Menu-Hover li span,
.mCGLeft li:hover li li span,
.mCGLeft li.AspNet-Menu-Hover li li span,
.mCGLeft li a:hover span
{color: #FF6600; cursor:pointer;}


.mCGLeft li a:hover {
background-position:left bottom;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_blue_ie6_on.png',sizingMethod='crop');                       
}
.mCGLeft li a:hover span {color:#FFF; text-decoration:underline;}



.mCGLeft .AspNet-Menu-Leaf {}
.mCGLeft .AspNet-Menu-Selected {}
.mCGLeft a.AspNet-Menu-Selected, .mCGLeft a.AspNet-Menu-Selected:hover
{}

.mCGLeft a.AspNet-Menu-Selected, .mCGLeft a.AspNet-Menu-Selected:hover {
background-position:left bottom;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_blue_ie6_on.png',sizingMethod='crop');                       
}
.mCGLeft li.mmOrange a.AspNet-Menu-Selected, .mCGLeft li.mmOrange a.AspNet-Menu-Selected:hover {
background-position:left bottom;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_blue_ie6_on.png',sizingMethod='crop');                       
}
.mCGLeft li.mmGreen a.AspNet-Menu-Selected, .mCGLeft li.mmGreen a.AspNet-Menu-Selected:hover {
background-position:left bottom;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/menu_sub_blue_ie6_on.png',sizingMethod='crop');                       
}


.mCGLeft a.AspNet-Menu-Selected span, .mCGLeft a.AspNet-Menu-Selected:hover span 
{color: #FFF; text-decoration:underline;}

.mCGLeft a.AspNet-Menu-ChildSelected 
{}

.mCGLeft a.AspNet-Menu-ChildSelected span, .mCGLeft a.AspNet-Menu-ChildSelected:hover span 
{color: #FFF; text-decoration:underline;}

.mCGLeft .AspNet-Menu-ParentSelected {}
/*
.mCGLeft a.AspNet-Menu-Selected:hover li a {background-position:10px 105px;}
.mCGLeft a.AspNet-Menu-Selected:hover li a span {color: #FFF;}
*/
.mCGLeft li li a.AspNet-Menu-Selected {color:#FFF;}
.mCGLeft li li a.AspNet-Menu-Selected span {color:#FFF;}
.mCGLeft li li a.AspNet-Menu-ChildSelected  {color:#FFF;}
.mCGLeft li li a.AspNet-Menu-ChildSelected span {color:#FFF;}
.mCGLeft .AspNet-Menu-ParentSelected {}



/*    Menu FOOTER      */
.mCGFooter ul.AspNet-Menu {font-family:"Trebuchet MS"; font-size:12px; text-align:center;}
.mCGFooter ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mCGFooter ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mCGFooter ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mCGFooter li {margin-right:20px; margin-bottom:5px;}
.mCGFooter li.mfPrivacy {margin-right:0px;}

.mCGFooter li:hover, /* list items being hovered over */
.mCGFooter li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mCGFooter a {outline:none; font-size:12px; padding-left:0px; display:block; float:left;}
.mCGFooter span {color:#666; font-size:12px; padding:0px 0px 0px 0px; float:left; display:block; text-decoration:underline !important;}

.mCGFooter li.AspNet-Menu-Leaf a,
.mCGFooter li.AspNet-Menu-Leaf span
{/*background-image: none !important;*/}

.mCGFooter li:hover a, /* hovered text */
.mCGFooter li.AspNet-Menu-Hover a
{}

.mCGFooter li:hover span,
.mCGFooter li.AspNet-Menu-Hover span
.mCGFooter li:hover li span,
.mCGFooter li.AspNet-Menu-Hover li span,
.mCGFooter li:hover li li span,
.mCGFooter li.AspNet-Menu-Hover li li span,
.mCGFooter li a:hover span
{color: #FF6600; cursor:pointer;}


.mCGFooter .AspNet-Menu-Leaf {}
.mCGFooter .AspNet-Menu-Selected {}
.mCGFooter a.AspNet-Menu-Selected, .mCGFooter a.AspNet-Menu-Selected:hover
{}

.mCGFooter a.AspNet-Menu-Selected span, .mCGFooter a.AspNet-Menu-Selected:hover span 
{color: #FF6600; text-decoration:underline;}

.mCGFooter a.AspNet-Menu-ChildSelected 
{}

.mCGFooter a.AspNet-Menu-ChildSelected span, .mCGFooter a.AspNet-Menu-ChildSelected:hover span 
{color: #FF6600; text-decoration:underline;}

.mCGFooter .AspNet-Menu-ParentSelected {}
/*
.mCGFooter a.AspNet-Menu-Selected:hover li a {background-position:10px 105px;}
.mCGFooter a.AspNet-Menu-Selected:hover li a span {color: #FFF;}
*/
.mCGFooter li li a.AspNet-Menu-Selected {color:#FF0000;}
.mCGFooter li li a.AspNet-Menu-Selected span {color:#FF0000;}
.mCGFooter li li a.AspNet-Menu-ChildSelected  {color:#FF0000;}
.mCGFooter li li a.AspNet-Menu-ChildSelected span {color:#FF0000;}
.mCGFooter .AspNet-Menu-ParentSelected {}



/* cwpborder transparent edges */

.main .cwp_cusW {position:relative; background: #FFF; margin:5px 5px 12px 5px; padding-top:1px;}
.main div.cwpborder-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; /*z-index: 1001;*/}
.main div.cwpborder-bg-n { top: -5px; left: 0; width: 100%; height: 5px; 
background: transparent url('../_inc/images/design/cwp_shadow_n.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_n.png',sizingMethod='scale');
}
.main div.cwpborder-bg-ne { top: -5px; right: -5px; width: 5px; height: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_ne.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_ne.png',sizingMethod='crop');
}
.main div.cwpborder-bg-e { top: 0; right: -5px; height: 100%; width: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_e.png') repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_e.png',sizingMethod='scale');
}
.main div.cwpborder-bg-se { bottom: -5px; right: -5px; width: 5px; height: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_se.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_se.png',sizingMethod='crop');                                
}
.main div.cwpborder-bg-s { bottom: -5px; left: 0; width: 100%; height: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_s.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_s.png',sizingMethod='scale');
}
.main div.cwpborder-bg-sw { bottom: -5px; left: -5px; width: 5px; height: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_sw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_sw.png',sizingMethod='crop');
}
.main div.cwpborder-bg-w { top: 0; left: -5px; height: 100%; width: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_w.png') repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_w.png',sizingMethod='scale');
}
.main div.cwpborder-bg-nw { top: -5px; left: -5px; width: 5px; height: 5px;
background: transparent url('../_inc/images/design/cwp_shadow_nw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwp_shadow_nw.png',sizingMethod='crop');
}

.main .cccContactUs .cwp_cusW {background: #FFF url('../_inc/images/design/ccc_contactus.jpg') no-repeat 18px 0px; padding-top:1px;}
.main .cccContactUs .cwp_cusW .conBody {padding-left:80px;}
.main .cccContactUs .cwp_cusW .conBody p {font-size:16px; color:#FF6600; padding-bottom:7px;}


/* cwpH1border transparent edges */

.cwpH1 {border:none; background: #999 url('../_inc/images/design/cwpH1_bcg_rep.png') repeat-x; margin:0px 1px 10px 1px; position:relative; padding:0px;}
.cwpH1 h5 {padding:0px 10px 2px 10px; color:#FFF; border:none; margin:0px; font-size:15px; font-weight:bold; line-height:120%;}

.cwpH1 .cwpH1border-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; }
.cwpH1 .cwpH1border-bg-n { top: -4px; left: 0; width: 100%; height: 4px;  *top: -3px;
background: transparent url('../_inc/images/design/cwpH1_n.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_n.png',sizingMethod='scale');
}
.cwpH1 .cwpH1border-bg-ne { top: -4px; right: -4px; width: 4px; height: 4px; *top: -3px;
background: transparent url('../_inc/images/design/cwpH1_ne.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_ne.png',sizingMethod='crop');
}
.cwpH1 .cwpH1border-bg-e { top: 0; right: -4px; height: 100%; width: 4px;
background: #999 url('../_inc/images/design/cwpH1_bcg_rep.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_bcg_rep.png',sizingMethod='crop');
}
.cwpH1 .cwpH1border-bg-se { bottom: -4px; right: -4px; width: 4px; height: 4px;
background: transparent url('../_inc/images/design/cwpH1_se.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_se.png',sizingMethod='crop');
}
.cwpH1 .cwpH1border-bg-s { bottom: -4px; left: 0; width: 100%; height: 4px;
background: transparent url('../_inc/images/design/cwpH1_s.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_s.png',sizingMethod='scale');
}
.cwpH1 .cwpH1border-bg-sw { bottom: -4px; left: -4px; width: 4px; height: 4px;
background: transparent url('../_inc/images/design/cwpH1_sw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_sw.png',sizingMethod='crop');
}
.cwpH1 .cwpH1border-bg-w { top: 0; left: -4px; height: 100%; width: 4px;
background: #999 url('../_inc/images/design/cwpH1_bcg_rep.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_bcg_rep.png',sizingMethod='crop');
}
.cwpH1 .cwpH1border-bg-nw { top: -4px; left: -4px; width: 4px; height: 4px; *top: -3px;
background: transparent url('../_inc/images/design/cwpH1_nw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/cyber/_inc/images/design/cwpH1_nw.png',sizingMethod='crop');
}


/*   Paging   */

.pagesortW {width:100%;}
.pagesort {text-align:center; padding:20px 0px 20px 0px;}
a.pagesort_bw, a.pagesort_fwd, a.pagesort_fbw, a.pagesort_ffwd {
outline:none; width:33px; cursor:pointer; height:33px; display:inline-block; margin:0px 0px 0px 0px; line-height:33px; font-size:12px; text-decoration:none; color:#666; text-align:center;}
a.pagesort_bw, a.pagesort_fwd, a.pagesort_fbw, a.pagesort_ffwd {
background:url(../_inc/images/design/paging.png) no-repeat;
_background:url(../_inc/images/design/paging.gif) no-repeat;
}
a.pagenum {outline:none; width:33px; cursor:pointer; height:33px; line-height:33px; display:inline-block; margin:0px 0px 0px 0px; text-decoration:none; color:#666; font-size:12px; text-align:center;
background:url(../_inc/images/design/paging.png) no-repeat;
_background:url(../_inc/images/design/paging.gif) no-repeat;
}
a.pagesort_bw:hover, a.pagesort_fwd:hover, a.pagesort_fbw:hover, a.pagesort_ffwd:hover,
a.pagenum:hover, a.pagenum.pagesel {
text-decoration:none; color:#FFF;
background-position: 0 -33px;
text-decoration:none;
}


/*     Contact Form     */

.CoFoW {padding: 5px 0px 0px 0px;}
.CoFoExtW {padding-bottom:20px;}
.CoFo {font-size:13px;}

.TCoFo_h2 {}

table.TCoFo {text-align:left; font-size:13px;}
table.TCoFo input, table.TCoFo textarea, table.TCoFo select {margin:0px 0px 0px 0px; width:180px; color:#333; padding:6px 4px 6px 4px; padding:5px 4px 5px 4px\9; *padding:5px 4px 5px 4px;
font-size:11px !important;
background:#F0F0F0;
border:1px solid #D6D6D6;
}
table.TCoFo select {width:190px;}
table.TCoFo select:hover {cursor:pointer;}

table.TCoFo textarea {overflow-x:hidden;}
table.TCoFo td {padding:2px 5px 1px 0px;}
table.TCoFo td.L {text-align:left; padding-right:10px; white-space:nowrap; color:#666; font-size:13px;}
table.TCoFo td.RB {padding-top:10px; padding-bottom:12px;}
table.TCoFo td.RB a {color:#41312B; text-decoration:none; outline:none; background:url(../_inc/images/design/send.jpg) no-repeat left top;
line-height:30px;
min-height:30px;
height:auto !important;
height:30px; 
width:192px;
display:block;
text-align:center;
font-size:15px;
}
table.TCoFo td.RB a:hover {color:#FFF; text-decoration:none; background-position: left bottom;}

input.error, textarea.error, select.error {
background:#F8DBDB !important;
border:1px solid #E77776 !important;
}


/*     NEWS new     */

.artListL {width:32%; float:left;}
.artListLI {padding: 5px 0px 0px 0px;}
.artListR {width:65%; float: right; display:inline;}
.artListRI {padding: 5px 0px 0px 0px;}

.artDetailL {width:32%; float:left;}
.artDetailLI {padding: 5px 0px 0px 0px;}
.artDetailR {width:65%; float: right; display:inline;}
.artDetailRI {padding: 5px 0px 0px 0px;}

.artListLI h2.articleH2, .artDetailLI h2.articleH2 {padding: 5px 0px 5px 0px; font-size: 13px; line-height:140%;}
.artListLI h2.articleH2 a, .artDetailLI h2.articleH2 a {text-decoration:none;}
.artListLI h2.articleH2 a:hover, .artDetailLI h2.articleH2 a:hover, .artListLI .sel h2.articleH2 a, .artDetailLI .sel h2.articleH2 a {text-decoration:underline;}

.artListLI a.art_more, .artDetailLI a.art_more {display:none;}
.artListLI p, .artDetailLI p {padding-bottom:20px;}
.artListLI .artBox, .artDetailLI .artBox {padding-bottom:0px;}

.artListRI .art_more {display:block; margin-bottom:20px;}


/*    Article detail    */

.articleOutWW {padding:0px 5px 0px 5px;}
.articleOutW {padding:0px 12px 0px 12px;}
.art_padding_top {padding-top:0px;}
.articleOutW .art_padding, .articleOutW .cwp {padding-left:0px; padding-right:0px;}
 {padding-left:0px; padding-right:0px;}

.artDetail_additional_cwp div.cwpborder-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; visibility:hidden; display:none;}
.artDetail_additional_cwp .cwp_cusW {position:relative; background: none; margin:0px 0px 0px 0px; padding-top:0px;}

.artDetail_additional_cwp .cwp .conBody, .artDetail_additional_cwp .cwp .contMap, .artDetail_additional_cwp .cwp .contContact, .artDetail_additional_cwp .cwp .divArchive, .artDetail_additional_cwp .cwp .contPoll
{padding-left:0px; padding-right:0px;} 


/*    Poll list    */

.pollListWW {padding:0px 5px 0px 5px;}
.pollListW {padding:0px 12px 0px 12px;}


/*    TEMPLATE OVERRIDES    */

a.btsettStatusHelp img {border: none;}

.cwp .contArticles {padding:0px 5px 0px 5px;} 
.cwp .conBody {padding:5px 12px 0px 12px;} 
.cwp .contMap {padding:5px 12px 10px 12px;}
.cwp .cPollItem {padding:0px 5px 0px 5px;}
.cwp .contContact {padding:5px 12px 0px 12px;}
.cwp .divArchive {padding:5px 12px 10px 12px;} 
.cwp .contPoll .divArchive {padding:7px 5px 0px 5px;}
.cwp .contGal {padding:0px 8px 10px 8px; _padding:0px 7px 10px 7px !important;}
.cwp .cArtList {padding:0px 12px 0px 12px;}
.contPoll {margin:5px 12px 10px 12px;}

.artBox {padding-bottom: 10px;}

.artBox_date {font-size:12px; display:block; color:#999; padding-bottom:3px;}

.conBody ul, .artListRI ul, .artDetailRI ul {padding:0px 0px 20px 0px; line-height:150%; margin-left:15px; list-style-position:outside;}
.conBody ul li, .artListRI ul li, .artDetailRI ul li {padding:0px 0px 0px 0px;}

.ArtDetailwthImg .contGal {padding:0px 1px;}
.ArtDetailwthImg .contGal .divGalImgThumb {margin:0px 0px 5px 0px !important;}


/*    IE6 OVERRIDES    */

.main div.cwpborder-bg {_display:none;}
.main .cwp_cusW {_margin:0px 0px 0px 0px;}
.main .cwp {_background:#FFF; _margin:0px 5px 12px 5px; _border:1px solid #CCC; }

.cwpH1 .cwpH1border-bg {_display:none;}
.cwpH1 {_margin:-1px -4px 10px -4px;}
.cwpH1 h5 {_padding:4px 14px 6px 14px;}

.home .motivMIL div.cwpborder-bg {_display:none;}
.home .motivMIL .cwp_cusW {_margin:0px 0px 0px 0px;}

.homeM .cwp, .home .motivMIL .cwp {_background:none; _margin:0px 0px 0px 0px; _padding:0px; _border:none; }
/*.main .cwp {_background:#FFF; _margin:0px 5px 12px 5px; _border:1px solid #CCC; }*/

.homeTR div.cwpborder-bg, .homeTL div.cwpborder-bg {_display:none;}
.homeTR .cwp_cusW {_margin:0px 0px 0px 0px; _border:1px solid #CCC; _padding:2px 5px 0px 5px;}

.homeTL .cwp {_background:#FFF; _margin:0px 5px 12px 5px; _border:1px solid #CCC; }

.homeTL .cwp_cusW {_margin:0px 0px 0px 0px; _padding:0px 0px 0px 0px;}
.homeTL .cwpH1 {_margin:-1px -4px 10px -4px;}

.homeMI {_padding-left:12px; _padding-right:12px; padding-bottom:5px;}