﻿* {margin:0; padding:0;}
html, body {margin:0; padding:0; text-align:left;}
body {font-family: Arial; font-size:13px; color:#333;}
body.edit {/*background:#EAEAEA url(../_inc/images/design/bcg_m.jpg) repeat fixed center 144px;*/}
body.edit_sett {/*background:#EAEAEA url(../_inc/images/design/bcg_m.jpg) repeat fixed center 187px;*/}

html{overflow-y:scroll;}
h1, h2, h3, h4, h5 {font-family:Tahoma; font-weight:normal; line-height:120%;}

h1, .cwp_zone.h1 {font-size:40px; padding:0px 0px 0px 0px; color:#000;}
h2, .cwp_zone.h2 {font-size:16px; padding:5px 0px 10px 0px; color:#666;}
h3, .cwp_zone.h3 {font-size:13px; padding:5px 0px 10px 0px; color:#666;}
h4, .cwp_zone.h4 {font-size:15px; padding:0px 0px 10px 0px; color:#666;}
h5, .cwp_zone.h5 {font-size:15px; padding:5px 0px 5px 0px; color:#999;}

h1.test4 {font-weight:bold;}
strong, b {font-weight: bold;}

p, .cwp_zone.p {font-size:15px; color:#000; padding:30px 0px 0px 0px; line-height:147%;}

.cwp {padding:0px 0px 10px 0px; margin-bottom:0px;}
.cwp .conBody {padding:0px;}

.mainW a {color:#009EDF; text-decoration:underline; outline:none;}
.mainW a:hover {color:#009EDF; text-decoration:none;}

.main {/*width:960px; margin-left:auto; margin-right:auto;*/}

.lunaW {color:#666; font-size:11px; position:fixed; _position:absolute; bottom:0px; right:0px; z-index:100; display:block; width:312px; height:27px; /*line-height:27px;*/ text-align:right; 
        background:url(../_inc/images/design/menu_hover.png) repeat-x; _background:url(../_inc/images/design/menu_hover.gif) repeat-x;}
.lunaW span {display:inline-block; /*height:27px; line-height:27px;*/ _padding-top:-5px;}
a.luna {display:inline-block; margin:0px 5px 0px 7px; /*height:27px; line-height:27px;*/ /*width:81px; line-height:27px;*/ height:18px; font-size:0px;
        /*background:url(../_inc/images/design/luna_tbwa.png) no-repeat left 6px; _background:url(../_inc/images/design/luna_tbwa.gif) no-repeat left 6px;*/
        }
a.luna img {border:none; /*vertical-align:middle;*/ margin-top:5px;}

.subpageW { min-height:1279px; height:auto !important; height:1279px; position:relative; background:url(../_inc/images/design/redline.jpg) repeat-x left top;  /*max-width:1487px; margin-left:auto; margin-right:auto;*/}
/*.subpage_bcg {background:url(../_inc/images/design/temp/bcg_brezalkoholno_pivo_off.jpg) no-repeat left top; max-width:1487px; min-height:1279px; height:auto !important; height:1279px;}
.subpage {max-width:1487px; position:relative; min-height:1279px; height:auto !important; height:1279px;
background:url(../_inc/images/design/temp/grid_particle.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/temp/grid_particle.png',sizingMethod='scale');
}*/
.subpageI {width:728px; min-height:1279px; height:auto !important; height:1279px; position:absolute; left:188px; top:0px; z-index:30;
background:url(../_inc/images/design/bcg.png) no-repeat left top;
_background:none;
_background:url(../_inc/images/design/bcg_1x1.gif) repeat;
/*_background:url(../_inc/images/design/bcg_ie6_rep.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/bcg_ie6_rep.png',sizingMethod='scale');*/
}
.subpage_contentW {position:relative; _position:static; z-index:50; /*width:460px; left:0px; top:130px;*/}
.subpage_headerW {display:block; width:100%;}
.navigationW {float:left; width:658px;}
.navigation {height:51px; padding:2px 0px 0px 47px; /*overflow:hidden;*/}
.languageW {float:right; width:66px; display:inline;}
.language {padding:18px 0px 0px 0px;}
.language a {font-family:Arial; font-size:12px; color:#656565; text-decoration:none;}
.language a:hover {color:#C9172B;}
.language a.sel {color:#C9172B;}
.cPlusOne {position:absolute; right:42px; top:60px;}

.subpage_textW {min-height:450px; height:auto !important; height:450px;
background:url(../_inc/images/design/horizontal_lines_content.png) no-repeat 82px 430px; _background:url(../_inc/images/design/horizontal_lines_content.gif) no-repeat 82px 430px;}
.subpage_text {padding:115px 108px 0px 82px;}

.subpage_shapesW {padding:0px 108px 0px 82px;}
.subpage_shapes {}
/*.subpage_shapesAbs {position:absolute; left:25px; top:15px; z-index:1000500;}*/
.subpage_shapes_title {font-size:15px; color:#666;}
.subpage_shapes_subtitle {font-size:18px; color:#000;}
.subpage_shapes_navbottles {padding:10px 0px 0px 0px;}
.subpage_shapes_navbottles a {margin-right:3px;}
.subpage_shapes_navbottles img {border:none; /*_z-index:100000 !important; _background:url(../_inc/images/design/1px.gif) repeat; _position:relative;*/ /* to do IE6 */}

/*.subpage_shapesL {float:left; width:55px;}
.subpage_shapesR {float:left; width:155px;}

.subpage_shapes a {display:inline-block;}*/

.logoW {position:absolute; left:0px; top:0px; z-index:40; width:234px; height:175px; background:#F00;}
.logoW img {border:none;}

a.bt_game {position:absolute; left:8px; top:190px; z-index:40; width:143px; height:34px; display:block; /*text-indent:-9999px;*/ 
background: url(../_inc/images/design/nagradna_igra_gumb.png) no-repeat left top;
_background: url(../_inc/images/design/nagradna_igra_gumb.gif) no-repeat left top;
}
a.bt_game:hover {cursor:pointer; background-position:left bottom;}


/*.subpage_btnNext {position:absolute; right:10px; top:70px; z-index:10; width:200px; height:800px; background:#CCC;}*/
.subpage_bottleW {position:absolute; /*left:-131px;*/ right:639px; bottom:182px; z-index:40; text-align:right; vertical-align:bottom;}
.subpage_bottleW div {/*text-align:right; vertical-align:text-bottom;*/ width:266px; height:700px; position:relative;}
.subpage_bottleW img {position:absolute; bottom:0; right:0; _background:url(../_inc/images/design/1px.gif) repeat;}




.subpage_bottle_text {position:absolute; left:104px; bottom:188px; z-index:40; height:100px; font-size:11px; color:#000;}
.subpage_bottle_trans_bcg {position:absolute; left:-188px; bottom:200px; z-index:35; height:540px; width:529px;
background:url(../_inc/images/design/bottle_bcg.png) no-repeat left top;
_background:none;
/*_background:url(../_inc/images/design/bcg_1x1.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/bcg_1x1.png',sizingMethod='scale');
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/bottle_bcg.png',sizingMethod='crop');*/
}

.subpage_footerW {}
.subpage_footer {padding:10px 0px 10px 310px; line-height:140%; /*position:absolute; left:80px; top:1040px; z-index:40; width:540px;*/}


/*    Home - landing    */

.home_motivW {padding:122px 0px 0px 82px;}
.home_motiv {line-height:0px; font-size:0px;}


.home_rewardsW {padding:30px 108px 0px 82px; display:block;}
.home_rewards {overflow: hidden; display: inline-block; padding:0px;}
.home_rewards {display: block;}
.home_rewards_item {float:left; padding:0px 23px 0px 0px; font-size:16px; color:#000; display:inline;}


.home_btnW {padding:30px 108px 0px 82px;}
.home_btn {background:url(../_inc/images/design/button_zbiraj_horizontal_2lines.png) no-repeat 0px 32px; _background:url(../_inc/images/design/button_zbiraj_horizontal_2lines.gif) no-repeat 0px 32px;}

a.home_bt_collect {width:249px; height:67px; display:block; /*text-indent:-9999px;*/ margin:0px auto 0px auto;
background: url(../_inc/images/design/button_nagrajenci.png) no-repeat left top;
_background: url(../_inc/images/design/button_nagrajenci.gif) no-repeat left top;
}
a.home_bt_collect:hover {cursor:pointer; background-position:left bottom;}

.homeMW {padding:30px 108px 0px 82px;}
.homeM {overflow: hidden; display: inline-block; padding:0px 0px 0px 0px;}
.homeM {display: block;}

.homeML {float:left; font-size:14px; color:#666; padding:0px 6px 0px 0px; border-right:1px solid #E6E6E6;}
/*.homeMM {float:left; font-size:14px; color:#666; padding:0px 0px 0px 6px; border-left:1px solid #E6E6E6; border-right:1px solid #E6E6E6;}*/
.homeMR {float:left; font-size:14px; color:#666; padding:0px 0px 0px 6px;}

.homeM_boxW {width:262px;}
.homeM_boxT {height:4px; font-size:0px; line-height:0px;
background: url(../_inc/images/design/bcg_box_top.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/bcg_box_top.png',sizingMethod='crop'); 
}
.homeM_boxB {height:4px; font-size:0px; line-height:0px;
background: url(../_inc/images/design/bcg_box_bottom.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/bcg_box_bottom.png',sizingMethod='crop'); 
}
.homeM_boxM {_width:262px; display:block;
background:url(../_inc/images/design/bcg_box_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/union/_inc/images/design/bcg_box_mid.png',sizingMethod='scale');
}
.homeM_boxMI {padding:3px 11px 5px 11px; min-height:130px; height:auto !important; height:130px;}
.homeM_boxMI h2 {color:#000;}
.homeM_boxMI h3 {color:#000; padding:0px 0px 10px 0px; font-size:14px;}

a.home_bt_youtube {width:117px; height:36px; display:block; /*text-indent:-9999px;*/ margin-top:10px;
background: url(../_inc/images/design/youtube_obiscinas.png) no-repeat left top;
_background: url(../_inc/images/design/youtube_obiscinas.gif) no-repeat left top;
}
a.home_bt_youtube:hover {cursor:pointer; background-position:left bottom;}


/*    Terms    */

.terms_pic18W {padding:0px 108px 0px 82px; height:122px;}
.terms_pic18 {line-height:0px; font-size:0px; text-align:center; padding:15px 0px 0px 0px;}

.terms_questionW {padding:0px 108px 0px 82px; text-align:center; font-size:25px; color:#000;}

.terms_btnW {padding:26px 108px 0px 82px;}
.terms_btn {padding-bottom:20px; padding-left:215px; /*text-align:center;*/ background:url(../_inc/images/design/horizontal_lines_content.png) no-repeat 0px bottom; _background:url(../_inc/images/design/horizontal_lines_content.gif) no-repeat 0px bottom;}

a.terms_bt_yes, a.terms_bt_yes_eng {width:52px; height:38px; display:inline-block; /*text-indent:-9999px;*/}
a.terms_bt_no, a.terms_bt_no_eng {width:44px; height:38px; display:inline-block; /*text-indent:-9999px;*/  margin-right:12px;}
a.terms_bt_yes {background: url(../_inc/images/design/button_18_da.png) no-repeat left top; _background: url(../_inc/images/design/button_18_da.gif) no-repeat left top;}
a.terms_bt_no {background: url(../_inc/images/design/button_18_ne.png) no-repeat left top; _background: url(../_inc/images/design/button_18_ne.gif) no-repeat left top;}
a.terms_bt_yes_eng {background: url(../_inc/images/design/button_18_yes.png) no-repeat left top; background: url(../_inc/images/design/button_18_yes.gif) no-repeat left top;}
a.terms_bt_no_eng {background: url(../_inc/images/design/button_18_no.png) no-repeat left top; _background: url(../_inc/images/design/button_18_no.gif) no-repeat left top;}
a.terms_bt_yes:hover, a.terms_bt_no:hover, a.terms_bt_yes_eng:hover, a.terms_bt_no_eng:hover {cursor:pointer; background-position:left bottom;}

.terms_noticeW {padding:10px 108px 10px 82px; font-family:Arial; font-size:11px; color:#666;}



/*   Menu   */

.navigation ul.AspNet-Menu {font-family:"Arial Narrow"; font-size:14; text-align:center;}
.navigation ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.navigation ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.navigation ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.navigation li {margin-right:0px;}
.navigation li.mmLast {margin-right:0px;}
.navigation li:hover, /* list items being hovered over */
.navigation li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.navigation a {outline:none; font-size:14px; padding-left:0px; display:block; float:left; height:51px; line-height:51px;}
.navigation span {color:#000; font-size:14px; padding:0px 9px 0px 9px; _padding:0px 2px 0px 2px; float:left; display:block; height:51px; line-height:51px;
}
.en-us .navigation span {padding:0px 8px 0px 8px; _padding:0px 2px 0px 2px;}

.navigation li.AspNet-Menu-Leaf a,
.navigation li.AspNet-Menu-Leaf span
{/*background-image: none !important;*/}

.navigation li:hover a, /* hovered text */
.navigation li.AspNet-Menu-Hover a
{background:url(../_inc/images/design/menu_hover.png) repeat-x; _background:url(../_inc/images/design/menu_hover.gif) repeat-x;}

.navigation li:hover span,
.navigation li.AspNet-Menu-Hover span
.navigation li:hover li span,
.navigation li.AspNet-Menu-Hover li span,
.navigation li:hover li li span,
.navigation li.AspNet-Menu-Hover li li span,
.navigation li a:hover span
{color: #000; cursor:pointer; background:url(../_inc/images/design/menu_hover_redcircle.png) no-repeat center top; _background:url(../_inc/images/design/menu_hover_redcircle.gif) no-repeat center top;}


.navigation .AspNet-Menu-Leaf {}
.navigation .AspNet-Menu-Selected {}
.navigation a.AspNet-Menu-Selected, .navigation a.AspNet-Menu-Selected:hover
{background:url(../_inc/images/design/menu_hover.png) repeat-x; _background:url(../_inc/images/design/menu_hover.png) repeat-x;}

.navigation a.AspNet-Menu-Selected span, .navigation a.AspNet-Menu-Selected:hover span 
{color: #000; cursor:pointer;  background:url(../_inc/images/design/menu_hover_redcircle.png) no-repeat center top; _background:url(../_inc/images/design/menu_hover_redcircle.gif) no-repeat center top;}

.navigation a.AspNet-Menu-ChildSelected 
{background:url(../_inc/images/design/menu_hover.png) repeat-x; _background:url(../_inc/images/design/menu_hover.png) repeat-x;}

.navigation a.AspNet-Menu-ChildSelected span, .navigation a.AspNet-Menu-ChildSelected:hover span 
{color: #000; cursor:pointer; background:url(../_inc/images/design/menu_hover_redcircle.png) no-repeat center top; _background:url(../_inc/images/design/menu_hover_redcircle.gif) no-repeat center top;}

.navigation .AspNet-Menu-ParentSelected {}
/*
.navigation a.AspNet-Menu-Selected:hover li a {background-position:10px 105px;}
.navigation a.AspNet-Menu-Selected:hover li a span {color: #FFF;}
*/
.navigation li li a.AspNet-Menu-Selected {color:#FF0000;}
.navigation li li a.AspNet-Menu-Selected span {color:#FF0000;}
.navigation li li a.AspNet-Menu-ChildSelected  {color:#FF0000;}
.navigation li li a.AspNet-Menu-ChildSelected span {color:#FF0000;}
.navigation .AspNet-Menu-ParentSelected {}


.clearing {clear:both; height:0px; width:0px; margin:0pt !important; padding:0pt !important; font-size:0px; visibility: hidden; line-height:0px !important;}

.wizz_main_steps {background:url(../_inc/images/design/bcg_1x1.gif) repeat;}
