﻿* {margin:0; padding:0;}
html, body {margin:0; padding:0; text-align:left;}
body {font-family:Georgia; font-size:13px; color:#333; background:#EAEAEA url(../_inc/images/design/bcg_m.jpg) repeat fixed center top;}
body.edit {background:#EAEAEA url(../_inc/images/design/bcg_m.jpg) repeat fixed center 144px; }
body.edit_sett {background:#EAEAEA url(../_inc/images/design/bcg_m.jpg) repeat fixed center 187px; }

html{overflow-y:scroll;}
h1, h2, h3, h4, h5 {font-family:Georgia; font-weight:normal; line-height:120%;}

h1, .cwp_zone.h1 {font-size:20px; padding:5px 0px 10px 0px; color:#0084D7;}
h2, .cwp_zone.h2 {font-size:16px; padding:5px 0px 10px 0px; color:#009EDF;}
h3, .cwp_zone.h3 {font-size:13px; padding:5px 0px 10px 0px; color:#009EDF;}
h4, .cwp_zone.h4 {font-size:13px; padding:5px 0px 5px 0px; color:#66CC00;}
h5, .cwp_zone.h5 {font-size:15px; padding:5px 0px 5px 0px; color:#999;}

p, .cwp_zone.p {font-size:13px; color:#333; padding:0px 0px 20px 0px; line-height:150%;}

.cwp {padding:0px 0px 10px 0px; margin-bottom:0px;}

.mainW a {color:#009EDF; text-decoration:underline; outline:none;}
.mainW a:hover {color:#009EDF; text-decoration:none;}

.main .cwp_cusW {padding:3px; border:1px solid #CCC;
background:url(../_inc/images/design/content_bcg_2x2.png) repeat;
_background:url(../_inc/images/design/content_bcg_1x1_t.gif) repeat;
}


.headerW {min-height:230px; height:auto !important; height:230px; width:100%;}
.header {width:960px; margin-left:auto; margin-right:auto;}

.headerW a {outline:none;}
.headerL {width:834px; float:left;}
.headerL img {border:none;}

.headerLI {overflow: hidden; display: inline-block;}
.headerLI {display: block;}

.headerLLogo {float:left; padding:20px 20px 0px 0px; /*min-height:115px; height:auto !important; height:115px;*/}
.headerLNav {float:left; padding:11px 0px 0px 0px; /*min-height:115px; height:auto !important; height:115px;*/}

.headerR{width:125px; float: right; display:inline; }
/*.headerRI {float:right; min-height:63px; height:auto !important; height:63px;}
.headerRII {float:right; padding-top:9px;}*/

.headerR img {border:none;}

.headerRT {min-height:58px; height:auto !important; height:58px;}
.cLang {padding:14px 20px 0px 0px;}
.cLang a {outline:none; color:#D91D1D; font-size:13px; text-decoration:none; float:right; text-align:right;}
/*.cLang a.lang-sl-si {background:url(../_inc/images/design/flag_si.jpg) no-repeat right 5px;}
.cLang a.lang-en-us {background:url(../_inc/images/design/flag_en.jpg) no-repeat right 5px;}*/
.cLang a:hover {color:#D91D1D; text-decoration:underline;}
.cLang a.sel {color:#D91D1D;}
.cLang a.sel:hover {}



.searchW {width:100%; padding:15px 0px 0px 0px;}
.search {min-height:46px; height:auto !important; height:46px; width:954px; margin-left:auto; margin-right:auto;
background:url(../_inc/images/design/search_bcg_blue.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/zic/_inc/images/design/search_bcg_blue.png',sizingMethod='crop');
}

.searchL {width:690px; float:left;}
.searchLI {padding:0px 36px 0px 36px;}

.searchR {width:260px; float: right; display:inline; }
.searchRI {padding-top:11px;}

.searchL_rollingtext {font-size:15px; color:#FFF; line-height:43px; white-space:nowrap; overflow:hidden;}

input.search_tbx {height:21px; line-height:21px; width:160px; padding:0px 7px 0px 7px; display:inline-block; margin:0px 2px 0px 0px; vertical-align:bottom;}
a.search_btn {height:23px; width:67px; display:inline-block; background:#333; font-size:12px; font-family:"Trebuchet MS"; color:#FFF; text-align:center; line-height:23px; text-decoration:none;}
a.search_btn:hover {background:#0073B7;}




.mainW {min-height:251px; height:auto !important; height:251px; width:948px; margin-left:auto; margin-right:auto;}
.main {padding:20px 0px 0px 0px;}

/*               CONTENT LEFT MENU                   */

.mainLNav {float:left; width:220px; padding-bottom:10px;}
.mainRCont {float: right; display:inline; width:716px;}

/*.mainLNavT {min-height:15px; height:auto !important; height:15px; line-height:0px; font-size:0px; background:url(../_inc/images/design/podmenu_blue_top.jpg) no-repeat;}*/
.mainLNavM {display: block; _width: 220px; 
border:1px solid #CCC;
background:url(../_inc/images/design/menuleft_bcg_2x2.png) repeat;
_background:url(../_inc/images/design/menuleft_bcg_1x1.gif) repeat;
}
.mainLNavMI {padding:5px 0px 5px 0px;}
/*.mainLNavB {min-height:35px; height:auto !important; height:35px; line-height:0px; font-size:0px; background:url(../_inc/images/design/podmenu_blue_bottom.jpg) no-repeat;}*/

.mainRContM {}
.mainRContMI {padding:0px 0px 0px px; min-height:260px; height:auto !important; height:260px;}

.mainRCont img {border:none;}

.mainRCont_wide {width:100%;}
.mainRCont_wide .mainRContM {}



/*               SIDEBAR RIGHT                   */

.pmodSidebarL {width:446px; float:left;}
.pmodSidebarR {width:260px; float: right; display:inline; }
.pmodSidebarL_wide {width:676px;}

.pmodSidebarR .calSideBar {margin-left:auto; margin-right:auto; width:230px;}
.pmodSidebarR .sidebarR_calW .cwpH1 h1, .pmodSidebarR .sidebarR_guideW .cwpH1 h1 {text-align:center;}

.pmodSidebarR .sidebarR_calW {}
.pmodSidebarR .sidebarR_guideW {padding-top:12px;}
.pmodSidebarR .sidebarR_newsletterW {padding-top:12px;}

.sidebarR_guideW a.guidePagingPrev, .sidebarR_guideW a.guidePagingNext {position:absolute; width:20px; min-height:20px; height:auto !important; height:20px;}
.sidebarR_guideW a.guidePagingPrev {margin-left:7px; margin-top:8px;
background: url(../_inc/images/design/car_arrow_left_s.png) no-repeat center top;
_background: url(../_inc/images/design/car_arrow_left_s.gif) no-repeat center top;
}
.sidebarR_guideW a.guidePagingNext {margin-left:225px; margin-top:8px;
background: url(../_inc/images/design/car_arrow_right_s.png) no-repeat center top;
_background: url(../_inc/images/design/car_arrow_right_s.gif) no-repeat center top;
}
.sidebarR_guideW a.guidePagingPrev:hover, .sidebarR_guideW a.guidePagingNext:hover {background-position:center bottom; cursor:pointer;}



/*     Newsletter subscribe     */

.pmodSidebarR .nlSub_h2 {border:none; background:#AE0000; margin:0px; padding:0px;}
.pmodSidebarR .nlSub_h2 h2 {padding:8px 10px 8px 10px; color:#FFF; border:none; margin:0px; margin-bottom:10px; font-size:16px; font-weight:normal; line-height:120%; text-align:center;}
.pmodSidebarR .nlSubTblW {padding: 0px 0px 3px 10px;}
.pmodSidebarR table.TnlSub {text-align:left; font-size:12px;}
.pmodSidebarR table.TnlSub input {
margin:0px 0px 0px 0px;
width:130px;
color:#333;
font-family:Tahoma !important;
padding:4px 4px 4px 4px;
padding:3px 4px 3px 4px\9;
*padding:3px 4px 3px 4px;
font-size:11px !important;
}
.pmodSidebarR table.TnlSub td {padding:3px 2px 3px 3px;}
.pmodSidebarR table.TnlSub td.L {text-align:left; padding-right:10px; white-space:nowrap;}
.pmodSidebarR table.TnlSub td.RB {padding-top:10px;}
.pmodSidebarR table.TnlSub td.RB a {text-decoration:underline; outline:none;}
.pmodSidebarR table.TnlSub td.RB a:hover {text-decoration:none;}

.pmodSidebarR table.TnlSub td.RB a.nlSub_btn_unsub {height:24px; width:67px; display:inline-block; background:#D6D6D6; font-size:12px; font-family:"Trebuchet MS"; color:#666; text-align:center; line-height:24px; text-decoration:none;}
.pmodSidebarR table.TnlSub td.RB a.nlSub_btn_sub {height:24px; width:137px; display:inline-block; background:#666; font-size:12px; font-family:"Trebuchet MS"; color:#FFF; text-align:center; line-height:24px; text-decoration:none;}

.pmodSidebarR table.TnlSub td.RB a.nlSub_btn_unsub:hover {background:#666; color:#FFF;}
.pmodSidebarR table.TnlSub td.RB a.nlSub_btn_sub:hover {background:#0073B7;}




.iconsW {min-height:46px; height:auto !important; height:46px; width:954px; margin-left:auto; margin-right:auto;
background:url(../_inc/images/design/icon_bcg.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/zic/_inc/images/design/icon_bcg.png',sizingMethod='crop');
}
.icons {text-align:right; padding:11px 5px 0px 0px;}

.icons a {text-decoration:none; outline:none; width:23px; cursor:pointer; min-height:24px; height:auto !important; height:24px; display:inline-block; margin:0px 9px 0px 0px;}
.icons a.icon_mail {background:url(../_inc/images/design/icon_mail.png) no-repeat left 1px;}
.icons a.icon_in {background:url(../_inc/images/design/icon_in.png) no-repeat left 1px;}
.icons a.icon_tw {background:url(../_inc/images/design/icon_tw.png) no-repeat left 1px;}
.icons a.icon_fb {background:url(../_inc/images/design/icon_fb.png) no-repeat left 1px;}

.icons a:hover {background-position:left 0px;}


.footerW {min-height:160px; height:auto !important; height:160px; width:954px; margin-left:auto; margin-right:auto;}
.footer {padding:11px 0px 0px 0px;}
.footer img {border:none;}
.footerI {}
.footerL, .footerR {float:left;}
.footerL {width:80%;}
.footerR {width:15%;}

.footerLI {overflow: hidden; display: inline-block; padding-left:18px;}
.footerLI {display: block;}

.footerLL {float:left; font-size:13px; color:#333; padding-right:15px; line-height:160%;}
.footerLR {float:left; font-size:11px; color:#999;}

.footerLL a {font-size:13px; color:#333; text-decoration:none;}
.footerLL a:hover {text-decoration:underline;}


.footerRI {overflow: hidden; display: inline-block; padding-left:20px;}
.footerRI {display: block;}




/*   Shows   */
table.races_table {width:99.9%; font-size:12px; table-layout:fixed;}
table.races_table td {padding:6px 3px 0px 3px; /*font-family:Tahoma;*/ vertical-align:top; /*cursor:pointer;*/ }
table.races_table td.racesTdDateFrom {}
table.races_table td.racesTdDateTo {padding-right:30px;}
table.races_table td.racesTdRace {padding-right:10px;}
table.races_table td.racesTdCountry {}
table.races_table td.racesTdCat {}

table.races_table th {padding:2px 3px 4px 3px; border-bottom:1px solid #999; color:#333; font-size:12px; font-weight:normal; text-align:left;}

table.races_table .racesCoDateFrom {width:72px;}
table.races_table .racesCoDateTo {width:86px;}
table.races_table .racesCoRace {}
table.races_table .racesCoCountry {width:114px;}
table.races_table .racesCoCat {width:74px;}


/*      HOME      */

.homeW .pmodSidebarL {width:676px; float:left;}
.homeW .pmodSidebarL .sidebarL_TW  {padding-bottom:12px;}

.topDataL {width:210px; float:left;}
.topDataR {width:450px; float: right; display:inline; height:300px;}
.topDataL_title {padding:20px 5px 12px 20px; line-height:140%;}
.topDataL_title a {font-size:15px; color:#007EB2; text-decoration:none;}
.topDataL_title a:hover {text-decoration:underline;}
.topDataL_text {padding:0px 5px 0px 20px; line-height:150%;}



.topDataR a.AartBox_img img {padding:0px; margin:0px 0px 0px 0px; /*float:left;*/ display:block; border:none !important;}
.topDataR a.AartBox_img:hover img {border:none !important;}

a.topPagingPrev, a.topPagingNext {position:absolute; width:33px; min-height:74px; height:auto !important; height:74px;}
a.topPagingPrev {margin-left:0px; margin-top:112px;
background: url(../_inc/images/design/car_arrow_left.png) no-repeat center top;
_background: url(../_inc/images/design/car_arrow_left.gif) no-repeat center top;
}
a.topPagingNext {margin-left:417px; margin-top:112px;
background: url(../_inc/images/design/car_arrow_right.png) no-repeat center top;
_background: url(../_inc/images/design/car_arrow_right.gif) no-repeat center top;
}
a.topPagingPrev:hover, a.topPagingNext:hover {background-position:center bottom; cursor:pointer;}





a.AartTitle {font-size:16px; color:#009EDF; text-decoration:none; line-height:140%; display:block; padding-bottom:5px;}
a.AartTitle:hover {font-size:16px; text-decoration:underline;}
a.AartCategory {font-size:11px; color:#000; text-decoration:none; line-height:140%; display:block;}
a.AartCategory:hover {font-size:11px; text-decoration:underline;}


span.SartDate {display:block; color:#666; font-size:12px; padding-bottom:3px;}

.artListSimpleW {padding:10px 12px 0px 12px;}
.artListSimple p {padding:0px 0px 20px 0px;}
span.homeNews_sepa {display:block; min-height:0px; height:auto !important; height:0px; line-height:0px; font-size:0px; border-bottom:1px solid #CCC; margin:10px 0px 10px 0px;}

.artSporedW {padding:6px 12px 0px 12px;}



/*    MENU    */
/*    Menu MAIN      */
.mZICMain ul.AspNet-Menu {font-family:Georgia; font-size:13px; text-align:left;}
/*.mZICMain ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mZICMain ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}*/
.mZICMain ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mZICMain li {margin-right:5px; /*width:130px;*/} /*change*/


.mZICMain ul.AspNet-Menu {overflow: hidden; display: inline-block;}
.mZICMain ul.AspNet-Menu {display: block;}



.mZICMain li.mmDomov {display:none;}
.mZICMain li.mmDomov {margin-right:0px;}
.mZICMain li.mmDogodki {_width:140px;}
.mZICMain li.mmTic {_width:164px;}
.mZICMain li.mmInfo {_width:147px;}
.mZICMain li.mmOnas {_width:107px;}



.mZICMain li:hover, /* list items being hovered over */
.mZICMain li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mZICMain a {outline:none; font-size:13px; padding-left:0px; display:block; float:left;
width:100%;
}
/*
.mZICMain li.mmIzdelki a {
background:url(../_inc/images/design/menu_blue.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/bonopan/_inc/images/design/menu_blue.png',sizingMethod='crop');
}
.mZICMain li.mmRecepti a {
background:url(../_inc/images/design/menu_orange.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/bonopan/_inc/images/design/menu_orange.png',sizingMethod='crop');
}
.mZICMain li.mmObvestila a {
background:url(../_inc/images/design/menu_green.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/bonopan/_inc/images/design/menu_green.png',sizingMethod='crop');
}
.mZICMain li.mmOpodjetju a {
background:url(../_inc/images/design/menu_red.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/bonopan/_inc/images/design/menu_red.png',sizingMethod='crop');
}
*/

.mZICMain span {color: #009EE0; font-size:13px; padding:6px 10px 6px 10px; float:left; display:block;}
/**/
.mZICMain li.AspNet-Menu-Leaf a,
.mZICMain li.AspNet-Menu-Leaf span
{}

.mZICMain li:hover a,
.mZICMain li.AspNet-Menu-Hover a
{cursor:pointer;}

.mZICMain li:hover span,
.mZICMain li.AspNet-Menu-Hover span
.mZICMain li:hover li span,
.mZICMain li.AspNet-Menu-Hover li span,
.mZICMain li:hover li li span,
.mZICMain li.AspNet-Menu-Hover li li span,
.mZICMain li a:hover span
{/*color: #333;*/ cursor:pointer;}

.mZICMain li:hover li a,
.mZICMain li:hover li span,
.mZICMain li.AspNet-Menu-Hover li a,
.mZICMain li.AspNet-Menu-Hover li span,
.mZICMain li:hover li:hover li a,
.mZICMain li:hover li:hover li span,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{color: #333;}

.mZICMain li:hover li:hover a,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover,
.mZICMain li:hover li:hover a,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover,
.mZICMain li:hover li:hover li:hover a,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover
{background:#333;}

.mZICMain li:hover li:hover a span,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span,
.mZICMain li:hover li:hover a span,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover span,
.mZICMain li:hover li:hover li:hover a:hover span,
.mZICMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span
{color:#FFF;}


.mZICMain ul ul {/*left:0px; top:43px; _top:41px; padding:0px 0px 0px 0px; width:120px; z-index:1000;*/ position:relative; visibility:visible;}

.mZICMain li.mmDogodki ul {_width:140px;}
.mZICMain li.mmTic ul {_width:164px;}
.mZICMain li.mmInfo ul {_width:147px;}
.mZICMain li.mmOnas ul {_width:107px;}


.mZICMain li li {margin-right:0px; margin-bottom:2px; padding:0px 0px 0px 0px; /*width:130px;*/ clear:both; width:100%;} /*change*/

.mZICMain li li:hover,
.mZICMain li li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mZICMain li li a {outline:none; padding:2px 0px 2px 0px; display:block; float:left; min-height: 0px; height:auto !important; height:auto; width:100%;
/*_filter:none;
background:url(../_inc/images/design/1px.gif) transparent no-repeat;
*/
}
/*
.mZICMain li.mmIzdelki li a,
.mZICMain li.mmRecepti li a,
.mZICMain li.mmObvestila li a,
.mZICMain li.mmOpodjetju li a 
{background:url(../_inc/images/design/1px.gif) transparent no-repeat; _filter:none;}
*/

.mZICMain li li span {width:auto; color:#333; padding:0px 10px 0px 10px; background:transparent; float:left; display:block; line-height:150%; font-size:12px; min-height: 0px; height:auto !important; height:auto; text-align:left;}

.mZICMain .AspNet-Menu-Leaf {}
.mZICMain .AspNet-Menu-Selected {}
.mZICMain a.AspNet-Menu-Selected, .mZICMain a.AspNet-Menu-Selected:hover
{}

.mZICMain a.AspNet-Menu-Selected span, .mZICMain a.AspNet-Menu-Selected:hover span 
{color: #009EE0;}

.mZICMain a.AspNet-Menu-ChildSelected 
{}

.mZICMain a.AspNet-Menu-ChildSelected span, .mZICMain a.AspNet-Menu-ChildSelected:hover span 
{color: #009EE0;}

.mZICMain .AspNet-Menu-ParentSelected {}

.mZICMain li li a.AspNet-Menu-Selected {background:#333;}
.mZICMain li li a.AspNet-Menu-Selected span {color:#FFF;}
.mZICMain li li a.AspNet-Menu-ChildSelected  { background:#333;}
.mZICMain li li a.AspNet-Menu-ChildSelected span {color:#FFF;}
.mZICMain .AspNet-Menu-ParentSelected {}


.mZICMain ul li:hover ul,
.mZICMain ul li.AspNet-Menu-Hover ul
{visibility: visible;}

.mZICMain ul li li:hover ul,
.mZICMain ul li li li:hover ul,
.mZICMain ul li li li li:hover ul,
.mZICMain ul li li.AspNet-Menu-Hover ul,
.mZICMain ul li li li.AspNet-Menu-Hover ul,
.mZICMain ul li li li li.AspNet-Menu-Hover ul
{visibility: hidden;}



/*    Menu LEFT      */

.mZICLeft ul.AspNet-Menu {font-family:Georgia; font-size:12px; text-align:left;}
.mZICLeft ul {padding:0; margin:0; float:left !important; width:100%;}
.mZICLeft li {margin-bottom:1px; /*_background:none; width:202px !important; float:left !important; *zoom:1;*/ border-top:1px solid transparent; border-bottom:1px solid transparent; _border:none !important;}


.mZICLeft li:hover,
.mZICLeft li.AspNet-Menu-Hover
{z-index:100; cursor:pointer; border-top:1px solid #CCC; border-bottom:1px solid #CCC; background:#FFF;}

.mZICLeft li a {outline:none; padding:0px 0px 0px 0px; display:block; float:left; width:100%;} 


.mZICLeft li span {color: #333; padding:4px 24px 4px 10px; float:left; display:block; line-height:140%;
background: transparent; _cursor:pointer;
}

.mZICLeft li:hover a,  
.mZICLeft li.AspNet-Menu-Hover a
/*,.mZICLeft li a:hover*/
{}

.mZICLeft li:hover span ,
.mZICLeft li.AspNet-Menu-Hover span
{color: #AE0000; cursor:pointer;}


.mZICLeft ul.AspNet-Menu ul {position: relative; visibility: hidden; display:none; float:none; font-size:12px; font-family:Georgia; padding:2px 0px 5px 0px;}

.mZICLeft ul.AspNet-Menu li ul li {background:none;}

.mZICLeft li.AspNet-Menu-Selected ul, .mZICLeft li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}

.mZICLeft li.AspNet-Menu-Selected ul ul, .mZICLeft li.AspNet-Menu-ChildSelected ul ul
{visibility:hidden; display:none;}

.mZICLeft li li.AspNet-Menu-Selected ul, .mZICLeft li li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}

.mZICLeft li li.AspNet-Menu-Selected ul ul, .mZICLeft li li.AspNet-Menu-ChildSelected ul ul,
.mZICLeft li li.AspNet-Menu-Selected ul ul ul, .mZICLeft li li.AspNet-Menu-ChildSelected ul ul ul,
.mZICLeft li li.AspNet-Menu-Selected ul ul ul ul, .mZICLeft li li.AspNet-Menu-ChildSelected ul ul ul ul
{visibility:hidden; display:none;}

.mZICLeft li li li.AspNet-Menu-Selected ul, .mZICLeft li li li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}

.mZICLeft li li li.AspNet-Menu-Selected ul ul, .mZICLeft li li li.AspNet-Menu-ChildSelected ul ul,
.mZICLeft li li li.AspNet-Menu-Selected ul ul ul, .mZICLeft li li li.AspNet-Menu-ChildSelected ul ul ul,
.mZICLeft li li li.AspNet-Menu-Selected ul ul ul ul, .mZICLeft li li li.AspNet-Menu-ChildSelected ul ul ul ul
{visibility:hidden; display:none;}

.mZICLeft li li li li.AspNet-Menu-Selected ul, .mZICLeft li li li li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}



.mZICLeft ul li ul li {margin-bottom:1px; background:none; width:206px !important; border:1px solid transparent; margin-left:5px;}
.mZICLeft ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px;} 
.mZICLeft ul li ul li span {color: #333; padding:4px 22px 4px 15px; background:none; font-size:12px;}

.mZICLeft li:hover li a,
.mZICLeft li.AspNet-Menu-Hover li a
{background:none;}

.mZICLeft li:hover li span ,
.mZICLeft li.AspNet-Menu-Hover li span
{color: #333;}

.mZICLeft li li:hover span ,
.mZICLeft li li.AspNet-Menu-Hover span
{color:#AE0000;}



.mZICLeft li:hover a ,
.mZICLeft li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 196px 9px;}
.mZICLeft li.AspNet-Menu-WithChildren:hover a ,
.mZICLeft li.AspNet-Menu-WithChildren.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 196px 9px;}

.mZICLeft li:hover li a ,
.mZICLeft li.AspNet-Menu-Hover li a
{background:none; /*border-top:1px solid transparent; border-bottom:1px solid transparent;*/}
.mZICLeft li.AspNet-Menu-WithChildren:hover li a ,
.mZICLeft li.AspNet-Menu-WithChildren.AspNet-Menu-Hover li a
{background:none; /*border-top:1px solid transparent; border-bottom:1px solid transparent;*/}


.mZICLeft li li:hover,
.mZICLeft li li.AspNet-Menu-Hover
{border:1px solid #CCC;}

.mZICLeft li li:hover a ,
.mZICLeft li li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.mZICLeft li.AspNet-Menu-WithChildren li:hover a ,
.mZICLeft li.AspNet-Menu-WithChildren li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.mZICLeft li li.AspNet-Menu-WithChildren:hover a ,
.mZICLeft li li.AspNet-Menu-WithChildren.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 190px 9px;}




.mZICLeft ul.AspNet-Menu ul ul {font-size:12px; font-family:Georgia; padding:0px 0px 5px 0px;}

.mZICLeft ul li ul li ul li {margin-bottom:1px; background:none; width:192px !important; border:1px solid transparent; margin-left:5px;}
.mZICLeft ul li ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px; width:100%;} 
.mZICLeft ul li ul li ul li span {color: #333; padding:4px 20px 4px 15px; background:none; font-size:12px;}

.mZICLeft li:hover li a,
.mZICLeft li.AspNet-Menu-Hover li a
{background:none;}

.mZICLeft li li:hover li span ,
.mZICLeft li li.AspNet-Menu-Hover li span
{color: #333;}


.mZICLeft li li li:hover a ,
.mZICLeft li li li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.mZICLeft li.AspNet-Menu-WithChildren li li:hover a ,
.mZICLeft li.AspNet-Menu-WithChildren li li.AspNet-Menu-Hover a
{background:none;}
.mZICLeft li li.AspNet-Menu-WithChildren:hover li a ,
.mZICLeft li li.AspNet-Menu-WithChildren.AspNet-Menu-Hover li a
{background:none;}
.mZICLeft li li.AspNet-Menu-WithChildren li:hover a ,
.mZICLeft li li.AspNet-Menu-WithChildren li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.mZICLeft li li li.AspNet-Menu-WithChildren:hover a ,
.mZICLeft li li li.AspNet-Menu-WithChildren.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 184px 9px;}



.mZICLeft li li li:hover span ,
.mZICLeft li li li.AspNet-Menu-Hover span
{color:#333;}



.mZICLeft ul li ul li ul li ul li {margin-bottom:1px; background:none;}
.mZICLeft ul li ul li ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px; width:100%;} 
.mZICLeft ul li ul li ul li ul li span {color: #666; padding:2px 10px 2px 35px; background:none; font-size:12px;}

.mZICLeft li:hover li a,
.mZICLeft li.AspNet-Menu-Hover li a
{background:none;}

.mZICLeft li li:hover li span ,
.mZICLeft li li.AspNet-Menu-Hover li span
{color: #333;}

.mZICLeft li li li:hover span ,
.mZICLeft li li li.AspNet-Menu-Hover span
{color:#AE0000;}

.mZICLeft li li li li:hover span ,
.mZICLeft li li li li.AspNet-Menu-Hover span
{color:#AE0000;}



.mZICLeft ul li.AspNet-Menu-ChildSelected, .mZICLeft ul li.AspNet-Menu-Selected
{background:#FFF; border-top:1px solid #CCC; border-bottom:1px solid #CCC;}
.mZICLeft ul li a.AspNet-Menu-ChildSelected, .mZICLeft ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 196px 9px;}
.mZICLeft ul li.AspNet-Menu-WithChildren a.AspNet-Menu-ChildSelected, .mZICLeft ul li.AspNet-Menu-WithChildren a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 196px 9px;}
.mZICLeft ul li a.AspNet-Menu-ChildSelected span, .mZICLeft ul li a.AspNet-Menu-Selected span
{color:#AE0000;}


.mZICLeft ul li ul li.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li.AspNet-Menu-Selected
{background:#FFF; border:1px solid #CCC;}
.mZICLeft ul li ul li a.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.mZICLeft ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-ChildSelected, .mZICLeft ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.mZICLeft ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 190px 9px;}
.mZICLeft ul li ul li a.AspNet-Menu-ChildSelected span, .mZICLeft ul li ul li a.AspNet-Menu-Selected span
{color:#AE0000;}

.mZICLeft ul li ul li ul li.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li ul li.AspNet-Menu-Selected
{background:#FFF; border:1px solid #CCC;}
.mZICLeft ul li ul li ul li a.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.mZICLeft ul li ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.mZICLeft ul li ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-ChildSelected, .mZICLeft ul li ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 184px 9px;}
.mZICLeft ul li ul li ul li a.AspNet-Menu-ChildSelected span, .mZICLeft ul li ul li a.AspNet-Menu-Selected span
{color:#AE0000;}


.mZICLeft li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected
{}

.mZICLeft li.AspNet-Menu-Selected a span, .mZICLeft li.AspNet-Menu-ChildSelected a span
{}








/*    TEMPLATE OVERRIDES    */

.moduleNew select {width: 110px;}
a.btsettStatusHelp img {border: none;}

.cCont img, .cArt img {padding:5px 10px 5px 0px;}
.cCont img[align=left], .cArt img[align=left] {padding:5px 10px 5px 0px;}
.cCont img[align=right], .cArt img[align=right] {padding:5px 0px 5px 10px;}
.cCont img[align=top], .cArt img[align=top] {padding:5px 10px 5px 10px;}

.cwpH1 {border:none; background:#AE0000; margin:0px; padding:0px;}
.cwpH1 h1 {padding:8px 10px 8px 10px; color:#FFF; border:none; margin:0px; margin-bottom:10px; font-size:16px; font-weight:normal; line-height:120%;}

/*.cwp .contArticles, .cwp .conBody, .cwp .contMap, .cwp .cPollItem, .cwp .cArtList, .cwp .cVidList, .cwp .contContact {padding-top:10px;}*/

.cwp .cArtList {padding:0px 5px 0px 5px;}
/*
.cwp .contArticles {padding:0px 5px 0px 5px;} 
.cwp .conBody {padding:5px 12px 0px 12px;} 
.cwp .contMap {padding:5px 12px 10px 12px;}
.cwp .cPollItem {padding:0px 5px 0px 5px;}
.cwp .contContact {padding:5px 12px 0px 12px;}
.cwp .divArchive {padding:5px 12px 10px 12px;} 
.cwp .contPoll .divArchive {padding:7px 5px 0px 5px;}
.cwp .contGal {padding:0px 8px 10px 8px; _padding:0px 7px 10px 7px !important;}
.contPoll {margin:5px 12px 10px 12px;}
*/

.art_padding_top {padding-top:0px;}
.artdetail, .polllist {padding-bottom:10px;}