﻿* {margin:0; padding:0;}
html, body { margin:0; padding:0; text-align:left;}
body {font:14px Tahoma; color:#656565; background:#EAEAEA; /*background:#666 url(../_inc/images/design/bcgs/bcg_pic01.jpg) repeat scroll center top;*/}
body.edit { /*background:#666 url(../_inc/images/design/bcgs/bcg_pic01.jpg) repeat scroll center 144px;*/ }
body.edit_sett { /*background:#666 url(../_inc/images/design/bcgs/bcg_pic01.jpg) repeat scroll center 187px;*/ }
html {overflow-y:scroll;}

h1, h2, h3, h4, h5 {font-weight:normal; line-height:120%; font-family:Georgia;}
h1 {font-size: 23px; padding:5px 0px 10px 0px; color:#333;}
h2 {font-size: 19px; padding:5px 0px 10px 0px; color:#333;}
h3 {font-size: 17px; padding:5px 0px 5px 0px; color:#656565;}
h4 {font-size: 15px; padding:5px 0px 5px 0px; color:#656565;}
h5 {font-size: 14px; padding:5px 0px 10px 0px; color:#656565; line-height:140%;}

p, .cwp_zone.p {font:14px/150% Tahoma; padding:0px 0px 15px 0px; color:#656565;}
.cwp ul, .cwp ol {font:14px/150% Tahoma; padding:0px 0px 15px 0px; color:#656565; margin-left:15px; list-style-position:outside;}
.cwp ol {margin-left:18px;}

.main a {color:#194696; text-decoration:underline;}
.main a:hover {text-decoration:none;}
body img {border:none;}

.main h2 a, .main h1 a {color:#333; text-decoration:underline; outline:none;}
.main h2 a:hover, .main h1 a:hover {color:#333; text-decoration:none;}

h2.emblemH2 {padding:0px 0px 15px 38px;
background:url(../_inc/images/design/h2_emblem_trensp_green.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/h2_emblem_trensp_green.png',sizingMethod='crop');
}

.cwp {padding:0px 0px 20px 0px; margin:0px 0px 0px 0px;
/*background:url(../_inc/images/design/bcg_transp_rep_black.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/zoran/_inc/images/design/bcg_transp_rep_black.png',sizingMethod='scale');*/
}
.artdetail {padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
.pollListW {padding:0px 0px 20px 0px; margin:0px 0px 0px 0px;}
.twtr-widget h1, .twtr-widget h2, .twtr-widget h3, .twtr-widget h4, .twtr-widget h5 {font-family:Tahoma;}

/*.mainLContMI {padding:30px 0px 0px 0px;}
.mainLContMI .cwp {margin:0px 0px 30px 0px;}
*/
/*.artDetailW .cwp {margin:0px 0px 30px 0px; padding:0px 0px 20px 0px; background:none; _filter:none;}*/

.bodyW {width:100%; /*background:#482C16 url(../_inc/images/design/bcg_logo.jpg) no-repeat center top;*/}


.headerW {min-height:178px; height:auto !important; height:178px; width:940px; margin-left:auto; margin-right:auto;}
.header a {outline:none;}
.header {min-height:178px; height:auto !important; height:178px;}

.headerL {width:530px; float:left;}
.headerLI {padding:0px 0px 0px 0px; /*float:right;*/ min-height:160px; height:auto !important; height:160px; background:#FFF; position:relative;}
.headerL img {border:none;}
.headerLLogo {padding:19px 0px 0px 0px; /*min-height:115px; height:auto !important; height:115px;*/}

.headerR {width:404px; float: right; display:inline;}
.headerRI {padding:0px 0px 0px 0px; /*float:right;*/ min-height:160px; height:auto !important; height:160px; background:#FFF; overflow:hidden; position:relative;}
.headerR img {border:none;}
.headerR_imgW {position:absolute; left:60px; top:0px; width:200px; font-size:0px; line-height:0px;}
/*.headerR_imgW a {width:200px; height:189px; font-size:0px; line-height:0px; display:block;}*/
.headerR_contW {position:absolute; left:295px; top:38px; width:190px; display:block;}
.headerR_contW p {padding:0px 0px 0px 0px; line-height:170%; font-size:17px; color:#333; text-align:left;}
.headerR_btn_fbW {position:absolute; left:302px; top:144px; width:160px; display:block;}


/*
.headerRT {}
.headerRT {overflow: hidden; display: inline-block; padding:0 5px 0 0;}
.headerRT {display: block;}

#cLang {text-align:right; min-height:25px; height:auto !important; height:25px; float:right; line-height:23px; padding: 0px 20px 0px 20px;
background:url(../_inc/images/design/bcg_transp_rep_black.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/bportugal/_inc/images/design/bcg_transp_rep_black.png',sizingMethod='scale');
}
#cLang a {font:12px "Trebuchet MS"; color:#D6D6D6; text-decoration:none; text-transform:capitalize;}
#cLang a:hover, #cLang a.selLang {color:#B19F52; text-decoration:none;}

.headerRB {min-height:100px; height:auto !important; height:100px; width:100%;}
*/


.headerNavW {padding:10px 0px 10px 0px; height:45px; width:100%; width:940px; margin-left:auto; margin-right:auto;
/*background:url(../_inc/images/design/menu_bcg_rep.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/zoran/_inc/images/design/menu_bcg_rep.png',sizingMethod='scale');*/
}
.headerNav {padding:0px 0 0 0px; height:45px; background:#666;}
.headerNavL {width:87%; float:left; }
.headerNavR {width:12%; float: right; display:inline;}

.mZoranMain {padding:5px 0px 0px 5px;}
.icons {text-align:right; padding-top:11px;}
.icons a {text-decoration:none; outline:none; width:23px; cursor:pointer; min-height:24px; height:auto !important; height:24px; display:inline-block; margin:0px 7px 0px 0px;}
.icons a.icon_fb {background:url(../_inc/images/design/icon_fb.png) no-repeat left 1px;}
.icons a.icon_tw {background:url(../_inc/images/design/icon_tw.png) no-repeat left 1px;}
.icons a.icon_yt {background:url(../_inc/images/design/icon_yt.png) no-repeat left 1px;}
/*.icons a.icon_rss {
background:url(../_inc/images/design/icon_rss.png) no-repeat left 1px;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/cyber/_inc/images/design/icon_rss.png',sizingMethod='crop');
}
.icons a.icon_in {background:url(../_inc/images/design/icon_in.png) no-repeat left 1px;}
.icons a.icon_xi {background:url(../_inc/images/design/xing_big.jpg) no-repeat left 1px;}*/
.icons a:hover {background-position:left 0px;}



.mainW {padding:0px 0px 0px 0px; width:940px; margin-left:auto; margin-right:auto;}
.mainW img {border:none;}
.main {padding:0px 0px 0px 0px; min-height:100px; height:auto !important; height:100px; /*width:940px; margin-left:auto; margin-right:auto;*/}





/*               CONTENT LEFT MENU                   */

.mainLNav {float:left; width:195px;}
.mainRCont {float: right; display:inline; width:705px;}

/*.mainLNavT {min-height:15px; height:auto !important; height:15px; line-height:0px; font-size:0px; background:url(../_inc/images/design/podmenu_blue_top.jpg) no-repeat;}*/
.mainLNavM {display: block; _width:190px; padding-left:5px; /*min-height:260px; height:auto !important; height:260px;*/}
.mainLNavMI {padding:10px 0px 15px 0px; background:url(../_inc/images/design/menu_ddl_bcg_rep.png) repeat;}
/*.mainLNavB {min-height:35px; height:auto !important; height:35px; line-height:0px; font-size:0px; background:url(../_inc/images/design/podmenu_blue_bottom.jpg) no-repeat;}*/

.mainRContM {}
.mainRContMI {padding:0px 0px 0px 0px;}

.mainRCont img {border:none;}

.mainRCont_wide {width:100%;}
.mainRCont_wide .mainRContM {}


/*     FOOTER     */

.footerW {min-height:178px; height:auto !important; height:178px; width:940px; margin-left:auto; margin-right:auto; padding-bottom:20px;}
.footer {}

.footerNavW {padding:10px 0px 15px 0px; width:100%; border-top:1px solid #D6D6D6;
/*background:url(../_inc/images/design/menu_bcg_rep.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/zoran/_inc/images/design/menu_bcg_rep.png',sizingMethod='scale');*/
}
.footerNav {padding:0px 0 0 5px;}

.footerT {padding-bottom:14px;}
.footerL {width:430px; float:left; text-align:left; /*min-height:270px; height:auto !important; height:270px;*/}
.footerLI {/*padding:25px 0px 0px 38px; min-height:115px; height:auto !important; height:115px;*/}


/*span.foot_text1 {padding:0px 0px 0px 20px; font-size:14px; color:#FFF;}
span.foot_text2 {padding:10px 0px 0px 0px; font-size:19px; color:#FFF; display:block;}
.contact_info {}
.contact_info p {color:#999; font-size:14px; line-height:150%; padding:30px 0px 0px 0px;}
.contact_info p.ci_text2 {color:#CCC; font-size:12px; line-height:150%; padding:0;}
.contact_info a.yellow {color:#F8B800; text-decoration:underline;}

span.foot_text3 {padding:30px 0px 0px 0px; font-size:17px; color:#F9B800; display:block;}

.footerLI {padding:3px 0px 0px 0px; overflow: hidden; display: inline-block;}
.footerLI {display: block;}
*/
.footerLIL {float:left; padding:0px 0px 0px 0px; text-align:left; width:71%;}
.footerLIL p {font-size:15px; line-height:170%; text-align:left;}
.footerLIL a {color:#72AE3F; text-decoration:underline;}
.footerLIL a:hover {text-decoration:none;}
.footerLIR {float:right; padding:0px 0px 0px 0px; text-align:right; width:26%;}
.footerLIR .icons {padding-top:3px;}

/*
.footerLIL a {color:#333; text-decoration:underline;}
.footerLIL a:hover {color:#000; text-decoration:none;}
.footerLIL span {}*/

.footerR {width:444px; float: right; display:inline; padding:0px 0px 0px 0px;}
.footerRI {padding:2px 0px 0px 35px; border-left:1px solid #D6D6D6;}
.footerR img {border:none;}
.footerR a:hover {text-decoration:none;}

.adSmardt {padding:0px 0px 0px 0px; line-height:150%;}
.adSmardt a {font-size:12px; color:#666; text-decoration:none;}
.adSmardt a:hover {text-decoration:underline;}



/* cwpborder transparent edges */

.cwp_cusW {position:relative; /*background: #FFF;*/ margin:0px 0px 0px 0px; padding:25px; background:#FFF; /*padding-top:1px;*/}
.headerW .cwp_cusW {background: #FFF; padding:0px;}
.headerNavW .cwp_cusW {background: #666; padding:0px;}
.artdetail .cwp .cwp_cusW {padding:0px;}
.footerLIL .cwp .cwp_cusW {padding:0px;}
.ps_fb_loginW .cwp_cusW {background: #1A4696; padding:16px 25px;}

.cwp_cusW_grey {background:#464646 url(../_inc/images/design/emblem_bcg_grey.png) no-repeat 25px 25px; font-size:12px;}
.cwp_cusW_white {background:#FFF url(../_inc/images/design/emblem_bcg_white.png) no-repeat 25px 25px;}
.ph_galleryW .cwp_cusW_grey {padding:25px 10px 17px 25px;}
/*.cwp_cusW_grey a {color:#73AF40;}*/
.headerR_contW .cwp_cusW {background:none;}
div.cwpborder-bg { position: absolute; padding: 0; margin: 0; border: 0; overflow: hidden; font-size:0px; line-height:0px; /*z-index: 1001;*/}
div.cwpborder-bg-n { top: -2px; left: 0; width: 100%; height: 2px; 
background: transparent url('../_inc/images/design/cwp_shadow_n.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_n.png',sizingMethod='scale');
}
div.cwpborder-bg-ne { top: -2px; right: -2px; width: 2px; height: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_ne.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_ne.png',sizingMethod='crop');
}
div.cwpborder-bg-e { top: 0; right: -2px; height: 100%; width: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_e.png') repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_e.png',sizingMethod='scale');
}
div.cwpborder-bg-se { bottom: -2px; right: -2px; width: 2px; height: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_se.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_se.png',sizingMethod='crop');                                
}
div.cwpborder-bg-s { bottom: -2px; left: 0; width: 100%; height: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_s.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_s.png',sizingMethod='scale');
}
div.cwpborder-bg-sw { bottom: -2px; left: -2px; width: 2px; height: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_sw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_sw.png',sizingMethod='crop');
}
div.cwpborder-bg-w { top: 0; left: -2px; height: 100%; width: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_w.png') repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_w.png',sizingMethod='scale');
}
div.cwpborder-bg-nw { top: -2px; left: -2px; width: 2px; height: 2px;
background: transparent url('../_inc/images/design/cwp_shadow_nw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/cwp_shadow_nw.png',sizingMethod='crop');
}

.headerW div.cwpborder-bg-n { top: -2px; left: 0; width: 100%; height: 0px; }
.headerW div.cwpborder-bg-ne { top: -2px; right: -2px; width: 0px; height: 0px;}
.headerW div.cwpborder-bg-nw { top: -2px; left: -2px; width: 0px; height: 0px;}

.headerR_contW div.cwpborder-bg-n, .headerR_contW div.cwpborder-bg-ne, .headerR_contW div.cwpborder-bg-e, .headerR_contW div.cwpborder-bg-s, 
.headerR_contW div.cwpborder-bg-sw, .headerR_contW div.cwpborder-bg-w
{display:none;}
.headerR_contW div.cwpborder-bg-nw { top: -12px; left: -14px; width: 14px; height: 12px;
background: transparent url('../_inc/images/design/quote_begin.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/quote_begin.png',sizingMethod='crop');
}
.headerR_contW div.cwpborder-bg-se { bottom: -12px; right: -14px; width: 14px; height: 12px;
background: transparent url('../_inc/images/design/quote_end.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/quote_end.png',sizingMethod='crop');                                
}

.artdetail .cwp .cwp_cusW div.cwpborder-bg {display:none;}
.footerLIL .cwp .cwp_cusW div.cwpborder-bg {display:none;}


/*  pmod  HOME & SUGGEST    */

.ph_contW {}
.ps_contW {}
.ph_contT {}
.ph_contTI {}

.ph_contB {}
.ph_contL, .ps_contL, .pg_contL {width:460px; float:left;}
.ph_contLI, .ps_contLI, .pg_contLI {padding:0px;}
.ph_contR, .ps_contR, .pg_contR {width:460px; float: right; display:inline; /*color:#F0F0F0;*/}
.ph_contRI, .ps_contRI, .pg_contRI {padding:0;}

/*.ph_contR h2 {color:#FFF; padding:0px 0px 20px 38px; background:url(../_inc/images/design/h2_emblem_grey.png) no-repeat;}*/

.ph_galvidW {padding-bottom:20px;}
.ph_galvid {}

.ph_opin_formW, .ps_opin_formW, .ps_opin_listW, .ps_fb_loginW, .ps_opin_detW, .ps_opin_commlistW {padding-bottom:20px;}

.newsltr_formW {}
.newsltr_formW h2, .ph_opin_formW h2, .ps_opin_listW h2, .ps_opin_formW h2 {padding:0px 0px 20px 38px;
background:url(../_inc/images/design/h2_emblem_trensp_green.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/h2_emblem_trensp_green.png',sizingMethod='crop');
}
/*.ps_opin_formW h2 {padding:0px 0px 5px 38px;
background:url(../_inc/images/design/h2_emblem_trensp_green.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/h2_emblem_trensp_green.png',sizingMethod='crop');
}
.ps_opin_formW .sugForm {padding-top:15px;}
.ps_opin_formW h2:hover {background:#F0F0F0; cursor:pointer;}*/

.newsltr_formW a, .ph_opin_formW a, .ps_opin_formW a {color:#72AE3F;}

.ph_newsW {padding-bottom:20px;}
.ph_newsW_bottom {padding-bottom:0px; padding-top:20px;}
.ph_newsW_top_nopad {padding-bottom:0px;}
span.art_sepa {border-top:1px solid #D6D6D6; display:block; height:0px; font-size:0px; line-height:0px; margin-top:1px; padding-bottom:1px;}
.art_padding_top {padding:5px 0px 10px 0px;}
.art_padding_top {padding-top:0px;}
.artBox_date {font-size:13px; display:block; color:#70AC3B; padding-bottom:10px;}
span.artBox_date_blue {color:#002F98;}
.artBox {padding-bottom:20px;}
.artdetail .artBox {padding-bottom:0px;}
.ph_newsW .artBox {padding:0px 0px 0px 0px;}
.cwp .artBox {padding:5px 10px 5px 10px; *zoom:1; }
.cwp .ph_newsW_top .artBox {padding:0px 0px 0px 0px;}
.ph_newsW .artBox_head{padding:0px 10px 0px 10px;}
.ph_newsW .artBox_cont{padding:9px 10px 5px 10px; *zoom:1;}
.ph_newsW_top p.p_artBox_abstract {font-size:14px; /*min-height:147px; height:auto !important; height:147px;*/}
.ph_newsW .artBox:hover .artBox_cont, .cwp .artBox:hover {background:#F0F0F0; cursor:pointer;}
.ph_newsW .artBox:hover .artBox_head {cursor:pointer;}
.cwp .ph_newsW_top .artBox:hover {background:none;}
/*h2.articleH2 {padding:0px 0px 15px 38px; 
background:url(../_inc/images/design/h2_emblem_trensp_grey.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/h2_emblem_trensp_grey.png',sizingMethod='crop');
}
h2.articleH2:hover, .ph_newsW .artBox:hover h2.articleH2, .cwp .artBox:hover h2.articleH2 {
background:url(../_inc/images/design/h2_emblem_trensp_green.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/h2_emblem_trensp_green.png',sizingMethod='crop');
}*/
h2.articleH2 {padding:5px 0px 10px 0px;}
h1.articleH1 {padding:5px 0px 7px 0px;}
h2.articleH2 a, h1.articleH1 a  {text-decoration:none;}
a.art_more {float:right; font-size:13px; padding:0px 0px 0px 19px; background:url(../_inc/images/design/emblem_art_more.png) no-repeat -50px center; _background-image:none;}
a.art_more:hover, .ph_newsW .artBox:hover .artBox_cont a.art_more, .cwp .artBox:hover a.art_more {float:right; font-size:13px; color:#72AE3F; text-decoration:none;
background-position: left center;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/emblem_art_more.png',sizingMethod='crop');
}
.artdet_fb_tw_like {padding:0px 0px 5px 0px; vertical-align:top;}

.artAbstract {padding-top:8px;}
.ad_contmainW, .ad_commentformW, .ad_commentlistW {padding-bottom:20px;}
.ad_commentformW h2, .ad_commentlistW h2, .ps_opin_commlistW h2 {padding-bottom:20px;}

.ph_socnetW {padding-bottom:20px;}
/*.ph_socnet {background:#F0F0F0; padding:15px 15px 20px 10px;}
.ph_socnetL {width:181px; float:left;}
.ph_socnetLI {padding:0px;}
.ph_socnetR {width:181px; float: right; display:inline;}
.ph_socnetRI {padding:0px;}*/
h3.ph_sn_ttl_fb, h3.ph_sn_ttl_tw {padding:0px 0px 10px 30px; font-size:21px; color:#333; line-height:100%; margin-left:10px;}
h3.ph_sn_ttl_fb {
background:url(../_inc/images/design/pic_facebook.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/pic_facebook.png',sizingMethod='crop');
}
h3.ph_sn_ttl_tw {
background:url(../_inc/images/design/pic_twitter.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/pic_twitter.png',sizingMethod='crop');
}


.ph_cont_zoneW {}


.ph_opin_postsW {/*min-height:125px; height:auto !important; height:125px; width:960px; margin-left:auto; margin-right:auto;*/}
.ph_opin_posts {/*min-height:125px; height:auto !important; height:125px; width:960px; margin-left:auto; margin-right:auto;*/}




/*    Table newsletter    */

table.tbl_newsltr {line-height:100%; font-size:13px;}
table.tbl_newsltr td {padding:6px 10px 6px 0px; width:80px; white-space:nowrap;}
table.tbl_newsltr td.td_text {text-align:left; color:#333;}
table.tbl_newsltr td.td_input {/*padding:3px 50px 3px 0px;*/}
table.tbl_newsltr td.td_nopadd {padding-right:0px;}
table.tbl_newsltr td.td_btn {padding-top:10px;}

table.tbl_newsltr td.td_input input {padding:0px 5px 0px 5px; width:305px; height:28px;  font-size:13px; color:#333; /*border:none;*/ background:#F8F8F8;
border:1px solid #D6D6D6; /*-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;*/ -moz-box-shadow:0px 0px 5px #CCC inset; -webkit-box-shadow:0px 0px 5px #CCC inset; box-shadow:0px 0px 5px #CCC inset; outline:none;
*line-height:28px;
/*background:url(../_inc/images/design/input_box.jpg) no-repeat;
background: url(../_inc/images/design/input_box.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../c/_inc/images/design/input_box.png',sizingMethod='crop');    
*/
}
table.tbl_newsltr td.td_input input.error {border:1px solid #CC0000; -moz-box-shadow:0px 0px 5px #CC0000 inset; -webkit-box-shadow:0px 0px 5px #CC0000 inset; box-shadow:0px 0px 5px #CC0000 inset;
/*background: url(../_inc/images/design/input_box_error.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../c/_inc/images/design/input_box_error.png',sizingMethod='crop');  
*/
}

.cGsmSub {padding:18px 0px 18px 95px; color:#656565; font-size:14px;}
.cGsmSub label {margin-right:50px;}
.cGsmSub label:hover {cursor:pointer; color:#333;}



/*    Table opinion    */

table.tbl_opin_form {line-height:100%; font-size:13px;}
table.tbl_opin_form td {padding:6px 10px 6px 0px; width:80px; white-space:nowrap;}
table.tbl_opin_form td.td_text {text-align:left; color:#333;}
table.tbl_opin_form td.td_input {/*padding:3px 50px 3px 0px;*/}
table.tbl_opin_form td.td_nopadd {padding-right:0px;}
table.tbl_opin_form td.td_rowspan {padding-top:10px;}
table.tbl_opin_form td.td_btn {padding-top:10px;}
table.tbl_opin_form td.td_error {padding:0px; width:1px; vertical-align:top;}
table.tbl_opin_form td.td_veralign {vertical-align:top; padding-top:14px;}

table.tbl_opin_form td.td_input input, table.tbl_opin_form td.td_input textarea, table.tbl_opin_form td.td_input select {padding:0px 5px 0px 5px; width:305px; height:28px; /*line-height:33px;*/ font-size:13px; color:#333; /*border:none;*/  background:#F8F8F8;
border:1px solid #D6D6D6; /*-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;*/  -moz-box-shadow:0px 0px 5px #CCC inset; -webkit-box-shadow:0px 0px 5px #CCC inset; box-shadow:0px 0px 5px #CCC inset; outline:none;
/*background:url(../_inc/images/design/input_box.jpg) no-repeat;
background: url(../_inc/images/design/input_box.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../c/_inc/images/design/input_box.png',sizingMethod='crop');    
*/
}
table.tbl_opin_form td.td_input input {*line-height:28px;}
table.tbl_opin_form td.td_input textarea {height:88px; padding:6px 5px 6px 5px; /*line-height:28px;*/ font-family:Tahoma;}
table.tbl_opin_form td.td_input input.error, table.tbl_opin_form td.td_input textarea.error, table.tbl_opin_form td.td_input select.error {border:1px solid #CC0000; -moz-box-shadow:0px 0px 5px #CC0000 inset; -webkit-box-shadow:0px 0px 5px #CC0000 inset; box-shadow:0px 0px 5px #CC0000 inset;
/*background: url(../_inc/images/design/input_box_error.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../c/_inc/images/design/input_box_error.png',sizingMethod='crop');  
*/
}
table.tbl_opin_form td.td_input select {padding:0px 0px 0px 5px;}
table.tbl_opin_form td.td_input select:hover {cursor:pointer;}

.cPublishType, .cGsmSub {padding:18px 0px 18px 95px; color:#656565; font-size:14px;}
.cPublishType label, .cGsmSub label {margin-right:50px;}
.cPublishType label:hover, .cGsmSub label:hover {cursor:pointer; color:#333;}
.opin_form_note p {font-size:12px; padding:0px 0px 18px 0px;}
.ps_opin_form_headW {*zoom:1;}
.ps_opin_form_headW:hover {background:#F0F0F0; cursor:pointer;}
.ps_opin_form_note {font-size:12px; color:#999; padding:0px 0px 0px 0px;}

.opin_form_btn, .newsltr_btn {padding:12px 0px 0px 0px; border-top:1px solid #D6D6D6; text-align:right;}
a.bt_opin_fbconn, a.bt_opin_send, a.nlSub_btn_sub, a.nlSub_btn_unsub, a.bt_comm_send
{display:inline-block; font-size:13px; color:#FFF; height:33px; line-height:33px; width:124px; text-align:center; text-decoration:none;}
a.bt_opin_fbconn {background:#1A4696; margin-right:10px;}
a.bt_opin_send, a.nlSub_btn_sub, a.nlSub_btn_unsub, a.bt_comm_send {background:#73AF40;}
a.nlSub_btn_unsub {margin-right:10px;}
a.bt_opin_terms, a.bt_newsltr_terms {float:left;}
a.bt_opin_fbconn:hover, a.bt_opin_send:hover, a.nlSub_btn_sub:hover, a.nlSub_btn_unsub:hover, a.bt_comm_send:hover {background:#666;}


.tbl_newsltrW {padding:0px 0px 0px 0px;}


/*    suggest list     */

.ps_opin_list_note {font-size:12px; color:#999; padding: 0px 0px 12px 0px;}
.ps_opin_list_tabW {padding-bottom:7px;}
.ps_opin_list_tab {border:1px solid #D6D6D6; padding:1px;}
/*a.ph_gv_tab_gal, a.ph_gv_tab_vid {}*/
.ps_opin_list_tabW a {display:inline-block; font-size:14px; font-family:Georgia; color:#666; height:33px; line-height:33px; /*width:200px;*/ text-align:center; text-decoration:none; }
.ps_opin_list_tabW a span {margin-right:10px; display:block; font-size:14px; font-family:Georgia; color:#666; height:33px; line-height:33px; /*width:200px;*/ text-align:center; /*background: url(../_inc/images/design/suggest_tab_arrow_off.gif) no-repeat right center;*/}
a.ps_ol_tab_L {float:left; width:50%;}
a.ps_ol_tab_R {float:right; width:49.9%;}
.ps_opin_list_tabW a:hover, .ps_opin_list_tabW a.sel {background:#EFEFEF;}
.ps_opin_list_tabW a:hover span {color:#333;} 
.ps_opin_list_tabW a.sel.asc span {background:#EFEFEF url(../_inc/images/design/suggest_tab_arrow.gif) no-repeat right center; color:#333;}
.ps_opin_list_tabW a.sel.desc span {background:#EFEFEF url(../_inc/images/design/suggest_tab_arrow_on_down.gif) no-repeat right center; color:#333;}

.ps_sugglist_itemW {padding:1px 0px 1px 0px; border-bottom:1px solid #D6D6D6;}
.ps_sugglist_item {padding:8px 8px 8px 8px;}
.ps_sugglist_itemW:hover .ps_sugglist_item {background:#F8F8F8;}
a.Aps_sugglist_title {display:block; padding:0px 0px 2px 0px; color:#333; text-decoration:none; font-family:Georgia; font-size:16px; line-height:130%;}
a.Aps_sugglist_title:hover {text-decoration:none;}
p.ps_sugglist_date {padding:1px 0px 3px 0px; font-size:13px; color:#70AC3B;}
p.ps_sugglist_vote{padding:0px; /*line-height:100%;*/ vertical-align:top; color:#666; font-size:13px;}
a.ps_sugglist_more {float:right; font-size:13px; padding:0px 0px 0px 19px; background:url(../_inc/images/design/emblem_art_more.png) no-repeat -50px center; _background-image:none;}
a.ps_sugglist_more:hover {float:right; font-size:13px; color:#72AE3F; text-decoration:none;
background-position: left center;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/emblem_art_more.png',sizingMethod='crop');
}


.ps_fb_login {}
.ps_fb_login_off {padding:5px 0px 5px 8px;}
.ps_fb_login_on {}
a.bt_fb_login_fbconn {display:inline-block; font-size:14px; color:#FFF; height:24px; line-height:23px; text-align:left; text-decoration:none; padding-left:40px;
outline:none; cursor:pointer; background:url(../_inc/images/design/icon_fb.png) no-repeat left 1px;}
a.bt_fb_login_fbconn:hover {background-position:left 0px;}

/*    suggest detail     */

.ps_opin_det {}
.ps_od_cont {border-top:1px solid #D6D6D6; padding:10px 8px 2px 8px;}
p.ps_od_date {padding:0px 0px 10px 0px; font-size:13px; color:#70AC3B;}
p.ps_od_body {}
.ps_od_votesW {padding:8px 8px 8px 8px; line-height:24px; border-top:1px solid #D6D6D6; border-bottom:1px solid #D6D6D6; font-size:14px; color:#333;}
span.ps_od_votes_num {display:inline-block; height:24px; margin-right:20px;}
a.ps_od_vote_btn {display:inline-block; font-size:13px; padding:0px 0px 0px 30px; color:#194696; cursor:pointer; line-height:24px; height:24px;
background:url(../_inc/images/design/emblem_vote.png) no-repeat left center;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/emblem_vote.png',sizingMethod='crop');
}
a.ps_od_vote_btn:hover {font-size:13px; color:#72AE3F; text-decoration:none;}
.ps_opin_det_fbtwW {padding:15px 8px 0px 8px; vertical-align:top;}
.color_green {color:#73AF40;}


.gallistBox p {}




/*    validators    */

tr.error .lr_errW, tr.phoneError .lr_errW {position:absolute; overflow: hidden; display: inline-block; padding:0px 0px 0px 0px; height:34px; margin-left:0px; margin-top:3px;}
tr.error .lr_errW, tr.phoneError .lr_errW {display: block; width:200px;}
tr.error .lr_errL, tr.error .lr_errR, tr.phoneError .lr_errL, tr.phoneError .lr_errR {font-size:0px; line-height:0px;}
tr.error .lr_errL, tr.phoneError .lr_errL {height:34px; width:14px; float:left;
background: url(../_inc/images/design/logreg_error_left.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/logreg_error_left.png',sizingMethod='crop');    
}
tr.error .lr_errR, tr.phoneError .lr_errR {height:34px; width:5px; float:left;
background: url(../_inc/images/design/logreg_error_right.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/logreg_error_right.png',sizingMethod='crop');    
}
tr.error .lr_errM, tr.phoneError .lr_errM {height:34px; float:left;
background:url(../_inc/images/design/logreg_error_middle.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/zoran/_inc/images/design/logreg_error_middle.png',sizingMethod='scale');
}
tr.error .lr_errMI, tr.phoneError .lr_errMI {padding:0px 11px; line-height:33px; height:34px; color:#FFF;}
tr.phoneError .lr_errMI a {color:#FFF; text-decoration:underline;}
tr.phoneError .lr_errMI a:hover {color:#FFF; text-decoration:none;}




.ph_galvid_tabW {padding-bottom:5px;}
.ph_galvid_tab {border:1px solid #D6D6D6; padding:1px;}
/*a.ph_gv_tab_gal, a.ph_gv_tab_vid {}*/
.ph_galvid_tabW a {display:inline-block; font-size:14px; font-family:Georgia; color:#666; height:33px; line-height:33px; /*width:200px;*/ text-align:center; text-decoration:none; background:#EFEFEF;}
a.ph_gv_tab_gal {float:left; width:50%;}
a.ph_gv_tab_vid {float:right; width:49.9%;}
.ph_galvid_tabW a:hover, .ph_galvid_tabW a.sel {background:#73AF40; color:#FFF;}

/*    Gallery list    */
.gallistBoxAll, .vidBoxAll {}
.gallistBoxW, .vidBoxW {padding:1px 0px 1px 0px; border-bottom:1px solid #D6D6D6;}
.gallistBox, .vidBox {padding:6px 8px 6px 8px;}
.gallistBoxW:hover .gallistBox, .vidBoxW:hover .vidBox  {background:#F8F8F8;}
a.AgallistBox_img img, a.AvidBox_img img {padding:0px; margin:0px 10px 0px 0px; float:left; display:block; /*border:1px solid #CCC;*/}
a.AgallistBox_img:hover img, a.AvidBox_img:hover img  {/*border:1px solid #666 !important;*/}

a.AgallistBox_title, a.AvidBox_title {display:block; padding:0px 0px 2px 0px; color:#194696; text-decoration:none; font-family:Georgia; font-size:15px; line-height:120%; overflow:hidden;}
a.AgallistBox_title:hover, a.AvidBox_title:hover {text-decoration:none;}
p.AgallistBox_date, p.AgallistBox_date {padding-bottom:0px; font-size:13px; color:#999;}
p.AgallistBox_size{padding:0px;line-height:100%; vertical-align:top;}

.gallistBox p {}
.sortGal.ui-sortable {cursor:move;}

.gallist_more {padding:8px 0px 0px 8px;}
.gallist_more a {font-size:13px;}


/*    Video list    */
/*.vidlistBox {padding-bottom:8px;}
a.AvidlistBox_img img {padding:0px; margin:0px 10px 8px 0px; float:left; display:block;}
a.AvidlistBox_img:hover img {}

a.AvidlistBox_title {display:block; padding:0px 0px 5px 0px;}
.vidlistBox p {}*/
.sortVid.ui-sortable {cursor:move;}


/*   Paging   */

.pagesortW {width:100%;}
.pagesort {text-align:center; padding:15px 5px 5px 5px;}

a.pagesort_bw, a.pagesort_fwd, a.pagesort_fbw, a.pagesort_ffwd 
{outline:none; display:inline-block; /*margin:0px 2px 0px 2px;*/ font-size:15px; text-decoration:none; text-align:center; color:#656565; padding:3px 7px;}

a.pagesort_bw {}
a.pagesort_fwd {}
a.pagesort_fbw {}
a.pagesort_ffwd {}
a.pagenum {outline:none; display:inline-block; margin:0px 2px 0px 2px; text-decoration:none; color:#656565; font-size:15px; text-align:center; padding:3px 7px;}
a.pagesort_bw:hover, a.pagesort_fwd:hover, a.pagesort_fbw:hover, a.pagesort_ffwd:hover 
{background-position: center bottom; text-decoration:none; color:#FFF; cursor:pointer; padding:3px 7px; background:#666;}

a.pagenum:hover {color:#FFF; cursor:pointer; text-decoration:none; background:#666;}
a.pagenum.pagesel {color:#FFF; font-size:15px; background:#73AF40;}





/*    MENU    */
/*    Menu MAIN      */
.mZoranMain ul.AspNet-Menu {font-family:Tahoma; font-size:14px; /*text-align:center;*/}
/*.mZoranMain ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mZoranMain ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}*/
.mZoranMain ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mZoranMain li {margin-right:5px; /*width:221px; height:36px;*/}


.mZoranMain li:hover, /* list items being hovered over */
.mZoranMain li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mZoranMain a {outline:none; font-size:14px; padding-left:20px; display:block; float:left; height:35px; line-height:34px;}

.mZoranMain span {color: #FFF; font-size:14px; padding:0px 20px 0px 0px; float:left; display:block; /*width:100%;*/ height:35px; line-height:34px;}

.mZoranMain li.AspNet-Menu-Leaf a,
.mZoranMain li.AspNet-Menu-Leaf span
{}

.mZoranMain li:hover a,
.mZoranMain li.AspNet-Menu-Hover a
{cursor:pointer; background-position:left top; background:#9CCE34;}

.mZoranMain li:hover span,
.mZoranMain li.AspNet-Menu-Hover span
{color: #FFF; cursor:pointer;}


.mZoranMain li:hover li span,
.mZoranMain li.AspNet-Menu-Hover li span,
.mZoranMain li:hover li li span,
.mZoranMain li.AspNet-Menu-Hover li li span,
.mZoranMain li a:hover span
{color: #FFF; cursor:pointer;}

.mZoranMain li:hover li a,
.mZoranMain li:hover li span,
.mZoranMain li.AspNet-Menu-Hover li a,
.mZoranMain li.AspNet-Menu-Hover li span,
.mZoranMain li:hover li:hover li a,
.mZoranMain li:hover li:hover li span,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{color: #DDD;}

.mZoranMain li:hover li:hover a,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover,
.mZoranMain li:hover li:hover a,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover,
.mZoranMain li:hover li:hover li:hover a,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover
{}

.mZoranMain li:hover li:hover a span,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span,
.mZoranMain li:hover li:hover a span,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover span,
.mZoranMain li:hover li:hover li:hover a:hover span,
.mZoranMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span
{color:#FFF;}


.mZoranMain ul ul {left:0px; top:50px; _top:48px; padding:8px 0px 12px 0px; width:120px; z-index:1000; background:#73AF40; /*background:url(../_inc/images/design/menu_ddl_bcg_rep.png) repeat;*/}

.mZoranMain li li {margin-right:0px; padding:0px 0px 0px 0px; width:120px;}

.mZoranMain li li:hover,
.mZoranMain li li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mZoranMain li li a {outline:none; padding:1px 0px 1px 0px; display:block; float:left; min-height: 0px; height:auto !important; height:auto; width:100%;
_filter:none;
background:url(../_inc/images/design/1px.gif) transparent no-repeat;
}

.mZoranMain li li span {width:auto; color:#CCC; padding:6px 25px 6px 25px; background:transparent; float:left; display:block; line-height:150%; font-size:12px; min-height: 0px; height:auto !important; height:auto; text-align:left;}

.mZoranMain .AspNet-Menu-Leaf {}
.mZoranMain .AspNet-Menu-Selected {}


.mZoranMain a.AspNet-Menu-Selected, .mZoranMain a.AspNet-Menu-Selected:hover
{background:#9CCE34;}

.mZoranMain a.AspNet-Menu-Selected span, .mZoranMain a.AspNet-Menu-Selected:hover span 
{color: #FFF;}

.mZoranMain a.AspNet-Menu-ChildSelected 
{background:#9CCE34;}

.mZoranMain a.AspNet-Menu-ChildSelected span, .mZoranMain a.AspNet-Menu-ChildSelected:hover span 
{color: #FFF;}

.mZoranMain .AspNet-Menu-ParentSelected {}



.mZoranMain li li a.AspNet-Menu-Selected {color:#FFF;}
.mZoranMain li li a.AspNet-Menu-Selected span {color:#FFF;}
.mZoranMain li li a.AspNet-Menu-ChildSelected  {color:#FFF;}
.mZoranMain li li a.AspNet-Menu-ChildSelected span {color:#FFF;}
.mZoranMain .AspNet-Menu-ParentSelected {}


.mZoranMain ul li:hover ul,
.mZoranMain ul li.AspNet-Menu-Hover ul
{visibility: visible;}

.mZoranMain ul li li:hover ul,
.mZoranMain ul li li li:hover ul,
.mZoranMain ul li li li li:hover ul,
.mZoranMain ul li li.AspNet-Menu-Hover ul,
.mZoranMain ul li li li.AspNet-Menu-Hover ul,
.mZoranMain ul li li li li.AspNet-Menu-Hover ul
{visibility: hidden;}
/*
.mZoranMain ul li ul div.div_NavWrappI {display:block;}

.mZoranMain ul li ul div.div_NavWrapp {display:block; padding:5px 0px 5px 0px; margin-top:4px; _width:220px;background:#333;}
.mZoranMain ul li ul span.span_NavPrepend {min-height:4px; height:auto !important; height:4px !important; line-height:0px; font-size:0px; width:220px; display:block; padding:0; margin:0;
background:url(../_inc/images/design/menu_main_ddl_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/adit/_inc/images/design/menu_main_ddl_top.png',sizingMethod='crop');
}
.mZoranMain ul li ul span.span_NavAppend {min-height:4px; height:auto !important; height:4px !important; line-height:0px; font-size:0px; width:220px; display:block; padding:0; margin:0;
background:url(../_inc/images/design/menu_main_ddl_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/adit/_inc/images/design/menu_main_ddl_bottom.png',sizingMethod='crop');
}
*/



/*    Menu LEFT      */

.leftNavSelector ul.AspNet-Menu {font-family:"Trebuchet MS"; font-size:12px; text-align:left;}
.leftNavSelector ul {padding:0; margin:0; float:left !important; width:100%;}
.leftNavSelector li {margin-bottom:0px; /*_background:none; width:202px !important; float:left !important; *zoom:1; border-top:1px solid transparent;*/}


.leftNavSelector li:hover,
.leftNavSelector li.AspNet-Menu-Hover
{z-index:100; cursor:pointer;}

.leftNavSelector li a {outline:none; padding:0px 0px 0px 0px; display:block; float:left; width:100%;} 


.leftNavSelector li span {color:#DCBDBF; padding:6px 24px 6px 24px; float:left; display:block; line-height:150%; _cursor:pointer;
}

.leftNavSelector li:hover a,  
.leftNavSelector li.AspNet-Menu-Hover a
{}

.leftNavSelector li:hover span ,
.leftNavSelector li.AspNet-Menu-Hover span
{color: #FFF; cursor:pointer;}

/*
.leftNavSelector ul.AspNet-Menu ul {position: relative; visibility: hidden; display:none; float:none; font-size:12px; font-family:Georgia; padding:2px 0px 5px 0px;}

.leftNavSelector ul.AspNet-Menu li ul li {background:none;}

.leftNavSelector li.AspNet-Menu-Selected ul, .leftNavSelector li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}

.leftNavSelector li.AspNet-Menu-Selected ul ul, .leftNavSelector li.AspNet-Menu-ChildSelected ul ul
{visibility:hidden; display:none;}

.leftNavSelector li li.AspNet-Menu-Selected ul, .leftNavSelector li li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}

.leftNavSelector li li.AspNet-Menu-Selected ul ul, .leftNavSelector li li.AspNet-Menu-ChildSelected ul ul,
.leftNavSelector li li.AspNet-Menu-Selected ul ul ul, .leftNavSelector li li.AspNet-Menu-ChildSelected ul ul ul,
.leftNavSelector li li.AspNet-Menu-Selected ul ul ul ul, .leftNavSelector li li.AspNet-Menu-ChildSelected ul ul ul ul
{visibility:hidden; display:none;}

.leftNavSelector li li li.AspNet-Menu-Selected ul, .leftNavSelector li li li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}

.leftNavSelector li li li.AspNet-Menu-Selected ul ul, .leftNavSelector li li li.AspNet-Menu-ChildSelected ul ul,
.leftNavSelector li li li.AspNet-Menu-Selected ul ul ul, .leftNavSelector li li li.AspNet-Menu-ChildSelected ul ul ul,
.leftNavSelector li li li.AspNet-Menu-Selected ul ul ul ul, .leftNavSelector li li li.AspNet-Menu-ChildSelected ul ul ul ul
{visibility:hidden; display:none;}

.leftNavSelector li li li li.AspNet-Menu-Selected ul, .leftNavSelector li li li li.AspNet-Menu-ChildSelected ul
{position:relative; visibility:visible; display:block;}



.leftNavSelector ul li ul li {margin-bottom:1px; background:none; width:206px !important; border:1px solid transparent; margin-left:5px;}
.leftNavSelector ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px;} 
.leftNavSelector ul li ul li span {color: #333; padding:4px 22px 4px 15px; background:none; font-size:12px;}

.leftNavSelector li:hover li a,
.leftNavSelector li.AspNet-Menu-Hover li a
{background:none;}

.leftNavSelector li:hover li span ,
.leftNavSelector li.AspNet-Menu-Hover li span
{color: #333;}

.leftNavSelector li li:hover span ,
.leftNavSelector li li.AspNet-Menu-Hover span
{color:#AE0000;}



.leftNavSelector li:hover a ,
.leftNavSelector li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 196px 9px;}
.leftNavSelector li.AspNet-Menu-WithChildren:hover a ,
.leftNavSelector li.AspNet-Menu-WithChildren.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 196px 9px;}

.leftNavSelector li:hover li a ,
.leftNavSelector li.AspNet-Menu-Hover li a
{background:none;}
.leftNavSelector li.AspNet-Menu-WithChildren:hover li a ,
.leftNavSelector li.AspNet-Menu-WithChildren.AspNet-Menu-Hover li a
{background:none;}


.leftNavSelector li li:hover,
.leftNavSelector li li.AspNet-Menu-Hover
{border:1px solid #CCC;}

.leftNavSelector li li:hover a ,
.leftNavSelector li li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.leftNavSelector li.AspNet-Menu-WithChildren li:hover a ,
.leftNavSelector li.AspNet-Menu-WithChildren li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.leftNavSelector li li.AspNet-Menu-WithChildren:hover a ,
.leftNavSelector li li.AspNet-Menu-WithChildren.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 190px 9px;}




.leftNavSelector ul.AspNet-Menu ul ul {font-size:12px; font-family:Georgia; padding:0px 0px 5px 0px;}

.leftNavSelector ul li ul li ul li {margin-bottom:1px; background:none; width:192px !important; border:1px solid transparent; margin-left:5px;}
.leftNavSelector ul li ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px; width:100%;} 
.leftNavSelector ul li ul li ul li span {color: #333; padding:4px 20px 4px 15px; background:none; font-size:12px;}

.leftNavSelector li:hover li a,
.leftNavSelector li.AspNet-Menu-Hover li a
{background:none;}

.leftNavSelector li li:hover li span ,
.leftNavSelector li li.AspNet-Menu-Hover li span
{color: #333;}


.leftNavSelector li li li:hover a ,
.leftNavSelector li li li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.leftNavSelector li.AspNet-Menu-WithChildren li li:hover a ,
.leftNavSelector li.AspNet-Menu-WithChildren li li.AspNet-Menu-Hover a
{background:none;}
.leftNavSelector li li.AspNet-Menu-WithChildren:hover li a ,
.leftNavSelector li li.AspNet-Menu-WithChildren.AspNet-Menu-Hover li a
{background:none;}
.leftNavSelector li li.AspNet-Menu-WithChildren li:hover a ,
.leftNavSelector li li.AspNet-Menu-WithChildren li.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.leftNavSelector li li li.AspNet-Menu-WithChildren:hover a ,
.leftNavSelector li li li.AspNet-Menu-WithChildren.AspNet-Menu-Hover a
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 184px 9px;}



.leftNavSelector li li li:hover span ,
.leftNavSelector li li li.AspNet-Menu-Hover span
{color:#333;}



.leftNavSelector ul li ul li ul li ul li {margin-bottom:1px; background:none;}
.leftNavSelector ul li ul li ul li ul li a {outline:none; padding-left:0px; display:block; float:left; background:none; padding:0px 0px 0px 0px; width:100%;} 
.leftNavSelector ul li ul li ul li ul li span {color: #666; padding:2px 10px 2px 35px; background:none; font-size:12px;}

.leftNavSelector li:hover li a,
.leftNavSelector li.AspNet-Menu-Hover li a
{background:none;}

.leftNavSelector li li:hover li span ,
.leftNavSelector li li.AspNet-Menu-Hover li span
{color: #333;}

.leftNavSelector li li li:hover span ,
.leftNavSelector li li li.AspNet-Menu-Hover span
{color:#AE0000;}

.leftNavSelector li li li li:hover span ,
.leftNavSelector li li li li.AspNet-Menu-Hover span
{color:#AE0000;}
*/


.leftNavSelector ul li.AspNet-Menu-ChildSelected, .leftNavSelector ul li.AspNet-Menu-Selected
{}
.leftNavSelector ul li a.AspNet-Menu-ChildSelected, .leftNavSelector ul li a.AspNet-Menu-Selected
{}
.leftNavSelector ul li.AspNet-Menu-WithChildren a.AspNet-Menu-ChildSelected, .leftNavSelector ul li.AspNet-Menu-WithChildren a.AspNet-Menu-Selected
{}
.leftNavSelector ul li a.AspNet-Menu-ChildSelected span, .leftNavSelector ul li a.AspNet-Menu-Selected span
{color:#FFF;}

/*
.leftNavSelector ul li ul li.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li.AspNet-Menu-Selected
{background:#FFF; border:1px solid #CCC;}
.leftNavSelector ul li ul li a.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.leftNavSelector ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-ChildSelected, .leftNavSelector ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 190px 9px;}
.leftNavSelector ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 190px 9px;}
.leftNavSelector ul li ul li a.AspNet-Menu-ChildSelected span, .leftNavSelector ul li ul li a.AspNet-Menu-Selected span
{color:#AE0000;}

.leftNavSelector ul li ul li ul li.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li ul li.AspNet-Menu-Selected
{background:#FFF; border:1px solid #CCC;}
.leftNavSelector ul li ul li ul li a.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.leftNavSelector ul li ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li.AspNet-Menu-WithChildren ul li a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_right.png) no-repeat 184px 9px;}
.leftNavSelector ul li ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-ChildSelected, .leftNavSelector ul li ul li ul li.AspNet-Menu-WithChildren a.AspNet-Menu-Selected
{background:#FFF url(../_inc/images/design/menu_arrow_red_down.png) no-repeat 184px 9px;}
.leftNavSelector ul li ul li ul li a.AspNet-Menu-ChildSelected span, .leftNavSelector ul li ul li a.AspNet-Menu-Selected span
{color:#AE0000;}


.leftNavSelector li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected
{}

.leftNavSelector li.AspNet-Menu-Selected a span, .leftNavSelector li.AspNet-Menu-ChildSelected a span
{}
*/


/*    Menu FOOTER      */

.mZoranFooter ul.AspNet-Menu ul
{
position: absolute;
visibility: visible;   
}
.mZoranFooter ul.AspNet-Menu li:hover ul ul,
.mZoranFooter ul.AspNet-Menu li.AspNet-Menu-Hover ul ul{visibility: visible;}
.mZoranFooter ul.AspNet-Menu {font-size:14px; font-family:Tahoma;}
.mZoranFooter ul.AspNet-Menu li {font-family:Tahoma; /*width: 152px;*/ margin-right:20px;}

.mZoranFooter li:hover,
.mZoranFooter li.AspNet-Menu-Hover
{cursor:pointer; z-index:100;}

/*.mZoranFooter ul.AspNet-Menu ul{
width: 120px;
top: 100%;
left: 0;
font-size:13px;
font-family:Georgia;
}*/
.mZoranFooter ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mZoranFooter ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mZoranFooter ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mZoranFooter ul a:hover span{
color:#194696;
text-decoration:underline;
cursor:pointer;
}
.mZoranFooter ul li a {outline:none;}
.mZoranFooter ul li a span
{
color:#194696;
padding:5px 5px 5px 5px;
background: transparent; 
float:left;
font-size:14px;
text-decoration:none;
}
/*
.mZoranFooter ul li ul li {}
.mZoranFooter ul li ul li a{
outline:none; text-decoration:none !important;
}
.mZoranFooter ul li ul li a span{
background:url(../../_inc/images/design/1dva3_v2/rsaquo.jpg) no-repeat 0px 8px;
color: #333;
padding:3px 0px 3px 0px;
float:left;
font-size:12px;
text-decoration:none !important;
}
.mZoranFooter ul li ul li a:hover span{
color:#0066CC !important;
text-decoration:underline !important;
}
.mZoranFooter ul li ul li ul li {}
.mZoranFooter ul li ul li ul li a {}
.mZoranFooter ul li ul li ul li a span{
color: #333;
padding:2px 0px 2px 9px;
float:left;
font-size:11px;
background:url(../../_inc/images/design/1dva3_v2/raquo.jpg) no-repeat 0px 6px;
}
*/
.mZoranFooter ul a.AspNet-Menu-Selected span{
color:#194696;
text-decoration:underline !important;
}
/*
.mZoranFooter ul li ul li a.AspNet-Menu-Selected span{
color:#FF6600 !important;
text-decoration:underline !important;
}
*/
.mZoranFooter ul li a.AspNet-Menu-ChildSelected span{
/*color:#FF3300;
text-decoration:underline !important;*/
}





/*    TEMPLATE OVERRIDES    */

.moduleNew select {width: 110px;}
.AspNet-Menu-Horizontal {overflow-y:visible;}


a.btsettStatusHelp img {border: none;}


.cwp .conBody, .cwp .contMap {padding:0px 0px 0px 0px;} 
.contPoll {border:none; background:#F0F0F0; padding:10px;}
.poll_render {border:none; background:#F0F0F0;}
.headerR_contW .cwp .conBody {padding:0px 7px 0px 7px;}

/*
.cwp .contArticles {padding:0px 5px 0px 5px;} 
.cwp .cPollItem {padding:0px 0px 0px 0px;}
.cwp .contContact {padding:5px 12px 0px 12px;}
.cwp .divArchive {padding:5px 12px 10px 12px;} 
.cwp .contPoll .divArchive {padding:7px 0px 0px 0px;}
.cwp .contGal {padding:0px 8px 10px 8px; _padding:0px 7px 10px 7px !important;}
.cwp .cArtList {padding:0px 12px 0px 12px;}
*/


/*    OTHER    */

.uiStream .uiStreamMessage {font-size:11px;}