﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
</head>
<body>
<p>
    Pozdravljeni!
    <br />    
    <br />     
    Registrirali ste se v sistemu <%= SM.BLL.Common.Emenik.Data.PortalName () %>
    <br />
    ---------------------------------------
    <br />    
    <br />    
    Uporabniško ime:
    <br />
    <%UserName%>
    <br />    
    <br />    
    Geslo:
    <br />
    <%Password%>
    <br />    
    <br />

    <a href="<%PageHref%>"><%PageHref%></a>

    <br />    
    <br />

    Lep pozdrav,
    ekipa <%= SM.BLL.Common.Emenik.Data.PortalName () %>

</p>


</body>
</html>
