﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
</head>
<body>
<p>
    Pozdravljeni!
    <br />    
    <br />     
    To je potrditveni email. Prejeli ste ga, ker ste se registrirali na strani www.<%= SM.BLL.Common.Emenik.Data.PortalName () %>.
    <br />    
    <br />    
    Uporabniško ime:<%UserName%>
    <br />    
    <br />    
    Preden se lahko prijavite, morate s klikom na spodnjo povezavo potditi svoj email naslov. s tem bo postopek registracije zaključen.
    <br />    
    <br />

    <a href="<%VerifyUrl%>"><%VerifyUrl%></a>

    <br />    
    <br />

    Lep pozdrav,
    ekipa <%= SM.BLL.Common.Emenik.Data.PortalName () %>

</p>


</body>
</html>
