﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>1dva3.si</title>
</head>
<body>
<p>
    <%Message%>    
</p>

<p>
    <a href="<%HREF%>">klikni tukaj</a>
</p>


</body>
</html>
