﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>1dva3.si - vaša stran bo potekla</title>
</head>
<body>
<p>
   Pozdravljeni!
    <br />    
    <br />  
    
    Vaša spletna stran bo potekla.
    <br />
    Valjavnost spletne strani:<%DateValid%>
    <br />
    
    
    
    <br />    
    Uporabniško ime:<%UserName%>
    <br />    
    Naziv strani:<%PageName%>
    <br />    

    
    <br />
    Lep pozdrav,
    ekipa <%PortalName%> 
    
</p>

</body>
</html>
