﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pozabljeno geslo</title>
</head>
<body>

<p>
   Pozdravljeni!
    <br />    
    <br />  
    
    Vaši podatki uporabniški podatki za www.terra-gourmet.com:
    <br />    
    Uporabniško ime: <%UserName%>
    <br />    
    Geslo: <%Password%>
    
   <br />    
    <br />
    * po uspešni prijavi si lahko spremenite svoje geslo pod <strong>Moj račun</strong>
    <br />    
    <br />
   
    Lep pozdrav,
    <br />
    www.terra-gourmet.com
    
</p>

</body>
</html>
