﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>1dva3.si - predračun za naročilo storitev</title>
</head>
<body>
<p>
   Pozdravljeni!
    <br />    
    <br />  
    
    Vaš predračun za naročilo storitev 1dva3.si
    
    <br />    
    Uporabniško ime:<%UserName%>
    <br />    
    Naziv strani:<%PageName%>
    <br />    

    <br />    
    Znesek skupaj:<%SumTotal%>    
    <br />    
    TRR:<%TRR%>
    <br />    
    REFERENCA:<%RefNo%>
    <br />    
    <br />
    PREJEMNIK: Smardt d.o.o.
    <br />
    Vrh pri Ljubnu 2, 8000 Novo mesto
    <br />
    ID: <%TaxNo%>
    <br />
    Lep pozdrav,
    ekipa 1dva3.si
    
</p>

</body>
</html>
