﻿<%@ Page Language="C#" MasterPageFile="~/cms/cms.master" AutoEventWireup="true" CodeFile="newsletter-signout.aspx.cs" Inherits="Newsletter_signout" Title="Untitled Page" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">

    <h2><asp:Literal ID="litMessage" runat="server"></asp:Literal></h2>

</asp:Content>

