﻿p { line-height:140%;font-size:13px;text-align:justify;}
.wizz_main {border:dashed 1px #999; font-family:Tahoma;}
.wizz_main h1 {font-family: Tahoma; font-size: 21px; font-weight:normal; color: #006BA3; padding:5px 0px 5px 0px;}
.wizz_main h2 {font-family: Tahoma; font-size: 15px; color: #333333; padding:5px 0px 5px 0px;}
.wizz_main h3 {font-family: Tahoma; font-size: 17px; color: #333333; padding:5px 0px 5px 0px;}
.wizz_main p {font-family: Tahoma; font-size: 12px; color: #666; padding:2px 2px 2px 2px; line-height:130%;}
.wizz_settStatus {padding:5px 5px 5px 5px; text-align:right; float:right;}
.btsettStatusHelpWrapp {padding:5px 0px 0px 5px;}
a.btsettStatusHelp {padding:4px 2px 5px 2px; cursor:help;}
a.btsettStatusHelp img {border:none;}
a.btcwpHeadHelp {padding:4px 0px 5px 0px;}
a.btsettStatusHelp:hover, a.btcwpHeadHelp:hover {color:#000 !important; text-decoration:none;}
a.btsettStatusTooltip {cursor:help;}
.settStatusWrapp {display:none; position:absolute; width:500px; z-index:700;}
.cwpHeadHelpWrapp{}
.settStatus {border:1px solid #666; color:#666; padding:10px 10px 10px 10px; line-height:150%; font-family: Tahoma; font-size: 12px; text-align:justify; font-weight:normal !important;
background:url('../../../_inc/images/design/pod_tekst_bg_repeat.jpg') repeat-x #F0F0F0;}
.cwpHeadHelp {}
.settStatus a {color:#000 !important; text-decoration:underline;}
.settStatus a:hover {text-decoration:none;}
.settStatus ul li {list-style-position:inside; padding-bottom:5px;}
.wizz_main_steps {padding:7px;}

.cEditStep {position:absolute; z-index:300; clear:both; margin:-10px 0 0 0px;}
.cEditStepLang {margin:-10px 0 0 -120px;}
.cEditStepMenu {margin:-26px 0 0 0px;}
.cEditStepFooter {margin:-20px 0 0 0px;}
a.editStep {display: block !important; float: left; font: normal 14px Tahoma !important; line-height: 20px !important; height: 28px !important;  padding:0px !important;
padding-left: 36px !important; text-decoration: none !important; outline:none !important; background:none; background: transparent url('../../../_inc/images/button/edit_object_left.png') no-repeat top left !important;}
a:link.editStep, a:visited.editStep, a:active.editStep {color: #FFF !important; text-decoration:none !important;}
a.editStep span {background: transparent url('../../../_inc/images/button/edit_object_right.png') no-repeat top right !important; display: block; padding: 3px 15px 5px 0;}
a.editStep:hover {background-position: bottom left !important;}
a.editStep:hover span {background-position: bottom right !important; color: #FFF !important;}

.floatL {float:left;}
.floatR {float:right;}

/***  jquery modal popup overrides *****/
.ui-widget-overlay {background: #000 !important; opacity: .7 !important; filter:Alpha(Opacity=70) !important;}
.ui-dialog .ui-dialog-content {padding:0 !important;}

/***  modal popup classes *****/
.modBcg {background-color:#000000; filter:alpha(opacity=80); opacity:0.8; position:absolute !important;}
.modPopup {background-color:#FFFFFF; padding:0px; width:810px; position:absolute !important; height:auto !important; min-height:400px;}
.modPopupDrag {background-color:#FFFFFF; padding:0px; width:700px; position:absolute !important; height:auto !important; min-height:400px; -moz-user-select: none !important;}
.modBcgGal {background-color:#000; filter:alpha(opacity=70); opacity:0.70; position:absolute !important;}
.modPopupGal {background-color:#F0F0F0; padding:15px 5px 15px 5px; width:810px; position:absolute !important; height:auto !important; min-height:400px; -moz-user-select: none !important;}
.modPopupCrop {background-color:#FFFFFF; padding:0px; width:1040px; position:absolute !important; height:auto !important; min-height:400px;}
.modCMSPopup a {color:#006699;}
.modCMSPopup a:hover {color:#FF2E00;}
.modCMSTitle {display:block; color:#FFF; background:#0085B8 none repeat scroll 0%; border:2px solid #0085B8; height:20px; font-family: Tahoma; padding:2px; text-align:center;}
.modTitle {display:block; color:#FFF; background:#0085B8 none repeat scroll 0%; border:2px solid #0085B8; height:20px; font-family: Tahoma; padding:2px; text-align:center;}
.buttonwrapperModal {overflow: hidden; width: 100%; padding:5px 2px 2px 2px;}

/********  modPopup   ********/
.modPopup_header {width:100%; min-height:98px; height:auto !important; height:98px;}
.modPopup_header h4, .modPopup_header p {font-family: Tahoma; font-weight:normal; font-size: 21px; padding:7px 0px 5px 0px; margin-left:100px; color:#FFF;}
.modPopup_header p {font-size: 14px; padding:2px 0px 5px 0px;}
.modPopup_headerAdd {background:#0066CC url(../../../_inc/images/modpopup/btn_mpu_dodaj.jpg) no-repeat 10px 5px;}
.modPopup_headerEdit {background:#0066CC url(../../../_inc/images/modpopup/btn_mpu_urejanje.jpg) no-repeat 10px 5px;}
.modPopup_headerSettings {background:#0066CC url(../../../_inc/images/modpopup/btn_mpu_nastavitve.jpg) no-repeat 10px 5px;}

.modPopup_main, .modPopup_mainArticle, .modPopup_mainFCK, .modPopupDrag_main {margin: 0px auto 10px auto; width:97%; font-family:Tahoma !important;}
.modPopup_main {min-height:400px; height:auto !important; height:400px; font-size:13px; font-family:Tahoma;}
.modPopupDrag_main {min-height:240px; height:auto !important; height:240px;}
span.modPopup_mainTitle {font-family: Tahoma; font-weight:normal; font-size: 17px; padding:10px 0px 3px 0px; color:#0066CC; display:block; border-bottom:#CCC 1px solid; margin-bottom:5px; text-align:left;}
span.modPopup_mainTitleProduct {}
.modPopup_main .ajax__tab_body {font-family:Tahoma !important; font-size:13px !important;}
.modPopup_main .ajax__tab_container {padding-top:10px;}
.modPopup_main .ajax__tab_container .ajax__tab_tab {font-family:Tahoma !important;}
input.modPopup_TBXsettings {margin:3px 20px 3px 0px; width:270px; color:#333; font-family:Tahoma !important; padding:4px 4px 4px 4px; padding:3px 4px 3px 4px\9; *padding:3px 4px 3px 4px; font-size:12px !important;}
.modPopup_main input, .modPopup_main select, .modPopup_main textarea, .modPopup_main button {font-family:Tahoma !important; font-size:13px;}
input.modPopup_TBXdate {width:70px; margin:0px 0px 0px 0px; font-family:Tahoma !important; font-size:12px !important;}
textarea.modPopup_TBXsettings {padding:4px; color:#333; line-height:14px; font-size:12px !important; font-family:Tahoma !important;}
input.modPopup_TBXsettingsGalLang, textarea.modPopup_TBXsettingsGalLang {width:230px; margin:4px 0px 6px 0px; font-family:Tahoma !important; font-size:12px !important;}
input.modPopup_mainWatermark {color:#999; margin:3px 20px 3px 0px; width:270px; padding:4px 4px 4px 4px; padding:3px 4px 3px 4px\9; *padding:3px 4px 3px 4px; font-family:Tahoma !important; font-size:12px !important;}
textarea.modPopup_mainWatermark {padding:4px; color:#999; line-height:14px; font-size:12px !important; font-family:Tahoma; font-family:Tahoma !important;}
input.modPopup_mainWatermarkGalLang, textarea.modPopup_mainWatermarkGalLang {width:230px; margin:4px 0px 6px 0px; font-family:Tahoma !important; font-size:12px !important;}
span.modPopup_CBXsettings a {margin:0px 2px 0px 0px; font-family:Tahoma !important; font-size:12px !important;}
.modPopup_CBXsettings label {padding:4px 2px 0px 0px; font-size:14px !important; font-family:Tahoma !important;}
.modPopup_footer {margin: 0px auto 10px auto; width:97%;}

a.Alookup {color:#666; background:url(../../../_inc/images/webpart/search_icon.png) no-repeat top left; _background:url(../../../_inc/images/webpart/search_icon.gif) no-repeat top left;
line-height: 24px; min-height:24px; height:auto !important; height: 24px; padding:0px 2px 0px 22px; text-decoration:none; font-size:12px; display:inline-block; outline:none;}
a.Alookup:hover {color:#333; text-decoration:underline; background-position: bottom left;}

/***** reorder list  ******/
/*    DRAG    */
.sortDragHandle {background:transparent url(../../../_inc/modpopup/btn_move_menu.jpg) no-repeat 2px 2px; height:16px; width:20px; cursor:move;}
.sortCont li {list-style-image:none; list-style-position:inside; list-style-type:none; margin-top:8px; padding:6px 10px 6px 30px;  filter:alpha(opacity=70); opacity:0.7; font-size:14px; color:#333; background: url(../../../_inc/images/modpopup/btn_move_menu.jpg) no-repeat 2px 2px ;}
.sortCont li:hover {cursor:move;}
.sortDrag {color:#FF2E00; border-top:1px solid #FF2E00; border-bottom:1px solid #FF2E00;}
.sortItem {color:#006699; border-top:1px solid #666; border-bottom:1px solid #666;}
.sortCal {background:#FFF;}

/********  gallery   ********/

/**** gallery NEW fancybox ****/
.fb_galData, .fb_txtData {line-height:130%;}
.fb_txtData {padding-top:10px; left:0px;}
span#fb_galDesc, span#fb_txtTitle, span#fb_txtDesc, span#fb_galTitle {font-family:Tahoma; font-size:12px; line-height:120%; color:#333;}
span#fb_galTitle {font-size:14px; font-weight:bold;}
span#fb_txtTitle {font-weight:bold;}
span#fb_txtDesc {}

#fb_cGalImgBig, .fb_imagePN {}
#fb_cGalImgBig {}
#fb_cGalImgBig img {}

#fb_galHovNav {left: 0;}
#fb_galHovNav {position: absolute; z-index: 10;}

#fb_hovPrev, #fb_hovNext {position: absolute; bottom: 0px; height: 100%; width: 45%; cursor: pointer; outline: none; background-image: url(../../../_inc/images/gallery/blank.gif); z-index: 1102; display: none;}
#fb_hovPrev {left: 0px;}
#fb_hovNext {right: 0px;}
#fb_hovPrev_ico, #fb_hovNext_ico {position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block;}
#fb_hovPrev_ico {background: transparent url(../../../_inc/images/gallery/fancy_nav_left.png) no-repeat; _background-image:none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_inc/images/gallery/fancy_nav_left.png',sizingMethod='crop');}

#fb_hovNext_ico {background: transparent url(../../../_inc/images/gallery/fancy_nav_right.png) no-repeat; _background-image:none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_inc/images/gallery/fancy_nav_right.png',sizingMethod='crop');}
#fb_hovPrev:hover, #fb_hovNext:hover {visibility: visible; /* IE6 */}
#fb_hovPrev:hover span {left: 10px;}
#fb_hovNext:hover span {left: auto; right: 10px;}

/***********************************/

a.fb_btClose {height:46px; padding:0px 30px 0px 30px; display:block; text-indent:-9999; float:right; outline:none; background: url(../../../_inc/images/gallery/gal_carousel_close.jpg)  no-repeat top center;}
a.fb_btClose:hover {background-position:bottom center;}
.fb_btnwrappModalGallery {overflow: hidden; width: 97%; padding:5px 2px 2px 2px; text-align:right;}

#fb_cProgress {text-align:center;}
#fb_sProgress {width:100% !important; height:400% !important; text-align:center; vertical-align:middle;}
.divGalImgThumb {margin: 0px 4px 8px; float: left;}
a.divGalImgThumb_btnEdit {height:28px; padding:0px 16px 0px 16px; display:block; text-indent:-9999; outline:none; background: url(../../../_inc/images/gallery/btn_edit_pic.png) no-repeat -3px -3px;}
a.divGalImgThumb_thumb, span.galBox a {padding:3px; border:1px solid #CCC; display:block; outline:none;}
a.divGalImgThumb_thumb:hover, span.galBox a:hover, img.imgMove:hover {border:1px solid #666 !important;}
img.imgMove {padding:3px; border:1px solid #CCC !important;}
span.galBox a {margin:3px 8px 3px 0px;}
a.btEditArticle:hover {background-position:bottom center;}
.galEmpty, .galOpen {padding-left:4px;}

/* CAROUSEL GALERIJA POPUP new gallery*/
.fb_jCarousel .jcarousel-skin-tango .jcarousel-clip-horizontal {height:85px !important; width:650px !important;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-container-horizontal {padding:10px 10px 10px 10px !important; width:650px !important; margin-left:auto; margin-right:auto;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-item {height:84px !important; width:130px !important;}
.fb_jCarousel .jcarousel-skin-tango li.jcarousel-item:hover {cursor:auto;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-item-horizontal {margin-right:0px !important;}

 /*  Horizontal Buttons  */
.fb_jCarousel .jcarousel-skin-tango .jcarousel-next-horizontal {position: absolute; top: 35px; right: -15px; width: 22px; height: 32px; cursor: pointer; background: transparent url(../../../_inc/images/gallery/galery_next-horizontal.png) no-repeat 0 0;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-next-horizontal:hover {background-position: -22px 0;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-next-horizontal:active {background-position: -44px 0;}

.fb_jCarousel .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.fb_jCarousel .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.fb_jCarousel .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {cursor: default; background-position: -66px 0;}

.fb_jCarousel .jcarousel-skin-tango .jcarousel-prev-horizontal {position: absolute; top: 35px; left: -15px; width: 22px; height: 32px; cursor: pointer; background: transparent url(../../../_inc/images/gallery/galery_back-horizontal.png) no-repeat 0 0;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {background-position: -22px 0;}
.fb_jCarousel .jcarousel-skin-tango .jcarousel-prev-horizontal:active {background-position: -44px 0;}

.fb_jCarousel .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.fb_jCarousel .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.fb_jCarousel .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {cursor: default; background-position: -66px 0;}

.fb_jCarousel .jcarousel-skin-tango ul li a {outline:none; display:block; width:118px; margin-left:auto; margin-right:auto;}
.fb_jCarousel .jcarousel-skin-tango a img {padding:1px; border: #F0F0F0 1px solid;}
.fb_jCarousel .jcarousel-skin-tango a img.fb_selThumb {padding:1px; border: #CCC 1px solid !important;}
.fb_jCarousel .jcarousel-skin-tango a:hover img {padding:1px; border: #CCC 1px solid !important;}
.fb_jCarousel img, #fb_cGalImgBig img {visibility:visible !important;}
.fb_jCarousel {position:absolute; top:-140px; margin-left:auto; margin-right:auto; width:720px;}
.fb_jCarouselGal {margin:0px auto 0px auto; width:720px; background:#FFF;}

/* popup transparent edges */
div.popupedge-bg { position: absolute; padding: 0; margin: 0; border: 0; z-index: 1001;}
div#popupedge-bg-n { top: -20px; left: 0; width: 100%; height: 20px; 
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_n.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_n.png',sizingMethod='scale');
}
div#popupedge-bg-ne { top: -20px; right: -20px; width: 20px; height: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_ne.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_ne.png',sizingMethod='crop');
}
div#popupedge-bg-e { top: 0; right: -20px; height: 100%; width: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_e.png') repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_e.png',sizingMethod='scale');
}
div#popupedge-bg-se { bottom: -20px; right: -20px; width: 20px; height: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_se.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_se.png',sizingMethod='crop');
}
div#popupedge-bg-s { bottom: -20px; left: 0; width: 100%; height: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_s.png') repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_s.png',sizingMethod='scale');
}
div#popupedge-bg-sw { bottom: -20px; left: -20px; width: 20px; height: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_sw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_sw.png',sizingMethod='crop');
}
div#popupedge-bg-w { top: 0; left: -20px; height: 100%; width: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_w.png') repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_w.png',sizingMethod='scale');
}
div#popupedge-bg-nw { top: -20px; left: -20px; width: 20px; height: 20px;
background: transparent url('../../../JavaScript/fancybox/fancy_shadow_nw.png') no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/JavaScript/fancybox/fancy_shadow_nw.png',sizingMethod='crop');
}

/* EDIT webpart  */
.cwp_zone {min-height:5px; height:auto !important; padding:0px;}
.cwp_zone_edit {min-height:20px; height:auto !important;}
.cwp_empty {line-height:0px; font-size:0px; padding:0px; min-height:0px; height:auto !important; height:0px;}
.cwp_placeholder {background-color:Aqua; border: 2px dashed #F00;}
.cwp_ph_img {background-color:Aqua; border: 1px dashed #F00; float:left; margin:0px 3px 6px 3px;}
.cwp {display:block; padding:8px 5px 8px 5px; margin-bottom:5px;}
.cwp .cwpHeader {min-height:39px; height:auto !important; background: #0D97F9 url('../../../_inc/images/webpart/header_active_blue.jpg') repeat-x; width:100% !important;}
.cwpHeader:hover {cursor:move;}
.cwp .cwpHeaderRight {background:url('../../../_inc/images/webpart/header_active_blue_top_right.jpg') no-repeat top right; float:right; width:5px;}
.cwp .cwpHeaderLeft {background:url('../../../_inc/images/webpart/header_active_blue_top_left.jpg') no-repeat top left; float:left; width:5px;}
.cwpHidden .cwpHeaderRight {background:url('../../../_inc/images/webpart/header_unactive_grey_top_right.jpg') no-repeat top right; }
.cwpHidden .cwpHeaderLeft {background:url('../../../_inc/images/webpart/header_unactive_grey_top_left.jpg') no-repeat top left; }

.cwpHeader div.cwpHeaderTitle {font-family:Tahoma; font-size:17px; color:#000; font-weight:normal; display:block; padding:9px 5px 5px 7px;}
.cwpHidden .cwpHeader{background: #999999 url('../../../_inc/images/webpart/header_unactive_grey.jpg') repeat-x;}

.cwp .cwpHeader a.btMove, .cwp .cwpHeader a.btNew, .cwp .cwpHeader a.btShow, .cwp .cwpHeader a.btHide, .cwp .cwpHeader a.btDelete, .cwp .cwpHeader a.btSettings, .cwp .cwpHeader a.btEdit, 
.moduleNew a.btAddModule, a.btEditArticle {height:39px; padding:0px 18px 0px 19px; display:block; text-indent:-9999; outline:none; float:left;}

a.btEditArticle {background: url(../../../_inc/images/webpart/btn_white_edit.jpg) no-repeat top center; margin-right:6px;}
a.btEditArticle:hover {background-position:bottom center;}

.cwp .cwpHeader a.btMove {background:url(../../../_inc/images/webpart/btn_blue_move.jpg) no-repeat top center; cursor:move; float:left; margin-right:7px;}
.cwpHidden .cwpHeader a.btMove {background:url(../../../_inc/images/webpart/btn_grey_move.jpg) no-repeat top center;}
.cwp .cwpHeader a.btMove:hover {background-position:bottom center !important; cursor:move;}

.cwp .cwpHeader a.btEdit {background:url(../../../_inc/images/webpart/btn_blue_edit.jpg) no-repeat top center;}
.cwpHidden .cwpHeader a.btEdit {background:url(../../../_inc/images/webpart/btn_grey_edit.jpg) no-repeat top center;}
.cwp .cwpHeader a.btEdit:hover {background-position:bottom center;}

.cwp .cwpHeader a.btNew {background:url(../../../_inc/images/webpart/btn_blue_add.jpg) no-repeat top center;}
.cwpHidden .cwpHeader a.btNew {background:url(../../../_inc/images/webpart/btn_grey_add.jpg) no-repeat top center;}
.cwp .cwpHeader a.btNew:hover {background-position:bottom center;}

.cwp .cwpHeader a.btShow {background:url(../../../_inc/images/webpart/btn_blue_show.jpg) no-repeat top center;}
.cwpHidden .cwpHeader a.btShow {background:url(../../../_inc/images/webpart/btn_grey_show.jpg) no-repeat top center;}
.cwp .cwpHeader a.btShow:hover {background-position:bottom center;}

.cwp .cwpHeader a.btHide {background:url(../../../_inc/images/webpart/btn_blue_hide.jpg) no-repeat top center;}
.cwpHidden .cwpHeader a.btHide {background:url(../../../_inc/images/webpart/btn_grey_hide.jpg) no-repeat top center;}
.cwp .cwpHeader a.btHide:hover {background-position:bottom center;}

.cwp .cwpHeader a.btDelete {background:url(../../../_inc/images/webpart/btn_blue_delete.jpg) no-repeat top center;}
.cwpHidden .cwpHeader a.btDelete {background:url(../../../_inc/images/webpart/btn_grey_delete.jpg) no-repeat top center;}
.cwp .cwpHeader a.btDelete:hover {background-position:bottom center;}

.cwp .cwpHeader a.btSettings {background:url(../../../_inc/images/webpart/btn_blue_options.jpg) no-repeat top center;}
.cwpHidden .cwpHeader a.btSettings {background:url(../../../_inc/images/webpart/btn_grey_options.jpg) no-repeat top center;}
.cwp .cwpHeader a.btSettings:hover {background-position:bottom center;}

.moduleNew a.btAddModule {background:url(../../../_inc/images/webpart/btn_green_addmodul.jpg) no-repeat top center; display:inline-block;}
.moduleNew a.btAddModule:hover {background-position:bottom center;}

.moduleNew a.btAddwthText, .moduleNew a.btEditwthText {background:url(../../../_inc/images/webpart/edit_dodaj_left.jpg) no-repeat top left; display: block; float: left;
font: normal 14px Tahoma; line-height: 39px; min-height:39px; height:auto !important; height: 39px; padding:0px; padding-left: 53px !important; text-decoration: none !important; outline:none !important;}

.moduleNew a:link.btAddwthText, .moduleNew a:visited.btAddwthText, .moduleNew a:active.btAddwthText,
.moduleNew a:link.btEditwthText, .moduleNew a:visited.btEditwthText, .moduleNew a:active.btEditwthText{
color: #FFF !important; text-decoration:none !important;}

.moduleNew a.btAddwthText span, .moduleNew a.btEditwthText span {background:url(../../../_inc/images/webpart/edit_dodaj_right.jpg) no-repeat top right; display: block; line-height: 39px; padding: 0px 15px 0px 0; color:#FFF;}
.moduleNew a.btAddwthText:hover, .moduleNew a.btEditwthText:hover {background-position: bottom left !important;}
.moduleNew a.btAddwthText:hover span, .moduleNew a.btEditwthText:hover span {background-position: bottom right !important; color: #FFF !important;}

.moduleNew a.btEditwthText{ background:url(../../../_inc/images/webpart/edit_uredi_left.jpg) no-repeat top left;}
.moduleNew a.btEditwthText span{ background:url(../../../_inc/images/webpart/edit_uredi_right.jpg) no-repeat top right;}

a.btEditContwthText {color:#666; background:url(../../../_inc/images/webpart/uredi.png) no-repeat top left; _background:url(../../../_inc/images/webpart/uredi.gif) no-repeat top left;
line-height: 22px; min-height:22px; height:auto !important; height: 22px; padding:0px 2px 0px 22px; text-decoration:none; font-size:12px; display:inline-block;}

a.btEditContwthText:hover {color:#333; text-decoration:underline; background-position: bottom left;}

.cwpEdit .cwpContainer, .cwpEdit .cGalcwpContainer, .cwpEdit .cContFcwpContainer {border: 1px dashed #0D97F9; border-top:none; padding:3px 0px 3px 0px;}
.cwpHidden .cwpContainer, .cwpHidden .cGalcwpContainer, .cwpHidden .cContFcwpContainer {border: 1px dashed #999; border-top:none; padding:3px 0px 3px 0px;}
.cwpEdit .cGal.cwpContainer {padding:3px 0px 3px 0px;}

.moduleNew {min-height:39px; height:auto !important; background: transparent url('../../../_inc/images/webpart/header_add_green.jpg') repeat-x;}
.moduleNewRight {background:url('../../../_inc/images/webpart/header_add_green_right.jpg') no-repeat top right; float:right; width:5px; min-height:39px; height:auto !important; height:39px;}
.moduleNewLeft {background:url('../../../_inc/images/webpart/header_add_green_left.jpg') no-repeat top left; float:left; width:5px; min-height:39px; height:auto !important; height:39px;}
.moduleNew select {margin:10px 6px 0px 4px;}

.cwpH1 {border: 1px solid #E3E3E3; background:#DFDFDF url(../../../_inc/images/webpart/cwpH1.jpg) repeat-x; margin-bottom:5px;}
.cwpH1 h1 {color: #666; padding:3px 5px 4px 5px;}

.cwp .contArticles, .cwp .conBody, .cwp .contMap, .cwp .cPollItem { padding:0px 5px 0px 5px; }
.cwp .contContact {padding:0px 0px 0px 0px; }
.cwp .divArchive {padding:7px 5px 0px 5px;} 
.cwp .contGal {padding:0px 1px 0px 1px; _padding:0px 0px 0px 0px !important;}

/*** user settings ***/
.settNavTopWrapp {min-height:32px; height:auto !important; height:32px; width:100%; background:#FFF;}
.settNavTop, .settNavMid, .settNavCenter, .settNavBottom {margin-left:auto; margin-right:auto; width:970px; font-family:Tahoma;}
.settNavTop {min-height:32px; height:auto !important; height:32px; color:#CCC;}
.settNavTopRight a {color:#FF6600; text-decoration:none;}
.settNavTopRight a:hover {text-decoration:underline;}
.settNavTopLeft {width:30%; float:left; padding-top:3px;}
.settNavTopRight {float: right; display:inline; font-family:Tahoma; font-size:13px; color:#333; padding-top:7px;}
.settNavTopRightPad {padding-top:0px;}
.settNavTopLeft span.icon {margin-top:10px; padding:3px 0px 3px 0px; line-height:18px;}
.settNavTopLeftI, .settNavTopLeftI a {}
.settNavTopLeftI a, .settNavTopLeftI span {font-family:Tahoma; line-height:24px; color:#FF6600; min-height:24px; height:auto !important; height:24px; font-size:11px; display:block; float:left; margin-right:7px; text-decoration:none;}
.settNavTopLeftI a:hover {text-decoration:none;}
.settNavTopLeftI img {border:none;}

.litPageStatus {color:#99CC00;}
.litPageStatus a {color:#FFFF00;}
.litPageStatus a:hover {text-decoration:none;}
span.pagename {text-decoration:underline;}

.settNavMidL a.btSettings, .settNavMidL a.btView, .settNavMidL a.btEdit, .settNavMidL a.btHelp {
height:34px; padding:0px 8px 0px 5px; display:block; float:left; outline:none; margin-right:5px; text-decoration:none;}

.settNavMidL a.btSettings span, .settNavMidL a.btView span, .settNavMidL a.btEdit span, .settNavMidL a.btHelp span {
color:#FFF; font-size:14px; padding:8px 0px 8px 36px; background: transparent; float:left; background:url(../../_inc/images/design/menu_blue_vert_right.png) no-repeat right bottom; cursor:pointer;}

.settNavMidL a.btHelp {padding:0px 42px 0px 42px; background: url(../../../_inc/images/design/help.jpg)  no-repeat top center;}
.settNavMidL a.btHelp:hover {background-position:bottom center;}

.settNavMidL a.btSettings:hover {background: url(../../../_inc/images/design/builder/settings_bt_mode_rep.jpg) repeat-x;}
.settNavMidL a.btView:hover {background: url(../../../_inc/images/design/builder/settings_bt_mode_rep.jpg) repeat-x;}
.settNavMidL a.btEdit:hover {background: url(../../../_inc/images/design/builder/settings_bt_mode_rep.jpg) repeat-x;}

.settNavMidL a.SelStat{background: url(../../../_inc/images/design/builder/settings_bt_mode_rep.jpg) repeat-x;}
.settNavMidL a.SelStat span{color:#0066CC;}

.settNavMidL a.btSettings span {background: url(../../../_inc/images/design/builder/bt_MSett.jpg) no-repeat left top;}
.settNavMidL a.btView span {background: url(../../../_inc/images/design/builder/bt_MView.jpg) no-repeat left top;}
.settNavMidL a.btEdit span {background: url(../../../_inc/images/design/builder/bt_MEdit.jpg) no-repeat left top;}
.settNavMidL a.btSettings.SelStat span, .settNavMidL a.btSettings:hover span {background: url(../../../_inc/images/design/builder/bt_MSett.jpg) no-repeat left bottom;}
.settNavMidL a.btView.SelStat span, .settNavMidL a.btView:hover span {background: url(../../../_inc/images/design/builder/bt_MView.jpg) no-repeat left bottom;}
.settNavMidL a.btEdit.SelStat span, .settNavMidL a.btEdit:hover span {background: url(../../../_inc/images/design/builder/bt_MEdit.jpg) no-repeat left bottom;}

.settNavMidL a.btSettings:hover span, .settNavMidL a.btView:hover span, .settNavMidL a.btEdit:hover span, .settNavMidL a.btHelp:hover span {color:#0066CC;}

.settNavTopRightOrange {color:#FFF !important;}
.wizz_loginName {color:#0066CC !important; text-decoration:underline;}

.settNavMidW {background:url(../../../_inc/images/design/builder/settings_mid_rep.jpg); min-height:43px; height:auto !important; height:43px;}
.settNavMid {color:#CCC;}
.settNavMidL {width:68%; float:left; padding-top:4px;}
.settNavMidR {float: right; display:inline; font-family:Tahoma; font-size:12px;}
.settNavMidRI {float:left; padding:5px 15px 0px 15px; line-height:140%;}

.settNavCenterWrapp {display:block; background:url(../../../_inc/images/design/builder/settings_center_rep.jpg);}
.settNavCenter {min-height:43px; height:auto !important; height:43px; display:block;}
.settNavCenter a {}

/************************************    NAVIGATION BUTTONS    **************************************/
.btNav1, .btNavDis1, .btNavOn1, .btNav2, .btNavDis2, .btNavOn2, .btNav3, .btNavDis3, .btNavOn3, .btNav4, .btNavDis4, .btNavOn4, .btNav5, .btNavDis5, .btNavOn5, .btNav6, .btNavDis6, .btNavOn6, .btNav7, .btNavDis7, .btNavOn7 {
height:39px; padding:0px 15px 0px 50px; display:block; float:left; outline:none; line-height:39px; font-size:12px; text-decoration:none; color:#666;}

.btNav1:hover, .btNavOn1, .btNav2:hover, .btNavOn2, .btNav3:hover, .btNavOn3, .btNav4:hover, .btNavOn4, .btNav5:hover, .btNavOn5, .btNav6:hover, .btNavOn6, .btNav7:hover, .btNavOn7 {
color:#0066CC;}

.btNav1{background:url(../../../_inc/images/design/builder/wizz_bt_oblika.jpg) no-repeat 10px top;}
.btNav1:hover{background-position: 10px bottom;}
.btNavDis1{background:url(../../../_inc/images/design/builder/wizz_bt_oblika.jpg) no-repeat 10px top; color:#999;}
.btNavOn1{background:url(../../../_inc/images/design/builder/wizz_bt_oblika.jpg) no-repeat 10px bottom;}

.btNav2{background:url(../../../_inc/images/design/builder/wizz_bt_jeziki.jpg) no-repeat 10px top;}
.btNav2:hover{background-position:10px bottom;}
.btNavDis2{background:url(../../../_inc/images/design/builder/wizz_bt_jeziki.jpg) no-repeat 10px top; color:#999;}
.btNavOn2{background:url(../../../_inc/images/design/builder/wizz_bt_jeziki.jpg) no-repeat 10px bottom;}

.btNav3{background:url(../../../_inc/images/design/builder/wizz_bt_menu.jpg) no-repeat 10px top;}
.btNav3:hover{background-position:10px bottom;}
.btNavDis3{background:url(../../../_inc/images/design/builder/wizz_bt_menu.jpg) no-repeat 10px top; color:#999;}
.btNavOn3{background:url(../../../_inc/images/design/builder/wizz_bt_menu.jpg) no-repeat 10px bottom;}

.btNav4{background:url(../../../_inc/images/design/builder/wizz_bt_glava.jpg) no-repeat 10px top;}
.btNav4:hover{background-position:10px bottom;}
.btNavDis4{background:url(../../../_inc/images/design/builder/wizz_bt_glava.jpg) no-repeat 10px top; color:#999;}
.btNavOn4{background:url(../../../_inc/images/design/builder/wizz_bt_glava.jpg) no-repeat 10px bottom;}

.btNav5{background:url(../../../_inc/images/design/builder/wizz_bt_elementi.jpg) no-repeat 10px top;}
.btNav5:hover{background-position:10px bottom;}
.btNavDis5{background:url(../../../_inc/images/design/builder/wizz_bt_elementi.jpg) no-repeat 10px top; color:#999;}
.btNavOn5{background:url(../../../_inc/images/design/builder/wizz_bt_elementi.jpg) no-repeat 10px bottom;}

.btNav6{background:url(../../../_inc/images/design/builder/wizz_bt_noga.jpg) no-repeat 10px top;}
.btNav6:hover{background-position:10px bottom;}
.btNavDis6{background:url(../../../_inc/images/design/builder/wizz_bt_noga.jpg) no-repeat 10px top; color:#999;}
.btNavOn6{background:url(../../../_inc/images/design/builder/wizz_bt_noga.jpg) no-repeat 10px bottom;}

.btNav7{background:url(../../../_inc/images/design/builder/wizz_bt_dodatno.jpg) no-repeat 10px top;}
.btNav7:hover{background-position:10px bottom;}
.btNavDis7{background:url(../../../_inc/images/design/builder/wizz_bt_dodatno.jpg) no-repeat 10px top; color:#999;}
.btNavOn7{background:url(../../../_inc/images/design/builder/wizz_bt_dodatno.jpg) no-repeat 10px bottom;}


.settNavBottomWrapp {background:url(../../../_inc/images/design/builder/settings_bottom_rep.jpg); min-height:69px; height:auto !important; height:69px;}
.settNavBottomI {color:#333; background:url(../../../_inc/images/design/builder/settings_bottom_help.jpg) no-repeat 10px 5px; padding: 0px 10px 0px 55px; font-size:11px; line-height:140%;}
.divStatMainNorm {}
.settNavBottom h4 {font-size:12px; margin-top:0px; padding:7px 0px 3px 0px; font-weight:normal; color:#FF6600;}

span.settNavCenter_sepa {display:block; float:left; width:2px; min-height:39px; height:auto !important; height:39px; background:url(../../../_inc/images/design/builder/settings_center_sepa.jpg);}
span.settNavMidR_sepa {display:block; float:left; width:3px; min-height:43px; height:auto !important; height:43px; background:url(../../../_inc/images/design/builder/settings_mid_sepa.jpg);}

/*________________________  BUTTONS  ___________________________*/
a.lbutton {background: transparent url('../../../_inc/images/design/button_left.jpg') no-repeat top left; display: block; float: left; font: normal 15px Tahoma; line-height: 30px; height: 41px; padding-left: 51px; text-decoration: none; margin-right:10px;}
a:link.lbutton, a:visited.lbutton, a:active.lbutton {color: #FFF !important; text-decoration:none !important;}
a.lbutton span {background: transparent url('../../../_inc/images/design/button_right.jpg') no-repeat top right; display: block; padding: 5px 20px 6px 0;}
a.lbutton:hover {background-position: bottom left;}
a.lbutton:hover span {background-position: bottom right; color: #FFF;}

a.lbuttonPrevious {display: block; float: left; font: normal 15px Tahoma; line-height: 30px; height: 32px; padding-left: 34px; text-decoration: none; margin-right:10px;}
a.lbuttonNext {display: block; float: left; font: normal 15px Tahoma; line-height: 30px; height: 32px; padding-left: 15px; text-decoration: none; margin-right:10px;}

a:link.lbutton, a:visited.lbutton, a:active.lbutton {color: #FFF !important; text-decoration:none !important;}
a.lbuttonNext span {display: block; padding: 1px 34px 1px 0;}
a.lbuttonPrevious span {display: block; padding: 0px 15px 2px 0;}

a.lbuttonNext:hover, .lbuttonPrevious:hover {background-position: bottom left;}
a.lbuttonNext:hover span, a.lbuttonPrevious:hover span {background-position: bottom right; color: #FFF;}

/*---------*/
a.lbuttonAdd{background: transparent url('../../../_inc/images/button/add_content_left.jpg') no-repeat top left;}
a.lbuttonAdd span{background: transparent url('../../../_inc/images/button/add_content_right.jpg') no-repeat top right;}
a.lbuttonConfirm{background: transparent url('../../../_inc/images/button/confirm_content_left.jpg') no-repeat top left;}
a.lbuttonConfirm span{background: transparent url('../../../_inc/images/button/confirm_content_right.jpg') no-repeat top right;}
a.lbuttonDelete{background: transparent url('../../../_inc/images/button/delete_content_left.jpg') no-repeat top left;}
a.lbuttonDelete span{background: transparent url('../../../_inc/images/button/delete_content_right.jpg') no-repeat top right;}
a.lbuttonEdit{background: transparent url('../../../_inc/images/button/edit_content_left.jpg') no-repeat top left;}
a.lbuttonEdit span{background: transparent url('../../../_inc/images/button/edit_content_right.jpg') no-repeat top right;}
a.lbuttonNext{background: transparent url('../../../_inc/images/button/forward_content_left.jpg') no-repeat top left;}
a.lbuttonNext span{background: transparent url('../../../_inc/images/button/forward_content_right.jpg') no-repeat top right;}
a.lbuttonPrevious{background: transparent url('../../../_inc/images/button/back_content_left.jpg') no-repeat top left;}
a.lbuttonPrevious span{background: transparent url('../../../_inc/images/button/back_content_right.jpg') no-repeat top right;}
a.lbuttonUpload{background: transparent url('../../../_inc/images/button/up_content_left.jpg') no-repeat top left;}
a.lbuttonUpload span{background: transparent url('../../../_inc/images/button/up_content_right.jpg') no-repeat top right;}

.buttonwrapper {overflow: hidden; width: 100%; padding-top:7px;}
.buttonwrappersim {overflow: hidden; width: 100%; padding:5px 0px 5px 0px;}
a.lbuttonDis {background: transparent url('../../../_inc/images/design/button_left_off.jpg') no-repeat top left; display: block; float: left; font: normal 15px Tahoma; line-height: 30px; height: 41px; padding-left: 51px; text-decoration: none; margin-right:10px;}
a:link.lbuttonDis, a:visited.lbuttonDis, a:active.lbuttonDis {color: #FFF;}
a.lbuttonDis span {background: transparent url('../../../_inc/images/design/button_right_off.jpg') no-repeat top right; display: block; padding: 5px 15px 6px 0;}

a.lbuttonConfirm {background: transparent url('../../../_inc/images/button/confirm_content_left.jpg') no-repeat top left;}
a.lbuttonConfirm span {background: transparent url('../../../_inc/images/button/confirm_content_right.jpg') no-repeat top right;}

/*___________________________________BUTTONS MINI Default__________________________*/
a.lbutton_small {display: block; float: left; font: normal 13px Tahoma; line-height: 14px; height: 24px; padding-left: 6px; text-decoration: none; background: transparent url('../../../_inc/images/design/button_bubble_blue_left.gif') no-repeat top left;}
a:link.lbutton_small, a:visited.lbutton_small, a:active.lbutton_small {color: #FFF !important; text-decoration:none !important;}
a.lbutton_small span {background: transparent url('../../../_inc/images/design/button_bubble_blue_right.gif') no-repeat top right; display: block; padding: 5px 6px 5px 0;}
a.lbutton_small:hover {background-position: bottom left;}
a.lbutton_small:hover span {background-position: bottom right; color: #FFF;}
.buttonwrapper_small {overflow: hidden; padding:4px 10px 0px 10px;}

/*_______________________BUTTONS WIZZARD SELECT THEME__________________________*/
a.lbt_wizz_seltheme {display: block; font: normal 15px Tahoma, Tahoma; line-height: 18px; height: 26px; width:120px; text-decoration: none; background: transparent url('../../../_inc/images/design/wizz_bt_oblika_izberi.jpg') no-repeat top left;}
a:link.lbt_wizz_seltheme, a:visited.lbt_wizz_seltheme, a:active.lbt_wizz_seltheme {color: #FFF !important; text-decoration:none !important;}
a.lbt_wizz_seltheme:hover {background-position: bottom left;}
a.lbt_wizz_seltheme_sel {display: block; font: normal 15px Tahoma, Tahoma; line-height: 18px; height: 26px; width:120px; text-decoration: none; background: transparent url('../../../_inc/images/design/wizz_bt_oblika_izbrano.jpg') no-repeat top left;}
a:link.lbt_wizz_seltheme_sel, a:visited.lbt_wizz_seltheme_sel, a:active.lbt_wizz_seltheme_sel{}
a.lbt_wizz_seltheme_sel:hover{}

/*_______________________BUTTONS WIZZARD REGISTER__________________________*/
a.BTN_firststepregister {display: block; color:#FFF !important; font: normal 15px  Tahoma; line-height: 18px; padding: 12px 15px 12px 15px; float:left; text-decoration: none !important;
background:url(../../../_inc/images/design/1dva3/zacniustvarjati.png) no-repeat top center;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/_inc/images/design/1dva3/zacniustvarjati_off.png',sizingMethod='crop');
outline:none;
}
a:link.BTN_firststepregister, a:visited.BTN_firststepregister, a:active.BTN_firststepregister {color: #FFF !important;}
a.BTN_firststepregister:hover {color:#FFF; background-position:bottom center; _background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/_inc/images/design/1dva3/zacniustvarjati_on.png',sizingMethod='crop');
cursor:pointer;
}

/*___________________________________END BUTTONS_____________________________________*/
.settError {color:#FFF; font-family:Tahoma; font-size:17px; min-height:28px; height:auto !important; height:28px; padding:20px 0px 20px 40px; padding-left:35px;
background:url(../../../_inc/images/icon/attention.png) no-repeat 0px 18px; width:930px; margin-left:auto; margin-right:auto;}
.settErrorWrap {background:Red;}

/*_______________________________WIZZARD STEP START___________________________________*/
#firststepLeft {float: left; width:47%; display:inline; }
#firststepTwoCols {width:67%; font-family:Tahoma; margin-top:10px; float:left; border-right:1px solid #CCC;}
#firststepTwoCols p, #firststepRight p {padding:8px 0px 0px 90px; text-align:justify;}
#firststepMain {float: right; width:48%;}
#firststepRight {width:30%; float:right; margin-top:10px;}
.firststepLeftInner {}
.firststepRightInner {padding-right:10px;}
.firststepMainInner {padding-right:20px;}

/*_______________________________WIZZARD STEP OBLIKA___________________________________*/
.designCont h2 {padding-left:2px;}
.desTCont{}
.desMTitle {font-weight:bold;}
.desMTitle h4 {font-weight:bold; font-size:15px; padding:3px 0px 6px 0px; color:#0A699F;}
.desMDesc p {padding:0px 0px 5px 0px;}
.desTheme {margin:3px 13px 3px 3px; padding:4px;}
.desTheme img {border:none; margin-right:2px;}
.lbt_wizz_seltheme_sel {border:2px solid #DE2A2B; padding:2px;}
.desThemeCont {border:solid 1px #AAA; margin-bottom:3px;}
.SelTheme {}
#preview {position:absolute; border:1px solid #ccc; background:#333; padding:5px; display:none; color:#fff;}
#mastcontentwrapper {float: left; width: 100%;}
#mastcontentcolumn {margin-left: 130px;}
#mastleftcolumn {float: left; width: 130px; margin-left: -100%;}

/*_______________________________WIZZARD STEP MODULI___________________________________*/
.settMod {width:100%; background:url('../../../_inc/images/design/moduli_pas_repeat.jpg') repeat-x; margin:0pt auto; color:#FFFFFF; font-family: Tahoma;
font-size: 17px; min-height:52px; height:auto !important; height:52px; vertical-align:middle;}

.settModLeftcol {width:60%; float:left; background:url('../../../_inc/images/design/moduli_pas_levo.jpg') no-repeat; min-height:52px; height:auto !important; height:52px;}
.settModTwocols {width:220px; float:right; background:url('../../../_inc/images/design/moduli_pas_black_repeat.jpg') repeat-x;}
.settModRightcol {width:210px; float:right; min-height:52px; height:auto !important; height:52px; background:url('../../../_inc/images/design/moduli_pas_desno.jpg') right no-repeat;}

.settModRightcol h2 {font-size:21px; padding:12px 0px 10px 0px; color:#FFF;}
.settModLeftcol h2 {font-size:17px; padding:14px 0px 12px 10px; color:#FFF; cursor:pointer;}
.settModMaincol {float: left; display:inline; width:6px; min-height:52px; height:auto !important; height:52px; background:url('../../../_inc/images/design/moduli_pas_black_levo.jpg') no-repeat;}

.settModRightcolPrice {float:left; text-align:right; width:45%;}
.settModRightcolCbx {float:right; width:49%;}
.settModRightcolCbxx a {margin:4px 2px 0px 0px;}
.settModOra {background:url('../../../_inc/images/design/moduli_suma_repeat.jpg') repeat-x; color:#FFFFFF;}
.settModLeftcolOra {background:url('../../../_inc/images/design/moduli_suma_levo.jpg') no-repeat; color:#333;}
.settModLeftcolOra h2{color:#333;}
.settModTwocolsOra{background:url('../../../_inc/images/design/moduli_suma_black_repeat.jpg') repeat-x;}
.settModRightcolOra{background:url('../../../_inc/images/design/moduli_suma_desno.jpg') right no-repeat;}
.settModMaincolOra{background:url('../../../_inc/images/design/moduli_suma_black_levo.jpg') no-repeat;}
.settModRightcolPriceOra{text-align:center;}
.settModDesc {padding-bottom:10px;}
.settModDescLeft {width:42%; float:left;}
.settModDescRight {width:55%; float: right; display:inline;}
.settModDescLeft h2, .settModDescRight h2 {padding-left:12px; color:#333;}
.settModDescLeft p, .settModDescRight p {padding-left:12px;}
.settModDescLeft p {text-align:justify; color:#666;}
.settModDescRight p {color:#999; line-height:160%;}

/*_______________________________WIZZARD STEP NOGA___________________________________*/
table.wizzFootTABLE {font-size:12px; line-height:25px;}

.td1 {width:90px;}
.td2 {width:215px;}
.td3 {width:120px;}
.tdTbx {width:200px;}
.wizzFootCbx a {margin-top:2px;}

/*____________________________WIZZARD STEP NAVIGACIJA________________________________*/
.wizzNav {width:100%; background: transparent; margin:0pt auto;}
.wizzNav a {}
.wizzNav_Leftcol {width:30%; float:left;}
.wizzNav_Twocols {width:66%; float:right;}
.wizzNav_Rightcol {width:45%; float:right;}
.wizzNav_Maincol {float: left; display:inline; width:52%;}

.wizzNav_Separator {width:100%; border-bottom:1px solid #999; font-size:0px; padding-top:10px;}
.wizzNav_Leftcol_Menu {padding:10px 0px 7px 0px;}
.wizzNav_Leftcol_Menu ul li {font-family:Tahoma; padding-left:10px; cursor:pointer; color:#333; line-height:150%; list-style: none;}
.wizzNav_Leftcol_Menu ul li:hover {cursor:pointer; color:#000;}
.wizzNav_Leftcol_Menu ul li span {padding:1px;}
.wizzNav_Leftcol_Menu ul li span:hover {color:#000;}

.wizzNav_Tv {text-decoration:none;}
.wizzNav_Tv table td {}
.wizzNav_Tv a {color:#333 !important; text-decoration:underline; font-size:17px; line-height:35px;}
.wizzNav_TvSel a {color:#FF6600 !important; text-decoration:none !important; font-size:17px !important;}
.wizzNav_TvSel a:hover {text-decoration:none !important;}

input.wizzNav_TBX {margin:3px 20px 3px 0px; width:270px; color:#333; padding:4px 4px 4px 4px; padding:3px 4px 3px 4px\9; *padding:3px 4px 3px 4px;}
textarea.wizzNav_TBX {margin:3px 20px 3px 0px; padding:4px 4px 0px 4px; width:270px; color:#333; vertical-align:middle; padding:4px; color:#333; line-height:16px; font-size:12px; font-family:Tahoma;}
input.wizzNav_Watermark {color:#999; margin:3px 20px 3px 0px; width:270px; padding:4px 4px 4px 4px; padding:3px 4px 3px 4px\9; *padding:3px 4px 3px 4px;}
textarea.wizzNav_Watermark {padding:4px; color:#999; line-height:14px; font-size:12px; font-family:Tahoma;}
.wizzNav_TBum {font-size:12px; line-height:25px;}
.wizzNav_TBum th a, .wizzLang_TB th a {color:#333 !important; text-decoration:none !important;}
.wizzNav_TBum_th1 {width:80px;}
.wizzNav_TBum_td1 {width:170px;}
.wizzNav_lvPageMod li {
float:left; 
width:174px; 
margin-right:25px; 
min-height:220px;
height:auto !important; 
height:220px;
list-style-image:none; 
list-style-position:outside; 
list-style-type:none;
}
.wizzNav_lvPageMod li img {margin:5px 0px 5px 0px;}

/*_______________________________WIZZARD STEP JEZIKI___________________________________*/
.wizzLang_TB {font-size:12px; line-height:25px;}
.wizzLang_TB td a {color:#FF2A00 !important;}
.wizzLang_TB td a:hover {color:#FF2A00 !important; text-decoration:none !important;}
.wizzLang_TB_th1 {width:80px;}

/*_________________________CUSTOM WEBPARTS________________________*/
/*___________________________ContactForm__________________________*/

table.contactFormTABLE {font-size:13px; width:99%; padding-right:2px;} 
table.contactFormTABLE td {padding:2px;}
table.contactFormTABLE td.td_first {width:60px; text-align:right; vertical-align:top; padding-top:5px;}
table.contactFormTABLE tr.tr_validation td {padding:0px 2px 1px 2px; font-size:11px; line-height:13px;}
input.contactFormTB, textarea.contactFormTB {font-family:Tahoma; font-size:13px !important; padding:2px; width:98%;}

/*____________________MAP_______________________*/
/*____________________COMMENTS_______________________*/
table.TABLEcontactform td {padding:3px 5px 0px 5px;}
table.TABLE_quickregister td.TD_right {text-align:right; vertical-align:text-top; padding-top:8px;}
table.TABLEcontactform {font-size:13px; width:99%; padding-right:2px;}
table.TABLEcontactform td {padding:2px 2px 0px 2px; color:#666;}
table.TABLEcontactform td.td_first {width:60px; text-align:right; vertical-align:top; padding-top:5px; font-size:14px;}
table.TABLEcontactform tr.tr_validation td {padding:0px 2px 1px 2px; font-size:11px; line-height:13px;}
input.TBXcontactform, textarea.TBXcontactform {font-family:Tahoma; padding:3px; width:98%; font-size:13px !important;}

.comBox {background:#F7F7F7; font-size:13px; padding:3px 5px 5px 25px; margin: 0px 0px 10px 0px;}
.commAuthor{background:#BBE9FF;}
.comBox p {font-size:13px; color:#333;}
.cCommDate {color:#666; margin: 0px 0px 7px 0px;}

/*__________________CONTENT_____________________*/

/*.cCont img, .cArt img{padding:5px;}*/
.cCont img, .cArt img, .artDetailW .artText img {padding:5px 10px 5px 0px;}
.cCont img[align=left], .cArt img[align=left], .artDetailW .artText img[align=left] {padding:5px 10px 5px 0px;}
.cCont img[align=right], .cArt img[align=right], .artDetailW .artText img[align=right] {padding:5px 0px 5px 10px;}
.cCont img[align=top], .cArt img[align=top], .artDetailW .artText img[align=top] {padding:5px 10px 5px 10px;}

.cCont, .cArt, .artBox {list-style-position:inside;}

.cCont table, .artDetailW .artText table {line-height:130%; border-width: 0px; border-style: solid; border-color: #666; border-collapse: collapse;}
.cCont table th, .artDetailW .artText table th {padding:3px 4px 3px 4px; border-width: 1px; border-style: solid; border-color: #666;}
.cCont table td, .artDetailW .artText table td {padding:3px 4px 3px 4px; border-width: 1px; border-style: solid; border-color: #666; border-collapse: collapse;}

/*__________________ARTICLE_____________________*/
.artDate{padding-bottom:5px;font-size:11px;}
.art_padding {padding:8px 5px 8px 5px;}

.artBox {padding-bottom:8px;}
.artBox a.AartBox_img img {padding:3px; margin:5px 10px 8px 0px; float:left; display:block; border:1px solid #CCC;}
.artBox a.AartBox_img:hover img {border:1px solid #666 !important;}

/*________________________POLL________________________*/
.cPollChart {margin-bottom:10px; margin-top:3px; overflow:hidden; vertical-align:middle; background-color:#f1f1f1;}
.cPollRes a {outline:none; padding-top:3px;}
.cPollRes a.sel {font-weight:bold;} 
.cVote {font-size:13px; padding-top:10px;}
input.pollRbtn {float:left;margin-top:2px;_margin-top:0px;}
input.pollRbtn:hover{cursor:pointer;}
span.pollChoice{ padding-left:18px;display:block;color:#333;}
label.pollChoice_label:hover span{cursor:pointer;color:#000;}
span.pollChoiceResult{color:#333;}
.pollChart {background:transparent url(../../../_inc/images/module/orange-bar.png) repeat-x scroll 0%; height:16px;}   
.poll_render {padding:5px 10px 10px 10px; border:1px solid #CCC; margin-bottom:10px;}
.poll_render h3, .cPollItem h3 {padding-bottom:8px; color:#666; font-family:Tahoma;}
.contPoll{border:1px solid #CCC;padding:5px;}

/*.poll_grafres {padding-top:5px;}*/

a.poll_AHREF{}
a.poll_AHREF:hover{text-decoration:none;}



 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
 }
.clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */body {
}

.clearing {clear:both; height:0px; width:0px; margin:0pt !important; padding:0pt !important; font-size:0px; visibility: hidden; line-height:0px !important;}


/* J CROP*/
.jcrop-holder {text-align: left; background-color:transparent !important;}
.jcrop-vline, .jcrop-hline {font-size: 0; position: absolute; background: black url('Jcrop.gif') top left repeat;}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {font-size: 1px; width: 7px !important; height: 7px !important; border: 1px #eee solid; background-color: #333; width: 9px; height: 9px;}
.jcrop-tracker {background-color: gray; width: 100%; height: 100%;}

.custom .jcrop-vline,
.custom .jcrop-hline 
{background: yellow;}

.custom .jcrop-handle {border-color: black; background-color: #C7BB00; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.cwpMap {margin:10px; padding:10px; border:1px solid;}

.artBox img{padding:5px;}
.galImgList.ui-sortable .divGalImgThumb:hover {cursor:move;}
.galImgList {_margin-left:-4px;}


/*               HOW MANY COLUMNS FOR CONTENT                   */

/* 33_33_33 */
#contThreeColsLeft{ width:32.7%; float:left; }
#contThreeColsTwoCols{ width:66.3%; float:right; }
#contThreeColsRight{ width:49.4%; float:right; }
#contThreeColsMain{ float: left; display:inline; width:49.4%; }

#contThreeColsLeft .thSmall .divGalImgThumb, #contThreeColsTwoCols .thSmall .divGalImgThumb { margin: 0px 1px 8px 4px; }
#contThreeColsLeft .thSmall .cwp_ph_img, #contThreeColsTwoCols .thSmall .cwp_ph_img { margin: 0px 0px 6px 3px; }

/* 66_33 */
#contTwoColsWrapper{ width:100%; background:transparent; }
#contTwoColsMain{ width:66%; float:left; }
#contTwoColsRight{ width:33%; float: right; display:inline; }

#contTwoColsMain .divGalImgThumb { margin: 0px 8px 8px 4px; }
#contTwoColsMain .cwp_ph_img { margin: 0px 7px 6px 3px; }
#contTwoColsMain .thSmall .divGalImgThumb { margin: 0px 4px 8px 4px; }
#contTwoColsMain .thSmall .cwp_ph_img { margin: 0px 3px 6px 3px; }

#contTwoColsRight .thSmall .divGalImgThumb { margin: 0px 2px 8px 4px; }
#contTwoColsRight .thSmall .cwp_ph_img { margin: 0px 1px 6px 3px; }

/* 33_66 */
#contTwoColsWrapper_33_66{ width:100%; background:transparent; }
#contTwoColsMain_33_66{ width:33%; float:left; }
#contTwoColsRight_33_66{ width:66%; float: right; display:inline; }

#contTwoColsRight_33_66 .divGalImgThumb { margin: 0px 8px 8px 4px; }
#contTwoColsRight_33_66 .cwp_ph_img { margin: 0px 7px 6px 3px; }
#contTwoColsRight_33_66 .thSmall .divGalImgThumb { margin: 0px 4px 8px 4px; }
#contTwoColsRight_33_66 .thSmall .cwp_ph_img { margin: 0px 3px 6px 3px; }

#contTwoColsMain_33_66 .thSmall .divGalImgThumb { margin: 0px 2px 8px 4px; }
#contTwoColsMain_33_66 .thSmall .cwp_ph_img { margin: 0px 1px 6px 3px; }

/* 50_50 */
#contTwoColsWrapper_50_50{ width:100%; background:transparent; }
#contTwoColsMain_50_50{ width:49.5%; float:left; }
#contTwoColsRight_50_50{ width:49.5%; float: right; display:inline; }

#contTwoColsWrapper_50_50 .divGalImgThumb { margin: 0px 8px 8px 4px; }
#contTwoColsWrapper_50_50 .cwp_ph_img { margin: 0px 7px 6px 3px; }
#contTwoColsWrapper_50_50 .thSmall .divGalImgThumb { margin: 0px 14px 8px 4px; }
#contTwoColsWrapper_50_50 .thSmall .cwp_ph_img { margin: 0px 13px 6px 3px; }

/* 33_33_33|100|33_33_33|100 */
.contThreeColsLeft_comb_3_1_3_1{ width:32.7%; float:left; }
.contThreeColsTwoCols_comb_3_1_3_1{ width:66.2%; float:right; }
.contThreeColsRight_comb_3_1_3_1{ width:49.4%; float:right; }
.contThreeColsMain_comb_3_1_3_1{ float: left; display:inline; width:49.4%; }
.contOneCol_comb_3_1_3_1{width:100%;}

.contThreeColsLeft_comb_3_1_3_1 .thSmall .divGalImgThumb , #contThreeColsTwoCols_comb_3_1_3_1 .thSmall .divGalImgThumb { margin: 0px 2px 8px 4px; }
.contThreeColsLeft_comb_3_1_3_1 .thSmall .cwp_ph_img { margin: 0px 1px 8px 5px; }



/*_____________________DATOTEKE_______________________*/

a.doc, a.xls, a.pdf, a.zip, a.jpg, a.avi, a.file  {padding-left:30px; padding-top:8px; padding-bottom:8px; margin-bottom:5px;}
a.file{background: url(../../../_inc/images/file_icons/Text_OTHER.png) no-repeat;}
a.doc{background: url(../../../_inc/images/file_icons/Office_DOC.png) no-repeat;}
a.xls{background: url(../../../_inc/images/file_icons/Office_XLS.png) no-repeat;}
a.pdf{background: url(../../../_inc/images/file_icons/Office_PDF.png) no-repeat;}
a.jpg{background: url(../../../_inc/images/file_icons/Image_JPG.png) no-repeat;}
a.avi{background: url(../../../_inc/images/file_icons/Video_AVI.png) no-repeat;}
a.mp3{background: url(../../../_inc/images/file_icons/Audio_MP3.png) no-repeat;}
a.zip{background: url(../../../_inc/images/file_icons/Archive_ZIP.png) no-repeat;}