﻿#contThreeColsLeft{
 width:32%; 
 float:left; 
 /*position:relative;*/ 
  }
 
#contThreeColsTwoCols{
 width:66%; 
 float:right; 
 /*position:relative;*/ 
  }
 
#contThreeColsRight{
 width:49%; 
 float:right; 
 /*position:relative;*/ 
 }
 
#contThreeColsMain{ 
 float: left; 
 display:inline; 
 /*position:relative;*/ 
 width:49%; 
 }
 
.clearing {
clear:both;
height:0px;
width:0px;
margin:0pt !important;
padding:0pt !important;
font-size:0px;
}
 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */body {
}
