﻿#contTwoColsWrapper{
/*position:relative;*/
width:100%;
background:transparent;
}
#contTwoColsMain{
width:99%; 
float:left; 
/*position:relative;*/

}
#contTwoColsRight{
width:0%;         
float: right; 
/*position: relative;*/ 
display:inline; 
}
