﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="adMainFooter.ascx.cs" Inherits="_ctrl_ad_adMainFooter" %>

<%--<a href='<%= SM.BLL.Common.Emenik.ResolveMainDomainUrl("~/")  %>' ><img src='<%= Page.ResolveUrl("~/_inc/images/ads/banner_260x60.jpg") %>'  alt='<%= SM.BLL.Common.Emenik.Data.PortalName()   %>' /></a>
--%>
<div style="float:right;">

<%--<a style="padding:0px 5px 0px 0px;" title="Izdelava spletnih trgovin" href="http://smardt.si" ><img alt="Izdelava spletnih trgovin" src='<%= Page.ResolveUrl("~/_inc/images/design/1dva3/smardt_red.png") %>' /></a>
<br />
<a style="padding:0px 0px 0px 0px;" title="spletne trgovine" href="http://smardt.si/sl-SI/469/izdelava-spletnih-trgovin.aspx" >spletne trgovine</a>--%>

<a style="padding:0px 5px 0px 0px;" title="infomedia" href="http://www.infomedia.si/" ><img alt="infomedia" src='<%= Page.ResolveUrl("~/_inc/images/design/infomedia_logo_transparent.png") %>' /></a>
<br />
<%--<a style="padding:0px 0px 0px 0px;" title="spletne trgovine" href="http://smardt.si/sl-SI/469/izdelava-spletnih-trgovin.aspx" >izdelava spletnih trgovin</a>--%>

<a style="padding:0px 0px 0px 0px;" title="<%= RenderAdTitle(2, 1) %>" href="<%= RenderAdTitle(2, 2) %>" ><%= RenderAdTitle(2, 1).ToLower() %></a>



</div>
<div class="clearing"></div>