
body{
	margin : 0px;
	font-size: 0;
	font-family: arial;
	background-image:url('../img/back_empty.png');
	text-align: center;	
	overflow: scroll;

}
a, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #e8d5ab;
}

input, textarea{
	border: 1px #593726 solid;
	background-color: #fff6dd;
	overflow: hidden;
	padding-left: 5;
	padding-right: 5;
}
input{
	width: 193;
	height: 29;
	padding-top: 5;
}
textarea{
	width: 395;
	height: 98;
	text-align: left;
	padding-top: 5;
	
}




#kontakt_forma_inputs, #kontakt_forma_hvala {	
	height: 145;
	position: relative;
	margin-bottom: 10px;
}
input.input_normal , textarea.input_normal {	
	color: #593726;
}
input.input_error , textarea.input_error {	
	color: #cd3244;
}
input.input_empty , textarea.input_empty {	
	color: #bebebe;
}

.kontakt_forma_inputsL{
	left: 0px;
	top: 0;
	text-align : left;
	position: absolute;	
}
.kontakt_forma_inputsD{
	right: 0;
	top: 0;
	text-align : right;
	position: absolute;	
	
}
.kontakt_forma_area{
	text-align : left;	
	position: absolute;
	top: 37px;
	left: 0;	
}

.clear{
	clear: both;
}
div.spacer{
	width: 100%;
	height: 500;
}
div#header{
	width: 100%;
	height: 182px;
	background-image:url('../img/back_empty.png');
	z-index: 1000;
}

.heading, .heading h1, .heading h2 {
	font-size: 0;
	height: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}	

#content{
}

div#footer{
	position: absolute;	
	bottom: 0;
	left:0;
	width: 100%;
	height: 80px;
}

.pg{
	width: 980px;
	margin: 0 auto;
}

.header_top{
	background-color : #593726 ;
	height: 34px;
	width: 100%;
	margin: 0;
	overflow: visible;
	position: relative;
}
#header_commands{
	margin-right:80px;
	padding-top:15px;
	color: #e8d5ab;
	font-family: arial;
	font-size : 11;	
	position:relative;
}
#header_commands a{
	text-decoration: none;
	
}


div.menu_separator{
	margin-left: 8;
	margin-right: 8;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
	float:right;	
}
div.menu_item{
	margin: auto;
	position: relative;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
	float:right;
}
div#menu_sub_jezik{
	display:none;
	width: 42px;
	background-color : #593726 ;
	overflow: hidden;
	text-align: center;	
	margin-top : -4;	
	position:absolute;
}
div.menu_subitem{
	border-top: 1px #7a5c47 solid;
	padding: 3;
	margin-left: 4;
	width: 20;	
	
}

img.lang_marker{
	width:6;
	height: 6;
	float: right;
	margin-top: 8;
	margin-right: 2;
}


.whitelines{
	width: 100%;
	height: 5px;
	border-top: 1px white solid;
  opacity:0.5;
  filter:alpha(opacity=50);	
	margin: 0;
	margin-top: 10;
}
#whitelines_bottom{
	margin-top: 314;
}


div.header-line{
	background: none;
	width:100%;
	height: 3px;	
	border-bottom :  black solid 1px;
	padding: 0px;
	margin: 0px;
}

div.ekorepublika-container{
	margin: 0 auto;
	margin-top: 32px;
	height: 32px;
	width: 255px;
}


.content{
	width: 980px;
	margin: 0 auto;
}

div.navigator{
	width: 100%;
	height: 32px;
	margin-top: 33px;
  position : relative;
}

.navigator_left, .navigator_right{
	background-image:url('../img/navigator_border.png');
	background-position: center;
	background-repeat:repeat-x;	
	height: 100%;
  width: 250px;
}
.navigator_left{
  left: 0; 
	position: absolute;
}
.navigator_right{
  right: 0;
	position: absolute;
}
.navigator_center{
	height: 32px;
	margin-left:250px;
	margin-right:250px;

}
.navigator_vline_L{
	height: 32px;
	width: 2px;	
	background-image:url('../img/navigator_vline_L.png');
	float: left;
}

.navigator_vline_R{
	height: 32px;
	width: 2px;	
	background-image:url('../img/navigator_vline_R.png');
	float: right;
}
.navigator_items{
	margin-left:2px;
	margin-right:2px;	
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	cursor: pointer;	
}
.navigator_items, .commands, .menu_item, .footer_facebook, .footer_luna{
	cursor: pointer;
}
.navigator_itemseparator{
	background-image:url('../img/navigator_itemseparator.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	float: left;			
}
.navigator_item{
	color: #593726;
	font-family: Bevan;
	font-size : 12;		
	TEXT-ALIGN: center;	
	padding-top: 7px;
	height: 100%;
	float: left;
}



div.lederbord{
	background:url('../img/krave.jpg') no-repeat;
	height: 331px;
	width: 980px;
	margin-top: 33px;
	margin-bottom: 1px;
}


.section{
	text-align: center;

}

#section_zgodba{
	height: 978;
	background-image:url('../img/back_papir.jpg');
}

#zgodba_content{
	height: 530;
}
#zgodba_image{
	/*float: left; */
	width: 490px; 
  margin-top: -7px;
  margin-left: 255;

}
#zgodba_text_scrolable{	
	margin-left: 535;
	margin-top: 10px;
	width: 305;
	height: 500;
	overflow: hidden;	
}
#zgodba_text{
	display: none;
	color: #593726;
	font-family: arial;
	font-size : 12;		
	TEXT-ALIGN: LEFT;
	width: 305;
	margin: 0;	
}


.zgodbaScrollText{
	margin-bottom:30px;
}


#section_izdelki{
	height: 734;
}

#leftright_izdelki{
	/* izdelki todo
	height: 380px;
	*/
	height: 240px;
}

#izdelki_items{
	margin-top: 85px;
}
.izdelki_item{
	float: left;
	width: 752px;
  
}
.izdelki_item_title{
	color: #593726;
	font-family: Bevan;
	font-size : 20;		
	TEXT-ALIGN: center;
	margin-bottom: 20px;

}
.izdelki_item_image{	
	float:left;
	width: 305;
	height: 250;
}
.izdelki_item_text{
	color: #593726;
	font-family: arial;
	font-size : 13;		
	/*TEXT-ALIGN: LEFT;
	 margin-left: 305;	*/
	TEXT-ALIGN: center;
}
.izdelki_item_text_desc{

}
.izdelki_item_text_owner{
	margin-top: 10px;
	font-size : 15;	
}






#section_galerija{
	height: 610;
}
#galleryContainer{
	margin-top: 40;
	text-align: left;
}

#section_kontakt{
	height: 490;
}
#kontakt_items{
	margin-top: 84;
	height : 275;
	width: 100%;
	font-size: 12;
}
.colon2_L{
	height : 100%;
	width: 480;
	float: left;
}
.colon2_R{
	height : 100%;
	width: 480;
	float: right;
}
.colon2_separator{
	height : 100%;
	width: 2;
	margin-left: 484;
	margin-right: 484;
	background-image:url('../img/contact_vline.png');
	background-position: top;
	background-repeat:no-repeat;		
}

.kontakt_title{
	color: #593726;
	font-family: arial;
	font-weight: bold;
	font-size : 16;	
	text-align: left;
	margin-bottom: 8;
}
#kontakt_title_narocila{
	margin-left: 96;
}
#kontakt_narocila_text{
	color: #593726;
	font-family: arial;
	font-size : 12;	
	text-align: left;
	margin-left: 96;
}

#kontakt_narocila_image{
	width: 96;
	float: left;
	margin-top: -12;
}
#kontakt_forma_image{
	width: 88;
	float: right;
	margin-top: 0;
}
#kontakt_forma{
	margin-right: 86;

}



.leftright{
	width: 100%;
	height: 300px;
}

.goleft, .goright{
	
	width: 114px;
	float: left;
	height: 100%;
	position: relative;
	
}
.goright{
	float: left;
	text-align: right;
}


.goleft_arrowContainer, .goright_arrowContainer{
	margin: 0 auto;
	
	position: absolute;
	top: 193px;
	width: 50px;
	height: 100px;		
	
}
.goleft_arrowContainer{
	background-image:url('../img/goleft.png');
	left: 10px;
}
.goright_arrowContainer{
	background-image:url('../img/goright.png');
	right: 10px;
}


.leftright_scrolable{
	width: 752px;
	overflow : hidden;
	float: left;
}


.textContainer{
	position: relative;
	background-color : #593726 ;
	color: #e8d5ab;
	font-family: arial;
	font-size : 11;
	z-index: 200;
	height: 148px;
	width: 370px;
	padding: 16px;
	text-align: left;
	overflow-x: visible;
	left: 365px;
}

.textContainer_title{
	font-family: 'Bevan';
	text-align: left;
	margin-bottom: 8px;
}

.timeline_date{
	position: absolute;
	top: 264;
	font-family: arial;
	font-size: 11;
	color: #593726;
	text-align: center;
}

.varrow , .varrow_selected{
	height: 115px;
	width: 16px;
	position: relative;
	left: 550px;
	z-index: 100;
  display:block;
	
} 
.varrow{	
	background-image:url('../img/timeline_arrows.png');
	
}
.varrow_selected{
	background-image:url('../img/timeline_arrowselected.png');
}

.timeline{
	position: relative;
	height: 300px;
	width: 1500px;  
	text-align:left;
}

.timelinePoints{

}

.vertical_restrainer{
	
}

.timelinePoint{
	position: absolute;
	bottom: 60px;
	overflow: hidden;
  width: 1000px;	
	max-height: 216px;	
	
}


.timeline_line{
	position: absolute;
	top: 238px;
	background-image:url('../img/timeline_line.png');
  background-repeat:repeat-x;
  height: 10px;
  width: 100%;
  z-index: 200;
  
}

.timeline_bullet{
	position: absolute;
	height: 10px;
	width: 10px;
	background-image:url('../img/timeline_bullet.png');	
}


.separator{
	width: 100%;
	height: 20px;
	background-image:url('../img/back_separatorfull.png');		
	
}

.sectionTitleBar{
	width: 100%;
	height: 134px; 
	text-align: center;
}
.sectionTitle{
	margin: 0 auto;	
	height: 134px;
	margin-top: 59;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
div.lederbord div.sectionTitle{
	margin-top: 160px;
}
.sectionTitle_text{
	font-family: 'Bevan';
	font-size: 33;
	color: #593726;
	margin: 0px;
	padding-left: 35px;	
	padding-right: 35px;	
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
div.lederbord div.sectionTitle_text, h1{
	color: #FFFFFF;
	font-size: 27;
}

.sectionTitle_underline{
	height: 16px;
	font-size: 0;
	margin: 0;
	border: none;
	position: relative;
}
.sectionTitle_underline_left{
	width: 22px;
	height: 16px;		
	background-image:url('../img/underline_left.png');
	position: absolute;
	left: 0px;
}
div.lederbord .sectionTitle_underline_left{
	background-image:url('../img/underlinewhite_left.png');
}
.sectionTitle_underline_center{
	height: 16px;		
	border: none;	
	background-image:url('../img/underline_center.png');	
	margin-left: 22px;
	margin-right: 22px;
}
div.lederbord .sectionTitle_underline_center{
	background-image:url('../img/underlinewhite_center.png');
}
.sectionTitle_underline_right{
	margin: 0;
	border: none;
	width: 22px;
	height: 16px;	
	background-image:url('../img/underline_right.png');	
	position: absolute;
	right: 0px;	
}
div.lederbord .sectionTitle_underline_right{
	background-image:url('../img/underlinewhite_right.png');
}

.ribbon_wrapper{
	margin: auto;
	position: relative;	
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
}

.ribbon_big, .ribbon_small, .ribbon_big_hover, .ribbon_small_hover{
	margin: auto;
	padding-top: 35px;
	background-position: center;
	background-repeat: no-repeat;	
	opacity:0.6;
	filter:alpha(opacity=60);
}
.ribbon_big, .ribbon_big_hover{
	background-image:url('../img/ribbon_big.gif');
	width: 453px;
	height: 61px;		
}
.ribbon_small, .ribbon_small_hover{
	background-image:url('../img/ribbon_small.gif');
	width: 248px;
	height: 59px;		
}
.ribbon_big_hover{
	background-image:url('../img/ribbon_big_hover.gif');
}
.ribbon_small_hover{
	background-image:url('../img/ribbon_small_hover.gif');
}


.commands_wrapper{
	position: absolute;	
	top: 35;
	left: 55;
}
.commands{
  
	font-family: 'Bevan';
	font-size: 15;
	color: #593726;
		
	margin: auto;
	padding-left: 35px;	
	padding-right: 35px;	
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.footer_content{
	width: 100%;
	height: 60px;
	margin-top: 8px;
}
.footer_facebook{
	float:left;
	font-family: 'Bevan';
	font-size: 15;
	color: #5872a7;	
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
	padding-right: 30;
}
.footer_luna{
	float:right;
	width: 81px;
	height: 18px;
}

table.contacts , table.contacts  td{
	border: 1px solid #593726
}
tr.tableheader{
	font-weight: bold;
}

#tooltip {
    display: none;
    font-size: 14; 

    position:absolute; 
    left:0; 
    top:0; 
    z-index:200; 

    background:url(../img/tail.png) no-repeat right center; 
    height:35px;
 
    padding-right:8px;
     
    margin-left:5px;
     
}
 
#tooltip #tooltipLeft {

    background:url(../img/head.png) no-repeat 0 0;
    height:35px;
    color:#eee;

    white-space:nowrap;
    padding-left:8px;
    padding-top:12px;   

}

#tooltipLeft {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;		
}