﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_viewLoggedOut.ascx.cs" Inherits="_ctrl_login_viewLoggedOut" %>

 
<a class="registerS" href='<%= SM.BLL.Common.ResolveUrl ( SM.EM.Rewrite.EmenikCustomerRegister(PageId))  %>'><%= GetGlobalResourceObject("Modules", "register")%></a>
<a class="loginS" href='<%= SM.BLL.Common.ResolveUrl ( SM.EM.Rewrite.EmenikCustomerLogin    (PageId))  %>'><%= GetGlobalResourceObject("Modules", "signin")%></a>
<div class="clearing"></div>