/*!
 * jQuery UI Stars v2.1.1
 * http://plugins.jquery.com/project/Star_Rating_widget
 *
 * Copyright (c) 2009 Orkan (orkans@gmail.com)
 * Dual licensed under the MIT and GPL licenses.
 * http://docs.jquery.com/License
 *
 * $Rev: 102 $
 * $Date:: 2009-06-07 #$
 * $Build: 32 (2009-06-12)
 *
 */
.ui-stars-star,
.ui-stars-cancel {
	float: left;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}
.ui-stars-star a,
.ui-stars-cancel a {
	/*width: 16px;
	height: 15px;*/
	width: 28px;
	height: 28px;
	display: block;
	/*background: url(ui.stars.gif) no-repeat 0 0;*/
background: url(../../_em/templates/_custom/mozestore/_inc/images/design/star_productdetail.png) no-repeat 0 0;
}
.ui-stars-star a {
	/*background-position: 0 -32px;*/
	background-position: 0 0px;
}
.ui-stars-star-on a {
	/*background-position: 0 -48px;*/
	background-position: 0 -28px;
}
.ui-stars-star-hover a {
	/*background-position: 0 -64px;*/
	background-position: 0 -56px;
}
.ui-stars-cancel-hover a {
	/*background-position: 0 -16px;*/
	background-position: 0 0px;
}
.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
	cursor: default !important;
}
