﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_em/templates/fall/fall.master" AutoEventWireup="true" CodeFile="predracun-detail.aspx.cs" Inherits="c_user_PredracunDetail" %>
<%@ Register TagPrefix="SM" TagName="PredracunDetail" Src="~/_em/content/order/_ctrl/_cntPredracunDetail.ascx"  %>

<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">

<div class="myOrders">
    <div class="stepShoppingCart" >
        <a id="A1" class="Aprint"  href="javascript:print()" style="float:right;" >Natisni</a>
        <SM:PredracunDetail ID="objPredracunDetail" runat="server" />
    </div>
</div>


</asp:Content>

