﻿.MenuCms ul.AspNet-Menu /* Tier 1 */
{   
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
}
.MenuCms ul.AspNet-Menu ul  /* Tier 2 */
{
    /*width: 6em;*/
    top: 100%;
    left: 0px;


}

.MenuCms ul.AspNet-Menu ul ul  /* Tier 3+ */
{
    top: -0.5em;
    left: 6em;
}

.MenuCms li /* all list items */
{
    width:170px;
   font-family: Candara, Georgia;
   font-size: 15px;
   font-weight:normal;

}

.MenuCms ul li ul li /* all list items Tier2 */
{
    width: 164px;
    border-top:1px solid #FFFFFF;
    border-left:2px solid #FFFFFF;
    border-right:2px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    margin-right:0px;


}
.MenuCms ul li ul /*box dinamicnih*/
{
    border-left: solid 2px #0085B8 !important;
    border-right: solid 2px #0085B8 !important;
    border-bottom: solid 2px #0085B8 !important;
}

.MenuCms li:hover, /* list items being hovered over */
.MenuCms li.AspNet-Menu-Hover
{
    background: Black;
    z-index:100;
}

.MenuCms a
{
    border-left:2px solid #0085B8;
} 
.MenuCms span
{
    color: #FFFFFF;
    padding: 4px 2px 4px 30px;
    background: transparent url(../../CMS/_res/images/button/menuArrowDown.jpg) left center no-repeat;

}

.MenuCms li.AspNet-Menu-Leaf a /* leaves */
{}
.MenuCms li.AspNet-Menu-Leaf span
{
    background-image: none !important;
    padding-left:12px;
}
/* hovered text */
.MenuCms li:hover a, 
.MenuCms li.AspNet-Menu-Hover a,
.MenuCms li:hover li:hover li:hover a,
.MenuCms li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{    
border-left:2px solid #0085B8;
}

.MenuCms li:hover span,
.MenuCms li.AspNet-Menu-Hover span,
.MenuCms li:hover li:hover li:hover span,
.MenuCms li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #333333;
    background: #FFFFFF url(../../CMS/_res/images/button/menuArrowDownWBlue.jpg) left center no-repeat;
    
}
.MenuCms li:hover li:hover a,/* hover tier 2*/
.MenuCms li:hover li:hover span,
.MenuCms li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.MenuCms li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    background:#0085B8;
    color:#FFFFFF;
}


.MenuCms li:hover li a, /* the tier above this one is hovered */
.MenuCms li:hover li span,
.MenuCms li.AspNet-Menu-Hover li a,
.MenuCms li.AspNet-Menu-Hover li span,
.MenuCms li:hover li:hover li a,
.MenuCms li:hover li:hover li span,
.MenuCms li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.MenuCms li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
    color: #333333;
    background: #D5DDE0 url(../../CMS/_res/images/button/menuArrowDown.jpg) left center no-repeat;
        border-left:none;
        border-right:none;


}
.MenuCms .AspNet-Menu-Selected /* this tier is selected */
{
    background:#FFFFFF url(../../CMS/_res/images/button/menuArrowDownWBlue.jpg) left center no-repeat;
    color:#333333;

}
.MenuCms .AspNet-Menu-ChildSelected /* a tier below this one is selected */
{
    background:#FFFFFF url(../../CMS/_res/images/button/menuArrowDownWBlue.jpg) left center no-repeat;
    /*color:#FFBF00;*/
    color:#333333;
}

.MenuCms .AspNet-Menu-ParentSelected /* a tier above this one is selected */
{
    background:#0085B8;

}

.MenuCms .AspNet-Menu-Link a
{
    background:#0085B8;

}

.MenuCms ul.AspNet-Menu li.AspNet-Menu-WithChildren
{

}
.MenuCms ul.AspNet-Menu  li.AspNet-Menu-WithChildren:hover, .MenuCms ul.AspNet-Menu  li.AspNet-Menu-Selected, .MenuCms ul.AspNet-Menu li.AspNet-Menu-ChildSelected
{
    background:#0085B8;

}
.MenuCms ul.AspNet-Menu li.AspNet-Menu-ChildSelected a.AspNet-Menu-ChildSelected
{

}
