﻿.MenuCmsSub ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    position:static ;
}

.MenuCmsSub ul.AspNet-Menu ul  /* Tier 2 */
{
    width: 6em;
    top: 100%;
    left: 0;

}

.MenuCmsSub ul.AspNet-Menu ul ul  /* Tier 3+ */
{
    top: -0.5em;
    left: 6em;
}

.MenuCmsSub li /* all list items */
{
   font-family: Candara, Georgia;
   font-weight:normal;
   font-size:14px;
    background: #F0F0F0;
    position:static !important;
}

.MenuCmsSub li:hover, /* list items being hovered over */
.MenuCmsSub li.AspNet-Menu-Hover
{
    background: #0085B8;
    z-index:100;
}

.MenuCmsSub a /* all anchors and spans (nodes with no link) */
{}
.MenuCmsSub span
{
    color: #666666;
    padding: 1px 4px 1px 14px;
    /*border:1px solid #cccccc;*/
    background: transparent url(arrowRight.gif) right center no-repeat;
}

.MenuCmsSub li.AspNet-Menu-Leaf a, /* leaves */
.MenuCmsSub li.AspNet-Menu-Leaf span
{
    background-image: none !important;
}

.MenuCmsSub li:hover a, /* hovered text */
.MenuCmsSub li:hover span,
.MenuCmsSub li.AspNet-Menu-Hover a,
.MenuCmsSub li.AspNet-Menu-Hover span,
.MenuCmsSub li:hover li:hover a,
.MenuCmsSub li:hover li:hover span,
.MenuCmsSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.MenuCmsSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover span,
.MenuCmsSub li:hover li:hover li:hover a,
.MenuCmsSub li:hover li:hover li:hover span,
.MenuCmsSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.MenuCmsSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #FFFFFF;
    background: transparent url(activeArrowRight.gif) right center no-repeat;
}

.MenuCmsSub li:hover li a, /* the tier above this one is hovered */
.MenuCmsSub li:hover li span,
.MenuCmsSub li.AspNet-Menu-Hover li a,
.MenuCmsSub li.AspNet-Menu-Hover li span,
.MenuCmsSub li:hover li:hover li a,
.MenuCmsSub li:hover li:hover li span,
.MenuCmsSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.MenuCmsSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
    color: Black;
    background: transparent url(arrowRight.gif) right center no-repeat;
}

.MenuCmsSub .AspNet-Menu-Selected /* this tier is selected */
{
/*    border: solid 1px #00ff00 !important;*/
    background:#0085B8;
    color:#FFFFFF;
}

.MenuCmsSub .AspNet-Menu-ChildSelected /* a tier below this one is selected */
{
    border: solid 1px #ff0000 !important;
}

.MenuCmsSub .AspNet-Menu-ParentSelected /* a tier above this one is selected */
{
    border: solid 1px #0000ff !important;
}



