﻿table.tblData 
{
    border-collapse: collapse;
    border: 1px solid #839E99; 
    background: #FFFFFF;
    font: .9em/1.2em Tahoma, Arial, Georgia, "Times New Roman", Times, serif;
    color: #033;
    width:99%;
}


.tblData td
{
    padding: 1px;
    line-height: 1.1em;
    font-size:1em;
}

.tblData th
{
    padding: 3px;
    line-height: 1.2em;
    font-weight: bold;
    text-align: left;
    padding-right: .5em;
    vertical-align: top;
    
}

.tblData thead th
{
    background: #0085B8;
    text-align: center;
    color:#FFF;
    font-size:15px;
}

.odd td
{
    background: #AECAD6;
}
.odd th
{
    background: #6E8D88;
}

.tblData td a,.tblData td a:link
{
    color: #333333;

}

.tblData td a:visited
{
    color: #333333;
}

.tblData td a:hover, .tblData td a:focus
{
    color: #FFF;
}

.tblData th a
{
    color: #fff;
    padding-right: 10px;
    display:block;
}

.tblData tfoot th,.tblData tfoot td
{
    background: #0085B8;
    color: #fff;
    font-size:14px;
}
.tblData tfoot th a
{    display:inline ;
}

.tblData th + td
{
    padding-left: .5em;
}
.errorRow td
{padding:0;color:Red;
}
.editRow
{background:#E3E1D2;    
}
.insertRow
{background:#E3E1D2;
}
.hovRow
{
background:#00B2FF;
color:#FFF;
}
.hovRowodd
{
background:#00B2FF;
color:#FFF;
}
.hovRow a:hover, .hovRowOdd a:hover{
color:#FFF;
}

/* change image if it is an asc sort */
.tblData th.sortasc a
{
background: url(../../_res/images/icon/dt-arrow-up.png) no-repeat right 50%;
}  

/* change image if it is a desc sort */
.tblData th.sortdesc a
{
background: url(../../_res/images/icon/dt-arrow-dn.png) no-repeat right 50%;
}  

.artEdit{
font-family:Candara, Georgia;
font-size:15px;
color:#006699;
font-weight:bold;
line-height:1.2em;

}