﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="selLanguage.ascx.cs" Inherits="SM.EM.UI.Controls._selLanguage" %>

<asp:DropDownList ID="ddlLanguage" runat="server" AutoPostBack="true">
</asp:DropDownList>