﻿<%@ Page Language="C#" MasterPageFile="~/CMS/CMS.master" AutoEventWireup="true" CodeFile="new-user.aspx.cs" Inherits="SM.UI.CMS.CMS_Intranet_new_user" Title="Untitled Page" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<%@ Register TagPrefix="SB" TagName="UserEdit" Src="~/_ctrl/main-page/_cntRegisterShort.ascx"   %>

<asp:Content ID="c1" ContentPlaceHolderID="cphNavL" runat="server">
    
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cph" Runat="Server">

                        
    <SB:UserEdit   id="objUserEdit" runat="server" />
                    


</asp:Content>