﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="cmsContent.ascx.cs" Inherits="SM.EM.UI.Controls._ctrl_module_content_cmsContent" %>

<div id="divContent" class="conBody" runat="server"></div>