﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_pmodStoreHome.ascx.cs" Inherits="_em_templates__custom_eko__inc_content_pmodStoreHome" %>
<%@ Register Namespace="SM.EM.UI.Controls" TagPrefix="EM"  %>
<%@ Register TagPrefix="EM" TagName="ModuleNew" Src="~/_ctrl/emenik/emModuleNew.ascx"  %>
<%@ Register TagPrefix="SM" TagName="ProductItem" Src="~/_ctrl/module/product/_viewProductListItemBig.ascx"  %>

<div class="home_storeW">

                <div class="home_storeL">
                    <div class="home_storeLI">
                        <h2><a href='<%= SM.BLL.Common.ResolveUrl( SM.EM.Rewrite.EmenikUserUrl("eko", 1475, "Ekodivizija") )%>'>EKODIVIZIJA</a></h2>
                        <p>Kratek opis kaj je to ekodivizija.... lorem <br />
                        sit ametum aletum ametum lorem ipsum dolor sit <br />
                        amet ametum alet umetum alet olas.</p>
                    </div>
                    <div class="clearing"></div>
                    <div class="home_storeB"></div>
                </div>
                <div class="home_storeR">
                    <div class="home_storeRI">
                        <h2><a href='<%= SM.BLL.Common.ResolveUrl( SM.EM.Rewrite.EmenikUserUrl("eko", 1476, "Ekorepublika") )%>'>EKOREPUBLIKA PRIPOROČA</a></h2>
                        <p>Kratek opis kaj je to ekodivizija.... lorem <br />
                        sit ametum aletum ametum lorem ipsum dolor sit <br />
                        amet ametum alet umetum alet olas.</p>

                        <div class="clearing"></div>
                    </div>
                    <div class="clearing"></div>
                    <div class="home_storeB"></div>
                </div>
                <div class="clearing"></div>

</div>
<div class="clearing"></div>

    
    
