﻿body {
background:#0099FF url(../../_em/templates/fall/_inc/design/bcg_hor_blue.jpg) center top repeat-y;
}
h1{
color: #003399;
}
h2, h3{
color: #0075EA;
}
#main a{
color: #003399;
text-decoration:underline;    
}
#main a:hover{
color: #003399;
text-decoration:none;    
}
#headerLang a{
color:#000;
}
#headerLang a:hover{
color: #003399;
background:#FFFFFF;
}
a.selLang{
text-decoration:underline !important;
color: #003399 !important;
background:#FFFFFF !important;
}

#footer a{
color: #FFF;
text-decoration:underline;    
}
#footer a:hover{
color: #FFF;
text-decoration:none;    
}
#bodyWrapp{
background:#0099FF url(../../_em/templates/fall/_inc/design/bcg_ver_blue.jpg) repeat-x;
}
#pagewidthOuter {
background:#26A8FE url(../../_em/templates/fall/_inc/design/bcg_inner_ver_blue.jpg) repeat-x;
}
#headerCenter h1 a {
text-decoration:none;
font-size:38px;
color:#FFF;
}
#headerCenter h1 a:hover{
color:#FFF;
text-decoration:none;
}
