﻿.mEmFall ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    font-family:"Trebuchet MS";
    font-size:16px;
    text-align:center;

}

.mEmFall ul.AspNet-Menu ul  /* Tier 2 */
{
   /* width: 6em;
    top: 100%;*/
}

.mEmFall ul.AspNet-Menu ul ul  /* Tier 3+ */
{
    /*top: -0.5em;
    left: 6em;*/
}

.mEmFall li /* all list items */
{
    margin-left:0px;
    margin-right:5px;
min-height:34px;
height:auto !important;
height: 34px; 
background:url(../../_em/templates/fall/_inc/design/fall_blue_menu.jpg) top repeat-x;

}

.mEmFall li:hover, /* list items being hovered over */
.mEmFall li.AspNet-Menu-Hover
{
background-position:bottom;
    z-index:100;
}

.mEmFall a{} /* all anchors and spans (nodes with no link) */
.mEmFall span
{
    color: #FFF;
    padding: 5px 15px 7px 15px;
}

.mEmFall li.AspNet-Menu-Leaf a, /* leaves */
.mEmFall li.AspNet-Menu-Leaf span
{
    background-image: none !important;
}

.mEmFall li:hover a, /* hovered text */
.mEmFall li.AspNet-Menu-Hover a,
.mEmFall li:hover li:hover a,
.mEmFall li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.mEmFall li:hover li:hover li:hover a,
.mEmFall li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{}
.mEmFall li:hover span,
.mEmFall li.AspNet-Menu-Hover span,
.mEmFall li:hover li:hover span,
.mEmFall li.AspNet-Menu-Hover li.AspNet-Menu-Hover span,
.mEmFall li:hover li:hover li:hover span,
.mEmFall li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #FFF;
    cursor:pointer;
}

.mEmFall li:hover li a, /* the tier above this one is hovered */
.mEmFall li:hover li span,
.mEmFall li.AspNet-Menu-Hover li a,
.mEmFall li.AspNet-Menu-Hover li span,
.mEmFall li:hover li:hover li a,
.mEmFall li:hover li:hover li span,
.mEmFall li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mEmFall li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
}

.mEmFall .AspNet-Menu-Leaf{

}

.mEmFall .AspNet-Menu-Selected /* this tier is selected */
{
background-position:bottom;
    color:#FFF;

}
.mEmFall a.AspNet-Menu-Selected /* this tier is selected */
{
}

.mEmFall a.AspNet-Menu-Selected /* a tier below this one is selected */
{
}

.mEmFall .AspNet-Menu-ChildSelected /* a tier below this one is selected */
{
}

.mEmFall .AspNet-Menu-ParentSelected /* a tier above this one is selected */
{
}


