﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_cmsImageNew.ascx.cs" Inherits="SM.EM.UI.CMS.Controls.CMS_cmsImageNew" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>




        select file *:
        <asp:RegularExpressionValidator Display="Dynamic" EnableClientScript="true" ValidationGroup="file"  id="revFile" runat="server"  ErrorMessage="* Only .zip or image (.jpg, .gif, .png) files alowed)" 
                                        ValidationExpression="^.+(.jpg|.JPG|.gif|.GIF|.png|.PNG|.zip|.ZIP)$" 
                                        ControlToValidate="fuFile"></asp:RegularExpressionValidator>
        <asp:RequiredFieldValidator Display="Dynamic" ValidationGroup="file" EnableClientScript="true"  id="rfvUpload" runat="server"  ErrorMessage="* Please select file for upload"  ControlToValidate="fuFile"></asp:RequiredFieldValidator>
        <asp:CustomValidator ValidationGroup="fileC" Display="Dynamic" ID="cvFileSize" runat="server" ErrorMessage="" OnServerValidate="ValidateFileSize"></asp:CustomValidator>
        <br />
        <asp:FileUpload ID="fuFile" runat="server" />
        <br />
        <br />
            
        <asp:CheckBox ID="cbActive" runat="server" Text="active" />
        <br />
        <br />
        author:
        <br />
        <asp:TextBox ID="tbAuthor" runat="server"></asp:TextBox>
        <br />
        <br />
<%--        <asp:LinkButton ValidationGroup="file" ID="btUpload" runat="server" OnClick="btUpload_Click"  Text="Add image(s)" />

        <asp:LinkButton CausesValidation="false" ID="btCancel" runat="server" OnClick="btCancel_Click"  Text="Cancel" />--%>
        <br /><br />



