﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_viewPollCWP.ascx.cs" Inherits="_ctrl_module_poll_viewPollCWP" %>


<div id="divTitle"  class="cwpH1" runat="server">
    <h1><asp:Literal ID="litTitle" runat="server" ></asp:Literal></h1>
</div>

