﻿* {margin:0; padding:0;}
html, body { margin:0; padding:0; text-align:left;}
body {font:14px Arial; color:#5A4A42; background:url(../_inc/images/design/bcg_rep.png) repeat center top; /*background:#666 url(../_inc/images/design/bcgs/bcg_pic01.jpg) repeat scroll center top;*/}
body.edit { /*background:#666 url(../_inc/images/design/bcgs/bcg_pic01.jpg) repeat scroll center 144px;*/ }
body.edit_sett { /*background:#666 url(../_inc/images/design/bcgs/bcg_pic01.jpg) repeat scroll center 187px;*/ }
html {overflow-y:scroll;}

h1, h2, h3, h4, h5 {font-weight:normal; line-height:120%; font-family:Georgia;}
h1 {font-size: 25px; padding:5px 0px 15px 0px; color:#5A4A42;}
h2 {font-size: 20px; padding:5px 0px 15px 0px; color:#5A4A42;}
h3 {font-size: 16px; padding:5px 0px 5px 0px; color:#5A4A42;}
h4 {font-size: 15px; padding:5px 0px 5px 0px; color:#5A4A42;}
h5 {font-size: 14px; padding:5px 0px 10px 0px; color:#5A4A42; line-height:140%;}

p, .cwp_zone.p {font:14px/150% Arial; padding:0px 0px 15px 0px; color:#5A4A42;}
.cwp ul, .cwp ol, .pd_descMI ul, .pd_descMI ol, .pd_desclong ul, .pd_desclong ol {font:14px/150% Arial; padding:0px 0px 15px 0px; color:#5A4A42; margin-left:16px; list-style-position:outside;}
.cwp ol, .pd_descMI ol, .pd_desclong ol {margin-left:18px; *margin-left:25px;}
 
.productlist .cwp p {font:12px/150% Arial; padding:0px 0px 15px 0px; color:#5A4A42; text-align:center;}
p.p_catdesc {font-size:12px; padding:0px 0px 20px 0px; text-align:center; width:640px; margin-left:auto; margin-right:auto;}

.homeW_inwordW {width:640px; margin:0px auto 0px;}
.homeW_inwordW h1, .homeW_inwordW h2, .homeW_inwordW h3, .homeW_inwordW h4,.homeW_inwordW h5 {text-align:center;}
.homeW_inwordW p {text-align:left;}
.homeW_inwordW h3, .homeW_inwordW h4,.homeW_inwordW h5 {padding:0px 0px 15px 0px;}
.homeW_inwordW p {padding:0px 0px 30px 0px;}



.main a {color:#BD3E00; text-decoration:underline;}
.main a:hover {text-decoration:none;}
body img {border:none;}

.main h2 a, .main h1 a {color:#BD3E00; text-decoration:underline; outline:none;}
.main h2 a:hover, .main h1 a:hover {color:#BD3E00; text-decoration:none; cursor:pointer;}

.ph_h2 {text-align:center; font-size: 25px; padding-bottom:30px;}
.ph_h2 span.ph_h2_text {position:relative; display:inline-block; padding:0px 0px 12px 0px; background:url(../_inc/images/design/h2_bcg_mid_rep.png) repeat-x left bottom;}
.ph_h2_picL, .ph_h2_picR {position:absolute; padding:0; margin:0; border:0; overflow:hidden; font-size:0px; line-height:0px; height:16px; width:62px;}
.ph_h2_picL {bottom:-9px; left:-62px;
background:url(../_inc/images/design/h2_bcg_left.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/h2_bcg_left.png',sizingMethod='crop');
}
.ph_h2_picR {bottom:-9px; right:-62px;
background:url(../_inc/images/design/h2_bcg_right.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/h2_bcg_right.png',sizingMethod='crop');
}
.ph_h2_text_sepa_width {width:140px;}

.homeW .ph_h2 {font-size: 40px; padding:60px 0px ;}

.cwp {padding:0px 0px 15px 0px; margin:0px 0px 0px 0px;}

.bodyW {width:100%; /*background:#482C16 url(../_inc/images/design/bcg_logo.jpg) no-repeat center top;*/}
/*.m_1473 .bodyW, .m_1480 .bodyW {background:url(../_inc/images/design/bcg_trgovina.jpg) no-repeat center 220px;}*/

.headerTW {min-height:37px; height:auto !important; height:37px; width:100%;
background:url(../_inc/images/design/headerT_bcg_rep.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/headerT_bcg_rep.png',sizingMethod='scale');
}
.headerT a {outline:none;}
.headerT img {border:none;}
.headerT {min-height:34px; height:auto !important; height:34px; width:970px; margin-left:auto; margin-right:auto;}

.headerTL {width:20%; float:left;}
.headerTLI {padding:11px 0px 0px 0px; vertical-align:top;}

.headerTLI span, .headerTLI a {display:inline-block; margin-right:6px;  vertical-align:top;}
span.music_text {/*height:12px; line-height:12px;*/ font-size:11px; color:#FFF0C9;}
a.btn_stop, a.btn_play { font-size:11px; line-height:12px; outline:none; text-decoration:none;}
a.btn_stop {height:12px; width:12px; background:url(../_inc/images/design/btn_stop.jpg) no-repeat left top;}
a.btn_play {height:12px; width:10px; background:url(../_inc/images/design/btn_play.jpg) no-repeat left top;}

.headerTR {width:78%; float: right; display:inline;}
.headerTRI {/*padding:0px 0px 0px 0px; float:right; min-height:160px; height:auto !important; height:160px; overflow:hidden; position:relative;*/}
.headerTRI {padding:0px; display:inline-block;}
.headerTRI {display:block; }
.headerTRI_lang {padding:7px 0px 0px 10px; float:right;}
.headerTRI_login {padding:5px 0px 0px 10px; float:right;}
.headerTRI_cart {padding:5px 10px 0px 10px; float:right; *width:110px;}
.headerTRI_btns {padding:5px 10px 0px 0px; float:right; text-align:right; *width:300px;}

/*.headerTRI_lang a,*/ .headerTRI_login, .headerTRI_login a , .headerTRI_cart a, .headerTRI_blog a {color:#FFF0C9; text-decoration:none; font-size:11px;}

/*   Languages ddl   */

.cLang {text-align:left; position:relative;}
.cLang a {padding:4px 10px 4px 10px; /*text-align:right;*/ font-size:11px; color:#FFF0C9; text-transform:uppercase;}
.cLang a.lang_sel {display:block; background:url(../_inc/images/design/language_arrow.jpg) no-repeat right 8px;}
.lang_droppanel {/*display:none;*/position:absolute; top:21px; left:0px; background:#5A4A42; padding:0px 0px 5px 0px;}
.lang_droppanel a {display:block; text-decoration:none;}
.cLang a:hover, .cLang a.lang_sel {color:#FFF0C9; text-decoration:none;}
.cLang a:hover {cursor:pointer; text-decoration:underline;}

span.login_ddl_W {position:relative; display:inline-block;}
a.loginS {height:24px; line-height:24px; color:#593726; font-size:11px; text-decoration:none; padding:0px 10px 0px 10px;  display:inline-block; background:#ffeec1; text-transform:none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
a.userNameS {height:24px; line-height:24px; /*color:#FFF; font-size:12px;*/ text-decoration:none; padding:0px 10px 0px 10px;  display:inline-block; position:relative; background:url(../_inc/images/design/language_arrow.jpg) no-repeat right center;}
a.registerS {height:24px; line-height:24px; padding:0px 10px 0px 10px; color:#593726; font-size:11px; text-decoration:none; display:inline-block; background:#ffeec1; text-transform:none ; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
a.logoutS, a.header_btn {height:24px; line-height:24px; color:#5A4A42; font-size:11px; text-decoration:none; padding:0px 10px 0px 10px;  display:inline-block; background:#FFF3D7; margin-left:15px; text-transform:uppercase; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
a.header_btn {margin:0px 0px 0px 2px;}

span.userNameS_droppanel {/*display:none;*/ position:absolute; display:block; top:21px; left:0px; background:#5A4A42; padding:3px 0px 5px 0px;}
span.userNameS_droppanel a {padding:4px 10px 4px 10px; /*text-align:right;*/ font-size:11px; display:block; text-decoration:none; color:#FFF0C9;}
span.userNameS_droppanel a:hover {cursor:pointer; text-decoration:underline;}

span.cart_ddl_W {position:relative; display:inline-block;}

.headerW {min-height:37px; height:auto !important; height:37px; width:100%;}
.header a {outline:none;}
.header img {border:none;}
.header {min-height:34px; height:auto !important; height:34px; width:970px; margin-left:auto; margin-right:auto; text-align:center;}

.header_logo {padding:40px 0px 55px 0px; /*min-height:110px; height:auto !important; height:110px;*/}
.header_text {padding:0px 0px 15px 0px;}
.header_text p {text-align:center; font-size:10px; color:#5A4A42; padding-bottom:0px;}





.headerNavW {padding:5px 0px 25px 0px; /*height:30px;*/ width:970px; margin-left:auto; margin-right:auto; overflow:hidden;
/*background:url(../_inc/images/design/menu_bcg_rep.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/zoran/_inc/images/design/menu_bcg_rep.png',sizingMethod='scale');*/
}
.headerNav {padding:0px 0 0 0px;}
.headerNavI {padding:0px 0 0 0px; position:relative; float:left;}
.headerNavLW, .headerNavRW {position:relative; height:30px; float:left; width:0px;}
.headerNavLW {border-left:1px solid #DDCDA3; border-right:1px solid #FFF;}
.headerNavRW {border-left:1px solid #DDCDA3; border-right:1px solid #FFF;}

.headerNavL, .headerNavR {position:absolute; padding:0; margin:0; border:0; overflow:hidden; font-size:0px; line-height:0px; height:20px; width:800px;
background:url(../_inc/images/design/separator_bcg_rep.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/separator_bcg_rep.png',sizingMethod='scale');
}
.headerNavL {top:7px; right:1px;}
.headerNavR {top:7px; left:1px;}

.headerNav {display: table; margin: 0px auto;}
.headerNavW > br { display: none; }




.mainW {padding:0px 0px 0px 0px; width:970px; margin-left:auto; margin-right:auto;}
.mainW img {border:none;}
.main {padding:30px 0px 30px 0px; min-height:100px; height:auto !important; height:100px; /*width:940px; margin-left:auto; margin-right:auto;*/}


.mainL {width:30%; float:left;}
.mainR {width:68%; float: right; display:inline; line-height:150%;}


.footerW { width:970px; margin-left:auto; margin-right:auto; padding-bottom:10px;}
.footer {min-height:287px; height:auto !important; height:287px; padding:50px 0px 30px 0px;
background:url(../_inc/images/design/footer_bcg_rep.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/footer_bcg_rep.png',sizingMethod='scale');
}

.footerL {width:643px; float:left; text-align:left; border-right:1px solid #FFF; /*padding:25px 0px 0px 38px; min-height:270px; height:auto !important; height:270px;*/}
.footerLI {width:280px; border-right:1px solid #DDCDA3;padding:0px 20px 0px 20px; float:left; /*min-height:115px; height:auto !important; height:115px;*/}
.footerLRI {width:280px; border-right:1px solid #DDCDA3; border-left:1px solid #FFF; padding:0px 20px 0px 20px; float:left; /*min-height:115px; height:auto !important; height:115px;*/}

/*span.foot_text1 {padding:0px 0px 0px 20px; font-size:14px; color:#FFF;}
span.foot_text2 {padding:10px 0px 0px 0px; font-size:19px; color:#FFF; display:block;}
.contact_info {}
.contact_info p {color:#999; font-size:14px; line-height:150%; padding:30px 0px 0px 0px;}
.contact_info p.ci_text2 {color:#CCC; font-size:12px; line-height:150%; padding:0;}
.contact_info a.yellow {color:#F8B800; text-decoration:underline;}

span.foot_text3 {padding:30px 0px 0px 0px; font-size:17px; color:#F9B800; display:block;}

.footerLI {padding:3px 0px 0px 0px; overflow: hidden; display: inline-block;}
.footerLI {display: block;}

.footerLIL {float:left; padding:0px 0px 0px 0px; text-align:left; width:71%;}
.footerLIL p {font-size:15px; line-height:170%; text-align:left;}
.footerLIL a {color:#72AE3F; text-decoration:underline;}
.footerLIL a:hover {text-decoration:none;}
.footerLIR {float:right; padding:0px 0px 0px 0px; text-align:right; width:26%;}
.footerLIR .icons {padding-top:3px;}
*/
/*
.footerLIL a {color:#333; text-decoration:underline;}
.footerLIL a:hover {color:#000; text-decoration:none;}
.footerLIL span {}*/

.footerR {width:306px; float: right; display:inline; padding:0px 0px 0px 0px; /*border-left:1px solid #DDCDA3;*/}
.footerRI {padding:0px 20px 0px 0px; /*border-left:1px solid #FFF;*/}
.footerR img {border:none;}
.footerR a:hover {text-decoration:none;}

.footer h2 {font-size:25px; padding:0px 0px 20px 0px;}
.footer h3 {padding-bottom:15px;}


.footerNavW {padding:10px 0px 15px 0px; width:100%; border-top:1px solid #D6D6D6;
/*background:url(../_inc/images/design/menu_bcg_rep.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/zoran/_inc/images/design/menu_bcg_rep.png',sizingMethod='scale');*/
}
.footerNav {padding:0px 0 0 5px;}

span.sepa_footer {border-top:1px solid #DDCDA3; display:block; height:0px; font-size:0px; line-height:0px; margin-top:1px; padding-bottom:1px; width:285px;}
.footerR_moreinfo {height:42px; line-height:42px; font-size:11px; color:#5A4A42; padding-left:3px; letter-spacing:1.5px;}
span.footerR_phone {font-size:15px; font-weight:bold; /*letter-spacing:normal;*/}

.separator_main {height:20px; width:100%; font-size:0px; line-height:0px;
background:url(../_inc/images/design/separator_bcg.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/separator_bcg.png',sizingMethod='crop');
}

.contact_form_btnW {padding:12px 0px 0px 20px;}
.footerLI .contact_form_btnW {padding:27px 0px 0px 20px;}
.footerLRI_btnW {padding:10px 0px 0px 0px;}
.catdecs_btnW {padding:0px 0px 40px 0px;}
.catdecs_btn {display: table; margin: 0px auto;}
.catdecs_btnW > br { display: none; }

a.btn_send {outline:none; font-size:15px; padding-left:87px; display:block; float:left; height:51px; line-height:45px; text-decoration:none;
background:url(../_inc/images/design/button_send_left.png) no-repeat left top;
}
a.btn_send span {color:#5A4A42; font-size:15px; padding:0px 87px 0px 0px; float:left; display:block; /*width:100%;*/ height:51px; line-height:45px;
background:url(../_inc/images/design/button_send_right.png) no-repeat right top;
}
.footerLRI a.btn_send {padding-left:55px; background:url(../_inc/images/design/button_send_left_minpadd.png) no-repeat left top;}
.footerLRI a.btn_send span {padding-right:55px;}
a.btn_send:hover {background-position:left bottom;}
a.btn_send:hover span {background-position:right bottom; cursor:pointer;}


/*    Table contact    */

table.tbl_contact_form {line-height:100%; font-size:13px;}
table.tbl_contact_form td {padding:6px 10px 3px 0px; width:80px; white-space:nowrap;}
table.tbl_contact_form td.td_text {text-align:left; color:#333;}
table.tbl_contact_form td.td_input {/*padding:3px 50px 3px 0px;*/}
table.tbl_contact_form td.td_nopadd {padding-right:0px;}
table.tbl_contact_form td.td_rowspan {padding-top:10px;}
table.tbl_contact_form td.td_btn {padding-top:10px;}
table.tbl_contact_form td.td_error {padding:0px; width:1px; vertical-align:top;}
table.tbl_contact_form td.td_veralign {vertical-align:top; padding-top:14px;}

table.tbl_contact_form td.td_input input, table.tbl_contact_form td.td_input textarea, table.tbl_contact_form td.td_input select {padding:0px 5px 0px 5px; width:310px; height:28px; /*line-height:33px;*/ font-size:12px; color:#5A4A42;  background:#FFF5DC;
border:1px solid #594941; /*-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;*/  -moz-box-shadow:0px 0px 5px #CCC inset; -webkit-box-shadow:0px 0px 5px #CCC inset; box-shadow:0px 0px 5px #CCC inset; outline:none;
/*background:url(../_inc/images/design/input_box.jpg) no-repeat;
background: url(../_inc/images/design/input_box.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../c/_inc/images/design/input_box.png',sizingMethod='crop');    
*/
}
table.tbl_contact_form td.td_input input {*line-height:28px;}
table.tbl_contact_form td.td_input textarea {height:88px; padding:6px 5px 6px 5px; /*line-height:28px;*/ font-family:Arial; resize: none;}
table.tbl_contact_form td.td_input input.error, table.tbl_contact_form td.td_input textarea.error, table.tbl_contact_form td.td_input select.error {border:1px solid #CC0000; -moz-box-shadow:0px 0px 5px #CC0000 inset; -webkit-box-shadow:0px 0px 5px #CC0000 inset; box-shadow:0px 0px 5px #CC0000 inset;
/*background: url(../_inc/images/design/input_box_error.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../c/_inc/images/design/input_box_error.png',sizingMethod='crop');  
*/
}
table.tbl_contact_form td.td_input select {padding:0px 0px 0px 5px;}
table.tbl_contact_form td.td_input select:hover {cursor:pointer;}

table.tbl_contact_form td.td_input_sec {padding:6px 0px 3px 0px; text-align:right;}
.footerLI table.tbl_contact_form td.td_input input {width:122px; background:none;} 
.footerLI table.tbl_contact_form td.td_input textarea {width:270px; height:80px; background:none;}
.footerLI table.tbl_contact_form td.td_input textarea.short {width:270px; height:40px;}

.footersub {width:970px; margin:0px auto 0px; padding:0px 0px 20px 0px;}
p.mailus {font-size:12px; line-height:100%;}
p.mailus a {outline:none; text-decoration:none; color:#5A4A42;}
p.mailus a:hover {outline:none; text-decoration:underline; color:#5A4A42;}

a.luna {width:106px; height:25px; line-height:0px; font-size:0px; float:right; display:block; outline:none; text-decoration:none;}
a.luna img {border:none;}




/*    Product list    */

.productlist {/*padding-top:6px; _padding-top:6px;*/}
.productlist .cwp {padding-top:0px;}
/*.productlist h1 {color:#336699; font-size:27px;}
.productlist p {color:#333; font-size:13px;}*/
.prod_renderW {padding:0px 0px 5px 0px; /*overflow-x:hidden;*/}

.navSubW {padding:10px 0px 15px 0px;}
.navSub {display: table; margin: 0px auto;}
.navSubW > br { display: none; }


span.navSub_choose {float:left; font-size:12px; color:#5A4A42; letter-spacing:1.7px; margin:0px 6px 0px 0px; height:30px; line-height:31px;}
.cMenuB {float:left;}

ul.nav_sec {position: relative; float:left;}
ul.nav_sec li {float:left; margin-right:0px;
position: relative;
list-style: none;
float: left;
}
ul.nav_sec li a {color:#5A4A42; outline:none; padding-left:0px; display:block; float:left;}
ul.nav_sec li a span {color:#5A4A42; font-size:14px; padding:0px 10px 0px 10px; float:left; display:block;}

h2.prod_category {font-size:25px; padding:0px 0px 25px 0px; clear:left;}
p.prod_category_desc {font-size:12px; padding:0px 0px 25px 0px; margin-top:-10px;}
span.plist_sepa {height:10px; width:100%; font-size:0px; line-height:0px; display:block; margin:0px 0px 27px 0px; clear:both;
background:url(../_inc/images/design/separator_article_bcg.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/separator_article_bcg.png',sizingMethod='crop');
}

.prod_render {width:200px; margin:2px 56px 50px 0px; float:left;}
.prod_render_left {margin-right:0px;}
.prod_render_right {width:720px; margin:0px 0px 0px 0px; float:right; display:inline;}
.prod_render_right p, .prod_render_right p.prod_category_desc {font-size:12px; padding:0px 0px 15px 0px;}

.prod_render .prod_renderM {}
.prod_render.nStock .prod_renderM {/*border-top:1px solid #CC0000;*/}
.prod_render.inactive .prod_renderM {/*border-top:1px solid #00CC00;*/}
.prod_render.action .prod_renderM {/*border-top:1px solid #0000CC;*/}

.prod_render_br {margin-right:0px;}
.prod_render_cl {clear:left;}

.prod_render:hover .prod_renderM, .prod_renderHov .prod_renderM, .prod_render.inactive:hover .prod_renderM, .prod_render.inactive.prod_renderHov .prod_renderM, .prod_render.nStock:hover .prod_renderM, .prod_render.nStock.prod_renderHov .prod_renderM {
display: block;
_width: 200px;
/*background:url(../_inc/images/design/footer_bcg_rep.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/footer_bcg_rep.png',sizingMethod='scale');
*/}

.prod_render .plText {padding:0px 0px 0px 0px; width:200px; margin:0 auto 0 auto;}
.prod_render:hover .plText, .prod_renderHov .plText {}
.prod_render.prod_render_left .plText {display:none;}
.prod_render .plImg {width:200px; margin:0px auto 0px auto; display: block; min-height:200px; height:auto !important; height:200px; line-height:0px; font-size:0px; text-align:center; position:relative;}
.prod_render .plImg img {/*margin:0px auto 0px auto;*/ border:none;}
.prod_render .plImgMask {position:absolute; margin-left:0px; width:200px; min-height:200px; height:auto !important; height:200px; background:url(../_inc/images/design/1px.gif) repeat; z-index:5;}
.prod_render .plImgMask a.plImgMaskA {width:200px; min-height:200px; height:auto !important; height:200px; display:block; outline:none; text-decoration:none;}
.prod_render span.actionS {display:none;}
.prod_render.action span.actionS {display:block; color:#000; margin-left:auto; margin-right:auto; line-height:100%; font-size:14px; text-align:center; margin-top:7px;}
.prod_render:hover span.actionS, .prod_renderHov span.actionS {display:none;}

.prod_render span.nStockS {display:none;}
.prod_render.nStock span.nStockS {display:block; color:#000; margin-left:auto; margin-right:auto; line-height:100%; font-size:14px; text-align:center; margin-top:7px;}
.prod_render:hover span.nStockS, .prod_renderHov span.nStockS {display:none;}

.prod_render span.inactiveS {display:none;}
.prod_render.inactive span.inactiveS {display:block; color:#000; margin-left:auto; margin-right:auto; line-height:100%; font-size:14px; text-align:center; margin-top:7px;}
.prod_render:hover span.inactiveS, .prod_renderHov span.inactiveS {display:none;}


.prod_render.nStock .plImgMask {}
.prod_render.inactive .plImgMask {}
.prod_render.action .plImgMask {}
.prod_render:hover .plImgMask, .prod_renderHov .plImgMask, .prod_render.inactive:hover .plImgMask, .prod_render.inactive.prod_renderHov .plImgMask {}

/*
.prod_render .plImgMask a.plImgMaskA span.plRatingS { display:block; padding:142px 0px 0px 5px; *padding-left:3px; }
*/
.prod_render a.plName { text-decoration:none; outline:none;}
.prod_render span.plNameS {color:#5A4A42; text-decoration:none; display:block; font-size:14px; padding:8px 0px 8px 0px; line-height:130%;}
.prod_render span.plPrice, .prod_render span.plPriceSave, .prod_render span.plDiscount {display:block; line-height:120%; }
.prod_render span.plPrice {color:#5A4A42; font-size:12px; padding:5px 0px 5px 0px; letter-spacing:3px; border-top:1px solid #DDCDA3; border-bottom:1px solid #DDCDA3; line-height:20px;}
.prod_render span.plPriceNumber {color:#5A4A42; font-size:16px; float:right; letter-spacing:normal; font-weight:bold;}
.prod_render span.plDiscount {color:#00CC00; padding:0px 8px 5px 8px;}
.prod_render span.plPriceSave {color:#0082C2; padding:0px 8px 5px 8px; font-size:13px;}
.prod_render span.plPriceFrom {color:#5A4A42; font-size:12px; letter-spacing:2px; font-weight:normal; padding:0px 5px 0px 0px; float:right; line-height:20px; height:20px;}

.prod_render.action span.plNameS {}
.prod_render:hover, .prod_render.prod_renderHov {cursor:pointer;}
.prod_render:hover a.plName span.plNameS, .prod_render.prod_renderHov a.plName span.plNameS {cursor:pointer; background:none;}
/*
.prod_render:hover span.plPrice, .prod_render.prod_renderHov span.plPrice {color:#CC0000; display:none;}
.prod_render:hover span.plPriceSave, .prod_render.prod_renderHov span.plPriceSave {color:#99CC00; display:block;}
*/
span.prod_renderEmptyS { display:block; padding: 0px 5px 0px 5px;}

.plCartbtnW {padding:8px 0px 0px 0px; margin:0 auto 0 auto;}
.prod_render.prod_render_left .plCartbtnW {padding:16px 0px 0px 0px;}
.prod_render:hover .plCartbtnW, .prod_renderHov .plCartbtnW {}
.plCartbtn {/*float:right; padding:5px 7px 0px 0px;*/}

.pd_cartbtnW {padding:25px 0px 10px 0px;}

a.plAcartAdd, a.AcartAdd {outline:none; font-size:10px; padding-left:57px; display:block; float:left; height:35px; line-height:34px; text-decoration:none;
background:url(../_inc/images/design/button_cart_left.png) no-repeat left top;
}
a.plAcartAdd span, a.AcartAdd span {color:#5A4A42; font-size:10px; padding:0px 37px 0px 0px; float:left; display:block; /*width:100%;*/ height:35px; line-height:34px; text-decoration:none;
background:url(../_inc/images/design/button_cart_right.png) no-repeat right top;
}
a.plAcartAdd:hover, a.AcartAdd:hover {background-position:left bottom;}
a.plAcartAdd:hover span, a.AcartAdd:hover span {background-position:right bottom; cursor:pointer;}

/*
.plImgTape_nw {position:absolute; left:-7px; top:-7px; width:52px; height:18px;
background:url(../_inc/images/design/tape_lefttop.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/tape_lefttop.png',sizingMethod='crop');
}
.plImgTape_se {position:absolute; right:-10px; bottom:-8px; width:36px; height:23px;
background:url(../_inc/images/design/tape_rightbottom.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/tape_rightbottom.png',sizingMethod='crop');
}
*/

a.prod_list_anchor {line-height:0px; font-size:0px; height:0px;}


.prodlist_relatedW {border-top: 1px solid #DDCDA3; padding:22px 0px 0px 0px;}
.prodlist_relatedW h2.ph_h2 {font-size:20px; padding-bottom: 40px;}

/*      Product Detail      */

.prod_detailW {padding-top:6px;}
.prod_detailW h1.Hname {padding-top:0px;}
#pd97fd388a-6591-4acd-ae41-b269c6c315cc .prod_detailW h1.Hname {display: none;}
.prod_detail {/*min-height:112px; height:auto !important; height:112px;*/ width:100%; margin-left:auto; margin-right:auto;}

.prod_detailL {width:460px; float:left;}
.prod_detailLI {padding:0px 0px 0px 0px; text-align:center;}
.prod_detailLI img { border:none;}
.prod_detailLI a.Apd_bigimg {display:block; float:left; margin:0px 0px 0px 0px; width:460px; cursor:pointer; height:460px;}
/*.prod_detailLI a.Apd_bigimg span.Spd_mask {display:block; position:absolute; width:460px; cursor:pointer; height:460px; z-index:3; margin-top:0px; margin-left:0px;
background:url(../_inc/images/design/productdetail_maskcorners.png) no-repeat top center;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/productdetail_maskcorners.png',sizingMethod='crop');
}*/

.prod_detailR {width:480px; float: right; display:inline;}
.prod_detailRI{padding:0px 10px 0px 0px}

.pd_descMI {line-height:140%; font-size:13px; text-align:left;}
.pd_descMI p {text-align:left;}

.pd_pricefull, .pd_pricefinal { display:block;}
.pd_pricefull {color:#5A4A42; font-size:12px; padding:6px 10px 5px 10px; margin:5px 0px 15px 0px; letter-spacing:3px; border-top:1px solid #DDCDA3; border-bottom:1px solid #DDCDA3; line-height:20px;}
.pd_pricefull_number {color:#5A4A42; font-size:16px; letter-spacing:normal; font-weight:bold; line-height:20px;}

/*.pd_pricefinal {font-size:14px; color:#0099FF;}*/


/*.prod_detailB {border-bottom:1px solid #D4EAF6; border-top:1px solid #D4EAF6; margin-top:15px;}
.prod_detailBI {float:right; width:33%; padding:10px 0px 10px 0px;}*/
.prod_detailBot {padding:5px 0 0 0;}
.pd_desclong { padding: 10px 10px 10px 490px; text-align:left;}
.pd_desclong p {text-align:left;}

.pd_desclong table{
line-height:130%;
	border-width: 0px;
	border-style: solid;
	border-color: #666;
	border-collapse: collapse;
}
.pd_desclong table th{
/*font-size:13px;*/
padding:3px 4px 3px 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #666;
}
.pd_desclong table td{
padding:3px 4px 3px 4px;
/*font-size:13px;*/
border-width: 1px;
border-style: solid;
border-color: #666;
border-collapse: collapse;
}
.pd_files { padding: 10px 10px 10px 490px;}




a.Aprint {font-size:12px; padding:2px 0px 5px 24px; text-decoration:underline; display:block; float:right; margin-right:10px; background:url(../_inc/images/design/icon_print.png) no-repeat;}
a.Aprint:hover {text-decoration:none;}



input.quantityInput {width:40px; font-family:Arial !important; font-size:12px !important; text-align:right; padding:3px 3px 3px 3px; *padding:2px 3px 2px 3px; margin:1px 3px 0px 5px; 
*margin:0px 3px 0px 5px; text-align:center; color:#5A4A42; outline:none; border: 1px solid #594941; background: #FFF5DC;
}

.vgAddToCart select, #vgUpdateCartItem select, .mainFilM select{
color:#5A4A42; margin-top:7px; width:198px; padding:3px 3px 3px 6px; padding:2px 3px 2px 6px\9; *padding:3px 3px 3px 6px; outline:none !important; 
}
.mainFilM select{width:170px; font-size:12px; font-family:Tahoma;}
.vgAddToCart select:hover, #vgUpdateCartItem select:hover, .mainFilM select:hover {cursor:pointer;}
.vgAddToCart select, #vgUpdateCartItem select, .mainFilM select:hover {font-family:Arial !important; font-size:12px !important;}
/* hmmmmm
.vgAddToCart select option {
padding:3px 3px 3px 6px;
padding:2px 3px 2px 6px\9;
*padding:3px 3px 3px 6px;
outline:none !important; 
}
*/


.cAttrPrice {padding:10px 0px 0px 0px;}
.cAttrPrice span.ap_heading {font-size:16px; color:#5A4A42; font-weight:bold; padding:0px 0px 15px 0px; display:block;}
label.itmProdAttrPrice {display:block; padding-bottom:8px;}
span.ap_rbt_title {font-size:14px; color:#5A4A42; line-height:150%; font-weight:bold; margin:0px 0px 0px 22px; display:block; padding:0px 0px 2px 0px;}
span.ap_rbt_price {font-size:12px; font-weight:normal;}
span.ap_rbt_desc {font-size:12px; color:#5A4A42; line-height:150%; margin:0px 0px 0px 22px; display:block; padding:0px 0px 2px 0px;}

.itmProdAttrPrice .fancyopts-icon {float:left;}













/*        Shopping Cart Hover       */
.cartW .cPriceWithShipping, .cartW .cPriceTotalSumWithShipping{display:none;}
.cartW {position:absolute; width: 370px; z-index:900; margin:0px 0px 0px -50px; /*left:-10px;*/ height:1% !important; z-index:10005; visibility:hidden; _display:none; _visibility:visible;}
/*.cartT {min-height:13px; height:auto !important; height:13px; line-height:0px; font-size:0px;
background:url(../_inc/images/design/carthover_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/eko/_inc/images/design/carthover_top.png',sizingMethod='crop');
}*/
.cartM {display: block; background:url(../_inc/images/design/bcg_cart.jpg) repeat; border:2px solid #DDCDA3; /*_width: 360px;
background:url(../_inc/images/design/carthover_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/eko/_inc/images/design/carthover_mid.png',sizingMethod='scale');
*/}
.cartMI {padding:10px 10px 10px 10px; display:block; border:1px solid #C5B297;}
/*.cartB {min-height:15px; height:auto !important; height:15px; line-height:0px; font-size:0px;
background:url(../_inc/images/design/carthover_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/eko/_inc/images/design/carthover_bottom.png',sizingMethod='crop');
}*/
a.Acart {outline:none; text-decoration:none; color:#FFF0C9; float:right; padding-left:20px; height:24px; line-height:24px; background:url(../_inc/images/design/headT_cart_pic.jpg) no-repeat left center !important;}
a.Acart span {padding:0px 10px 0px 0px; background:url(../_inc/images/design/language_arrow.jpg) no-repeat right center !important; }


a.AcarthovFinish {outline:none; font-size:10px; padding-left:46px; display:block; float:left; height:35px; line-height:34px; text-decoration:none;
background:url(../_inc/images/design/button_gen_left.png) no-repeat left top;
}
a.AcarthovFinish span {color:#5A4A42; font-size:10px; padding:0px 46px 0px 0px; float:left; display:block; /*width:100%;*/ height:35px; line-height:34px; text-decoration:none;
background:url(../_inc/images/design/button_gen_right.png) no-repeat right top;
}
a.AcarthovFinish:hover {background-position:left bottom;}
a.AcarthovFinish:hover span {background-position:right bottom; cursor:pointer;}


a.AcarthovClose {text-indent:-999px; width: 22px; height: 21px; display: block; float:right; margin:2px 0px 0px 4px; cursor:pointer;
background:url(../_inc/images/design/cart_hover_close.png) no-repeat center top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/cart_hover_close.png',sizingMethod='crop');
}
.cartMITopS {display:block; font-size:11px; color:#5A4A42; line-height:20px; padding:0px 0px 0px 0px; width:250px; float:left; /*background:url(../_inc/images/design/carthover_innercart.jpg) no-repeat;*/}
span.ci_separatorS {display:block; min-height:0px; height:auto !important; height:0px; line-height:0px; font-size:0px; border-bottom:1px solid #DDCDA3; margin:10px 0px 10px 0px;}
.cartW span.ci_separatorS {margin:6px 0px 6px 0px;}
.cartItemW {line-height:145%;}
.cartItemL {width:16%; float:left; font-size:0px; line-height:0px;}
.cartW .cartItemL {width:17%;}
.cartItemL a img {margin-top:0px; border:1px solid #DDCDA3; /*width:90px; height:90px;*/}
.cartW .cartItemL a img {width:50px; height:50px;}
.cartItemR {width:83.8%; float: right; display:inline; color:#666;}
.cartW .cartItemR {width:82.5%;}
.cartItemRT {min-height:70px; height:auto !important; height:70px;}
.cartW .cartItemRT {min-height:32px; height:auto !important; height:32px;}
.cartItemRL {width:50%; float:left; padding-left:3px;}
.cartItemRR {/*width:35%;*/ float: right; display:inline;}
.cartBottomW {padding-top:5px;}
.cartBottomL {/*width:65%; */ float:left;}
.cartBottomR {/*width:35%;*/  float: right; display:inline;}
.cartBottomB_btn {padding:0px 0px 0px 0px;}

.cartItemRR a, .cartItemRR span {display:inline-block; text-align:right;}
a.btn_ci_qu_up, a.btn_ci_qu_down { font-size:0px; line-height:0px; outline:none; text-decoration:none; height:7px; width:8px;}
a.btn_ci_qu_up {background:url(../_inc/images/design/button_updown.gif) no-repeat left top;}
a.btn_ci_qu_down {background:url(../_inc/images/design/button_updown.gif) no-repeat left bottom; margin-right:10px;}

span.ci_titleS {display:block; line-height:120%;}
span.ci_titleS a {color:#5A4A42; font-size:14px; text-decoration:none;}
span.ci_priceS {color:#5A4A42; font-size:14px; font-weight:bold;}
span.ci_pricesumaS {color:#5A4A42; font-size:14px; font-weight:bold; line-height:28px;}
.cartW span.ci_titleS a, .cartW span.ci_priceS, .cartW span.ci_pricesumaS {font-size:11px;}
a.ci_Adelete, a.ci_Aedit {color:#5A4A42; font-size:11px; outline:none;text-decoration:underline;}
a.ci_Adelete {}
a.ci_Aedit {}
a.ci_Adelete:hover, a.ci_Aedit:hover {text-decoration:none;}
span.ci_quantityS {color:#5A4A42; font-size:11px; padding-right:0px;}
span.cartEmptyS {color:#5A4A42;}

/*        Shopping Cart order step       */
.stepShoppingCart .cPriceTotalSum{display:none;}
/* step1, hide shipping price */
.orderStep1 .cPriceWithShipping, .orderStep1 .cPriceTotalSumWithShipping{display:none;}
.orderStep1 .cPriceTotalSum{display:block;}

/*    HOME    */

.flashContentW {padding: 0px 0px 0px 0px;}

.home_inwordW {padding: 0px 0px 30px 0px; background:url(../_inc/images/design/bcg_vstopna_vbesedi.jpg) repeat-y center top;}

.home_blogW {padding: 0px 0px 100px 0px; position:relative;}


.home_inpicW {padding: 0px 0px 0px 0px;}
.home_ip_albumselW {padding:20px 0px 0px 0px;}
.home_ip_albumsel {display: table; margin: 0px auto;}
.home_ip_albumselW > br { display: none; }

.home_ip_albumselW span.albumchoose {float:left; color:#9a8e79; font-size:16px; margin:6px 6px 0px 0px;}
.home_ip_albumselW a {outline:none; font-size:16px; padding-left:20px; display:block; float:left; height:30px; line-height:30px; text-decoration:none;
background:url(../_inc/images/design/menu_left.png) no-repeat left top;}
.home_ip_albumselW a span {color:#5A4A42; font-size:16px; padding:0px 20px 0px 0px; float:left; display:block; /*width:100%;*/ height:30px; line-height:30px; text-decoration:none;
background:url(../_inc/images/design/menu_right.png) no-repeat right top;}
.home_ip_albumselW a.mmFirst {background:url(../_inc/images/design/menu_left_nobullet.png) no-repeat left top;} 
.home_ip_albumselW a.mmLast span {background:url(../_inc/images/design/menu_right_nobullet.png) no-repeat right top;} 
.home_ip_albumselW a:hover, .home_ip_albumselW a.sel {background-position:left bottom;}
.home_ip_albumselW a:hover span, .home_ip_albumselW a.sel span {background-position:right bottom;}
.home_ip_albumselW a:hover span {cursor:pointer;}



.homeW_inwordW h1, .homeW_inwordW h2, .homeW_inwordW h3, .homeW_inwordW h4,.homeW_inwordW h5 {text-align:center;}
.homeW_inwordW p {text-align:left;}
.homeW_inwordW h3, .homeW_inwordW h4,.homeW_inwordW h5 {padding:0px 0px 15px 0px;}
.homeW_inwordW p {padding:0px 0px 30px 0px;}



/*    Timeline    */

.leftright {width: 100%; height: 300px;}
.goleft, .goright {width: 114px; float: left; height: 100%;	position: relative;}
.goright {float: left; text-align: right;}
.goleft_arrowContainer, .goright_arrowContainer {margin: 0 auto; position: absolute;	top: 193px;	width: 50px; height: 100px;}
.goleft_arrowContainer {background-image:url('../_inc/images/img_old/goleft.png'); left: 10px;}
.goright_arrowContainer {background-image:url('../_inc/images/img_old/goright.png'); right: 10px;}
.leftright_scrolable {width: 742px;	overflow : hidden;	float: left;}

.textContainer {position: relative;	background-color: #5A4A42; color: #e8d5ab; font-family: arial;	font-size : 11px;	z-index: 200; height: 148px; width: 370px; padding: 18px 16px 16px 16px; text-align: left;	overflow-x: visible; left: 365px;}

.textContainer_title {text-align: left; margin-bottom: 12px; font-size:12px;}

.timeline_date {position: absolute;	top: 264px; font-family: arial; font-size: 11; color: #5A4A42; text-align: center;}

.varrow , .varrow_selected {height: 115px;	width: 16px;	position: relative;	left: 550px;	z-index: 100;  display:block;} 
.varrow {background-image:url('../_inc/images/img_old/timeline_arrows.png');}
.varrow_selected {background-image:url('../_inc/images/img_old/timeline_arrowselected.png');}

.timeline {position: relative; height: 300px; width: 1500px; text-align:left;}
.timelinePoints {}

.vertical_restrainer {}

.timelinePoint {position: absolute;	bottom: 60px; overflow: hidden;  width: 1000px;	max-height: 216px;}
.timeline_line {position: absolute;	top: 238px;	background-image:url('../_inc/images/img_old/timeline_line.png'); background-repeat:repeat-x; height: 10px; width: 100%; z-index: 200;}

.timeline_bullet {position: absolute; height: 10px;	width: 10px; background-image:url('../_inc/images/img_old/timeline_bullet.png');}

/*#section_zgodba{height: 978px;background-image:url('../_inc/images/img_old/back_papir.jpg');}*/

.zgodba_content {padding:100px 0px 0px 0px;}
.zgodbaL {float:left; width:490px;}
.zgodbaR {float:right; width:435px; display:inline;}
.zgodba_text p {width:302px; font-size:12px; text-align:left; }




/*     home BLOG     */

.cCycleBlog {width:750px; margin:0px auto; position:relative;}
.cCycleBlogItem {width:750px;}
.artBox_text {position:relative;}

.home_blogW .cycleNav {position:absolute; bottom:50px; left:0px; width:970px; text-align:center; display:block; height:16px;}
.home_blogW .cycleNav a {display:inline-block; width:16px; height:16px; background:url(../_inc/images/design/button_radio.png) no-repeat left top; font-size:0px; line-height:0px; margin-right:10px;}
.home_blogW .cycleNav a:hover, .home_blogW .cycleNav a.activeSlide {background-position:left bottom;}

.home_blogW a.cycleArrowL, .home_blogW a.cycleArrowR {position:absolute; top:310px; width:51px; height:100px; font-size:0px; line-height:0px; text-indent:-9999px; outline:none; text-decoration:none;}
.home_blogW a.cycleArrowL {left:10px; 
background:url(../_inc/images/design/puska_levo.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/puska_levo.png',sizingMethod='crop');
}
.home_blogW a.cycleArrowR {right:10px; 
background:url(../_inc/images/design/puska_desno.png) no-repeat left top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/puska_desno.png',sizingMethod='crop');
}


/*    SHOP LANDING    */

.home_storeW {/*min-height:37px; height:auto !important; height:37px;*/ width:100%; padding:100px 0px 0px 0px;}
.home_storeW h2 {text-align:center; min-height:55px; height:auto !important; height:50px;}
.home_storeW h2 a {color:#5A4A42;}

.home_storeL {width:460px; float:left;}
.home_storeLI {padding:50px 70px 45px 70px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background:url(../_inc/images/design/landing_shop_box_bcg_rep.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/landing_shop_box_bcg_rep.png',sizingMethod='scale');
}

.home_storeR {width:460px; float: right; display:inline;}
.home_storeRI {padding:50px 70px 45px 70px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
background:url(../_inc/images/design/landing_shop_box_bcg_rep.png) repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/landing_shop_box_bcg_rep.png',sizingMethod='scale');
}
.home_storeB {width:100%; height:30px; line-height:0px; font-size:0px;
background:url(../_inc/images/design/landing_shop_boxbottom_bcg.png) no-repeat;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/landing_shop_boxbottom_bcg.png',sizingMethod='crop');
}





/*     Order Steps      */

.order {padding-top:0px;}

.stepOutW {width:202px; padding:0px 0px 10px 0px;}
.stepOutW {margin:0;} /*todo delete*/
/*.stepOutT {
min-height:14px;
height:auto !important;
height:14px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/filter_outer_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/filter_outer_top.png',sizingMethod='crop');
}*/
.stepOutM {
min-height:112px;
height:auto !important;
height:112px;
display: block;
/*_width: 202px;
background:url(../_inc/images/design/filter_outer_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/filter_outer_mid.png',sizingMethod='scale');
*/}
.stepOutMI {padding-top:15px; /*width:186px; margin-left:auto; margin-right:auto;*/}
/*.stepOutB {
min-height:14px;
height:auto !important;
height:14px;
line-height:0px;
font-size:0px;
background:url(../_inc/images/design/filter_outer_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/filter_outer_bottom.png',sizingMethod='crop');
}*/

.orderHistory {line-height:150%; width:100%;}
span.orderHistory_separator {display:block; min-height:0px; height:auto !important; height:0px; border-bottom:1px solid #DDCDA3; line-height:0px; font-size:0px; margin:7px 0px 7px 0px;}
span.orderHistory_darkS {font-weight:bold;}

.stepT {display:none;
/*min-height:12px; height:auto !important; height:12px; line-height:0px; font-size:0px; display:block;
background:url(../_inc/images/design/filter_inner_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/filter_inner_top.png',sizingMethod='crop');
*/
}
.stepM {
/*min-height:112px; height:auto !important; height:112px; display: block; _width: 186px;
background:url(../_inc/images/design/filter_inner_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/filter_inner_mid.png',sizingMethod='scale');
*/}
.stepMI {padding:0px 0px 5px 0px; display:block;}
.stepB {display:none;
/*min-height:12px; height:auto !important; height:12px; line-height:0px; font-size:0px; display:block;
background:url(../_inc/images/design/filter_inner_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/filter_inner_bottom.png',sizingMethod='crop');
*/}
span.stepTitleS {font-size:14px; color:#5A4A42;}
span.stepDescS {display:none; font-size:12px; line-height:140%;}



.stepOutMI a {outline:none; text-decoration:none !important; padding-bottom:3px; display:block; _cursor:pointer; height:1% !important; margin-bottom:20px;}
.stepOutMI a.enabled:hover span.stepT, .stepOutMI a.selected span.stepT {display:none;
/*min-height:10px; height:auto !important; height:10px;
background:url(../_inc/images/design/cart_stepOn_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/cart_stepOn_top.png',sizingMethod='crop');
*/}
.stepOutMI a.enabled:hover span.stepM, .stepOutMI a.selected span.stepM {
background:url(../_inc/images/design/cart_stepOn_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/cart_stepOn_mid.png',sizingMethod='scale');
}
.stepOutMI a.enabled:hover span.stepMI, .stepOutMI a.selected span.stepMI {/*padding:2px 10px 2px 10px;*/}
.stepOutMI a.enabled:hover span.stepB, .stepOutMI a.selected span.stepB {display:none;
/*min-height:10px; height:auto !important; height:10px;
background:url(../_inc/images/design/cart_stepOn_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/cart_stepOn_bottom.png',sizingMethod='crop');
*/}
.stepOutMI a:hover span.stepTitleS, .stepOutMI a.selected span.stepTitleS {font-size:14px; color:#5A4A42;}
.stepOutMI a:hover span.stepDescS, .stepOutMI a.selected span.stepDescS {color:#5A4A42; display:block; padding:5px 0px 0px 3px;}
.stepOutMI a:hover span.stepDescS {display:none;}
.stepOutMI a.selected:hover span.stepDescS {display:block;}
.stepOutMI a.disabled span.stepTitleS, .stepOutMI a.disabled:hover span.stepTitleS {font-size:14px; color:#AC9273;}
.stepOutMI a.disabled span.stepDescS, .stepOutMI a.disabled:hover span.stepDescS {display:none;}

.stepOutMI a span.stepOkS {
width:32px; height:29px; display:none; margin:0px 0px 0px 142px; cursor:pointer; position:absolute;
background:url(../_inc/images/design/cart_stepdone.png) no-repeat center top;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/cart_stepdone.png',sizingMethod='crop');
}
.stepOutMI a.done span.stepOkS {display:none; /*display:block;*/}

.stepShoppingCart h3 {padding: 0px 0px 2px 0px}
.contentRightMI span.RBTorder:hover input, .contentRightMI span.RBTorder:hover label {cursor:pointer;}
.stepHeaderW {padding:0px 20px 5px 0px; display:block;}
table.tableOrder_step3 tr td, table.tableOrder_step3_company tr td {padding:4px 8px 4px 0px;}
table.tableOrder_step3 tr td input, table.tableOrder_step3_company tr td input, table.tableOrder_step3 tr td select, table.tableOrder_step3_company tr td select {
padding:0px 5px 0px 5px; width:180px; height:28px; *line-height:28px; font-size:12px; color:#5A4A42;  background:#FFF5DC;
border:1px solid #594941; -moz-box-shadow:0px 0px 5px #CCC inset; -webkit-box-shadow:0px 0px 5px #CCC inset; box-shadow:0px 0px 5px #CCC inset; outline:none;
}
table.tableOrder_step3 tr td .order_cbFriend input {width:20px; padding:0px; height:auto;}

table.tableOrder_step3 tr td select, table.tableOrder_step3_company tr td select {padding:0px 0px 0px 5px; width:190px;}
table.tableOrder_step3 tr td select:hover, table.tableOrder_step3_company tr td select:hover {cursor:pointer;}

table.tableOrder_step3_company tr td input {}
table.tableOrder_step3 {margin-top:10px;}

table.tableOrder_step45 tr td {}
table.tableOrder_step45 tr td {}
span.cbZavezanec input {width:10px !important;}
span.order_cbCompany:hover label, span.cbZavezanec:hover label, span.order_cbCompany:hover input, span.cbZavezanec:hover input {cursor:pointer;}

.step3L {float:left;}
.step3R {float:right;}
.ord_prevdataW {
width:230px;
padding:0px 0px 0px 0px;
}
.ord_prevdataT {display:none;
/*min-height:12px; height:auto !important; height:12px; line-height:0px; font-size:0px;
background:url(../_inc/images/design/company_address_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/company_address_top.png',sizingMethod='crop');
*/}
.ord_prevdataM {
min-height:50px; height:auto !important; height:50px; display: block; background: url(../_inc/images/design/bcg_cart.jpg) repeat; border:2px solid #DDCDA3;
/*_width:250px;
background:url(../_inc/images/design/company_address_mid.png) repeat-y;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/company_address_mid.png',sizingMethod='scale');
*/}
.ord_prevdataMI {padding:10px 10px 10px 10px; border:1px solid #C5B297;}
.ord_prevdataB {display:none;
/*min-height:12px;height:auto !important; height:12px; line-height:0px; font-size:0px;
background:url(../_inc/images/design/company_address_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/kolpasan/_inc/images/design/company_address_bottom.png',sizingMethod='crop');
*/}

span.filterprodS {font-size: 25px; padding:5px 0px 15px 0px; color:#5A4A42; display:block;}
#divCompany {padding-bottom:20px;}

.stepnextbuttonW {/*padding-left:240px;*/ padding-top:8px;}
/*
a.Astepnext {outline:none; font-size:10px; padding-left:46px; display:block; float:left; height:35px; line-height:34px; text-decoration:none;
background:url(../_inc/images/design/button_gen_left.png) no-repeat left top;
}
a.Astepnext span {color:#5A4A42; font-size:10px; padding:0px 46px 0px 0px; float:left; display:block; height:35px; line-height:34px; text-decoration:none;
background:url(../_inc/images/design/button_gen_right.png) no-repeat right top;
}
a.Astepnext:hover {background-position:left bottom;}
a.Astepnext:hover span {background-position:right bottom;}
*/
a.Astepnext {outline:none; font-size:15px; padding-left:87px; display:block; float:left; height:51px; line-height:45px; text-decoration:none;
background:url(../_inc/images/design/button_send_left.png) no-repeat left top;
}
a.Astepnext span {color:#5A4A42; font-size:15px; padding:0px 87px 0px 0px; float:left; display:block; /*width:100%;*/ height:51px; line-height:45px;
background:url(../_inc/images/design/button_send_right.png) no-repeat right top;
}
a.Astepnext:hover {background-position:left bottom;}
a.Astepnext:hover span {background-position:right bottom; cursor:pointer;}



span.contentRightHeadT_Text, .cont_headHeadT_Text {font-size:18px; padding:15px 0px 15px 0px; color:#5A4A42; display:block; line-height:100%;}

.stepSCL_paycardslogos {padding:12px 0px 30px 0px; margin:30px 0px 0px 0px; border-top:1px solid #DDCDA3;}
.stepSCL_paycardslogos_st2 {padding:12px 0px 10px 0px;}
.stepSCL_paycardslogos img {margin-right:4px; border:none;}
.stepSCL_paycardslogos_2 {padding:8px 0px 6px 0px;}
.stepSCL_paycardslogos_2 img {margin-right:2px; border:none;}


/*   Paging   */

.pagesortW {width:100%;}
.pagesort {text-align:center; padding:15px 5px 5px 5px;}

a.pagesort_bw, a.pagesort_fwd, a.pagesort_fbw, a.pagesort_ffwd 
{outline:none; display:inline-block; /*margin:0px 2px 0px 2px;*/ font-size:16px; text-decoration:none; text-align:center; color:#5A4A42; padding:3px 7px; font-weight:bold;}

a.pagesort_bw {}
a.pagesort_fwd {}
a.pagesort_fbw {}
a.pagesort_ffwd {}
a.pagenum {outline:none; display:inline-block; margin:0px 2px 0px 2px; text-decoration:none; color:#5A4A42; font-size:16px; text-align:center; padding:3px 7px; font-weight:bold;}
a.pagesort_bw:hover, a.pagesort_fwd:hover, a.pagesort_fbw:hover, a.pagesort_ffwd:hover 
{background-position: center bottom; text-decoration:none; color:#FFF; cursor:pointer; padding:3px 7px; background:#5A4A42;}

a.pagenum:hover {color:#FFF; cursor:pointer; text-decoration:none; background:#5A4A42;}
a.pagenum.pagesel {color:#FFF; font-size:16px; background:#5A4A42;}


/*      Login      */

.loginContW, .registerContW, .verifyContW, .searchContHeadW {padding:0px 0px 10px 0px;}
p.p_login_text {width:640px; margin:0px auto 0px; padding:35px 0 10px 0; text-align:center;}
p.p_login_text_c {text-align:center; padding:10px 0 5px 0;}

.homeW p.p_login_text {padding:0px 0 10px 0; text-align:center;}

#logInBox {min-height:70px; height:auto !important; height:70px;}
/*
#logInBox a {color:#666; text-decoration:underline;}
#logInBox a:hover {text-decoration:none;}
*/
.loginboxinner {margin:0 0 0 360px; width:262px;}
input.TBXlogin, input.WMmainLogin, input.TBXsearch, input.headerSearchInputWater {
padding:0px 5px 0px 5px; width:195px; height:28px; *line-height:28px; font-size:12px; color:#5A4A42;  background:#FFF5DC;
border:1px solid #594941; -moz-box-shadow:0px 0px 5px #CCC inset; -webkit-box-shadow:0px 0px 5px #CCC inset; box-shadow:0px 0px 5px #CCC inset; outline:none;
}
input.WMmainLogin {color:#5A4A42;}
input.TBXsearch {float:left;}
input.headerSearchInputWater {text-align:center; float:left; color:#5A4A42;}
input.TBXlogin_new {width:240px;  height:38px; /**line-height:38px;*/ line-height:38px\9; font-size:18px; color:#5A4A42;}

table.TBloginbox td {
font-size:13px;
padding:10px 0px 0px 0px;
}
table.TBloginbox td.TDsec {
padding-left:10px;
padding-bottom:7px;
}

input.WMmainLogin_new {color:#5A4A42;
padding:0px 5px 0px 5px; width:240px; height:38px; *line-height:38px; font-size:18px; background:#FFF5DC;
border:1px solid #594941; -moz-box-shadow:0px 0px 5px #CCC inset; -webkit-box-shadow:0px 0px 5px #CCC inset; box-shadow:0px 0px 5px #CCC inset; outline:none;
}

a.btn_forgetpass {color:#5A4A42; text-decoration:none;}
a.btn_forgetpass:hover {text-decoration:underline;}

/*
a.btLogin{

background: url(_inc/images/design/1dva3/login.png) no-repeat top center;

_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/_inc/images/design/1dva3/1dva3_icon.png',sizingMethod='crop');

display: block;
font: normal 13px  Tahoma;
padding: 3px 10px 5px 10px; 
text-decoration: none !important;
color:#FFF !important;
outline:none !important;
}
*/
a:link.btLogin, a:visited.btLogin, a:active.btLogin{
color: #FFF; /*button text color*/
}
a.btLogin:hover{ /* Hover state CSS */
background-position: bottom center;
}
.loggedInBox {width:99%; min-height:73px; height:auto !important; height:73px; font-size:15px;}
.loggedInBoxInner {padding:10px 0px 8px 0px; margin:0 0 0 360px; width:262px;}
a.btLogout {font-size:12px;}
.loggedInBox_bottom a {/*color:#006699;*/ text-decoration:underline;}
.loggedInBox_bottom a:hover {text-decoration:none;}
.loggedInBox_bottom {padding-left:0px; font-size:13px;}
.loginCbx label {color:#5A4A42;}
.divloginError {width:250px; min-height:22px; height:auto !important; height:22px; font-size:13px; border:1px solid #FF0000; color:#FF0000;}
.divloginError div {padding:3px 5px 0px 5px;}





/*    MENU    */
/*    Menu MAIN      */
.mEkoMain ul.AspNet-Menu {font-family:Tahoma; font-size:15px; /*text-align:center;*/}
/*.mEkoMain ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mEkoMain ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}*/
.mEkoMain ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mEkoMain li {margin-right:0px; /*width:221px; height:36px;*/}


.mEkoMain li:hover, /* list items being hovered over */
.mEkoMain li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mEkoMain a {outline:none; font-size:15px; padding-left:20px; display:block; float:left; height:30px; line-height:30px;
background:url(../_inc/images/design/menu_left.png) no-repeat left top;
}
.mEkoMain span {color:#5A4A42; font-size:15px; padding:0px 20px 0px 0px; float:left; display:block; /*width:100%;*/ height:30px; line-height:30px;
background:url(../_inc/images/design/menu_right.png) no-repeat right top;
}
.mEkoMain li.mmFirst a {background:url(../_inc/images/design/menu_left_nobullet.png) no-repeat left top;} 
.mEkoMain li.mmLast span {background:url(../_inc/images/design/menu_right_nobullet.png) no-repeat right top;} 

.mEkoMain li.AspNet-Menu-Leaf a,
.mEkoMain li.AspNet-Menu-Leaf span
{}

.mEkoMain li:hover a,
.mEkoMain li.AspNet-Menu-Hover a
{cursor:pointer; background-position:left bottom;}

.mEkoMain li:hover span,
.mEkoMain li.AspNet-Menu-Hover span
{color: #5A4A42; cursor:pointer; background-position:right bottom;}


.mEkoMain li:hover li span,
.mEkoMain li.AspNet-Menu-Hover li span,
.mEkoMain li:hover li li span,
.mEkoMain li.AspNet-Menu-Hover li li span,
.mEkoMain li a:hover span
{color: #5A4A42; cursor:pointer;}

.mEkoMain li:hover li a,
.mEkoMain li:hover li span,
.mEkoMain li.AspNet-Menu-Hover li a,
.mEkoMain li.AspNet-Menu-Hover li span,
.mEkoMain li:hover li:hover li a,
.mEkoMain li:hover li:hover li span,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{color: #5A4A42;}

.mEkoMain li:hover li:hover a,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover,
.mEkoMain li:hover li:hover a,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover,
.mEkoMain li:hover li:hover li:hover a,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover
{}

.mEkoMain li:hover li:hover a span,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span,
.mEkoMain li:hover li:hover a span,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover span,
.mEkoMain li:hover li:hover li:hover a:hover span,
.mEkoMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span
{color:#5A4A42;}


.mEkoMain ul ul {left:0px; top:50px; _top:48px; padding:8px 0px 12px 0px; width:120px; z-index:1000; background:#73AF40; /*background:url(../_inc/images/design/menu_ddl_bcg_rep.png) repeat;*/}

.mEkoMain li li {margin-right:0px; padding:0px 0px 0px 0px; width:120px;}

.mEkoMain li li:hover,
.mEkoMain li li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mEkoMain li li a {outline:none; padding:1px 0px 1px 0px; display:block; float:left; min-height: 0px; height:auto !important; height:auto; width:100%;
_filter:none;
background:url(../_inc/images/design/1px.gif) transparent no-repeat;
}

.mEkoMain li li span {width:auto; color:#CCC; padding:6px 25px 6px 25px; background:transparent; float:left; display:block; line-height:150%; font-size:12px; min-height: 0px; height:auto !important; height:auto; text-align:left;}

.mEkoMain .AspNet-Menu-Leaf {}
.mEkoMain .AspNet-Menu-Selected {}


.mEkoMain a.AspNet-Menu-Selected, .mEkoMain a.AspNet-Menu-Selected:hover,
.mEkoMain li.mmFirst a.AspNet-Menu-Selected, .mEkoMain li.mmFirst a.AspNet-Menu-Selected:hover
{background-position:left bottom;}

.mEkoMain a.AspNet-Menu-Selected span, .mEkoMain a.AspNet-Menu-Selected:hover span 
{color:#5A4A42; background-position:right bottom;}

.mEkoMain a.AspNet-Menu-ChildSelected,
.mEkoMain li.mmFirst a.AspNet-Menu-ChildSelected
{background-position:left bottom;}

.mEkoMain a.AspNet-Menu-ChildSelected span, .mEkoMain a.AspNet-Menu-ChildSelected:hover span 
{color:#5A4A42; background-position:right bottom;}

.mEkoMain .AspNet-Menu-ParentSelected {}



.mEkoMain li li a.AspNet-Menu-Selected {color:#FFF;}
.mEkoMain li li a.AspNet-Menu-Selected span {color:#FFF;}
.mEkoMain li li a.AspNet-Menu-ChildSelected  {color:#FFF;}
.mEkoMain li li a.AspNet-Menu-ChildSelected span {color:#FFF;}
.mEkoMain .AspNet-Menu-ParentSelected {}


.mEkoMain ul li:hover ul,
.mEkoMain ul li.AspNet-Menu-Hover ul
{visibility: visible;}

.mEkoMain ul li li:hover ul,
.mEkoMain ul li li li:hover ul,
.mEkoMain ul li li li li:hover ul,
.mEkoMain ul li li.AspNet-Menu-Hover ul,
.mEkoMain ul li li li.AspNet-Menu-Hover ul,
.mEkoMain ul li li li li.AspNet-Menu-Hover ul
{visibility: hidden;}
/*
.mEkoMain ul li ul div.div_NavWrappI {display:block;}

.mEkoMain ul li ul div.div_NavWrapp {display:block; padding:5px 0px 5px 0px; margin-top:4px; _width:220px;background:#333;}
.mEkoMain ul li ul span.span_NavPrepend {min-height:4px; height:auto !important; height:4px !important; line-height:0px; font-size:0px; width:220px; display:block; padding:0; margin:0;
background:url(../_inc/images/design/menu_main_ddl_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/adit/_inc/images/design/menu_main_ddl_top.png',sizingMethod='crop');
}
.mEkoMain ul li ul span.span_NavAppend {min-height:4px; height:auto !important; height:4px !important; line-height:0px; font-size:0px; width:220px; display:block; padding:0; margin:0;
background:url(../_inc/images/design/menu_main_ddl_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../../_em/templates/_custom/adit/_inc/images/design/menu_main_ddl_bottom.png',sizingMethod='crop');
}
*/


/*    Menu SUB      */
.mEkoSub ul.AspNet-Menu {font-family:Tahoma; font-size:14px; /*text-align:center;*/}
/*.mEkoSub ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}
.mEkoSub ul li ul li {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}*/
.mEkoSub ul li ul li ul {visibility:hidden; min-height:0px; height:auto !important; height: 0px; display:none;}

.mEkoSub li {margin-right:0px; /*width:221px; height:36px;*/}


.mEkoSub li:hover, /* list items being hovered over */
.mEkoSub li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mEkoSub a {outline:none; font-size:14px; padding-left:20px; display:block; float:left; height:30px; line-height:30px;
background:url(../_inc/images/design/menu_left.png) no-repeat left top;
}
.mEkoSub span {color:#5A4A42; font-size:14px; padding:0px 20px 0px 0px; float:left; display:block; /*width:100%;*/ height:30px; line-height:30px;
background:url(../_inc/images/design/menu_right.png) no-repeat right top;
}
.mEkoSub li.mmFirst a {background:url(../_inc/images/design/menu_left_nobullet.png) no-repeat left top;} 
.mEkoSub li.mmLast span {background:url(../_inc/images/design/menu_right_nobullet.png) no-repeat right top;} 

.mEkoSub li.AspNet-Menu-Leaf a,
.mEkoSub li.AspNet-Menu-Leaf span
{}

.mEkoSub li:hover a,
.mEkoSub li.AspNet-Menu-Hover a
{cursor:pointer; background-position:left bottom;}

.mEkoSub li:hover span,
.mEkoSub li.AspNet-Menu-Hover span
{color: #5A4A42; cursor:pointer; background-position:right bottom;}


.mEkoSub li:hover li span,
.mEkoSub li.AspNet-Menu-Hover li span,
.mEkoSub li:hover li li span,
.mEkoSub li.AspNet-Menu-Hover li li span,
.mEkoSub li a:hover span
{color: #5A4A42; cursor:pointer;}

.mEkoSub li:hover li a,
.mEkoSub li:hover li span,
.mEkoSub li.AspNet-Menu-Hover li a,
.mEkoSub li.AspNet-Menu-Hover li span,
.mEkoSub li:hover li:hover li a,
.mEkoSub li:hover li:hover li span,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{color: #5A4A42;}

.mEkoSub li:hover li:hover a,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover,
.mEkoSub li:hover li:hover a,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover,
.mEkoSub li:hover li:hover li:hover a,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover
{}

.mEkoSub li:hover li:hover a span,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span,
.mEkoSub li:hover li:hover a span,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover a.AspNet-Menu-Selected:hover span,
.mEkoSub li:hover li:hover li:hover a:hover span,
.mEkoSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a:hover span
{color:#5A4A42;}


.mEkoSub ul ul {left:0px; top:50px; _top:48px; padding:8px 0px 12px 0px; width:120px; z-index:1000; background:#73AF40; /*background:url(../_inc/images/design/menu_ddl_bcg_rep.png) repeat;*/}

.mEkoSub li li {margin-right:0px; padding:0px 0px 0px 0px; width:120px;}

.mEkoSub li li:hover,
.mEkoSub li li.AspNet-Menu-Hover
{cursor:pointer; z-index:1000;}

.mEkoSub li li a {outline:none; padding:1px 0px 1px 0px; display:block; float:left; min-height: 0px; height:auto !important; height:auto; width:100%;
_filter:none;
background:url(../_inc/images/design/1px.gif) transparent no-repeat;
}

.mEkoSub li li span {width:auto; color:#CCC; padding:6px 25px 6px 25px; background:transparent; float:left; display:block; line-height:150%; font-size:12px; min-height: 0px; height:auto !important; height:auto; text-align:left;}

.mEkoSub .AspNet-Menu-Leaf {}
.mEkoSub .AspNet-Menu-Selected {}


.mEkoSub a.AspNet-Menu-Selected, .mEkoSub a.AspNet-Menu-Selected:hover,
.mEkoSub li.mmFirst a.AspNet-Menu-Selected, .mEkoSub li.mmFirst a.AspNet-Menu-Selected:hover
{background-position:left bottom;}

.mEkoSub a.AspNet-Menu-Selected span, .mEkoSub a.AspNet-Menu-Selected:hover span 
{color:#5A4A42; background-position:right bottom;}

.mEkoSub a.AspNet-Menu-ChildSelected,
.mEkoSub li.mmFirst a.AspNet-Menu-ChildSelected
{background-position:left bottom;}

.mEkoSub a.AspNet-Menu-ChildSelected span, .mEkoSub a.AspNet-Menu-ChildSelected:hover span 
{color:#5A4A42; background-position:right bottom;}

.mEkoSub .AspNet-Menu-ParentSelected {}



.mEkoSub li li a.AspNet-Menu-Selected {color:#FFF;}
.mEkoSub li li a.AspNet-Menu-Selected span {color:#FFF;}
.mEkoSub li li a.AspNet-Menu-ChildSelected  {color:#FFF;}
.mEkoSub li li a.AspNet-Menu-ChildSelected span {color:#FFF;}
.mEkoSub .AspNet-Menu-ParentSelected {}


.mEkoSub ul li:hover ul,
.mEkoSub ul li.AspNet-Menu-Hover ul
{visibility: visible;}

.mEkoSub ul li li:hover ul,
.mEkoSub ul li li li:hover ul,
.mEkoSub ul li li li li:hover ul,
.mEkoSub ul li li.AspNet-Menu-Hover ul,
.mEkoSub ul li li li.AspNet-Menu-Hover ul,
.mEkoSub ul li li li li.AspNet-Menu-Hover ul
{visibility: hidden;}




/*      Modal Popups       */

.lkpProductSmap {padding:10px 0px 0px 0px;}
.lkpProductSmap ul li {font-family:Arial; padding-left:10px; cursor:pointer; color:#333; line-height:130%; list-style: none;}
.lkpProductSmap ul li:hover {cursor:pointer; color:#000;}
.lkpProductSmap ul li span {padding:1px;}
.lkpProductSmap ul li span:hover {background:#f1f1f1; color:#000;}


/********  modPopup   ********/
.modPopup_header {width:100%; min-height:98px; height:auto !important; height:98px;}
.modPopup_header h4, .modPopup_header p {font-family: Arial; font-weight:normal; font-size: 21px; padding:7px 0px 5px 0px; margin-left:100px; color:#5A4A42;}
.modPopup_header p {font-size: 14px; padding:2px 0px 5px 0px;}
.modPopup_headerAdd {background:#0066CC url(../../../_inc/images/modpopup/btn_mpu_dodaj.jpg) no-repeat 10px 5px;}
.modPopup_headerEdit {background:#0066CC url(../../../_inc/images/modpopup/btn_mpu_urejanje.jpg) no-repeat 10px 5px;}
.modPopup_headerSettings {background:#0066CC url(../../../_inc/images/modpopup/btn_mpu_nastavitve.jpg) no-repeat 10px 5px;}

.modPopup_main, .modPopup_mainArticle, .modPopup_mainFCK, .modPopupDrag_main {margin: 0px auto 10px auto; width:97%; font-family:Arial !important;}
.modPopup_main {min-height:400px; height:auto !important; height:400px; font-size:13px; font-family:Arial;}
.modPopupDrag_main {min-height:240px; height:auto !important; height:240px;}
span.modPopup_mainTitle {font-family: Arial; font-weight:normal; font-size: 17px; padding:10px 0px 3px 0px; color:#5A4A42; display:block; border-bottom:#CCC 1px solid; margin-bottom:5px; text-align:left;}
span.modPopup_mainTitleProduct {}
.modPopup_main .ajax__tab_body {font-family:Arial !important; font-size:13px !important;}
.modPopup_main .ajax__tab_container {padding-top:10px;}
.modPopup_main .ajax__tab_container .ajax__tab_tab {font-family:Arial !important;}
input.modPopup_TBXsettings {margin:3px 20px 3px 0px; width:270px; color:#333; font-family:Arial !important; padding:4px 4px 4px 4px; padding:3px 4px 3px 4px\9; *padding:3px 4px 3px 4px; font-size:12px !important;}
.modPopup_main input, .modPopup_main select, .modPopup_main textarea, .modPopup_main button {font-family:Arial !important; font-size:13px;}
input.modPopup_TBXdate {width:70px; margin:0px 0px 0px 0px; font-family:Arial !important; font-size:12px !important;}
textarea.modPopup_TBXsettings {padding:4px; color:#333; line-height:14px; font-size:12px !important; font-family:Arial !important;}
input.modPopup_TBXsettingsGalLang, textarea.modPopup_TBXsettingsGalLang {width:230px; margin:4px 0px 6px 0px; font-family:Arial !important; font-size:12px !important;}
input.modPopup_mainWatermark {color:#999; margin:3px 20px 3px 0px; width:270px; padding:4px 4px 4px 4px; padding:3px 4px 3px 4px\9; *padding:3px 4px 3px 4px; font-family:Arial !important; font-size:12px !important;}
textarea.modPopup_mainWatermark {padding:4px; color:#999; line-height:14px; font-size:12px !important; font-family:Arial; font-family:Arial !important;}
input.modPopup_mainWatermarkGalLang, textarea.modPopup_mainWatermarkGalLang {width:230px; margin:4px 0px 6px 0px; font-family:Arial !important; font-size:12px !important;}
span.modPopup_CBXsettings a {margin:0px 2px 0px 0px; font-family:Arial !important; font-size:12px !important;}
.modPopup_CBXsettings label {padding:4px 2px 0px 0px; font-size:14px !important; font-family:Arial !important;}
.modPopup_footer {margin: 0px auto 10px auto; width:97%;}







/*     COMMON Template.css overwrite     */

/*.cArtList {padding:0px 5px 0px 5px;}
.artDate {padding:0px;}*/


a.btsettStatusHelp img {border: none;}


.cwp .conBody, .cwp .contMap {padding:0px 0px 0px 0px;} 
/*.contPoll {border:none; background:#F0F0F0; padding:10px;}
.poll_render {border:none; background:#F0F0F0;}*/

/*
.cwp .contArticles {padding:0px 5px 0px 5px;} 
.cwp .cPollItem {padding:0px 0px 0px 0px;}
.cwp .contContact {padding:5px 12px 0px 12px;}
.cwp .divArchive {padding:5px 12px 10px 12px;} 
.cwp .contPoll .divArchive {padding:7px 0px 0px 0px;}
.cwp .contGal {padding:0px 8px 10px 8px; _padding:0px 7px 10px 7px !important;}
.cwp .cArtList {padding:0px 12px 0px 12px;}
*/


/*ArtDetail New*/

.articleOutW {padding:0px 0px 0px 0px;}
.articleOutW h1.articleH1 {color:#5A4A42; text-align:center; padding:5px 0px 5px 0px; font-size:20px;}
.articleOutW .cwpArtGal {}

.ArtDetailwthImg .cwpArtGal {}

.ArtDetailwthImg .cwpArtGal {float:left; padding:0px 5px 8px 0px;}
.ArtDetailwthImg .cwpArtGal .cwpHeader {width:auto !important;}
.ArtDetailwthImg .cwpArtGal img {padding:0px;/*float:left; display:block;*/}
.ArtDetailwthImg .cwpArtGal.cwpEdit img {padding:3px;/*float:left; display:block;*/}
.ArtDetailwthImg .artBody {float:left;  width:100px; display:inline;}
.articleOutW .divGalImgThumb {margin:0px 8px 8px 0px;}
.ArtDetailwthImg .cwpArtGal .divGalImgThumb {margin:0px 4px 8px 0px;} 
.ArtDetailwthImg .contGal {padding:0px !important;}


.art_padding {padding: 0px 0px 15px 0px;}

span.artBox_date {padding-bottom:40px; display:block; font-size:11px; color:#5A4A42; text-align:center;}
.artBox_video {float:left; width:450px;}

.articleListOutW {padding:0px 5px 0px 5px;}
.artBackBtn {padding:0px 5px 0px 5px;}

/*span.art_sepa {display:block; min-height:0px; height:auto !important; height:0px; line-height:0px; font-size:0px; border-bottom:1px solid #DDCDA3; margin:5px 0px 5px 0px;}*/
span.art_sepa {height:10px; width:100%; font-size:0px; line-height:0px; display:block; margin:12px 0px 27px 0px;
background:url(../_inc/images/design/separator_article_bcg.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/separator_article_bcg.png',sizingMethod='crop');
}

span.com_sepa {height:9px; width:213px; font-size:0px; line-height:0px; display:block; margin:0px 0px 0px 0px;
background:url(../_inc/images/design/blog_comment_separator.png) repeat-x;
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=’true’, src='/_em/templates/_custom/eko/_inc/images/design/blog_comment_separator.png',sizingMethod='crop');
}



.myAccount, .myOrders {padding:0px 0px 0px 0px;}
.myOrders {line-height:150%;}

h2.articleH2 {color:#5A4A42; text-align:center; padding:5px 0px 5px 0px;}
h2.articleH2 a, h2.articleH2 a:hover {color:#5A4A42; text-decoration:none;}
.artBox a.AartBox_img img, a.divGalImgThumb_thumb, span.galBox a {padding:0px; margin:0px; font-size:0px; line-height:0px; border:1px solid #DDCDA3;}
a.divGalImgThumb_thumb:hover, span.galBox a:hover, img.imgMove:hover {border:1px solid #968350 !important;}
.artBoxR {float:right; width:439px; padding-left:44px; border-left: 1px solid #DDCDA3; min-height:260px; height:auto !important; height:260px;}
.artBoxR p {font-size:12px; text-align:left;}
a.art_more {font-size:14px; color:#5A4A42; font-weight:bold; text-decoration:none;}
a.artBox_artCategory {font-size:11px; color:#5A4A42; font-weight:bold; text-decoration:none;}

.commentsL {float:left; width:439px;}
.commentsR {float:right; width:439px; display:inline; padding-left:44px; border-left: 1px solid #DDCDA3; min-height:220px; height:auto !important; height:220px;}

p.comments_p_head {font-size:16px; padding:0px 0px 5px 90px; color:#5A4A42;}

.comment_cfW {padding:0px 0px 0px 90px;}

.comBox {background:none; font-size:14px; padding:0px 0px 20px 0px; margin: 0px 0px 0px 0px;}
.commAuthor{background:none;}
.comBox p {padding-bottom:20px; text-align:left;}
.cCommDate {font-size:16px; color:#5A4A42; margin: 0px 0px 2px 0px;}
.comDate {font-size:14px;}


.cCycleBlogItem .artBoxR {width:352px; padding-left:20px; min-height:216px; height:auto !important; height:216px;}
.cCycleBlogItem .artBox_video {width:355px;}


/*    cookies overrides   */

#cc-modal, #cc-settingsmodal, #cc-tag, #cc-notification, #cc-modal div, #cc-modal span, #cc-modal iframe, #cc-modal h1, #cc-modal h2, #cc-modal h3, #cc-modal h4, #cc-modal h5, #cc-modal h6, #cc-modal p, #cc-modal pre, #cc-modal a, #cc-modal code, #cc-modal em, #cc-modal img, #cc-modal s, #cc-modal small, #cc-modal strong, #cc-modal b, #cc-modal u, #cc-modal i, #cc-modal dl, #cc-modal dt, #cc-modal dd, #cc-modal ol, #cc-modal ul, #cc-modal li, #cc-modal form, #cc-modal label, #cc-settingsmodal div, #cc-settingsmodal span, #cc-settingsmodal iframe, #cc-settingsmodal h1, #cc-settingsmodal h2, #cc-settingsmodal h3, #cc-settingsmodal h4, #cc-settingsmodal h5, #cc-settingsmodal h6, #cc-settingsmodal p, #cc-settingsmodal pre, #cc-settingsmodal a, #cc-settingsmodal code, #cc-settingsmodal em, #cc-settingsmodal img, #cc-settingsmodal s, #cc-settingsmodal small, #cc-settingsmodal strong, #cc-settingsmodal b, #cc-settingsmodal u, #cc-settingsmodal i, #cc-settingsmodal dl, #cc-settingsmodal dt, #cc-settingsmodal dd, #cc-settingsmodal ol, #cc-settingsmodal ul, #cc-settingsmodal li, #cc-settingsmodal form, #cc-settingsmodal label, #cc-tag div, #cc-tag span, #cc-tag iframe, #cc-tag h1, #cc-tag h2, #cc-tag h3, #cc-tag h4, #cc-tag h5, #cc-tag h6, #cc-tag p, #cc-tag pre, #cc-tag a, #cc-tag code, #cc-tag em, #cc-tag img, #cc-tag s, #cc-tag small, #cc-tag strong, #cc-tag b, #cc-tag u, #cc-tag i, #cc-tag dl, #cc-tag dt, #cc-tag dd, #cc-tag ol, #cc-tag ul, #cc-tag li, #cc-tag form, #cc-tag label, #cc-notification div, #cc-notification span, #cc-notification iframe, #cc-notification h1, #cc-notification h2, #cc-notification h3, #cc-notification h4, #cc-notification h5, #cc-notification h6, #cc-notification p, #cc-notification pre, #cc-notification a, #cc-notification code, #cc-notification em, #cc-notification img, #cc-notification s, #cc-notification small, #cc-notification strong, #cc-notification b, #cc-notification u, #cc-notification i, #cc-notification dl, #cc-notification dt, #cc-notification dd, #cc-notification ol, #cc-notification ul, #cc-notification li, #cc-notification form, #cc-notification label {
/*margin: 0;
padding: 0;
border: 0;
font-size: 10pt;
font-family: 'Open Sans',Arial,Helvetica,sans-serif;
font-weight: 400;
line-height: 1em;
text-align: left;
vertical-align: baseline;
text-shadow: none;
background: 0;*/
font-family: Arial !important;
}

#cc-notification {
background: #E9D7AF !important;
background-color: rgba(233,215,175,1.0) !important;
color: #594941 !important;
border-bottom: 0px none !important;
font-family: Arial !important;
font-size: 12px !important;
box-shadow: 0px 0px 7px #E9D7AF;
-moz-box-shadow: 0px 0px 7px #E9D7AF;
-webkit-box-shadow: 0px 0px 7px #E9D7AF;
}
#cc-notification #cc-notification-wrapper {
padding: 15px 32px 0!important;
}
#cc-notification h2 span, #cc-notification h2 {
font-size: 12px;
letter-spacing: normal !important;
margin-bottom: 15px!important;
font-weight: 400!important;
color:#594941!important;
line-height:150% !important;
}

#cc-notification a, #cc-notification a:visited {
text-decoration: underline!important;
color: #594941 !important;
font-size: 12px !important;
font-weight:bold !important;
}
#cc-notification a:hover {
text-decoration: underline!important;
color: #594941 !important;
}

#cc-modal #cc-modal-wrapper a.cc-learnmore-link, #cc-settingsmodal #cc-settingsmodal-wrapper a.cc-learnmore-link, #cc-notification a.cc-learnmore-link
{color: #594941 !important; text-decoration:underline !important; font-size: 12px !important; font-weight:bold !important;}
#cc-modal #cc-modal-wrapper a.cc-learnmore-link:hover, #cc-settingsmodal #cc-settingsmodal-wrapper a.cc-learnmore-link:hover, #cc-notification a.cc-learnmore-link:hover
{color: #594941 !important; text-decoration:underline !important;}

#cc-notification #cc-notification-permissions ul {
margin: 0 0 21px!important;
padding: 0!important;
list-style: none!important;
float: left!important;
}

#cc-notification #cc-notification-permissions li {
margin: 0 0 10px 30px!important;
padding: 6px 0 0!important;
list-style: none!important;
width: auto!important;
color: #594941 !important;
-webkit-transition: color .2s ease-in;
-moz-transition: color .2s ease-in;
-o-transition: color .2s ease-in;
transition: color .2s ease-in;
}

#cc-notification #cc-notification-permissions li input {
float: left!important;
margin-left: -30px!important;
margin-top: 0!important;
}

#cc-notification #cc-notification-permissions li label {
font-size: 12px !important;
line-height: 150% !important;
color: #594941 !important;
-webkit-transition: color .2s ease-in;
-moz-transition: color .2s ease-in;
-o-transition: color .2s ease-in;
transition: color .2s ease-in;
}

#cc-notification #cc-notification-permissions li strong {
color: #594941 !important;
font-size: 12px !important;
letter-spacing: normal !important;
-webkit-transition: color .2s ease-in;
-moz-transition: color .2s ease-in;
-o-transition: color .2s ease-in;
transition: color .2s ease-in;
font-weight:bold !important;
}
#cc-notification #cc-notification-permissions li.cc-notification-permissions-inactive {
color: #594941 !important;
}
#cc-notification #cc-notification-permissions li.cc-notification-permissions-inactive strong {
color: #594941 !important;
}
#cc-notification #cc-notification-permissions li.cc-notification-permissions-inactive a.cc-learnmore-link {
color: #594941 !important;
}
#cc-notification #cc-notification-permissions li.cc-notification-permissions-inactive label {
color: #594941 !important;
}

#cc-notification h2 {
margin-right: 150px!important;
}

#cc-notification ul.cc-notification-buttons {
position: absolute!important;
right: 0!important;
top: 5px!important;
width: 170px!important;
}
#cc-notification ul.cc-notification-buttons li a, #cc-notification ul.cc-notification-buttons li a:visited {
margin-top: 5px!important;
margin-bottom: 6px!important;
display: block;
padding: 0 20px 0 20px !important;
background-color: none !important;
color: #FDEFCB !important;
margin-right: 12px!important;
text-decoration: none!important;
font-size: 13px!important;
font-weight: 600;
letter-spacing: normal !important;
border-radius: 5px!important;
-moz-border-radius: 5px!important;
-webkit-border-radius: 5px!important;
transition: background .2s ease-in-out 0s,color .2s ease-in-out 0s,box-shadow .2s ease-in-out 0s;
-moz-transition: background .2s ease-in-out 0s,color .2s ease-in-out 0s,-moz-box-shadow .2s ease-in-out 0s;
-webkit-transition: background .2s ease-in-out 0s,color .2s ease-in-out 0s,-webkit-box-shadow .2s ease-in-out 0s;
border-radius: 4px !important;
-moz-border-radius: 4px !important;
-webkit-border-radius: 4px !important;
transition: none !important;
-moz-transition: none !important;
-webkit-transition: none !important;
height:28px;
/*width:120px;*/
line-height:28px !important;
text-align:center !important;
background: #594941 !important;
font-family: Arial !important;
text-transform:uppercase;
}

#cc-notification ul.cc-notification-buttons li a:hover, #cc-notification ul.cc-notification-buttons li a:active, #cc-notification ul.cc-notification-buttons li #cc-approve-button-allsites:hover, #cc-notification ul.cc-notification-buttons li #cc-approve-button-allsites:active {
text-decoration: none !important;
background-color: #594941 !important;
box-shadow: 1px 2px 10px #000;
-moz-box-shadow: 1px 2px 10px #000;
-webkit-box-shadow: 1px 2px 10px #000;
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
/*opacity: .8; filter: Alpha(Opacity=80);*/
}

#cc-notification .cc-logo, #cc-tag .cc-logo, #cc-modal .cc-logo, #cc-settingsmodal .cc-logo {
background-image: none !important;
width: 0px !important;
height: 0px !important;
position: absolute;
right: 0px;
bottom: 0px;
display:none !important;
}



@media print {
.stepHeaderW, .footerW, .mainL, .headerNavW, .headerTW, .headerW, span.Spd_mask, .stepnextbuttonW, .footersub, .settNavTopWrapp, .settNavMidW, .settNavBottomWrapp, a.Aprint {display:none;}
/*.mainR, .contentRightW, .contentRightMI {width:100%; padding:0px; float:left;}*/
.mainR, .contentRightW, .contentRightMI {width: auto; margin: 0; padding: 0; border: 0; float: none !important;}
h1, h2, h3, p, span.contentRightHeadT_Text, span.ci_titleS, span.ci_titleS a, span.ci_priceS, span.ci_pricesumaS,
span.pd_descHeadT_Text {color:#000;}
.prod_detailR {float:left;}
}





