﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_viewArticleList2Paged.ascx.cs" Inherits="_ctrl_module_product_viewArticleList2Paged" %>
<%@ Register TagPrefix="SM" TagName="ArticleList" Src="~/_ctrl/module/article/_viewArticleList.ascx"   %>
<%@ Register TagPrefix="SM" TagName="ArticleList2" Src="~/_ctrl/module/article/_viewArticleList2.ascx"   %>




<SM:ArticleList ID="objArticleList" runat="server" />
<SM:ArticleList2 ID="objArticleList2" runat="server" />


<%--
<asp:PlaceHolder ID="phPager" runat="server" >
    <div class="pagesortW">
        <div class="pagesort">
            <a <%= Pager.RenderPageFullUrlHREF( 1) %> class="pagesort_fbw">&nbsp;</a>
            <a <%= Pager.RenderPageFullUrlHREF( Pager.GetCurrentPage()-1) %> class="pagesort_bw">&nbsp;</a>
            
            <%= Pager.RenderPageLinks(-1) %> 
            <a <%= Pager.RenderPageFullUrlHREF( Pager.GetCurrentPage()+1) %> class="pagesort_fwd">&nbsp;</a>
            <a <%= Pager.RenderPageFullUrlHREF( Pager.TotalPages) %> class="pagesort_ffwd">&nbsp;</a>
            <div class="clearing"></div>
        </div>
    </div> 
</asp:PlaceHolder>--%>