﻿<%@ Page Language="C#" ValidateRequest="false" MasterPageFile="~/_em/templates/fall/fall.master" AutoEventWireup="true" CodeFile="OneColumn.aspx.cs" Inherits="_em_content_OneColumn" Title="Untitled Page" %>


<%@ Register Namespace="SM.EM.UI.Controls" TagPrefix="EM"  %>
<%@ Register TagPrefix="EM" TagName="ModuleNew" Src="~/_ctrl/emenik/emModuleNew.ascx"  %>
<%@ Register TagPrefix="EM" TagName="EditModule" Src="~/_ctrl/module/_edit/editModule.ascx"  %>

<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">

<EM:EditModule ID="objEditModule" runat="server" />

    
one column

    <EM:ModuleNew ID="mnMain" runat="server" />

    <EM:CwpZone ID="wpz_1" runat="server">
    </EM:CwpZone>

    
</asp:Content>
