﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS/CMS.master" AutoEventWireup="true" CodeFile="StatCampaign.aspx.cs" Inherits="CMS_emenik_stat_StatCampaign" %>
<%@ Register TagPrefix="SM" TagName="Stat" Src="~/CMS/controls/stat/_cntStatByCampaign.ascx"   %>


<asp:Content ID="Content1" ContentPlaceHolderID="cphNavL" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphStatus" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph" Runat="Server">

    <SM:Stat id="objStat" runat="server"></SM:Stat>

</asp:Content>

