﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS/CMS.master" AutoEventWireup="true" CodeFile="StatUser.aspx.cs" Inherits="CMS_emenik_stat_StatUser" %>
<%@ Register TagPrefix="SM" TagName="StatUser" Src="~/CMS/controls/stat/_cntStatUser.ascx"   %>


<asp:Content ID="Content1" ContentPlaceHolderID="cphNavL" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphStatus" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph" Runat="Server">

    <SM:StatUser id="objUserStat" runat="server"></SM:StatUser>

</asp:Content>

