﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS/CMS.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="c_user_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphNavL" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphStatus" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph" Runat="Server">

default
</asp:Content>

