﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="editModule.ascx.cs" Inherits="editModule" %>
<%@ Register TagPrefix="EM" TagName="EditContent" Src="~/_ctrl/module/content/cmsContentEdit.ascx"  %>
<%@ Register TagPrefix="SM" TagName="ArticleEdit" Src="~/_ctrl/module/article/cmsArticleEdit.ascx"   %>
<%@ Register TagPrefix="SM" TagName="ImageNew" Src="~/_ctrl/module/gallery/popupImageNew.ascx"   %>
<%--<%@ Register TagPrefix="SM" TagName="ImageEdit" Src="~/_ctrl/module/gallery/popupImageEdit.ascx"   %>--%>
<%@ Register TagPrefix="SM" TagName="GallerySettings" Src="~/_ctrl/module/gallery/popupGallerySettings.ascx"   %>
<%@ Register TagPrefix="SM" TagName="ArticleSettings" Src="~/_ctrl/module/article/popupArticleSettings.ascx"   %>
<%@ Register TagPrefix="SM" TagName="ContentSettings" Src="~/_ctrl/module/content/popupContentSettings.ascx"   %>
<%@ Register TagPrefix="SM" TagName="ContactFormSettings" Src="~/_ctrl/module/contact-form/popupContactFormSettings.ascx"   %>
<%@ Register TagPrefix="SM" TagName="MapSettings" Src="~/_ctrl/module/map/popupMapSettings.ascx"   %>

<%@ Register TagPrefix="SM" TagName="GalleryPopup" Src="~/_ctrl/module/gallery/popupGallery.ascx"   %>

<%@ Register TagPrefix="SM" TagName="EditModulePublic" Src="~/_ctrl/module/_edit/editModulePublic.ascx"   %>

<%--<%@ Register TagPrefix="SM" TagName="tmpPoll" Src="~/_ctrl/module/poll/cwpPoll.ascx"   %>--%>

<script type="text/javascript">

 
</script>


<SM:EditModulePublic ID="objEditPublic" runat="server" />

<%--<a href="#" onclick="editContentLoad('94600929-3A4F-40B6-B0CE-C613E87CB436'); return false" >edit content</a>--%>



    <%--<EM:EditContent ID="objEditContent" runat="server" Visible="false" />--%>

    <SM:ArticleEdit ID="objEditArticle" runat="server" Visible="false"/>  

<%--    <SM:ImageNew ID="objImageNew" runat="server" Visible="false"/> --%>

<%--    <SM:ImageEdit ID="objImageEdit" runat="server" Visible="false"/> --%>

<%--    <SM:GallerySettings ID="objGallerySettings" runat="server" Visible="false"/> 
    <SM:ArticleSettings ID="objArticleSettings" runat="server" Visible="false"/> --%>
    <SM:ContentSettings ID="objContentSettings" runat="server" Visible="false"/> 
    <SM:ContactFormSettings ID="objContactFormSettings" runat="server" Visible="false"/> 
    <SM:MapSettings ID="objMapSettings" runat="server" Visible="false"/> 
    
    <SM:GalleryPopup ID="objGalleryPopup" runat="server" /> 


   
    