﻿<%@ Page Language="C#" MasterPageFile="~/_em/templates/fall/fall.master" AutoEventWireup="true" CodeFile="Verify.aspx.cs" Inherits="Verify" Title="Untitled Page" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">
    <div class="verifyContW">
        <h2><asp:Literal ID="litMessage" runat="server"></asp:Literal></h2>
    </div>
</asp:Content>

