﻿* {
margin:0; 
padding:0; 
}
html, body{ 
margin:0; 
padding:0; 
text-align:left; 
}
body{background:#FF6600;}
h1, h2, h3{
font-family: Tahoma;
font-weight:normal;
}
h1 {
font-size: 21px;
padding:5px 0px 5px 0px;
}
h2 {
font-size: 17px;
padding:5px 0px 5px 0px;
}
h3 {
font-size: 15px;
padding:5px 0px 5px 0px;
}
p, #main, #headerTop a, #footer {
font-family: Tahoma;
font-size: 13px;
color: #666666;
}
p{
padding:0px 0px 0px 0px; 
line-height:150%; 
text-align:justify;
}
.cwpH1 {
border: 1px solid #E3E3E3;
background:#DFDFDF url(../../../../_em/templates/fall/_inc/design/cwpH1.jpg) repeat-x;
}
.cwpH1 h1 {
color: #666;
padding:3px 5px 4px 5px;
}
.cwpCont{padding:0px 5px 0px 5px}
#bodyWrapp{
width:100%;
}
#pagewidthOuter {
width:970px;
margin-left:auto;
margin-right:auto;
}

#pagewidth{
width:940px; 
text-align:left;  
margin-left:auto;
margin-right:auto;
}
.pagewidthWhite{
width:100%;
background:#FFF;
}
#pagewidthInner {
width:930px; 
margin-left:auto;
margin-right:auto;
}
#headerTop{
min-height:22px;
height:auto !important;
height: 22px;
width: 100%;
margin-left:auto;
margin-right:auto;
}
#headerLang{
min-height:22px;
height:auto !important;
height: 22px;
float:right;
color:#999999;
}
.headerLangInner{
}
#headerLang a{
text-decoration:none;
padding:2px 5px 5px 5px;
min-height:22px;
height:auto !important;
height: 22px;

}
#headerLang a:hover{
text-decoration:underline;
}

#headerCenter{
width:100%;
padding-top:6px;
min-height:198px;
height:auto !important;
height:198px;

}
.headerCenterLogo{
padding-top:10px;
padding-left:15px;
width:600px;
height:188px;
position:absolute;
z-index:3;
margin:0px 0px 0px 0px;
}
.headerCenterLogo img{
border:none !important;
}
.cLogo{
position:absolute;
z-index:3;

}
#headerBottom{
min-height:34px;
height:auto !important;
height: 34px; 
color:#FFFFFF;
width:100%;
margin-top:5px;
}

#main{
min-height:490px;
height:auto !important;
height: 490px; 
width:100%;
margin-left:auto;
margin-right:auto;
}
#main a img {
border:none;
}
#content{
padding:10px 3px 10px 3px;
}
#footer{
width:944px;
margin-left:auto; 
margin-right:auto; 
padding:10px 0px 10px 0px;
color:#FFF;
font-size: 13px;
}
#footer a{
text-decoration:underline;
}
#footer a:hover{
text-decoration:none;
}
#footerLeft{
width:50%; 
float:left; 
text-align:left;
padding-left:22px;
padding-bottom:15px;
}
#footerRight{
width:40%;         
float: right; 
display:inline;
text-align:right;
padding:8px 22px 0px 0px;
}
#footerRight img{
border:none;
}
span.footerSignature{
font-size:15px;
}
/* *** Float containers fix:
http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */body {
}
.clearing {
clear:both;
height:0px;
width:0px;
margin:0pt !important;
padding:0pt !important;
}

/**********Content Pages TwoColums ThreeColumns**********/
/*TwoColumns*/
#contTwoColsWrapper{
}
#contTwoColsMain{
}
#contTwoColsRight{
}
/*ThreeColumns*/
#contThreeColsLeft{
}
#contThreeColsTwoCols{
}
#contThreeColsRight{
}
#contThreeColsMain{ 
}

