﻿.mKolpaSanMain ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    font-family:Tahoma;
    font-size:14px;
    text-align:center;
}
.mKolpaSanMain ul.AspNet-Menu ul  /* Tier 2 */
{
   /* width: 6em;
    top: 100%;*/
}
.mKolpaSanMain ul.AspNet-Menu ul ul  /* Tier 3+ */
{
    /*top: -0.5em;
    left: 6em;*/
}
.mKolpaSanMain ul li ul /*box dinamicnih*/
{
    
visibility:hidden;
 min-height:0px;
 height:auto !important;
 height: 0px; 
 display:none;
/*
width:680px;
top:40px;
left:-300px;
background: #FFF;
height:210px;
border: 1px solid #999;*/
}

.mKolpaSanMain ul li ul li /* all list items Tier2 */
{

visibility:hidden;
 min-height:0px;
 height:auto !important;
 height: 0px; 
 display:none;
/*
float:left;
width:170px;
*/
}
.mKolpaSanMain ul li ul li ul 
{
visibility:hidden;
 min-height:0px;
 height:auto !important;
 height: 0px; 
 display:none;
}

.mKolpaSanMain li /* all list items */
{
    /*background: #FFF;*/
    margin-right:10px;
}
.mKolpaSanMain li:hover, /* list items being hovered over */
.mKolpaSanMain li.AspNet-Menu-Hover
{
    cursor:pointer;
    z-index:100;
}
.mKolpaSanMain a{
outline:none;
padding-left:10px;
display:block;
float:left;
min-height:34px;
height:auto !important;
height: 34px; 
background:url(../../_em/templates/_custom/KolpaSan/_inc/images/design/menu_left.png) no-repeat left top;
} /* all anchors and spans (nodes with no link) */
.mKolpaSanMain span
{
color: #666;
padding:0px 10px 0px 0px;
background: transparent; 
float:left;
display:block;
line-height:34px;
min-height:34px;
height:auto !important;
height: 34px; 
background:url(../../_em/templates/_custom/KolpaSan/_inc/images/design/menu_right.png) no-repeat right top;
}
/*
.mKolpaSanMain ul ul a{
outline:none;
padding-left:20px;
display:block;
float:left;
min-height:40px;
height:auto !important;
height: 40px; 
background:none !important;
} 
.mKolpaSanMain ul ul span
{
color: #666;
padding:10px 0px 10px 5px;
background: transparent; 
float:left;
font-size:14px;
font-family:Tahoma;
}

.mKolpaSanMain ul ul ul a{
outline:none;
padding-left:20px;
display:block;
float:left;
min-height:20px;
height:auto !important;
height: 20px; 
background:none !important;
} 
.mKolpaSanMain ul ul ul span
{
color: #666;
padding:3px 0px 3px 5px;
background: transparent; 
float:left;
font-size:12px;
font-family:Tahoma;
}
*/


.mKolpaSanMain li.AspNet-Menu-Leaf a, /* leaves */
.mKolpaSanMain li.AspNet-Menu-Leaf span
{
    /*background-image: none !important;*/
}
.mKolpaSanMain li:hover a, /* hovered text */
.mKolpaSanMain li.AspNet-Menu-Hover a,
.mKolpaSanMain li:hover li:hover a,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.mKolpaSanMain li:hover li:hover li:hover a,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{
background-position:bottom left;
}
.mKolpaSanMain li:hover span,
.mKolpaSanMain li.AspNet-Menu-Hover span
.mKolpaSanMain li:hover li span,
.mKolpaSanMain li.AspNet-Menu-Hover li span,
.mKolpaSanMain li:hover li li span,
.mKolpaSanMain li.AspNet-Menu-Hover li li span,
.mKolpaSanMain li a:hover span
{    
    color: #FFF;
    cursor:pointer;
    background-position:bottom right;

}
/*
.mKolpaSanMain li:hover li:hover span,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{    
    color: #0066CC;
    cursor:pointer;
}
.mKolpaSanMain li:hover li:hover li span,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{    
    color: #666;
    cursor:pointer;
}

.mKolpaSanMain li:hover li:hover li:hover span,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #FF3300;
    cursor:pointer;
}
*/
.mKolpaSanMain li:hover li a, /* the tier above this one is hovered */
.mKolpaSanMain li:hover li span,
.mKolpaSanMain li.AspNet-Menu-Hover li a,
.mKolpaSanMain li.AspNet-Menu-Hover li span,
.mKolpaSanMain li:hover li:hover li a,
.mKolpaSanMain li:hover li:hover li span,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mKolpaSanMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
}
.mKolpaSanMain .AspNet-Menu-Leaf{}
.mKolpaSanMain .AspNet-Menu-Selected 
{
}
.mKolpaSanMain a.AspNet-Menu-Selected 
{
background-position:bottom left;
}
.mKolpaSanMain a.AspNet-Menu-Selected span 
{
color:#FFF;
background-position:bottom right;
}
.mKolpaSanMain a.AspNet-Menu-ChildSelected span 
{
color:#FFF;
background-position:bottom right;
}
.mKolpaSanMain .AspNet-Menu-ParentSelected
{
}
/*
.mKolpaSanMain ul li ul li a.AspNet-Menu-Selected span 
{
color:#0066CC;
}
.mKolpaSanMain ul li ul li a.AspNet-Menu-ChildSelected span 
{
color:#0066CC;
}

.mKolpaSanMain ul li ul li ul li a.AspNet-Menu-Selected span 
{
color:#FF3300 !important;
}
*/





.mKolpaSanMain li.mmadmin a
{
position:absolute;
left:-120px;
top:-50px;
}















.mKolpaSanSub ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    font-family:Tahoma;
    font-size:13px;
    text-align:center;
}
.mKolpaSanSub ul.AspNet-Menu ul  /* Tier 2 */
{
   /* width: 6em;
    top: 100%;*/
}
.mKolpaSanSub ul.AspNet-Menu ul ul  /* Tier 3+ */
{
    /*top: -0.5em;
    left: 6em;*/
}
.mKolpaSanSub ul li ul /*box dinamicnih*/
{
    
visibility:hidden;
 min-height:0px;
 height:auto !important;
 height: 0px; 
 display:none;
/*
width:680px;
top:40px;
left:-300px;
background: #FFF;
height:210px;
border: 1px solid #999;*/
}

.mKolpaSanSub ul li ul li /* all list items Tier2 */
{

visibility:hidden;
 min-height:0px;
 height:auto !important;
 height: 0px; 
 display:none;
/*
float:left;
width:170px;
*/
}
.mKolpaSanSub ul li ul li ul 
{
visibility:hidden;
 min-height:0px;
 height:auto !important;
 height: 0px; 
 display:none;
}

.mKolpaSanSub li /* all list items */
{
    /*background: #FFF;*/
    margin:-1px 0px 0px 0px;
}
.mKolpaSanSub li:hover, /* list items being hovered over */
.mKolpaSanSub li.AspNet-Menu-Hover
{
    cursor:pointer;
    z-index:100;
}
.mKolpaSanSub a{
outline:none;
padding-left:7px;
display:block;
float:left;
min-height:34px;
height:auto !important;
height: 34px; 
/*background:url(../../_em/templates/_custom/KolpaSan/_inc/images/design/menu_left.png) no-repeat left top;*/
border-bottom:1px solid #D4EAF6;
_border-bottom:none;
border-top:1px solid #D4EAF6;
margin-left:17px;
margin-bottom:-1px;
_margin-bottom:0px;


} /* all anchors and spans (nodes with no link) */
.mKolpaSanSub span
{
color: #999;
padding:0px 7px 0px 0px;
background: transparent; 
float:left;
display:block;
line-height:34px;
min-height:34px;
height:auto !important;
height: 34px; 
/*background:url(../../_em/templates/_custom/KolpaSan/_inc/images/design/menu_right.png) no-repeat right top;*/
}


.mKolpaSanSub li.AspNet-Menu-Leaf a, /* leaves */
.mKolpaSanSub li.AspNet-Menu-Leaf span
{
    /*background-image: none !important;*/
}
.mKolpaSanSub li:hover a, /* hovered text */
.mKolpaSanSub li.AspNet-Menu-Hover a,
.mKolpaSanSub li:hover li:hover a,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.mKolpaSanSub li:hover li:hover li:hover a,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{
/*background-position:bottom left;*/
border-bottom:1px solid #0082C8;
border-top:1px solid #0082C8;
}
.mKolpaSanSub li:hover span,
.mKolpaSanSub li.AspNet-Menu-Hover span
.mKolpaSanSub li:hover li span,
.mKolpaSanSub li.AspNet-Menu-Hover li span,
.mKolpaSanSub li:hover li li span,
.mKolpaSanSub li.AspNet-Menu-Hover li li span,
.mKolpaSanSub li a:hover span
{    
    color: #0082C8;
    cursor:pointer;
    /*background-position:bottom right;*/

}
/*
.mKolpaSanSub li:hover li:hover span,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{    
    color: #0066CC;
    cursor:pointer;
}
.mKolpaSanSub li:hover li:hover li span,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{    
    color: #666;
    cursor:pointer;
}

.mKolpaSanSub li:hover li:hover li:hover span,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #FF3300;
    cursor:pointer;
}
*/
.mKolpaSanSub li:hover li a, /* the tier above this one is hovered */
.mKolpaSanSub li:hover li span,
.mKolpaSanSub li.AspNet-Menu-Hover li a,
.mKolpaSanSub li.AspNet-Menu-Hover li span,
.mKolpaSanSub li:hover li:hover li a,
.mKolpaSanSub li:hover li:hover li span,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mKolpaSanSub li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
}
.mKolpaSanSub .AspNet-Menu-Leaf{}
.mKolpaSanSub .AspNet-Menu-Selected 
{
}
.mKolpaSanSub a.AspNet-Menu-Selected 
{
/*background-position:bottom left;*/
border-bottom:1px solid #0082C8;
border-top:1px solid #0082C8;
}
.mKolpaSanSub a.AspNet-Menu-Selected span 
{
color:#0082C8;
/*background-position:bottom right;*/
}
.mKolpaSanSub a.AspNet-Menu-ChildSelected span 
{
color:#0082C8;
/*background-position:bottom right;*/
}
.mKolpaSanSub .AspNet-Menu-ParentSelected
{
}
/*
.mKolpaSanSub ul li ul li a.AspNet-Menu-Selected span 
{
color:#0066CC;
}
.mKolpaSanSub ul li ul li a.AspNet-Menu-ChildSelected span 
{
color:#0066CC;
}

.mKolpaSanSub ul li ul li ul li a.AspNet-Menu-Selected span 
{
color:#FF3300 !important;
}
*/










.mKolpaSanFooter ul.AspNet-Menu ul
{
position: absolute;
visibility: visible; 
_display:block;
  
}
.mKolpaSanFooter ul.AspNet-Menu li:hover ul ul,
.mKolpaSanFooter ul.AspNet-Menu li.AspNet-Menu-Hover ul ul{visibility: visible;}
.mKolpaSanFooter ul.AspNet-Menu{
font-size:12px;
font-family:Tahoma;

}
.mKolpaSanFooter ul.AspNet-Menu li{
font-family:Tahoma;
width: 152px;
}
.mKolpaSanFooter li:hover,
.mKolpaSanFooter li.AspNet-Menu-Hover
{
    cursor:pointer;
    z-index:100;
}
.mKolpaSanFooter ul.AspNet-Menu ul{
width: 120px;
top: 100%;
left: 0;
font-size:12px;
font-family:Tahoma;
}
.mKolpaSanFooter ul a:hover span{
color:#0066CC !important;
text-decoration:underline;
cursor:pointer;
}
.mKolpaSanFooter ul li a{outline:none;}
.mKolpaSanFooter ul li a span
{
color: #333;
padding:4px 0px 4px 0px;
background: transparent; 
float:left;
font-size:12px;
text-decoration:none;

}
.mKolpaSanFooter ul li ul li {}
.mKolpaSanFooter ul li ul li a{
outline:none; text-decoration:none !important;
}
.mKolpaSanFooter ul li ul li a span{
background:url(../../_inc/images/design/1dva3_v2/rsaquo.jpg) no-repeat 0px 8px;
color: #333;
padding:3px 0px 3px 0px;
float:left;
font-size:12px;
text-decoration:none !important;
}
.mKolpaSanFooter ul li ul li a:hover span{
color:#0066CC !important;
text-decoration:underline !important;
}
.mKolpaSanFooter ul li ul li ul li {}
.mKolpaSanFooter ul li ul li ul li a {}
.mKolpaSanFooter ul li ul li ul li a span{
color: #333;
padding:2px 0px 2px 9px;
float:left;
font-size:11px;
background:url(../../_inc/images/design/1dva3_v2/raquo.jpg) no-repeat 0px 6px;
}
.mKolpaSanFooter ul a.AspNet-Menu-Selected span{
color:#FF3300;
text-decoration:underline !important;
}
/*
.mKolpaSanFooter ul li ul li a.AspNet-Menu-Selected span{
color:#FF6600 !important;
text-decoration:underline !important;
}
*/
.mKolpaSanFooter ul li a.AspNet-Menu-ChildSelected span{
/*color:#FF3300;
text-decoration:underline !important;*/
}


















/*
.MenuSub ul.AspNet-Menu ul{
    position: relative;
    _position: static;
    visibility: visible;   
}

.MenuSub ul.AspNet-Menu li:hover ul ul,
.MenuSub ul.AspNet-Menu li.AspNet-Menu-Hover ul ul{
    visibility: visible;
}

.MenuSub li:hover,
.MenuSub li.AspNet-Menu-Hover{
cursor:pointer;
z-index:100;
}

.MenuSub ul.AspNet-Menu {
font-family:"Trebuchet MS";
font-size:17px;
text-align:left;
}
.MenuSub ul li a{
color: #666666;
padding:8px 0px 4px 0px;
background: transparent; 
float:left;
font-size:17px;
width:100%;
display:block;
outline:none;
}
.MenuSub ul li a:hover{background:#FFF;}
.MenuSub ul li a span{
color: #666666;
padding:4px 0px 4px 10px;
background: transparent; 
float:left;
font-size:17px;
}
.MenuSub ul li ul li a{
color: #666666;
padding:2px 0px 2px 0px;
background: transparent; 
float:left;
font-size:17px;
width:100%;
display:block;
outline:none;
}
.MenuSub ul li ul li a:hover{background: none !important;}
.MenuSub ul li ul li a span
{
color: #666666;
padding:1px 0px 1px 13px;
float:left;
font-size:13px;
}
.MenuSub ul li ul li ul li a span{
color: #666666;
padding:2px 0px 2px 13px;
float:left;
font-size:11px;
}
.MenuSub ul li a.AspNet-Menu-Selected{background:#FFF;}
.MenuSub ul a.AspNet-Menu-Selected span{
color:#FF6600 !important;
text-decoration:none !important;
}
.MenuSub ul li a.AspNet-Menu-ChildSelected{background:#FFF;}
.MenuSub ul li a.AspNet-Menu-ChildSelected span{
color:#FF6600 !important;
text-decoration:none !important;
}
.MenuSub ul li ul li a.AspNet-Menu-Selected{
background: none !important;
}
.MenuSub ul li ul li a.AspNet-Menu-Selected span{text-decoration:underline !important;}
.MenuSub ul a:hover span{
color:#FF6600;
text-decoration:none;
cursor:pointer;
}
*/