﻿.mMozeMain ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    font-family:"Trebuchet MS";
    font-size:15px;
    text-align:left;
}
.mMozeMain ul.AspNet-Menu ul  /* Tier 2 */
{
   /* width: 6em;
    top: 100%;*/
}
.mMozeMain ul.AspNet-Menu ul ul  /* Tier 3+ */
{
    /*top: -0.5em;
    left: 6em;*/
}
.mMozeMain li /* all list items */
{
    margin-left:0px;
    margin-right:10px;
/*
min-height:46px;
height:auto !important;
height: 46px; 
background:url(../../_em/templates/_custom/mozestore/_inc/design/menu_main_on.jpg) top left;*/
}
.mMozeMain li:hover, /* list items being hovered over */
.mMozeMain li.AspNet-Menu-Hover
{
    z-index:100;
        cursor:pointer;

}
.mMozeMain a{
outline:none;
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_left.png) no-repeat left bottom;
_background:none;
padding-left:20px;
display:block;
float:left;
min-height:50px;
height:auto !important;
height: 50px; 

} /* all anchors and spans (nodes with no link) */
.mMozeMain span
{
color: #CCC;
padding: 14px 20px 14px 0px;
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_right.png) no-repeat right bottom;
_background:none;
display:block;
float:left;

}
.mMozeMain li.AspNet-Menu-Leaf a, /* leaves */
.mMozeMain li.AspNet-Menu-Leaf span
{
  /*  background-image: none !important;*/
}
.mMozeMain li:hover a, /* hovered text */
.mMozeMain li.AspNet-Menu-Hover a,
.mMozeMain li:hover li:hover a,
.mMozeMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.mMozeMain li:hover li:hover li:hover a,
.mMozeMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{}
.mMozeMain li:hover span,
.mMozeMain li.AspNet-Menu-Hover span,
.mMozeMain li:hover li:hover span,
.mMozeMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover span,
.mMozeMain li:hover li:hover li:hover span,
.mMozeMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #FFF;
    cursor:pointer;

}
.mMozeMain li:hover li a, /* the tier above this one is hovered */
.mMozeMain li:hover li span,
.mMozeMain li.AspNet-Menu-Hover li a,
.mMozeMain li.AspNet-Menu-Hover li span,
.mMozeMain li:hover li:hover li a,
.mMozeMain li:hover li:hover li span,
.mMozeMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.mMozeMain li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
}
.mMozeMain .AspNet-Menu-Leaf{
}

.mMozeMain a:hover{
/*
background-position:left top;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_left_IE.png',sizingMethod='crop');
*/
}
.mMozeMain a:hover span{
/*
background-position:right top;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_right_IE.png',sizingMethod='crop');
*/
color:#FFF;
}

.mMozeMain li.AspNet-Menu-Selected a
{
background-position:left top;
/*
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_left_IE.png',sizingMethod='crop');
*/
_background:none;
_background-repeat:repeat-x;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_repeat_IE.png',sizingMethod='scale');
color:#FFF;
}
.mMozeMain li.AspNet-Menu-Selected a span
{
background-position:right top;
/*
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_right_IE.png',sizingMethod='crop');
*/
color:#FFF;
padding: 13px 20px 13px 0px;
font-size:17px;
}
.mMozeMain a.AspNet-Menu-Selected  /* a tier below this one is selected */
{
}
.mMozeMain li.AspNet-Menu-ChildSelected a 
{
background-position:left top;
/*
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_left_IE.png',sizingMethod='crop');
*/
_background:none;
_background-repeat:repeat-x;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_repeat_IE.png',sizingMethod='scale');
color:#FFF;

}
.mMozeMain li.AspNet-Menu-ChildSelected a span 
{
background-position:right top;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_right_IE.png',sizingMethod='crop');

color:#FFF;
padding: 13px 20px 13px 0px;
font-size:17px;

}

.mMozeMain .AspNet-Menu-ParentSelected /* a tier above this one is selected */
{
}
.mMozeMain ul li ul {display:none !important;}





























.mMozeLeft ul.AspNet-Menu /* Tier 1 */
{
     /*width: 13em; This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
    font-family:"Trebuchet MS";
    font-size:14px;
    text-align:left;
}
.mMozeLeft ul
{
padding:0;
margin:0;
*background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_grey_ie6.jpg) 5px 0px repeat-y;
float:left !important;
*zoom:1;

}
.mMozeLeft li /* all list items */
{

min-height:31px;
height:auto !important;
height: 31px; 
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_red_2ie.png) no-repeat center bottom;
_background:none;
width:202px !important;
float:left !important;
*zoom:1;
}
.mMozeLeft li:hover, /* list items being hovered over */
.mMozeLeft li.AspNet-Menu-Hover
{
z-index:100;
cursor:pointer;
background-position:center top;
width:202px !important;
_background:none;
_background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_red_ie6.jpg) no-repeat 2px 2px;
}
.mMozeLeft li a{outline:none;width:100%;} /* all anchors and spans (nodes with no link) */
.mMozeLeft li span
{
    color: #CCC;
    padding: 6px 15px 7px 15px;

}
.mMozeLeft li:hover a,  
.mMozeLeft li.AspNet-Menu-Hover a
{}
.mMozeLeft li:hover span ,
.mMozeLeft li.AspNet-Menu-Hover span
{
    color: #FFF;
    cursor:pointer;

}


.mMozeLeft ul ul{
left:177px;
top:-15px;
padding:0px 0px 0px 0px;
width:210px;
background:none;
}
.mMozeLeft ul ul li{
background:none;
min-height:23px;
height:auto !important;
height: 23px; 
}
.mMozeLeft ul ul li a{
outline:none;
}

.mMozeLeft ul ul li a span{
color:#333;
padding: 4px 25px 4px 25px;

}

.mMozeLeft li:hover li a,
.mMozeLeft li.AspNet-Menu-Hover li a
{}
.mMozeLeft li:hover li span,
.mMozeLeft li.AspNet-Menu-Hover li span
{
    color: #666;
    font-size:13px;
    cursor:pointer;
}
.mMozeLeft li:hover li:hover,
.mMozeLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover
{
background:none;
}

.mMozeLeft li:hover li:hover a,
.mMozeLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover a
{}
.mMozeLeft li:hover li:hover span,
.mMozeLeft li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #990000 !important;
    cursor:pointer;
    text-decoration:underline;
}





.mMozeLeft li.AspNet-Menu-ChildSelected, .mMozeLeft li.AspNet-Menu-Selected
{
background-position:center top;

_background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_red_ie6.jpg) no-repeat 2px 2px;
}
.mMozeLeft li.AspNet-Menu-ChildSelected, .mMozeLeft li.AspNet-Menu-Selected
{
background-position:center top;
_background:url(../../_em/templates/_custom/mozestore/_inc/images/design/leftmenu_red_ie6.jpg) no-repeat 2px 2px;
}
.mMozeLeft li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected
{
background:none;
}

.mMozeLeft li.AspNet-Menu-Selected a span, .mMozeLeft li.AspNet-Menu-ChildSelected a span
{
    color:#FFF;
}
.mMozeLeft li.AspNet-Menu-ChildSelected li a span, .mMozeLeft li.AspNet-Menu-Selected li a span
{
    color:#666;
}
.mMozeLeft li.AspNet-Menu-ChildSelected li.AspNet-Menu-Selected a span /* this tier is selected */
{
    color:#990000 !important;
    text-decoration:underline;
}


.mMozeLeft ul li a:hover ul {
}


.mMozeLeft ul li ul div.div_NavWrappI {
display:block;
width:210px;
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_red_left_arrow.jpg) no-repeat 3px 4px;
}
.mMozeLeft ul li ul div.div_NavWrapp {
display:block;
padding:5px 0px 5px 0px;
margin:0;
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_mid.png) repeat-y;
/*
_background-image:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_mid.png',sizingMethod='scale');
*/
_background:none;
_background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_mid_ie.jpg) repeat-y 3px 0px;
width:210px;

}
.mMozeLeft ul li ul span.span_NavPrepend {
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_top.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_top.png',sizingMethod='crop');
min-height:13px;
height:auto !important;
height:13px !important;
line-height:0px;
font-size:0px;
width:210px;
display:block;
padding:0;
margin:0;

}
.mMozeLeft ul li ul span.span_NavAppend {
background:url(../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_bottom.png) no-repeat;
_background:none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../../../_em/templates/_custom/mozestore/_inc/images/design/menu_left_3rd_bottom.png',sizingMethod='crop');
min-height:15px;
height:auto !important;
height:15px !important;
line-height:0px;
font-size:0px;
width:210px;
display:block;
padding:0;
margin:0;

}


